.ui-helper-hidden-accessible {
  display: none;
}
.ui-autocomplete {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  cursor: default;
  background: white;
  border: 1px solid #EEEEEE;
  border-top:0;
  @include reset-list();

  @include border-bottom-radius(3px);
  box-shadow: 0 2px 5px #ccc;
}

.ui-menu .ui-menu-item {
  padding: 5px;
  border-bottom: 1px dotted #EEEEEE;

  &:hover {
    cursor: pointer;
  }

  &.ui-state-focus {
    background: #EEEEEE;
  }

  /*span {
    color: #808080;
    font-size: 11px;
  }


  &:last-child {
    border: 0;
  }
  */
}