@charset "UTF-8";

.breadcrumb {
  color:#666666;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100%;
  font-size: 0.9em;

  >div {
    display: inline-block;
    position: relative;
    margin-right: 5px;

    a {
      color: #666;
      text-decoration: none;
      border-bottom: 1px dotted #444;
      &:hover {
        color: #444;
        border-color: transparent;
      }
    }
    &:not(:last-child):after {
      content: '›';
      margin-left: 5px;
      position: relative;
      top: -1px;
    }
  }
}