.cart-items {
  width: 100%;
  margin-top: 20px;
  @media #{$mobile} {
    width: 300px;
  }

  td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    @media #{$mobile} {
      display: block;
    }

  }

  thead {
    border: 1px solid #EEEEEE;
    @media #{$mobile} {
      display: none!important;
    }
    td {
      background: #EEEEEE;
      font-size: 11px;
    }

  }

  tbody {
    border: 1px solid #EEEEEE;

    .title {
      text-align: left;
    }

    tr+tr {
      border-top: 1px solid #EEEEEE;
    }

    .item_price {
      .diff {
        display: none;
      }
    }
    .item_total {
      .old {
        display: none;
      }
    }
    .cart-item-delete {
      cursor: pointer;
    }
  }

  tfoot {
    td {
      text-align: right;
      .totalcart {
        margin: 5px;
        border: 1px solid #EEEEEE;
        display: inline-block;
        padding: 10px;
        @include border-radius(3px);
      }

    }
  }


}

