.count_choice {
  .not-available-count {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    font-size: 12px;
    color: Gray;
    padding: 8px 10px;
    @include border-radius(3px);
  }

  span.plus, span.minus {
    position: relative;
    top: 2px;
    cursor: pointer;
    display: inline-block;
    background-color: #2A4192;
    @include border-radius(3px);

    &.plus {
      @include icons-sprite(plus, true);
    }
    &.minus {
      @include icons-sprite(minus, true);
    }
  }

  input[type="text"] {
    border: 1px solid #EEEEEE;
    @include border-radius(3px);
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}