.offers_topline {
  text-align: center;
  padding-top: 0;
}
#CreditCompanyList {
  width: 100%;

  .company_row {
    &:nth-child(even) td {
      background-color: #EEEEEE;
    }
    td {
      border-top: solid 5px #EEEEEE;
      padding: 0 10px;
      vertical-align: middle;
    }

    .offer_price {
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      .from {
        @include font-alt(s);
        margin-left: 100px;
      }
    }
    .offer_conditions {
      font-size: 11px;
      color: #808080;
    }

  }

}
