#{$all-text-inputs},
select,
textarea {
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #cfd1d7;
  background-color: #EFEFEF;
  height: 40px;
  @include border-radius(3px);
  @include input-placeholder {
    color: #bfbfbf;
  }
  &.error {
    border-color: #ff0000;
  }
}

textarea {
  height: auto;
}

select {
  height: 30px;
  font-size: 1em;
}


form {
  &.show_required .element-title .required:after {
    content: ": *" !important;
  }
  &>.div {
    .group {
      width: 100%;
      td+td {
        padding-left: 5px;
      }
    }

    .element-row {
      margin: 10px auto;
      position: relative;

      .element-title {
        white-space: nowrap;
        font-size: 1.2em;
        label {
          float: left;
          margin-right: 2px;
          &:after {
            content: ":";
          }
        }
        span.error {
          display: inline-block;
          color: #ff0000;
          font-size: 0.7em;
        }
      }
    }
  }
}