.hint-help {
  position: relative;

  .hint-title {
    border-bottom: 1px dotted #92b07e;
    cursor: help;
  }


  .hint-text {
    display: none;
    z-index: 10000;
    position: absolute;
    top: 100%;
    left: 0;
    $bg: #92b07e;
    padding: 10px;
    @include box-shadow(2px, 2px, 5px, #000000);
    @include border-radius(2px);
    @include background-image(linear-gradient(to bottom, adjust-lightness($bg, 30%), adjust-lightness($bg, 15%)));
    @include font(s);
    letter-spacing: normal;
    font-weight: normal;
    color: #444;
  }
}