.link {
  cursor: pointer;
  text-decoration: none;

  &.link-black {
    color: #444;
    border-bottom: 1px dotted #444;
    &:hover {
      border-bottom-color: transparent;
    }
  }

  &.link-green {
    color: Green;
    border-bottom: 1px dotted Green;
    &:hover {
      border-bottom-color: transparent;
    }
  }

  &.link-red {
    color: #fb515d;
    border-bottom: 1px dotted #fb515d;
    &:hover {
      border-bottom-color: transparent;
    }
  }

  &.link-blue {
    color: #0156a9;
    border-bottom: 1px dotted #0156a9;
    &:hover {
      border-bottom-color: transparent;
    }
  }

  &.lock {
    cursor: auto;
    &:hover {
      border-bottom-color: inherit;
    }
  }

}