#mw-fade {
    background: #000000;
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    @include opacity(0.6);
}
.mw-wrap {
    position: fixed;
    z-index:101;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    text-align: center;
}

.mw-content {
  display: inline-block;
  background: white;
  z-index:102;
  padding: 30px;
  box-sizing: border-box;
  margin: 50px auto;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  @include border-radius(1px);
  @media #{$mobile} {
    padding: 10px;
  }

  > .mw-close {
    position: absolute;
    cursor: pointer;

    right: 7px;
    top: 7px;
    border: 1px solid #000000;
    padding: 5px;
    @include border-radius(2px);

    i {
      display: block;
      @include icons-sprite('modal-close', true);
    }
  }

}
.mw-move {
    margin-top: -20px;
    height: 20px;
    cursor: move;
}

.mw-content h1 {
    margin: -10px 20px 20px -10px;
    border-bottom: 1px solid #E3E3E3;
    padding: 0 0 5px 10px;
    text-align: left;
    text-transform: uppercase;

    font-size: 22px;
    font-weight: normal;
}

.mw-wrap:not(.last) .mw-content {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.mw-wrap:not(.last) .mw-content:after {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#FFFFFF;
    opacity:0.8;
}

[data-modal-link] {
  cursor: pointer;
}
