.pagination {
  font-size: 14px;
  margin: 10px 20px;
  text-align: center;

  .pagination-container {
    display: inline-block;
    @include border-radius(5px);
    border: 1px solid #ddd;
  }

  strong, a {
    display:inline-block;
    padding: 10px 15px;
    background: #ffffff;
    color: $primary-color;
  }
  strong {
    background: $secondary-color;
    color: #000000;
//    position: relative;
//    bottom: 5px;
  }
  a {
    text-decoration: none;
    &:hover {
      background: #eee;
    }
  }

  .prev,
  .next {
    display:inline-block;
    padding: 10px 15px;
    &:before,
    &:after {
      content: '';
      width: 10px;
      height: 5px;
      display: inline-block;
      position: relative;
      top: -1px;
    }
  }

  //.prev:before {
  //  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADRJREFUeNpiZEhYyAAF/6E0IwMa+D8/joGJkCIGuETCwv8MRAAWqCl4TUS2mhHNCRgAIMAAJAELBdGO/FAAAAAASUVORK5CYII=) no-repeat 0 0; /* pag_left_arr.png */
  //  margin-right: 7px;
  //}
  //.next:after {
  //  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUeNpiYUhYyIAD/IfSjCCCiQE3YETWwIKkEx/4z/j//38GxsRFBK3HZzWKGwECDABIBAsOileOSwAAAABJRU5ErkJggg==) no-repeat 0 0;
  //  margin-left: 7px;
  //}

  .show_all {
    display: none;
  }
}