.bottom_dot {
  border: 0;
  border-bottom: dotted 1px #000;
}

.h1 {
  text-align: center;
  margin: 40px 0 10px;
  padding: 10px 0;
  font: 22px Roboto;
  font-weight: 700;
  @extend .bottom_dot;
}

span.b {
  font-weight: bold;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.nowrap {
  white-space: nowrap;
}

.soc {
  @extend .icon;

  &.vk {
    @include icons-sprite('vk');
  }
  &.fb {
    @include icons-sprite('facebook');
  }
  &.twitter {
    @include icons-sprite('twitter');
  }
  &.instagram {
    @include icons-sprite('instagram');
  }
  &.youtube {
    @include icons-sprite('youtube');
  }

}

body.wait:after {
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/img/progress.gif') center center no-repeat #FFFFFF;
    opacity: 0.7;
    z-index: 1000000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  @include border-radius(10px);
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}