.popup_product {

    .window_title {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 15px;
        color: #808080;
        @media #{$mobile} {
          margin: 25px 0 10px;
        }

        a {
            color: #000000;
            font-size: 18px;
            text-decoration: underline;
        }

        i {
            margin-right: 5px;
            float: left;
            @include icons-sprite(popup-product-cart, true);
        }
    }

    .popup_product_info {
      max-width: 450px;
      margin: 0 auto 20px auto;
      @media #{$mobile} {
        max-width: 300px;
        margin: 0 auto;
      }

      .title {
          box-sizing: border-box;
          padding: 50px 20px;
          width: 240px;
          @media #{$mobile} {
            width: 200px;
            margin: 0 auto;
            padding: 0;
          }
      }
      .count_choice {
        margin-left: 40px;
        @media #{$mobile} {
          margin: 0 auto;
          text-align: center;
        }
      }
      img {
          box-sizing: border-box;
          height: 150px;
          width: 150px;
          float: left;
          margin: 10px 10px 0 0;
          @include border-radius(3px);
          @media #{$mobile} {
            display: block;
            margin: 0 auto;
            float: none;
          }
          & + div {
            @media #{$mobile} {
              float: none!important;
              margin: 10px auto;
            }
          }
      }

    }

    .popup_product_set_info {
      float: left;
      .p_item {
        width: 220px;
        float: left;
        padding: 10px;
        text-align: center;
        .title {
          @include font-alt(m);
        }
        .price_block {
          text-align: center;
        }
        img {
          height: 80px;
          width: 80px;
          padding: 5px;
          @include border-radius(3px);
          border: 1px solid #DDDDDD;
        }
      }
    }

    .row2cart {
      padding: 20px;
      text-align: center;
      @media #{$mobile} {
        padding: 0;
      }
      .mw-close {
        position: static;
        border: 0;
        margin-left: 50px;
        @media #{$mobile} {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .callback_part {
      margin: 10px -20px -20px -20px;
      box-sizing: border-box;
      padding: 0 20px 20px 20px;
      border-top: 1px dotted #808080;
      color: #666;
      background-color: #EEEEEE;
      text-align: center;
      @media #{$mobile} {
        margin: 5px auto;
        padding: 5px;
      }

      .callback_title {
        margin-top: 5px;
        @include font-alt(l, bold);
      }

      p {
        font-size: 12px;
        width: 400px;
        margin: 10px auto;
        @media #{$mobile} {
          width: 200px;
        }
      }
      input:not([type='checkbox']) {
        background: #ffffff;
        padding: 5px 10px;
        box-sizing: border-box;
        width: 340px;
        display: block;
        margin: 8px auto;
        @media #{$mobile} {
          width: 200px;
        }
        &.error {
          border: 1px solid #ff0000;
        }
      }
      div.checkbox{
        text-align: left;
        font-size: 16px;
        margin: 8px auto;
        width: 340px;
        @media #{$mobile} {
          width: 200px;
        }
      }
      .btn {
        margin-top: 5px;
        padding-top: 6px;
        padding-bottom: 6px;
        @include font-alt(l);

      }
    }

}
