.price_block {

  display: inline-block;
  text-align: left;

  .price {
    display: block;
    padding-left: 5px;
    @include font-alt(xl, bold);
    .currency {
      font-size: 11px;
    }
  }

  .old {
    font-size: 0.8em;
    display: block;
    text-decoration: line-through;
    opacity: 0.7;
    margin: 0 0 -5px 1px;
  }

  .diff {
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    color: #FF8000;
  }
}