$product_list_item_table_height: 380px;

.product_item.product_table {
  float: left;
  position: relative;
  margin: 0 0 5px;
  height: $product_list_item_table_height;

  .wrapper {
    height: $product_list_item_table_height;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    @include border-radius(4px);
    &:hover {
      z-index: 2;
      height: auto;
      background: #fff;
      @include box-shadow(0px, 0px, 5px, #ccc);
      .opacity {display: none;}
    }
  }

  .container {
    padding: 15px 30px;
  }

  .title {
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    a {
      //@include font(l);
      font-size: 16px;
      text-decoration: none;
      color: #3b6d9a;
    }
  }

  .count_in_group {
    font-size: 12px;
    padding: 2px 5px;
    display: inline-block;
    background-color: #F6EE38;
    position: absolute;
    right: 10px;
    top: 70px;
  }

  .image {
    position: relative;
    margin: 10px 0;
    img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
  .status {
    font-size: 11px;
    background: #EEEEEE;
    @include border-radius(2px);
    display: inline-block;
    padding: 3px 5px;
  }

  .sticker {
    font-size: 12px;
    background: #EEEEEE;
    @include border-radius(2px);
    display: inline-block;
    padding: 3px 7px;
    margin: 0 1px;
  }

  .count_in_series {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #eee;
    color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: bold;
  }

  .product_button_wrap {
    float: right;
    height: 31px;
  }
  .price_container {
    margin-top: -3px;
    span {
      display: inline-block;
      @include font-alt(xl, bold);
      .currency {
        font-size: 12px;
      }
    }
    .old_price {
      margin-left: 10px;
      @include font-alt(m, bold);
      color: #999;
      text-decoration: line-through;
    }
  }

  .user_info {
    @include clearfix;
    margin-top: 5px;
    padding: 0 0 5px;
    @include font(s);
    .comments {
      position: relative;
      float: left;
      padding: 0 0 0 16px;
      color: GrayText;
      .icon {
        position: absolute;
        left: -3px;
        top: 0;
        height: 16px;
        width: 14px;
        @include icons-sprite('comment');
      }
    }
    .rating {
      float: right;
    }
  }

  .additional_info {

    .additional_promotion {
      font-size:12px;
      .block_title {
        color: #FF870E;
        float: left;
        padding-right: 5px;
        &:after {
          content: ": ";
        }
      }
      .descr {
      }
    }
    .additional_params {
      .block_title {
        font-size: 0;
        margin: 5px 10px 10px 10px;
      }

      .descr {
        @include reset-list(true);
        @include font(s);

        li {
          line-height: 1em;
          margin-bottom: 0.5em;
          white-space: nowrap;
          overflow: hidden;
          span {
            color: #999;
          }
          i {
            font-style: normal;
            display: inline-block;
            margin-left: 5px;
//            border-bottom: 1px dotted GrayText;
            &:after {
              content: ', ';
            }
            &:last-child:after {
              display: none;
            }
          }
        }
      }
    }

  }
  .opacity {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFxJREFUeNq0zcEJgDAQRNFhs4ugiTFasQXaiEevCUSHwHbg5fFvH713SGstiqomVmbtrDIKQCGH10YyWUkiC5nJ5BhRByR4IVz3c6LWGuUjiZll1s4qo36bvwIMANNeHWntWOvAAAAAAElFTkSuQmCC')
    repeat-x;
  }

}