@import "rating/*.png";

@include all-rating-sprites;

.rating {
  display: inline-block;

  > * {
    display: inline-block;
    margin: 0 1px;
    input {display: none;}
    @include rating-sprite('default', true);
    &.active { @include rating-sprite('active', true); }
    &.hover { @include rating-sprite('hover', true); }
  }



  &.rating2x {
    > * {
      @include rating-sprite('default2x', true);
      &.active { @include rating-sprite('active2x', true); }
      &.hover { @include rating-sprite('hover2x', true); }
    }
  }

  &.rating_vote > * {
    cursor: pointer;
  }

}

