section.set {
  //background: #ccc;
//  border: 2px solid #000000;
//  @include border-radius(3px);
  padding: 10px 20px;

  .tab_title {
    text-align: center;
  }

  .currency {
    font-size: 13px;
  }

  table {
    margin: 30px auto 0 auto;
    td {
      text-align: center;

      vertical-align: top;
      padding: 0 10px;
    }
    td.plus,
    td.equal{
      vertical-align: middle;
      @include font-alt(xxl, bold);
      padding: 0;
    }
    td.equal {
      border-left: $border-dot;
      padding-left: 20px;
      display: none;
    }
    td.setButtonRow {
      padding: 20px;
      .btn {
        margin-bottom: 20px;
      }
      .old-price {
        text-decoration: line-through;
        @include font-alt(m);
        color: #808080;
      }
      .new-price {
        @include font-alt(xl, ultra-bold);
      }
    }

  }

  .img {
    margin: 0 20px;
    img {
      @include border-radius(3px);
      width: 100%;
      max-width: 200px;
      margin: 0;
    }
  }


  ul {
    @include reset-list();
    li {
      display: none;
      &:first-child {
        display: list-item;
      }
    }
  }
  .product_set-title {
    @include font-alt(m, semi-bold);
    max-width: 200px;
    a {
      border-bottom: 1px dotted #444;
      color: #444;
      text-decoration: none;
      &:hover {border-color: transparent;}
    }
  }
  .product_set-price {
    @include font-alt(ml, bold);
    margin: 10px;
    .new_price {  }
    .old_price { font-size: 0.8em; font-weight: normal; text-decoration: line-through; color: #808080; }
  }


  .products_group .img {
    position: relative;
    display: inline-block;
    .next-product {
      cursor: pointer;
      position: absolute;
      right: -30px;
      top: 50%;
      i {
        margin-top: -50%;
        display: inline-block;
        @include icons-sprite('product-set-next', true);
      }
    }
    .prev-product {
      cursor: pointer;
      position: absolute;
      left: -30px;
      top: 50%;
      i {
        margin: auto;
        display: inline-block;
        @include icons-sprite('product-set-prev', true);
      }
    }
  }

  &#complect2 {
    margin: 0 -20px -20px -20px;
    background: #d0e9c6;
    @media #{$mobile} {
      display: none!important;
    }

    .tab_title {
      display: block;
      @include font-alt(xl);
    }
    table {
      margin: 0 0 10px 0;
    }

    .img img { max-width: 100px; }


    .next-product,
    .prev-product { top: 30%; }
    .equal {
      display: table-cell;
    }
  }

}