<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" data-toggle="autocomplete" name="from_url" value="<?= $this->params['from_url'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'from_url'); ?>" />
            <?= $this->linkOrderHtml('from_url', ''); ?>
        </td>
        <td>
            <input data-toggle="autocomplete" type="text" name="to_url" value="<?= $this->params['to_url'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'to_url'); ?>" />
            <?= $this->linkOrderHtml('to_url', ''); ?>
        </td>
        <td>
            <input type="text" name="redirect_count" value="<?= $this->params['redirect_count'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'redirect_count'); ?>" />
            <?= $this->linkOrderHtml('redirect_count', ''); ?>
        </td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->from_url ?></td>
            <td><?= $item->to_url ?></td>
            <td><?= $item->redirect_count ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>