<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1'); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Language', 'ru_UA'); ?>

    <? $this->headLink(array('rel' => 'shortcut icon', 'href' => '/img/favicon.png', 'type' => 'image/png'), 'PREPEND'); ?>
    <? $this->headLink(array('rel' => 'yandex-tableau-widget', 'href' => '/yandex_widget.json'), 'PREPEND'); ?>
    <? $this->headLink(array('rel' => 'author', 'href' => ''), 'PREPEND'); ?>

    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <? $this->headScript()->prependFile('/js/common/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/all.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-1.11.1.min.js', 'text/javascript'); ?>


    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <!--[if lt IE 9]><script src="/js/vendor/html5.js"></script><![endif]-->

<!--    --><?//= $this->render('GoogleAnalytics.phtml'); ?>
<!--    --><?//= $this->render('PixelFB.phtml'); ?>

</head>

<body style="padding: 0;">

<div id="body">
    <div class="width layout_content">
        <div style="width: 800px; margin: 100px auto;">
            <div style="text-align: center">
                <a href="/"><img src="/img/logo.png" alt="Интернет магазин anydasa.com"></a>
                <h1>Мгновенная рассрочка от ПриватБанк</h1>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <?= $this->layout()->content; ?>
        </div>
    </div>
</div>

</body>
</html>