</table>

<?= $this->showPager($this->pagerRange); ?>

<script>
    $("#advancedSearchProductButton").on('click', function () {
        $("#advancedSearchProductContainer").toggle();
    });

    $("#select-all-products").click(function() {
        var checkBoxes = $("input[name='id[]']");
        checkBoxes.prop("checked", $(this).prop("checked"));
        checkBoxes.change();
    });

    $("input[name='id[]']").shiftClick();

    $(document).on('change', "input[name='id[]']", function () {
        if ( $("input[name='id[]']:checked").length ) {
            $("#multiChangeButtons").show();

            $("#multiChangeButtons button[data-modal-link]").each(function () {
                var link = $(this).attr('data-modal-link');
                link = updateQueryStringParameter(link, 'id_products', $("input[name='id[]']:checked").map(function() {return $( this ).val();}).get().join(","));
                $(this).attr('data-modal-link', link)
            });

        } else {
            $("#multiChangeButtons").hide();
        }
    })
</script>