<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
    <span class="btn btn-success" id="advancedSearchProductButton">Подробный поиск</span>
    <? if ( !empty($_GET) ) : ?><a href="<?= preg_replace('/\?.*/', '', $_SERVER['REQUEST_URI']); ?>" class="btn btn-success">Сбросить поиск</a><? endif ?>
</h1>

<div id="advancedSearchProductContainer" style="display: none; background: #bfbfbf; border-radius: 5px; padding: 10px;"><?= $this->form; ?></div>

<table class="table table-striped table-hover table-condensed" style="width: 1200px;">
