<?= $this->render('list/_header.phtml'); ?>

<thead>
<tr>
    <td colspan="20">
        <form method="GET">
            <input type="text" name="code" value="<?= $_GET['code']; ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>">
            <input type="text" name="title" value="<?= $_GET['title']; ?>" placeholder="<?= $this->tableComment('Products', 'title'); ?>">
            <?= $this->formSelect('id_brand', $this->params['id_brand'], array(), [''=>'---Бренд---'] + $this->form->id_brand->getMultiOptions()); ?>
            <?= $this->formSelect('id_catalog', $this->params['id_catalog'], array(), [''=>'---Каталог---'] + $this->form->id_catalog->getMultiOptions()); ?>
            <?= $this->formSelect('in_adwords', $this->params['in_adwords'], array(), [''=>'---Эдвордс---', 1 => 'Есть в эдвордс', 0=>'Нет в эдвордс']); ?>
            <?= $this->form->sort->setDecorators(['ViewHelper']); ?>
            <?= $this->form->on_page->setDecorators(['ViewHelper']); ?>
            <div style="float:right; white-space: nowrap">
                <a href="<?= $this->url(array(), 'products-list-pricing'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
                <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
            </div>
        </form>
    </td>
</tr>
</thead>
<tr>
    <td colspan="4">
        <div id="multiChangeButtons" style="float: right; display: none;">
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'adwords-adgroup-from-product',
                'buttonText'  => '<i class="adwords"></i>',
            )); ?>
        </div>
    </td>
    <td><input type="checkbox" id="select-all-products"></td>
</tr>

    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="width: 1%;"><?= $item->code; ?></td>
            <td style="width: 1%; white-space: nowrap;"><?= $item->type; ?></td>
            <td>
                <?= $item->title ?>
                <sup><a style="color: #000000; font-weight: bold" href="/adwords/adgroup/list?Products|id=<?= $item->id; ?>">группы</a></sup>
            </td>
            <td style="width: 1%;">

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-from-product',
                    'queryParams' => array('id_products'=>$item->id),
                    'buttonText'  => '<i class="adwords"></i> <sup>'. $item->AdwordsAdgroup->count() .'</sup>',
                )); ?>
            </td>
            <td><input type="checkbox" value="<?= $item->id ?>" name="id[]" /></td>
        </tr>
    <? endforeach; ?>

<?= $this->render('list/_footer.phtml'); ?>