<style>
    .price-range {
        font-size: 11px;
    }
    .price-range [data-id_vendor="1"] {
        color: green;
        font-weight: bold;
    }
    .price-range :NOT([data-id_vendor="1"])+[data-id_vendor="1"] {
        color: Red;
    }
</style>
<?= $this->render('list/_header.phtml'); ?>

<thead>
<tr>
    <td colspan="20">
        <form method="GET">
            <input type="text" name="code" value="<?= $_GET['code']; ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>">
            <input type="text" name="title" value="<?= $_GET['title']; ?>" placeholder="<?= $this->tableComment('Products', 'title'); ?>">
            <?= $this->formSelect('id_brand', $this->params['id_brand'], array(), [''=>'---Бренд---'] + $this->form->id_brand->getMultiOptions()); ?>
            <?= $this->formSelect('id_catalog', $this->params['id_catalog'], array(), [''=>'---Каталог---'] + $this->form->id_catalog->getMultiOptions()); ?>
            <?= $this->form->is_pricing_hotline->setDecorators(['ViewHelper']); ?>
            <?= $this->form->sort->setDecorators(['ViewHelper']); ?>
            <div style="float:right; white-space: nowrap">
                <a href="<?= $this->url(array(), 'products-list-price-compare'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
                <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
            </div>
        </form>
    </td>
</tr>
</thead>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="width: 1%; white-space: nowrap;"><strong><?= $item->OwnerProduct->Vendors->name; ?></strong></td>
            <td style="width: 1%; white-space: nowrap;"><?= $item->OwnerProduct->code; ?></td>
            <td style="width: 1%; white-space: nowrap; text-align: right;">
                <? if (1 == $item->OwnerProduct->Vendors->id) : ?>
                    <span title="Остаток" data-toggle="tooltip" style="color: green; font-size: 12px;"><?= $item->balance?></span>
                <? endif ?>
            </td>
            <td style="width: 1%; white-space: nowrap;">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText' => $item->getTypedName(),
                )); ?>
            </td>
            <td style="font-size: 11px; width: 1%; white-space: nowrap;"><?= Currency::format($item->OwnerProduct->getPrice('buy', 'USD'), 'USD'); ?></td>
            <td style="font-size: 11px; width: 1%; white-space: nowrap;">
                <? if (1 == $item->OwnerProduct->Vendors->id) : ?>
                    <?= Currency::format($item->OwnerProduct->getPrice('trade', 'USD'), 'USD'); ?>
                    <? $diff = $item->OwnerProduct->getPrice('trade', 'USD') - $item->OwnerProduct->getPrice('buy', 'USD'); ?>
                    <span style="font-size: 10px;">
                        <? if ( $diff > 0) : ?>
                            <strong style="color: green;">+<?= Currency::format($diff, 'USD'); ?></strong>
                        <? elseif ( $diff == 0 ) : ?>
                            <strong style="color: gray;"><?= Currency::format($diff, 'USD'); ?></strong>
                        <? else : ?>
                            <strong style="color: Red;">-<?= Currency::format($diff, 'USD'); ?></strong>
                        <? endif ?>
                    </span>
                <? endif ?>
            </td>
            <td style="font-size: 11px; width: 1%; white-space: nowrap;">
                <?= Currency::format($item->getPrice('retail', 'USD'), 'USD'); ?>
                <? $diff = $item->getPrice('retail', 'USD') - $item->OwnerProduct->getPrice('buy', 'USD'); ?>
                <span style="font-size: 10px;">
                    <? if ( $diff > 0) : ?>
                        <strong style="color: green;">+<?= Currency::format($diff, 'USD'); ?></strong>
                    <? elseif ( $diff == 0 ) : ?>
                        <strong style="color: gray;"><?= Currency::format($diff, 'USD'); ?></strong>
                    <? else : ?>
                        <strong style="color: Red;">-<?= Currency::format($diff, 'USD'); ?></strong>
                    <? endif ?>
                </span>
            </td>
            <td class="price-range">
                <?= $this->ProductPriceRange($item); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-vendor-products-list',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('fts-or' => strip_tags($item->title)),
                    'buttonText'  => '<i class="fa fa-lg fa-sitemap"></i> <sup>'.$item->VendorsProducts->count().'</sup>',
                    'buttonTitle' => 'Связанные товары',
                    'buttonAttr'  => array('data-count'=> $item->VendorsProducts->count()),
                )); ?>
            </td>
            <td></td>
        </tr>
    <? endforeach; ?>

<?= $this->render('list/_footer.phtml'); ?>