<?= $this->render('list/_header.phtml'); ?>

<thead>
<tr>
    <td colspan="20">
        <form method="GET">
            <input type="text" name="code" value="<?= $_GET['code']; ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>">
            <input type="text" name="title" value="<?= $_GET['title']; ?>" placeholder="<?= $this->tableComment('Products', 'title'); ?>">
            <?= $this->formSelect('id_brand', $this->params['id_brand'], array(), [''=>'---Бренд---'] + $this->form->id_brand->getMultiOptions()); ?>
            <?= $this->formSelect('id_catalog', $this->params['id_catalog'], array(), [''=>'---Каталог---'] + $this->form->id_catalog->getMultiOptions()); ?>
            <?= $this->form->is_pricing_hotline->setDecorators(['ViewHelper']); ?>
            <?= $this->form->sort->setDecorators(['ViewHelper']); ?>
            <div style="float:right; white-space: nowrap">
                <a href="<?= $this->url(array(), 'products-list-pricing'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
                <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
            </div>
        </form>
    </td>
</tr>
</thead>

<tr>
    <td colspan="5">
        <div id="multiChangeButtons" style="float: right; display: none;">
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-stickers-edit-rowset',
                'buttonText'  => '<i class="fa fa-lg fa-tags"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-pricing_hotline-edit-rowset',
                'buttonText'  => '<i class="hotline"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-links-update-prices-row-set',
                'buttonText'  => '<i class="fa fa-lg fa-usd"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-margin-edit-rowset',
                'buttonText'  => '<i class="fa fa-lg fa-signal"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-edit-rowset-catalog',
                'buttonText'  => '<i class="fa fa-lg fa-folder"></i>',
            )); ?>
        </div>
    </td>
    <td><input type="checkbox" id="select-all-products"></td>
</tr>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->code; ?></td>
            <td style="width: 500px;">
                <?= $item->getTypedName() ?>
                <span style="white-space: nowrap;">
                    <strong style="font-size: 1.2em;"><?= $item->OwnerProduct->Vendors->name; ?></strong>
                    <? if (1 == $item->OwnerProduct->Vendors->id) : ?><sup title="Остаток" data-toggle="tooltip" style="color: green;"><?= $item->balance?></sup><? endif ?>
                </span>

            </td>
            <td style="font-size: 11px;">
                <div style="font-size: 11px; color: GrayText;">
                    <?= $item->price_method; ?>
                    <?= $this->time($item->price_updated_at); ?>
                </div>
                <strong><?= $item->getFormatedPrice('retail', 'UAH'); ?></strong>
                <? if ( !empty((int)$item->price_retail) ) : ?>
                    <span style="color: GrayText;">(<?= $item->getFormatedPrice('retail', 'USD'); ?>)</span>
                <? endif ?>
                <? if ( $profit = $item->getProfit('UAH') ) : ?>
                    |
                    <span style="font-size: 11px; font-weight: bold;" title="прибыль" data-toggle="tooltip">
                    <? if ($profit > 0) : ?>
                        <span style="color: Green;">+<?= Currency::format($item->getProfit('UAH'), 'UAH', true); ?></span>
                    <? elseif ($profit < 0) : ?>
                        <span style="color: Red;"><?= Currency::format($item->getProfit('UAH'), 'UAH', true); ?></span>
                    <? else : ?>
                        <span>0</span>
                    <? endif ?>
                    </span>
                <? endif ?>
            </td>
            <td style="font-size: 11px; width: 1%; white-space: nowrap;">
                <?= $this->ProductLinksPrices($item); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-from-product',
                    'routeParams' => array('id_product'=>$item->id),
                    'buttonText'  => '<i class="adwords"></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-pricing_hotline-edit',
                    'routeParams' => array('id_product'=>$item->id),
                    'buttonText'  => '<i class="hotline"></i>',
                    'buttonAttr'  => $item->PricingHotline->is_enabled ? [] : array('style'=>'opacity: 0.3;'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-links-list',
                    'routeParams' => array('id_product'=>$item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-globe"></i> <sup>'.$item->ProductsLinks->count().'</sup>',
                    'buttonAttr'  => $item->ProductsLinks->count() ? array() : array('style'=>'color: Gray;'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-links-prices',
                    'routeParams' => array('id_product'=>$item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-usd""></i>',
                    'buttonAttr'  => $item->LinksPrices->count() ? array() : array('style'=>'color: Gray;'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-margin-edit',
                    'routeParams' => array('id_product'=>$item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-signal"></i>',
                    'buttonTitle' => $item->ProductsMargins->exists() ? 'Маржа установленна' : 'Маржа не установленна',
                    'buttonAttr'  => $item->ProductsMargins->exists() ? array() : array('style'=>'color: Red;'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-vendor-products-list',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('fts-or' => strip_tags($item->title)),
                    'buttonText'  => '<i class="fa fa-lg fa-sitemap"></i> <sup>'.$item->VendorsProducts->count().'</sup>',
                    'buttonTitle' => 'Связанные товары',
                    'buttonAttr'  => array('data-count'=> $item->VendorsProducts->count()),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-eye"></i>'
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-stickers',
                    'routeParams' => array('id_product' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-tags"></i> <sup>'. $item->Stickers->count() .'</sup>',
                )); ?>
            </td>
            <td><input type="checkbox" value="<?= $item->id ?>" name="id[]" /></td>
        </tr>
    <? endforeach; ?>

<?= $this->render('list/_footer.phtml'); ?>