<?= $this->render('list/_header.phtml'); ?>

<thead>
<tr>
    <td colspan="20">
        <form method="GET">
            <input type="text" name="code" value="<?= $_GET['code']; ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>">
            <input type="text" name="title" value="<?= $_GET['title']; ?>" placeholder="<?= $this->tableComment('Products', 'title'); ?>">
            <?= $this->formSelect('id_brand', $this->params['id_brand'], array('style'=>'width: 100px;'), [''=>'---Бренд---'] + $this->form->id_brand->getMultiOptions()); ?>
            <?= $this->formSelect('id_catalog', $this->params['id_catalog'], array('style'=>'width: 100px;'), [''=>'---Каталог---'] + $this->form->id_catalog->getMultiOptions()); ?>
            <?= $this->form->sort->setDecorators(['ViewHelper']); ?>
            <?= $this->form->on_page->setDecorators(['ViewHelper']); ?>
            <div style="float:right; white-space: nowrap">
                <a href="<?= $this->url(); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
                <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
            </div>
        </form>
    </td>
</tr>
<tr>
    <td colspan="20" style="text-align: right;">
        <?= Currency::format($this->agg['sum_profit'], 'UAH'); ?>
        / <?= $this->agg['count']; ?> поз.
        = <?= Currency::format($this->agg['sum_profit'] / $this->agg['count'], 'UAH'); ?>
        (<?= @round($this->agg['sum_retail'] / $this->agg['sum_buy'] * 100 - 100, 2); ?>%)
    </td>
</tr>
<tr>
    <td style="width: 1%;">Код</td>
    <td style="width: 1%;">Тип</td>
    <td>Название</td>
    <td><?= $this->linkOrderHtml('buy', 'Закупка'); ?></td>
    <td><?= $this->linkOrderHtml('retail', 'Розница'); ?></td>
    <td><?= $this->linkOrderHtml('profit', 'Прибыль'); ?></td>
</tr>
</thead>
    <? foreach ($this->list as $item) :
        $Product = new Products;
        $Product->hydrate($item);
        $Product->assignIdentifier(true);
    ?>
        <tr <?= $this->itemListDataParams($Product) ?>>
            <td><?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $Product->id),
                    'buttonText'  => $Product->code
                )); ?>
            </td>
            <td style="white-space: nowrap;"><?= $Product->type; ?></td>
            <td><?= $Product->title ?></td>
            <td><?= Currency::format($item['buy'], 'UAH') ?></td>
            <td><?= Currency::format($item['retail'], 'UAH') ?></td>
            <td><?= Currency::format($item['profit'], 'UAH') ?>
                <span style="color: darkgray;;">(<?= @round($item['retail'] / $item['buy'] * 100 - 100, 1) ; ?>%)</span>
            </td>
        </tr>
    <? endforeach; ?>

<?= $this->render('list/_footer.phtml'); ?>