<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headMeta()->appendName('robots', 'noindex, nofollow'); ?>

    <? $this->headLink()->prependStylesheet('/css/pages/account.css?'.ASSETS_ID); ?>
    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <? $this->headScript()->prependFile('/js/vendor/jquery.light-tabs.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/cart.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/nav.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/all.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/accounting.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-1.11.1.min.js', 'text/javascript'); ?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">
    <link rel="author" href="">
    <!--[if lt IE 9]><script src="/js/vendor/html5.js"></script><![endif]-->
    <script>accounting.settings.currency = <?= Zend_Json::encode(Zend_Registry::getInstance()->currency_current->toArray()) ; ?></script>

    <?= $this->render('GoogleAnalytics.phtml'); ?>
<!--    --><?//= $this->render('PixelFB.phtml'); ?>
</head>

<body>
<div class="width">
    <?= $this->breadcrumb('Личный кабинет'); ?>
    <div class="account">
        <div class="width">
            <div class="left_bar"><?= $this->render('account/left-bar.phtml'); ?></div>
            <div class="right_bar"><?= $this->render('account/right-bar.phtml'); ?></div>
            <div class="layout_content"><?= $this->layout()->content; ?></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div class="head">
    <?= $this->layout()->header ?>
    <div class="width"><nav><?= $this->layout()->nav ?></nav></div>
</div>
<footer><?= $this->layout()->footer ?></footer>
<?//= $this->render('counters.phtml'); ?>
</body>
</html>
