<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1'); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Language', 'ru_UA'); ?>

    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <? $this->headScript()->prependFile('/js/vendor/jquery.light-tabs.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/all.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-1.11.1.min.js', 'text/javascript'); ?>


    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">

    <!--[if lt IE 9]><script src="/js/vendor/html5.js"></script><![endif]-->
    <?= $this->render('GoogleAnalytics.phtml'); ?>
<!--    --><?//= $this->render('PixelFB.phtml'); ?>

</head>

<body style="padding: 0;">
<div id="body">
    <div class="width layout_content">
        <?= $this->layout()->content; ?>
    </div>
</div>

</body>
</html>
