<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>

    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Language', 'ru_UA'); ?>
    <? $this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1'); ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <? $this->headScript()->prependFile('/js/vendor/jquery.menu-aim.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery.light-tabs.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/product/set.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/cart.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/header_search.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/all.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/accounting.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-1.11.1.min.js', 'text/javascript'); ?>


    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <!--[if lt IE 9]><script src="/js/vendor/html5.js"></script><![endif]-->
    <script>accounting.settings.currency = <?= Zend_Json::encode(Zend_Registry::getInstance()->currency_current->toArray()) ; ?></script>

    <?= $this->render('GoogleAnalytics.phtml'); ?>
    <?= $this->render('YandexMetrika.phtml'); ?>
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">

    <!--    --><?//= $this->render('PixelFB.phtml'); ?>
</head>

<body>
<div class="overlay-menu"></div>

<div id="body">
    <div class="head">
        <?//= $this->layout()->header ?>
        <div><nav><?= $this->layout()->nav ?></nav></div>
    </div>

    <div class="width layout_content">
<!--        --><?//= $this->BannerUnderMenu($_SERVER['REQUEST_URI']) ?>
        <?= $this->layout()->breadcrumb ?>
        <?= $this->layout()->content; ?>
    </div>

    <footer><?= $this->layout()->footer ?></footer>
</div>
<?//= IS_DEV ? '' : $this->render('counters.phtml'); ?>
</body>
</html>
