<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1'); ?>
    <? $this->headMeta()->appendName('robots', 'noindex, nofollow'); ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>
    <? $this->headLink()->prependStylesheet('/css/pages/order.css?'.ASSETS_ID); ?>

    <? $this->headScript()->prependFile('/js/vendor/jquery.light-tabs.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/cart.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/common/all.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/vendor/jquery-1.11.1.min.js', 'text/javascript'); ?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">

    <link rel="author" href="">
    <!--[if lt IE 9]><script src="/js/vendor/html5.js"></script><![endif]-->

    <?= $this->render('GoogleAnalytics.phtml'); ?>
<!--    --><?//= $this->render('PixelFB.phtml'); ?>

</head>

<body>

<div class="head">
    <div class="width">
        <div>
            <a href="/">
                <img src="//<?= APPLICATION_DOMAIN; ?>/img/logo.png?v1" alt="<?= SITE_NAME; ?>" title="<?= SITE_NAME; ?>">
                <link itemprop="url" content="<?= REQUEST_SCHEME?>://<?= APPLICATION_DOMAIN; ?>" />
            </a>
            <h1>Оформление заказа</h1>
        </div>
    </div>
</div>

<div class="width layout_content">
    <?= $this->layout()->content; ?>
</div>

<?//= $this->render('counters.phtml'); ?>

<script>
    $("#next-order-step").on('click', function () {
        $form = $("#order-step-block form");
        $form.submit();
        if ( $form.valid() ) {
            $(this).addClass('bar');
        }
    });
</script>

</body>
</html>
