<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
    <tr>
        <td colspan="10" style="text-align: right">
            <form data-target="self" method="post" class="sortForm" action="<?= $_SERVER['REQUEST_URI']; ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td class="nowrap"><?= $item->id ?></td>
            <td style="width: 300px;"><strong><?= $item->title ?></strong></td>
            <td><?= Currency::format($item->cost, 'UAH') ?></td>
            <td>
                <? if ( !empty($item->free_from_price) ) : ?>
                    бесплатно от <?= Currency::format($item->free_from_price, 'UAH') ?>
                <? endif ?>
            </td>
            <td style="white-space: nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>