<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>
<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>

<button
    data-modal-link="<?= $this->url(array(), $this->routePrefix.'add'); ?>"
    data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
    class="btn btn-success"
    ><?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?></button>

<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <th><?= $this->linkOrderHtml('id', $this->tableComment($this->modelName, 'id')); ?></th>
        <th><?= $this->linkOrderHtml('alias', $this->tableComment($this->modelName, 'alias')); ?></th>
        <th><?= $this->linkOrderHtml('title', $this->tableComment($this->modelName, 'title')); ?></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td><?= $item->id ?></td>
        <td><strong><?= $item->alias ?></strong></td>
        <td><strong><?= $item->title ?></strong></td>
        <td>
            <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
               class="btn btn-xs"
               data-toggle="tooltip confirm"
               data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
               title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>"><i class="fa fa-lg fa-trash-o"></i></a>
            <button
                data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit'); ?>"
                class="btn btn-xs"
                data-access="<?= $this->linkAccess($this->routePrefix.'edit'); ?>"
                data-toggle="tooltip"
                title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'edit')->title; ?>"><i class="fa fa-lg fa-edit"></i></button>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>