<?= '<?xml version="1.0" encoding="UTF-8"?>' ?>
<price>

<categories>
    <? foreach (Catalog::getAdjacencyListTree() as $catalog) : ?>
    <category>
        <id><?= $catalog['id']; ?></id>
        <name><?= $this->escape($catalog['title']); ?></name>
        <? if (!empty($catalog['parent_id'])) : ?><parentId><?= $catalog['parent_id']; ?></parentId><? endif; ?>
    </category>
    <? endforeach; ?>
</categories>
<products>
    <? foreach ($this->list as $product) : ?>
    <product>
        <url><?= REQUEST_SCHEME?>://<?= $_SERVER['HTTP_HOST'] . $this->url(array('code'=>$product->code), 'product') ?></url>
        <? foreach ($product->Catalogs as $catalog) : ?>
            <categoryId><?=$catalog->id?></categoryId>
        <? endforeach; ?>
        <name><?= $this->escape($product->title) ?></name>
        <code><?= $this->escape($product->code) ?></code>
        <vendor><?= $this->escape($product->ProductsBrands->title) ?></vendor>
        <priceRetail><?= $this->escape($product->getPrice('retail', 'USD')) ?></priceRetail>
        <priceUser><?= $this->escape($product->getUserPrice($this->user, 'USD')) ?></priceUser>

        <? if (!empty($product->type)) : ?><param name="Тип"><?= $this->escape($product->type); ?></param><? endif; ?>
        <? foreach ($product->getOptions() as $option) : ?>
            <param name="<?= $this->escape($option['group']); ?>"><?= $this->escape($option['title']); ?></param>
        <? endforeach; ?>

        <? if ( $product->getImage()->getImagesCount() > 0 ) : ?>
            <? foreach ($product->getImage()->getImagesList() as $img) : ?>
                <image><?= $img['original']['url'] ?></image>
            <? endforeach; ?>
        <? endif; ?>
    </product>
    <? endforeach; ?>
</products>

</price>