<? $this->headLink()->prependStylesheet('/css/pages/search.css?'.ASSETS_ID); ?>

<h1 style="margin: 10px;">Вы искали: <span style="font-size: 20px;"><?= $this->params['k'] ?></span> <span class="sup">найдено <?=$this->pagerRange->getPager()->getNumResults()?></span></h1>

<div class="product_list">
    <?= $this->render('products-items.phtml') ?>
    <div class="clfline"></div>
    <div class="pagination"><?= $this->showPager($this->pagerRange); ?></div>
</div>