<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

    <h1>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'add',
            'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
            'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
        )); ?>
        <?= Zend_Registry::get('myCurrentRoute')->title ?>
        <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
    </h1>

    <table class="table table-striped table-hover table-condensed">
        <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td class="id"><?= $item->id ?></td>
                <td><strong><?= $item->name ?></strong></td>
                <td style="white-space: nowrap">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                        'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'access',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-key"></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>

<?= $this->showPager($this->pagerRange); ?>
