<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET" action="<?= $this->url(array(), $this->routePrefix.'list'); ?>">
<thead>
    <tr>
        <td>ID</td>
        <td>Время отправления</td>
        <td>Автор</td>
        <td>Письмо</td>
    </tr>
</thead>
</form>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr>
        <td><?= $item->id ?></td>
        <td><?= $item->created_at ?></td>
        <td><?= $item->AdminUsers->name ?></td>
        <td><?= $item->message ?></td>
    </tr>
<? endforeach; ?>
</tbody>
</table>
