<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>
<style>
    [data-is_looked='0'] td {
        background: #CADCAD !important;
    }
</style>

<table class="table table-striped table-hover table-condensed">
<form method="GET" action="<?= $this->url(array(), $this->routePrefix.'list'); ?>">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td >
            <input type="text" name="email" value="<?= $this->params['email'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'email'); ?>" />
            <?= $this->linkOrderHtml('email', ''); ?>
        </td>
        <td><?= $this->linkOrderHtml('posted', $this->tableComment($this->modelName, 'posted')); ?></td>
        <td style="width:25%">
            <input type="text" name="message" value="<?= $this->params['message'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'message'); ?>" />
        </td>
        <td>
            <?= $this->formSelect(
                'status',
                $this->params['status'],
                [],
                ['' => '---- статус ----', '1' => 'просмотрен', '2' => 'не просмотрен', '3' => 'просрочен']
            ); ?>
        </td>
        <td>

            <?= $this->formSelect(
                'sent_answer',
                $this->params['sent_answer'],
                [],
                ['' => '---- Показать все ----', 'yes' => 'Показать только отвеченные', 'no' => 'Показать только неотвеченные']);
            ?>


            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
</form>
<tbody>
<? foreach ($this->list as $item) : ?>
    <?php $countAnswer = count($item->FeedbackAnswer);?>
    <tr <?= $this->itemListDataParams($item) ?> data-is_looked="<?= intval($item->is_looked); ?>">
        <td><?= $item->id ?></td>
        <td><?= $item->name ?></td>
        <td><strong><?= $item->email ?></strong></td>
        <td style="font-size: 11px; color: Gray;"><?= $this->time($item->posted); ?></td>
        <td><?= SF::getFirstSentences($item->message); ?></td>
        <td>
            <i class="fa fa-eye<?= $item->is_looked ? '' : '-slash'?>"></i>
            <? if ( $item->isOverdue() ) : ?>
                <h3 style="color: red; text-align: center;">Просрочен</h3>
            <? endif ?>
        </td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'delete',
                'routeParams' => array('id' => $item->id),
                'buttonType'  => 'a',
                'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                'buttonAttr'  => array('data-toggle'=>'confirm')
            )); ?>

            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'edit',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'send-answer',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => '<i class="fa fa-lg fa-envelope"></i>',
                'buttonAttr'  => ['style' => $countAnswer ? 'color: Green;' : 'color: Gray;'],
            )); ?>
            <?php if($countAnswer):?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'view-answers',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => '<i class="fa fa-lg fa-history"></i>',
            )); ?>
            <?php endif; ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>