$popup-menu-background: #fff;

.popup_menu {
  display: none;
  text-align: left;
  background-color: $popup-menu-background;
  border: solid 1px #ddd;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 1px 1px 5px #c4c4c4;
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1000;
  @media #{$mobile} {
    top: 30px;
  }


  &>table {
    width: 100%;
    .rubrics {
      width: 20%;
      padding-bottom: 10px;
      vertical-align: top;

      li {
        display: block;
        padding: 10px 15px;
        border-bottom: $border-dot;
        position: relative;
        font-size: 13px;

        i {
          position: absolute;
          right: 10px;
          top: 17px;
          opacity: .5;
          height: 10px;
          display: inline-block;
          vertical-align: middle;
          width: 5px;
          @include icons-sprite('arrow-right');
        }
        &.active {
          background: #eee;
          i {
            display: none;
          }
        }
      }
    }

    .sub_rubrics {
      width: 80%;
      background: #eee;
      padding: 10px;
      @media #{$mobile} {
        vertical-align: top;
      }

      .sub_rubric_list {
        @include clearfix;
        float: left;
        width: 100%;
        display: none;
        @media #{$mobile} {
          float: none;
        }

        .sub_rubric_item {
          float: left;
          width: 100 / 4 * 1%;
          min-height: 150px;
          position: relative;
          margin-bottom: 40px;
          @media #{$mobile} {
            float: none;
            width: 100%;
            min-height: auto;
            margin-bottom: 10px;
          }

          .image {
            margin: 20px auto;
            @media #{$mobile} {
              display: none;
            }
          }

          .wrapper {
            position: absolute;
            overflow: hidden;
            height: 150px;
            min-width: 80%;
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
            @media #{$mobile} {
              height: auto;
              padding: 0;
              position: initial;
            }

            &:hover {
              z-index: 2;
              height: auto;
              width: auto;
              max-width: none;
              box-shadow: $wrapper-shadow;
              border-radius: 2px;
              background: #fff;

              .opacity,
              a:before {
                display: none;
              }

            }

            .container {
              margin: 10px;
              @media #{$mobile} {
                margin: 0;
              }
            }

            .title a {
              text-align: center;
              display: inline-block;
              margin-bottom: 5px;
              color: #444;
              font-size: 14px;
              width: 100%;
              @include font-alt(ml, bold);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              @media #{$mobile} {
                font-size: 12px;
              }
            }

            ul>li {
              padding-left: 20px;
              line-height: 18px;
              white-space: nowrap;
              i {
                display: inline-block;
                vertical-align: middle;
                width: 3px;
                height: 6px;
                @include icons-sprite('arrow-right2');
                opacity: .5;
                margin-right: 5px;
              }

              a {
                position: relative;
                text-decoration: none;
                color: #666;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                font-size: 0.9em;
                &:before{
                  content:"";
                  display:block;
                  position:absolute;
                  height: 100%; width: 40px;
                  bottom: 0; right: 0;
                  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #eee 75%);
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .opacity {
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 1;
              height: 20px;
              width: 100%;
              background-image:linear-gradient(to bottom, rgba(238, 238, 238, 0), #eee 75%);
            }


          }
        }
      }
    }
  }
}