<? $this->headLink()->prependStylesheet('/css/new-products.css?'.ASSETS_ID); ?>
<? $this->layout()->breadcrumb = $this->Breadcrumb('Новинки') ?>

<div class="catalog-title">
    <h1><?= $this->escape('Новинки'); ?></h1>
</div>

<?= $this->render('products-items.phtml') ?>

<div class="pagination">
    <?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName(), false, false)); ?>
</div>
