<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'routeParams' => array('id_group' => $this->params['id_group']),
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'queryParams' => array('redirect'=>'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>


<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
<tr>
    <td>ID</td>
    <td>Название</td>
    <td>Связанные баннеры</td>
    <td>Связанные акции</td>
    <td colspan="7" style="text-align: right;">
        <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
            <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
        </form>
    </td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td style="width: 300px;"><?= $item->title; ?></td>
            <td>
                <?php if($item->RelatedBanners): ?>
                <ul class="list-unstyled">
                <?php foreach ($item->RelatedBanners as $banner){ ?>
                    <li><?=$banner->title?></li>
                <?php } ?>
                </ul>
                <?php endif; ?>
            </td>
            <td>
                <?php if($item->Promotions): ?>
                    <ul class="list-unstyled">
                        <?php foreach ($item->Promotions as $promotion){ ?>
                            <li><?=$promotion->title?></li>
                        <?php } ?>
                    </ul>
                <?php endif; ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                    'buttonAttr'  => array('data-target' => 'self', 'data-toggle' => 'confirm'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>