<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="GET" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self">
<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
    </thead>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $item->id ?></td>
                <td><?= $item->title ?></td>

                <td>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                        'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>