<h1>Группа: <?= $this->Group->title; ?></h1>
<table class="table table-striped table-hover table-sorted">
<thead>
    <tr>
        <td style="text-align: right" colspan="10">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->Group->Series as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="width: 300px;"><?= $item->title ?></td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
