
<table style="margin: 10px; max-width: 100%;" class="table table-striped table-hover table-condensed">
    <tbody>
    <? foreach ($this->list as $item) : ?>
        <tr>
            <td><?= $item->remoteIp ?></td>
            <td><?= $item->host ?></td>
            <td><?= date('H:i:s', $item->stamp) ?></td>
            <td><?= $item->requestMethod ?></td>
            <td><?= $item->URL ?></td>
            <td><?= $item->status ?></td>
            <td><?= $item->responseBytes ?></td>
            <td><?= $item->referer ?></td>
            <td><?= $item->agent ?></td>
            <td><?= $item->requestTime ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>
