<?
function getIm($url)
{
    $options  = array(
        'http' => array(
            'user_agent' => 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10; rv:33.0) Gecko/20100101 Firefox/33.0',
            'header'     => 'Accept-Encoding: gzip\r\n'
        )
    );
    $res = file_get_contents($url, false, stream_context_create($options));

    $res = base64_encode($res);
    $res = "data:".SF::parse_http_response_header($http_response_header)[0]['fields']['CONTENT-TYPE'].";base64,".$res;

    return $res;
}
?>
<style>
    .imgitem {
        float: left;
        margin: 2px;
        position: relative;
    }
    .imgitem img {
        
        max-width: 200px;
        max-height: 200px;
        min-width: 30px;
        margin-bottom: 20px;
    }

    .imgitem input {
        float: right;
        position: relative;
        top: 5px;
        right: 20px;
        background-color: #666;
    }

    .imgitem .info {
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
    }
    .imgitem  .host {
        color: #0000cc;
        text-align: center;
        font-size: 11px;
    }
</style>

<script>
    $(".imgitem input").on('change', function () {
        if ( !$(this).is(':checked') ) {
            $(this).parent().find('img').addClass('gray')
        } else {
            $(this).parent().find('img').removeClass('gray')
        }
    })
    $(".imgitem img").on('load', function () {
        $("<div class=info />")
            .text(this.naturalHeight+ 'x' + this.naturalWidth)
            .appendTo($(this).parent())
        $(this).parent().find('label').width(this.width).height(this.height)
    });

    $("#links_form").on('submit', function () {
        $('#links_form button').html('<i class="fa fa-refresh fa-spin"></i>');
    });

</script>

<form method="POST" action="<?= $_SERVER['REQUEST_URI']; ?>" style="max-width: 1500px;" id="links_form">
<button class="btn btn-success">Загрузить</button>

<? if ( $this->Product->getImage()->getImagesCount() ) : ?>
<div>
    <h1 style="border-bottom: solid 3px Green; ">Оставить</h1>
    <? foreach ($this->Product->getImage()->getImagesList() as $key => $item) :?>
        <div class="imgitem">
            <input type="hidden" name="delete[<?= $key; ?>]">
            <label>
                <img src="<?= $item['original']['url']; ?>?<?= rand(); ?>">
                <input type="checkbox" name="self[<?= $key; ?>]" checked="checked">
            </label>
        </div>
    <? endforeach; ?>
</div>
<? endif; ?>



<div style="clear: both;">
    <h1 style="border-bottom: solid 3px Green; ">Добавить</h1>
    <? foreach ($this->list as $i=>$img) : ?>
        <div class="imgitem">
            <label>
                <div class="host"><?= parse_url($img, PHP_URL_HOST); ?></div>
                <img src="<?= getIm($img); ?>" title="<?= $img; ?>">
                <input type="checkbox" name="images[<?= $img; ?>]" checked="checked">
            </label>
        </div>
    <? endforeach; ?>
</div>
</form>
