<script>
    $("#mw-close").replaceWith(function () {
        return $("<a />", {href:location.href,class:'mw-close'}).append($(this).contents());
    });
</script>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <a target="_blank" class="btn btn-xs fa fa-lg fa-external-link" href="<?= Zend_Registry::getInstance()->config->url->domain; ?>product/<?= $item->alias; ?>/"></a>
    <a target="_blank" class="btn btn-xs fa fa-lg fa-google" href="https://www.google.com.ua/search?q=<?= urlencode($this->Product->title); ?>"></a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:citrus.ua <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">Citrus</a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:rozetka.com.ua <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">rozetka</a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:hotline.ua <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">g+h</a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:amazon.com <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">g+am</a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:ek.ua <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">g+ek</a>
    <a target="_blank" class="btn btn-xs fa fa-lg" href="https://www.google.com.ua/search?q=site:fotos.ua <?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>">g+f</a>
    <a target="_blank" class="btn btn-xs fa fa-lg hotline" href="http://hotline.ua/sr/?q=<?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>"></a>
    <a target="_blank" class="btn btn-xs fa fa-lg fotos" href="http://fotos.ua/search/?qr=<?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>"></a>
    <a target="_blank" class="btn btn-xs fa fa-lg yandex" href="http://market.yandex.ua/search.xml?text=<?= urlencode(iconv('UTF-8', 'windows-1251', $this->Product->title)); ?>"></a>
</h1>

<div style="text-align: center;">
    <h2><?= $this->Product->title; ?></h2>
    <?= $this->Product->getFormatedPrice('retail', 'UAH'); ?> / <?= $this->Product->getFormatedPrice('retail', 'USD'); ?>
</div>



<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <th>Ссылка</th>
        <th>Время обновления цен</th>
        <th>Интервал обновления</th>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'add',
                'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
                'routeParams' => array('id_product' => $this->params['id_product']),
                'buttonText'  => '<i class="fa fa-plus"></i>',
            )); ?>
            <? if ( $this->Product->ProductsLinks->count() ) : ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'images',
                    'routeParams' => array('id_product' => $this->params['id_product']),
                    'buttonText'  => '<i class="fa fa-lg fa-image""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'prices-online',
                    'routeParams' => array('id_product' => $this->params['id_product']),
                    'buttonText'  => '<i class="fa fa-lg fa-usd""></i>',
                )); ?>
            <? endif ?>
            <button
                data-edit-attr-url="<?= $this->url(array('id' => $this->Product->id), 'products-product-edit-attr'); ?>"
                name="is_link_checked"
                value="<?= $this->Product->is_link_checked; ?>"
                class="btn btn-xs"
                data-toggle="tooltip"
                title="Проверенный товар"
                data-access="<?= $this->linkAccess('products-product-edit-attr'); ?>">
                <i class="fa fa-lg"></i>
            </button>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td class="nowrap">
                <? if ( $item->is_inexact ) : ?>
                    <a data-toggle="tooltip" title="<?= $this->tableComment($this->modelName, 'is_inexact'); ?>" style="text-decoration: line-through;" href="<?= $item->url ?>" target="_blank"><?= $item->url ?></a>
                <? else: ?>
                    <a href="<?= $item->url ?>" target="_blank"><?= parse_url($item->url, PHP_URL_HOST) ?></a>
                <? endif ?>
            </td>
            <td class="nowrap"><?= $this->time($item->prices_updated_at); ?></td>
            <td class="nowrap">
                <? if ( !empty($item->interval_update_price) ) : ?>
                    <?= ProductsLinks::$INTERVAL_UPDATE_PRICE_LIST[$item->interval_update_price]; ?>
                <? else : ?>
                    цена не обновляется
                <? endif ?>
            </td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id, 'id_product' => $this->params['id_product']),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id, 'id_product' => $this->params['id_product']),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>