<style>
    .is_we td {background: #00a7e1 !important;}
</style>
<h1>
    <?= $this->Product->title; ?>
    <sup>(<?= count($this->list); ?>)</sup>
</h1>
<table class="table table-striped table-hover table-condensed" style="min-width: 500px;">
    <thead>
    <tr>
        <th>Сайт</th>
        <th>Время</th>
        <th>Магазин</th>
        <th>Название товара</th>
        <th>USD</th>
        <th>UAH</th>
    </tr>
    </thead>
    <tbody>
    <?
    $this->Product->LinksPrices->loadRelated('Link');
    foreach ($this->Product->LinksPrices as $Price) : ?>
        <tr class="<?= $Price->is_we ? 'is_we' : ''; ?>">
            <td><strong><?= $Price->Link->getHost(); ?></strong></td>
            <td style="font-size: 11px; color: GrayText;"><?= $this->time($Price->Link->prices_updated_at); ?></td>
            <td class="nowrap"><?= $Price->company_name ?></td>
            <td style="width: 500px; overflow: hidden; white-space: nowrap;"><?= $Price->product_name; ?></td>
            <td class="nowrap">
                <span><?= Currency::format($Price->price_usd, 'USD') ?></span>
            </td>
            <td class="nowrap"><?= Currency::format($Price->price_uah, 'UAH') ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>