<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'routeParams' => array('id_catalog' => $this->params['id_catalog']),
        'queryParams' => array('redirect' => 'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-sorted">
<thead>
    <tr>
        <td><strong><?= $this->Catalog->title; ?></strong></td>
        <td style="text-align: right">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="width: 300px;"><?= $item->title ?></td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'catalog-filter-value-list',
                    'routeParams' => array('id_group' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-list-alt""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>