<?= $this->doctype('XHTML1_TRANSITIONAL'); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
        <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>

        <? $this->headLink()->prependStylesheet('/css/auth.css'); ?>
        <? $this->headLink()->prependStylesheet('/css/reset.css'); ?>

        <?= $this->headTitle(); ?>
        <?= $this->headMeta(); ?>
        <?= $this->headLink(); ?>
        <?= $this->headScript(); ?>
    </head>
    <body>

        <div class="container">
            <form method="post" action="">
                <div class="errors">
                    <? if ($this->form->isErrors()): ?>
                        <ul>
                            <? foreach ($this->form->getErrorMessages() as $error): ?>
                                <li><?= $error; ?></li>
                            <? endforeach; ?>
                        </ul>
                    <? endif; ?>
                </div>
                <table summary="">
                    <tr>
                        <th><label for="login"><?= $this->translate('Логин'); ?>:</label></th>
                        <td><?= $this->form->getElement('login'); ?></td>
                    </tr>
                    <tr>
                        <th><label for="password"><?= $this->translate('Пароль'); ?>:</label></th>
                        <td><?= $this->form->getElement('password'); ?></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td><?= $this->form->getElement('remember'); ?>
                            <label for="remember"><?= $this->translate('Запомнить'); ?></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="go"><input type="submit" value="Войти" /></td>
                    </tr>
                </table>
            </form>
        </div>


    </body>
</html>
