<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'routeParams' => array('id_catalog' => $this->Catalog->id),
        'queryParams' => array('redirect' => 'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <strong><?= $this->Catalog->title ?></strong> - параметры серии
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-sorted">
<thead>
    <tr>
        <th style="text-align: right" colspan="10">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </th>
    </tr>
</thead>
<tbody>
    <?  /** @var $item SeriesOptions */?>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="width: 200px;"><?= $item->ProductsOption->title ?></td>
            <td style="width: 200px;"><?= $item->getDisplayTypeString() ?></td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>