<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="title" value="<?= $_GET['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td>
            <input type="text" name="code" value="<?= $_GET['code'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'code'); ?>" />
            <?= $this->linkOrderHtml('code', ''); ?>
        </td>
        <td>Интервал</td>
        <td>Отправлен в</td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
</thead>
</form>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $item->title ?></td>
                <td><?= $item->code ?></td>
                <td>
                    <? if ( !empty($item->exec_interval) ) : ?>
                        <?= LogReportTasks::$EXEC_INTERVAL[$item->exec_interval]; ?>
                    <? else : ?>
                        не обрабатывается
                    <? endif ?>
                </td>
                <td><?= $this->time($item->executed_at) ?></td>
                <td class="nowrap">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                        'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>

</table>

<?= $this->showPager($this->pagerRange); ?>