<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 1020px; }
    #sortable li { margin: 1px; float: left; cursor: move; width: 202px; height: 202px; text-align: center; border: solid 1px #000000; position: relative; }
    #sortable li img { max-width: 200px; max-height: 200px; }
    #sortable li .btn {position: absolute; top: 0; right: 0; display: none; font-size: 18px; color: Red;}
    #form-save-images button {display: none;}
    #form-save-images ul .info {
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        background: #ffffff;
        color: Green;
        padding: 5px;
    }
    #form-save-images ul .info.errorSize {
        color: red;
    }
</style>
<script>
    $(function() {
        $( "#sortable" ).sortable({
            update: function(event, ui) {
                $("#form-save-images button").show()
            }
        });
        $( "#sortable" ).disableSelection();
    });

    $( document ).on('mouseover', '#sortable li', function () {
        $(this).find(".btn").show()
    });
    $( document ).on('mouseout', '#sortable li', function () {
        $(this).find(".btn").hide()
    });
    $( document ).on('click', '#sortable li .btn', function () {
        $(this).parent().remove();
        $("#form-save-images button").show()
    });

    $("#form-save-images ul img").on('load', function () {
        $("<div class=info />")
            .text(this.naturalHeight+ 'x' + this.naturalWidth)
            .appendTo($(this).parent())

        if ( Math.max(this.naturalHeight, this.naturalWidth) < 300 ) {
            $(this).parent().find('.info').addClass('errorSize')
        }
        $(this).parent().find('label').width(this.width).height(this.height)
    });

    $("#form-save-images").on('submit', function () {
        $('#form-save-images button').html('<i class="fa fa-refresh fa-spin"></i>');
    });

</script>
<h1>
    <?= $this->ModalLinkBotton([
        'routeName'   => $this->routePrefix.'image',
        'routeParams' => ['action'=> 'add'],
        'buttonAttr'  => ['class' => 'btn btn-xs btn-success', 'id'=>'add-image'],
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    ]); ?>
    <? if ($this->Product->VendorsProducts->count()) : ?>
        <?= $this->ModalLinkBotton([
            'routeName'   => $this->routePrefix.'image',
            'routeParams' => ['action'=> 'add'],
            'buttonAttr'  => ['class' => 'btn btn-xs btn-success'],
            'queryParams' => ['from' => 'vendor'],
            'buttonText'  => '<i class="fa fa-lg fa-sitemap"></i>',
        ]); ?>
    <? endif; ?>
    Рисунки <sup><?= $this->Images->getImagesCount(); ?></sup>
</h1>

<form method="POST" action="<?= $_SERVER['REQUEST_URI']; ?>" id="form-save-images" data-target="self">
<button class="btn btn-success">Сохранить</button>
<? if ( $this->Images->getImagesCount() ) : ?>
    <ul id="sortable">
    <? foreach ($this->Images->getImagesList() as $key => $item) :?>
        <li data-id="<?= $key; ?>">
            <img src="<?= $item['original']['url']; ?>?<?= rand(); ?>" />
            <div class="btn btn-xs"><i class="fa fa-times"></i></div>
            <input type="hidden" name="images[]" value="<?= $key; ?>" />
        </li>
    <? endforeach; ?>
    </ul>
<? endif ?>
</form>