<? $this->headTitle($this->translate('Доступ запрещён'), 'SET'); ?>

<style type="text/css">
    .access_denied h1 {font-size: 25px; margin: auto;}
</style>

<div class="access_denied">
    <h1><?= $this->translate('Доступ запрещён.'); ?></h1>

</div>