<?= $this->doctype('XHTML1_TRANSITIONAL'); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
        <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>

        <? $this->headLink()->prependStylesheet('/css/global.css'); ?>
        <? $this->headLink()->prependStylesheet('/css/reset.css'); ?>

        <?= $this->headTitle($this->translate('Ошибка 404: Страница не найдена'), 'SET'); ?>
        <?= $this->headMeta(); ?>
        <?= $this->headLink(); ?>
        <?= $this->headScript(); ?>
    </head>
    <body>
        <style type="text/css">
            .page_not_found {margin: 100px auto; width: 550px;}
            .page_not_found h1 {font-size: 1.2em;}
            .page_not_found p {font-size: 1em;}
        </style>

        <div class="page_not_found">
            <h1><?= $this->translate('Ошибка 404: Страница не найдена'); ?></h1>

            <p>Возможно, неправильно набран адрес или такой страницы никогда не было на <a href="<?= $this->url(array(), 'main', true); ?>"><?= Zend_Registry::getInstance()->config->url->domain; ?></a>.
                Существует вероятность, что такая страница была, но по этому адресу ее больше нет.</p>

        </div>

    </body>
</html>

