@import "../variables";

footer {
  margin: 20px 0 0;
  background: $primary-color;
  min-width: $page-min-width - 20px;
  position: relative;
  color: #ffffff;

  @media #{$tablet} {
    min-width: 768px;
  }
  @media #{$mobile} {
    min-width: 320px;
  }

  .width {
    padding: 20px 20px 0 20px;
    @media #{$tablet} {
      padding: 20px 0;
    }
  }

  .copyright {
    padding: 20px 5px;
    text-align: center;
  }

  ul.footer_blocks {
    @include reset-list();
    >li {
      width: 19%;
      margin-left: 1%;
      float: left;
      &:first-child {
        margin-left: 0;
      }
      @media #{$tablet} {
        width: 18%;
        margin-left: 0;
      }
      @media #{$mobile} {
        width: 300px;
        margin: 0 0 25px;
        float: none;
      }

      .title {
        @include font-alt(l, bold);
        color: $secondary-color;
      }

      .descr {
        font-size: 11px;
        margin: 10px 0;

        ul {
          @include reset-list();
          @include font-alt(ml);
          >li {
            margin: 5px 0;
            span {
              font-size: 80%;
              color: $secondary-color;
            }
            a {
              color: #FFF;
              text-decoration: none;
            }
          }
        }

        ul.social {
          @include reset-list();
          display: inline-block;
          li {
            line-height: 25px;
            display: inline-block;
            a {
              margin: 0 10px 0 0;
              display: inline-block;
              vertical-align: middle;
              color: #999;
              text-decoration: none;
              &:hover {
                color: #444;
              }
            }
          }
        }
      }
    }

    &.seo_block {
      >li {
        width: 33%;
        margin-left: 0;
        float: left;
        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }

  .footer_title {
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
}