body {
  @include font();
  margin: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAERCAIAAAA11lrxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEpJREFUeNrMxUESgCAIAED//1sQUFAYb92lrA47WwCgnICIv1BrfR0RfYKZjxOR66zWWlrvPU1VbzOzbWOMLXPOFHffEhFPWAIMAN9NFF9dZCnqAAAAAElFTkSuQmCC')
              repeat-x 10px 0 #fff;
  color: #444;
}

.overlay-menu {
  content: ' ';
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: black;
  z-index: 9;
}

body.wait:after {
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: url('/img/progress.gif') center center no-repeat #FFFFFF;
  opacity: 0.7;
  z-index: 1000000;
}

.layout_content {
  @include clearfix;
}

.width {
  margin: 0 auto;
  max-width: $page-max-width;
  min-width: $page-min-width;

  @media #{$tablet} {
    max-width: 768px;
    min-width: 768px;
    box-sizing: border-box;
  }

  @media #{$mobile} {
    max-width: 320px;
    min-width: 320px;
    box-sizing: border-box;
  }
}

.width_content {
  margin: 0 auto;
  max-width: 900px;
}

.tradein_container {
  @media #{$tablet} {
    width: 760px!important;
  }
  @media #{$mobile} {
    width: 320px!important;
  }
  form {
    table.group {
      td {
        @media #{$mobile} {
          display: block;
        }
      }
    }
    .element-row {
      @media #{$mobile} {
        width: 100% !important;
        height: auto !important;
      }
      .element-title {
        @media #{$mobile} {
          float: none!important;
        }
        label {
          @media #{$mobile} {
            float: none!important;
            white-space: initial!important;
          }
        }
      }
      select {
        @media #{$mobile} {
          width: 100%!important;
        }
      }
    }
  }
}

form#Form_Order_Contacts {
  @media #{$tablet} {
    width: 690px!important;
  }
  @media #{$mobile} {
    width: 300px!important;
  }
  input {
    @media #{$tablet} {
      width: 200px!important;
    }
    @media #{$mobile} {
      width: 200px!important;
    }
  }
  .element-description {
    @media #{$mobile} {
      display: none!important;
    }
  }
}
form#Form_Order_Delivery {
  .city-presets {
    @media #{$mobile} {
      padding: 0;
    }
  }
  #element-delivery {
    @media #{$mobile} {
      width: 100%;
      margin: 10px auto;
    }
  }
}
#Form_Order_Payment {
  #element-payment {
    @media #{$mobile} {
      width: 100%!important;
      margin: 10px auto!important;
    }
  }
}
#ymaps-map-id_1337246158103195124899 {
  @media #{$mobile} {
    display: none;
  }
  &+div {
    @media #{$mobile} {
      display: none;
    }
  }
}
#delivery-table {
  td {
    @media #{$mobile} {
      font-size: 10px!important;
      padding: 5px 0!important;
    }
  }
}

#form_Liqpay {
  @media #{$mobile} {
    width: 320px!important;
  }
}
form#registration {
  @media #{$mobile} {
    width: 240px!important;
  }
}
form#login {
  @media #{$mobile} {
    width: 240px!important;
  }
}
form#recovery-password {
  @media #{$mobile} {
    width: 240px!important;
  }
}
form#Feedback {
  @media #{$mobile} {
    width: 240px!important;
  }
}
form#ProductAddComment {
  @media #{$mobile} {
    width: 240px!important;
  }
  .element-row label {
    @media #{$mobile} {
      float: none;
    }
  }
  .element-description {
    @media #{$mobile} {
      display: block;
      white-space: pre-wrap;
    }
  }
}
form#ProductAddQuestion {
  @media #{$mobile} {
    width: 240px!important;
  }
  .element-description {
    @media #{$mobile} {
      display: block;
      white-space: pre-wrap;
    }
  }
}