.head {
  @import "header/cart";
  width: 100%;
  min-width: $page-min-width + 20px;

  @media #{$tablet} {
    min-width: 768px;
  }

  @media #{$mobile} {
    min-width: 320px;
    height: auto;
  }

  .head_toolbar {

    background: #EEE;
    @include font(s);
    @include box-shadow(1px, 1px, 1px, #a6a6a6);

    .top-menu-mob-btn {
      display: none;
      @media #{$mobile} {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        padding: 0px;
      }
      img {
        width: 25px;
        margin: 5px;
      }
    }

    .wrapper {
      @include clearfix;
      ul {

        @include reset-list(true);

        &.l {
          float: left;
          @media #{$mobile} {
            float: none;
            margin: 0 auto;
            text-align: center;
            display: none;
          }
        }
        &.r {
          float: right;
          @media #{$mobile} {
            float: none;
            margin: 0 auto;
            text-align: center;
            display: none;
          }
        }
        li {
          display: inline-block;
          @media #{$mobile} {
            display: block;
          }
        }
        a {
          text-decoration: none;
          color: #444;
          padding: 0 15px;
          vertical-align: middle;
          display: inline-block;
          line-height: 30px;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .head_info {
    position: relative;
    @media #{$mobile} {
      height: auto;
      margin: 10px 0;
    }

    .header_notice_text {
      position: absolute;
      top: -20px;
      color: white;
      padding: 2px 20px;
      background-color: #ff8000;
      @include box-shadow(1px, 1px, 1px, #a6a6a6);
      @include border-bottom-radius(2px);
    }

    .phones {
      position: absolute;
      left: 70px;
      top: 30px;
      text-align: center;

      @media #{$tablet} {
        left: 25px;
        top: -2px;
      }

      @media #{$mobile} {
        position: initial;
        left: 0;
        top: 0;
      }

      .number {
        @include font-alt(ml, bold);
        font-size: 1.1em;
        margin: 10px 0 5px 0;
        display: block;
        color: #444;
        text-decoration: none;
        @media #{$mobile} {
          display: inline-block;
          margin: 5px 0 2px;
        }
      }
      time {
        @include font-alt(s);
        display: block;
        color: #999999;
        line-height: 1.1em;
        @media #{$mobile} {
          display: inline-block;
        }
      }
    }


  }
}



.autocomplete_header {
  @include border-bottom-radius(2px 2px 0 0);
  a {
    display: block;
    text-decoration: none;
    color: #2A4192;
    @include font-alt(m);
  }
  img {
    height: 20px;
    float: right;
  }
  .price {
    float: right;
    display: inline-block;
    margin: 0 10px;
    color: #000000 !important;
    @include font-alt(m, bold);
  }
}