@import "../variables";

nav {
  position: relative;
  z-index: 10;
  background: $primary-color;
  padding: 20px 0;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$mobile} {
      flex-direction: column;
      align-items: normal;
    }

    &>.logo-container {
      box-sizing: border-box;
      padding: 0 50px 0 0;
    }

    &>.phone-container {
      @import "header/cart";
      ul {
            list-style: none;
            line-height: 170%;
            color: white;
        }
      }

    &>.cart-container {
      margin-left: auto;
    }

    .menu-toggle-button {
      display: inline-block;
      border-radius: 2px;
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      padding: 10px;
      color: #222;
      cursor: pointer;

      .line-wrapper {
        display: flex;
      }

      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 14px;
      line-height: 20px;

      .title {
        display: inline-block;
        padding-left: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        @include transition(color .3s);
      }

      .line-container {
        width: 20px;
        height: 20px;
        padding: 4px 0;
        @include box-sizing(border-box);

        .line {
          position: relative;
          display: block;
          width: 18px;
          height: 2px;
          margin: 0 1px;
          background-color: #000;

          @include transition-duration(.3s);

          &:not(:first-child) {
            margin-top: 3px;
          }
        }
      }

      &.active .line {
        &:first-child {
          @include transform(translateY(5px) translateZ(0) rotate(45deg));
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          @include transform(translateY(-5px) translateZ(0) rotate(-45deg));
        }
      }
    }

    &>.menu-container {
      position: absolute;
      z-index: 98;
      display: none;
      background: #FFF;

      top: 180px;
      left: 0;
      width: 100%;

      .menu-wrapper {
        position: relative;
        background: #FFF;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        height: 600px;
        overflow: hidden;

        @media #{$mobile} {
          height: auto;
          overflow: auto;
        }
      }

      .menu-tree {
        padding: 2px 0;
        width: 300px;
        color: $primary-color;

        li {
          list-style: none;
        }

        .dropdown-menu {
          padding: 0;
          vertical-align: top;

          .dropdown-menu-item {
            > a {
              display: block;
              margin: 3px;
              padding: 4px 2px;
              position: relative;
              text-decoration: none;
              @include border-radius(3px);

              .title {
                @include font-alt(ml);
                line-height: 90%;
                text-decoration: none;
                color: #444;
              }
            }

            .menu-content {
              display: none;
              left: 300px;
              top: 0;
              padding: 10px;
              position: absolute;
              flex-flow:column wrap;
              max-height:500px;

              @include font-alt(ml);

              @media #{$mobile} {
                position: static;
              }

              > div {
                width: 250px;
                margin: 0 5px;

                @media #{$mobile} {
                  float: none;
                }

                h4 {
                  color: #3b6d9a;
                  margin: 10px 0;
                  line-height: 98%;
                  @include font-alt(l);
                }

                a {
                  color: #444;
                  font-size: 14px;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }

                > ul {
                  padding: 0;
                }
              }
            }

            &.active {
             > a {
                @include background-image(linear-gradient(to left, transparent, $secondary-color));
              }

              .menu-content {
                display:flex;
              }
            }
          }
        }
      }
    }

    &>.search-container {
      flex: 1 2 auto;
      padding: 0 0 0 10px;

      @media #{$mobile} {
        padding: 10px 0 0 0;
      }

      .search-form {
        position: relative;
        height: 40px;

        form {
          input {
            position: absolute;
            background: #ffffff;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 0 55px 0 10px;
            border: solid 2px $secondary-color;
            @include border-radius(3px);

            &:focus {
              padding-left: 40px;
              outline: none;
              &+i {
                display: block;
                position: absolute;
                left: 15px;
                top: 12px;
                opacity: 0.5;
                @include icons-sprite('search', true);
              }
            }
          }

          button {
            position: absolute;
            right: 0;
            box-sizing: border-box;
            height: 40px;
            width: 100px;
            background: #FAA619;
            border: 0;
            color: black;
            @media #{$mobile} {
              display: none;
            }
          }
        }
      }
    }
  }
}