<ul>
    <? foreach($this->leftBar as $item) : ?>
        <li class="<?= $item['controller']; ?> <?= $item['selected'] ? 'selected' : ''; ?>">
            <? if ( !$item['selected'] ) : ?>
                <a href="<?= $this->url(['controller' => $item['controller']], 'user'); ?>"><?= $item['title']; ?></a>
            <? else : ?>
                <strong><?= $item['title']; ?></strong>
            <? endif ?>
        </li>
    <? endforeach; ?>
</ul>
