<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'routeParams' => array('id_value' => $this->params['id_value'], 'id_option' => $this->params['id_option']),
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'queryParams' => array('redirect'=>'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <strong><?= $this->Value->CatalogFilterGroup->title; ?> - <?= $this->Value->title; ?></strong>
</h1>

<? if ( $this->list->count() ) : ?>
<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
    <tr>
        <td>Условие</td>
        <td>Опции</td>
        <td style="text-align: right">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><strong><?= $item->ProductsOption->title ?></strong></td>
            <td><strong><?= $item->condition ?></strong></td>
            <td><?= $item->param; ?></td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'queryParams' => array('redirect'=>'here'),
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>
<? endif ?>