<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<table class="table table-striped table-hover table-condensed">
    <form method="GET" action="<?= $_SERVER['REQUEST_URI']; ?>">
        <thead>
        <tr>
            <td>
                <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            </td>
            <td>
                <input type="text" name="user_name" value="<?= $this->params['user_name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'user_name'); ?>" />
            </td>
            <td>
                <input type="text" name="product_type" value="<?= $this->params['product_type'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'product_type'); ?>" />
                <input type="text" name="product_brand" value="<?= $this->params['product_brand'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'product_brand'); ?>" />
                <input type="text" name="product_model" value="<?= $this->params['product_model'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'product_model'); ?>" />
            </td>
            <td><input type="text" name="admin_comment" value="<?= $this->params['admin_comment'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'admin_comment'); ?>" /></td>
            <td><?= $this->formSelect('status', $this->params['status'], null, [''=>'---']+Tradein::$STATUS_LIST);?></td>
            <td>
                <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
                <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
            </td>
        </tr>
        </thead>
    </form>
    <tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td style="font-size: 11px;">
                <div><?= $item->user_name ?></div>
                <div><?= $item->user_email ?></div>
                <div><?= $item->user_phone ?></div>
            </td>
            <td style="font-size: 11px;">
                <div><?= $this->tableComment($this->modelName, 'product_type'); ?>: <strong><?= $item->product_type ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_brand'); ?>: <strong><?= $item->product_brand ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_model'); ?>: <strong><?= $item->product_model ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_can_enable'); ?>: <strong><?= $item->product_can_enable ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_working_state'); ?>: <strong><?= $item->product_working_state ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_buttons_available'); ?>: <strong><?= $item->product_buttons_available ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_has_body_damage'); ?>: <strong><?= $item->product_has_body_damage ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'product_has_screen_damage'); ?>: <strong><?= $item->product_has_screen_damage ?></strong></div>
                <div><?= $this->tableComment($this->modelName, 'want_buy'); ?>: <strong><?= $item->want_buy ?></strong></div>
            </td>
            <td><?= $item->admin_comment ?></td>
            <td><?= Tradein::$STATUS_LIST[$item->status] ?></td>
            <td><?= $this->time($item->posted_at) ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>