.cart {
  @import "cart/items";
  background-color: $secondary-color;
  border-radius: 2px;
  box-sizing: border-box;

  @include font-alt();
  @include box-shadow(1px, 1px, 1px);
  height: 65px;
  position: relative;
  width: 225px;

  @media #{$tablet} {
    margin-top: 0px;
    margin-right: 20px;
  }
  @media #{$mobile} {
    position: initial;
    width: 300px;
    margin: 10px auto;
    float: none;
  }

  .icon {
    border-right: 1px solid #e0e0e0;
    float: left;
    height: 61px;
    margin: 2px 10px 2px 0;
    position: relative;
    width: 78px;
    z-index: 1;

    span.cnt {
      background: none repeat scroll 0 0 #FE2200;
      border-radius: 20px;
      color: #fff;
      display: none;
      font-size: 12px;
      line-height: 16px;
      padding: 1px 6px;
      position: absolute;
      right: 12px;
      top: 11px;
      z-index: 2;
    }

    &.full {
      cursor: pointer;
      span.cnt {
        display: block;
      }
    }

    i {
      @include icons-sprite(cart, true);

      @include opacity(0.9);
      left: 34px;
      margin: -20px 0 0 -20px;
      position: absolute;
      top: 25px;
      z-index: 1;

    }
  }
}

.cart .block_title {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 1px;
  overflow: hidden;
  padding: 3px 0 0;
}
.cart .block_title a {
  color: #000;
  text-decoration: none;
}
.cart .block_title a:hover {
  text-decoration: underline;
}

.cart .subtitle {
  color: $primary-color;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
}