<? $this->headLink()->prependStylesheet('/css/daterangepicker.css'); ?>
<? $this->headScript()->prependFile('/js/daterangepicker.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>


<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td></td>
        <td>
            <input type="text" name="code" value="<?= $_GET['code'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'code'); ?>" />
            <?= $this->linkOrderHtml('code', ''); ?>
        </td>
        <td><?= $this->formText('created_at-range', $this->params['created_at-range'], ['placeholder' => 'создан']); ?><?= $this->linkOrderHtml('created_at', ''); ?></td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
</thead>
</form>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $this->array2String($item->jdata) ?></td>
                <td><?= $item->code ?></td>
                <td><?= $this->time($item->created_at) ?></td>
            </tr>
        <? endforeach; ?>
    </tbody>

</table>

<?= $this->showPager($this->pagerRange); ?>




<script>

var createdrange = $("#created_at-range").val()

$("#created_at-range").daterangepicker({
    "autoApply": false,
    "ranges": {
        "Сегодня": [
            moment().format('YYYY-MM-DD'),
            moment().format('YYYY-MM-DD')
        ],
        "Вчера": [
            moment().subtract(1, 'days').format('YYYY-MM-DD'),
            moment().subtract(1, 'days').format('YYYY-MM-DD')
        ],
        "Последние 7 дней": [
            moment().subtract(7, 'days').format('YYYY-MM-DD'),
            moment().format('YYYY-MM-DD')
        ],
        "Последние 30 дней": [
            moment().subtract(30, 'days').format('YYYY-MM-DD'),
            moment().format('YYYY-MM-DD')
        ],
        "Этот месяц": [
            moment().subtract(1, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
            moment().endOf('month').format('YYYY-MM-DD')
        ],
        "Пролшый месяц": [
            moment().subtract(2, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
            moment().subtract(1, 'month').endOf('month').format('YYYY-MM-DD')
        ]
    },
    "locale": {
        "format": "YYYY-MM-DD",
        "separator": "~",
        "applyLabel": "Применить",
        "cancelLabel": "Очистить",
        "fromLabel": "С",
        "toLabel": "До",
        "customRangeLabel": "Выбрать период",
        "daysOfWeek": [
            "Вс",
            "Пн",
            "Вт",
            "Ср",
            "Чт",
            "Пт",
            "Сб"
        ],
        "monthNames": [
            "Январь",
            "Февраль",
            "Март",
            "Апрель",
            "Май",
            "Июнь",
            "Июль",
            "Август",
            "Сентябрь",
            "Октябрь",
            "Ноябрь",
            "Декабрь"
        ]
    },
    "linkedCalendars": false,
    "autoUpdateInput": true
});

$('#created_at-range').val(createdrange);
$('#created_at-range').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
});

</script>