<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>

<button
    data-modal-link="<?= $this->url(array(), $this->routePrefix.'add'); ?>"
    data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
    class="btn btn-success"
    ><?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?></button>

<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td><input type="text" name="id" value="<?= @$this->params['id'] ?>" placeholder="ID" style="width: 30px;" /></td>
        <th><?= $this->linkOrderHtml('code', $this->tableComment($this->modelName, 'code')); ?></th>
        <th><?= $this->linkOrderHtml('subject', $this->tableComment($this->modelName, 'subject')); ?></th>
        <th><?= $this->linkOrderHtml('MailSmtp|username', 'Отправляется с'); ?></th>
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td><?= $item->id ?></td>
        <td><?= $item->code ?></td>
        <td><strong><?= $item->subject ?></strong></td>
        <td><?= $item->MailSmtp->username ?></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'delete',
                'routeParams' => array('id' => $item->id),
                'buttonType'  => 'a',
                'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                'buttonAttr'  => array('data-toggle'=>'confirm')
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'edit',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
            )); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>