<? $this->headLink()->prependStylesheet('/css/pages/static-page.css?'.ASSETS_ID); ?>

<div class="width_content">
    <?= $this->breadcrumb($this->node->title); ?>
    <div class="static-page_container">
        <h1><?= $this->node->title ?></h1>
        <div class="static-page_text"><?= $this->node->text ?></div>
    </div>
</div>