<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<?//= $this->ModalLinkHelp(12, '<h3 style="color: Red;">Читать!!!</h3>'); ?>

<table class="table table-striped table-hover table-condensed" style="width: 1200px;">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td style="width: 600px;">
            <input type="text" name="fts-text" value="<?= $this->params['fts-text'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'text'); ?>" />
        </td>
        <td><?= $this->formSelect('is_enabled', $this->params['is_enabled'], [], [''=>'','true'=>'Вкл','false'=>'Выкл']);?></td>
        <td colspan="2" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
</form>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->title?></td>
            <td><?= $item->text ?></td>
            <td><?= $item->is_enabled ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '<i style="color: Red;" class="fa fa-lg fa-exclamation"></i>' ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <div>
                    Сортировка
                    <input type="text" name="set-sort-hint" value="<?= $item->sort; ?>" data-id="<?= $item->id; ?>" style="width: 40px;">
                </div>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>

<script>
    $("[name='set-sort-hint']").change(function () {
        var $el = $(this);
        $el.prop('disabled', true);
        $.post('/products-hint/edit/attr/'+$(this).attr('data-id'), {name: 'sort', value: $(this).val()})
            .error(function(data) {
                alert('Ошибка, повторите снова');
            })
            .always(function () {
                $el.prop('disabled', false);
            })
    }).keypress(function (evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    });
</script>