<? if ( $this->Product->Groups->count() ) : ?>
<section style="border-bottom: 2px solid #000000; margin-bottom: 20px; padding: 0;">
    <h1>Этот товар <span style="color: #ff0000; font-size: 12px;"><?= $this->Product->title; ?></span> присутствует в группах</h1>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Тип группы</td>
            <td>Название группы</td>
            <td>&nbsp;</td>
        </tr>
    <? foreach($this->Product->Groups as $Group) : ?>
    <tr>
        <td><strong><?= $Group->Type->title; ?></strong></td>
        <td><a href="<?= $this->url([], 'products-group-list'); ?>?id=<?= $Group->id; ?>"><?= $Group->title; ?></a></td>
        <td>
            <?= $this->ButtonDelete(
                'products-group-product-delete',
                array('id_product' => $this->Product->id, 'id_group' => $Group->id)
            ); ?>
        </td>
    </tr>
    <? endforeach; ?>
    </table>
</section>
<? endif ?>

<section style="">
<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => 'products-group-add',
        'queryParams' => array('title' => $this->Product->title),
        'buttonAttr'  => array('class' => 'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h1>
<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>"  data-target="self">
<table class="table table-striped table-hover table-condensed">
<thead>
<tr>
    <td>
        <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
        <?= $this->linkOrderHtml('id', ''); ?>
    </td>
    <td><?= (new Zend_View_Helper_FormSelect())->setView($this)
            ->formSelect(
                'Products|id_brand',
                $this->params['Products|id_brand'],
                array(),
                array(''=>'---Бренд---') + Doctrine_Query::create()->from('ProductsBrands pb')->where('pb.id IN (SELECT p.id_brand FROM Products p, ProductsRefGroups prg WHERE p.id = prg.id_product)')->orderBy('pb.title')->execute()->toKeyValueArray('id', 'title')
            )
        ?></td>
    </td>
    <td>
        <input style="width: 400px;" type="text" name="ftsor-title" value="<?= $this->params['ftsor-title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
    </td>
    <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('id_type', $this->params['id_type'], [], [''=>'---'] + ProductsGroups::getTypes()->toKeyValueArray('id', 'title') )?></td>
    <td colspan="7" style="text-align: right;">
        <?= $this->ButtonResetSearch(); ?>
        <?= $this->ButtonSearch(); ?>
    </td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->Products->getFirst()->Brand->title; ?></td>
            <td><?= $item->title; ?></td>
            <td><?= $item->Type->title ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-group-delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                    'buttonAttr'  => array('data-target' => 'self', 'data-toggle' => 'confirm'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-group-edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-group-products',
                    'routeParams' => array('id_group' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-list"></i>',
                )); ?>

                <? if ( in_array($item->id_type, $this->Product->Groups->toKeyValueArray('id', 'id_type')) ) : ?>
                    <? if ( in_array($item->id, $this->Product->Groups->toKeyValueArray('id', 'id')) ) : ?>
                        <i class="btn btn-xs fa fa-lg fa-check"
                           style="color: Green;"
                           data-toggle="tooltip"
                           title="Есть в этой группе"
                            ></i>
                    <? else: ?>
                        <i class="btn btn-xs fa fa-lg fa-check"
                           style="color: #CCCCCC"
                           data-toggle="tooltip"
                           title="уже участвует в другой группе типа <?= $item->Type->title; ?>"
                            ></i>
                        <?= implode('/', $this->Product->Groups->toKeyValueArray('id', 'title')); ?>
                    <? endif ?>
                <? else: ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-group-product-save',
                        'routeParams' => array('id_product' => $this->Product->id, 'id_group' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-link"></i>',
                        'buttonTitle' => 'Выбрать',
                    )); ?>
                <? endif ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>
<?= $this->showPager($this->pagerRange); ?>
</section>