<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<link href="/css/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/jquery-ui-timepicker-addon.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/products-list.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/products-list.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.min.js"></script>

<script type="text/javascript" src="/js/jquery.ui.datepicker-ru.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.timepicker-ru.min.js"></script>

<?= $this->ModalLinkHelp(8, '<h3 style="color: Red;">!!!Чек лист. Читать и следовать всем</h3>'); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?> <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>

    <span class="btn btn-success" id="advancedSearchProductButton">Подробный поиск</span>
    <? if ( !empty($_GET) ) : ?><a href="<?= preg_replace('/\?.*/', '', $_SERVER['REQUEST_URI']); ?>" class="btn btn-success">Сбросить поиск</a><? endif ?>

</h1>
<div id="advancedSearchProductContainer" style="display: none;"><?= $this->form; ?></div>

<div>
    <form action="<?= $_SERVER['REQUEST_URI']; ?>" method="get">
        <?= $this->PrintHiddenParams($_GET); ?>
        <input type="text" name="code" value="<?= $_GET['code']; ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>">
        <input type="text" name="title" value="<?= $_GET['title']; ?>" placeholder="<?= $this->tableComment('Products', 'title'); ?>">

        <?= $this->formSelect('id_catalog', $this->params['id_catalog'], array(), [''=>'---Каталог---'] + $this->form->id_catalog->getMultiOptions()); ?>
        <?= $this->formSelect('filter[stickers]', $this->params['filter[stickers]'], array(), [''=>'---Стикер---'] + $this->form->stickers->getMultiOptions()); ?>
        <?= $this->formSelect('id_brand', $this->params['id_brand'], array(), [''=>'---Бренд---'] + $this->form->id_brand->getMultiOptions()); ?>

        <? $options = [''=>'---Меню---'];
        foreach (Doctrine_Query::create()->from('CatalogMenu')->where('level <> 0')->orderBy('lft')->execute() as $item) {
            $options[$item->alias] = str_repeat('+---', $item->level-1) . $item->title;
        } ?>
        <?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('menu_alias',$this->params['menu_alias'],array(), $options)?>

        <?= $this->formSelect('sort', $this->params['sort'], array(), $this->form->sort->getMultiOptions()) ?>

        <?= $this->ButtonResetSearch(); ?>
        <?= $this->ButtonSearch(); ?>
    </form>
</div>


<form method="POST">
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <td colspan="5" style="vertical-align: middle">
                <div id="multiChangeButtons">

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-stickers-edit-rowset',
                        'queryParams' => array('redirect-to-window' => 1),
                        'buttonText'  => '<i class="fa fa-lg fa-tags"></i>',
                        'buttonTitle' => 'Стикеры',
                        'buttonAttr'  => array('name'=>'stickers'),
                    )); ?>

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-guarantee-edit-rowset',
                        'queryParams' => array('redirect-to-window' => 1),
                        'buttonText'  => '<i class="fa fa-lg fa-certificate"></i>',
                        'buttonTitle' => 'Гарантия',
                        'buttonAttr'  => array('name'=>'guarantee'),
                    )); ?>

                    <button
                        data-action="prices"
                        class="btn btn-xs"
                        data-toggle="tooltip confirm"
                        title="Обновить цены"><i class="fa fa-lg fa-usd"></i></button>

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-margin-edit-rowset',
                        'queryParams' => array('redirect-to-window' => 1),
                        'buttonText'  => '<i class="fa fa-lg fa-signal"></i>',
                        'buttonTitle' => 'Груповая установка маржи',
                        'buttonAttr'  => array('name'=>'margin'),
                    )); ?>

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit-rowset-catalog',
                        'queryParams' => array('redirect-to-window' => 1),
                        'buttonText'  => '<i class="fa fa-lg fa-folder"></i>',
                        'buttonTitle' => 'Груповая установка каталогов',
                        'buttonAttr'  => array('name'=>'catalog'),
                    )); ?>

                    <button
                        data-action="delete"
                        class="btn btn-xs"
                        data-toggle="tooltip confirm"
                        data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                        title="Удалить выбранные товары"><i class="fa fa-lg fa-trash-o"></i></button>

                    <div class="group">
                        <button
                            data-action="is_visible"
                            data-value="1"
                            class="btn btn-xs"
                            data-toggle="tooltip confirm"
                            title="Включить"><i class="fa fa-lg fa-eye"></i></button>
                        |
                        <button
                            data-action="is_visible"
                            data-value="0"
                            class="btn btn-xs"
                            data-toggle="tooltip confirm"
                            title="Выключить"><i class="fa fa-lg fa-eye-slash"></i></button>
                    </div>

                    <input type="hidden" name="submit-action" value="">
                    <input type="hidden" name="submit-value" value="">
                </div>
            </td>
            <td><input type="checkbox" id="select-all-products"></td>
        </tr>
        </thead>
        <tbody class="products-list">
        <? foreach($this->list as $Product) : ?>
            <?= $this->partial('product/list-item-partial.phtml', ['Product' => $Product]); ?>
        <? endforeach; ?>
    </table>
</form>

<div style="clear: both;"></div>
<?= $this->showPager($this->pagerRange); ?>