<tr data-product-code="<?= $this->Product->code ?>" <?= $this->itemListDataParams($this->Product) ?>>
    <? if ( !is_numeric(@array_search('img', $_GET['hide_elements'])) ) : ?>
    <td>
        <? if ( $this->Product->getImage()->getImagesCount() ) : ?>
            <img class="tooltip-image" height="85" src="<?= $this->Product->getImage()->getFirstImage()['middle']['url'] ?>?<?= rand(); ?>" />
        <? endif ?>

        <? foreach($this->Product->ProductsLinks as $Link) : ?>
            <input type="hidden" disabled name="link[]" value="<?= $Link->url; ?>" />
        <? endforeach; ?>
    </td>
    <? endif ?>
    <td>
        <div>
            <? if ( $this->Product->title == SF::formatString($this->Product->title)) : ?>
                <strong><?= $this->Product->title ?></strong>
            <? else: ?>
                <strong style="color: #c46007" data-toggle="tooltip" title="Название нуждается в форматировании"><?= $this->Product->title ?></strong>
            <? endif ?>

            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-view',
                'routeParams' => array('id' => $this->Product->id),
                'buttonText'  => '<i class="fa fa-eye"></i>',
            )); ?>

            <a class="btn btn-xs fa fa-2x fa-external-link" href="<?= Zend_Registry::getInstance()->config->url->domain; ?>product/<?= $this->Product->alias; ?>/" target="_blank"></a>
        </div>
        <? if ( !is_numeric(@array_search('detail', $_GET['hide_elements'])) ) : ?>
            <div style="clear: both"></div>
            <table class="attr">
                <tr>
                    <td>Id:</td>
                    <td><a target="_blank" href="<?= $this->url([], 'products-product-list'); ?>?id=<?= $this->Product->id ?>"><?= $this->Product->id ?></a></td>
                </tr>
                <tr>
                    <td><?= $this->tableComment('Products', 'manufacturer_code'); ?>:</td>
                    <td><?= $this->Product->manufacturer_code ?></td>
                </tr>
                <tr>
                    <td>Поставщик:</td>
                    <td><?= $this->ModalLinkBotton(array(
                            'routeName'   => 'vendor-products-view',
                            'routeParams' => array('id' => $this->Product->OwnerProduct->id),
                            'buttonText'  => $this->Product->OwnerProduct->Vendors->name,
                        )); ?></td>
                </tr>
                <tr>
                    <td><?= $this->tableComment('Products', 'id_state'); ?>:</td>
                    <td><?= $this->Product->ProductsState->title ?></td>
                </tr>
                <tr>
                    <td><?= $this->tableComment('Products', 'code'); ?>:</td>
                    <td><?= $this->Product->code ?></td>
                </tr>
                <tr>
                    <td><?= $this->tableComment('Products', 'balance'); ?>:</td>
                    <td><?= $this->Product->balance ?></td>
                </tr>
                <tr>
                    <td><?= $this->tableComment('Products', 'expected_balance'); ?>:</td>
                    <td><?= $this->Product->expected_balance ?></td>
                </tr>
            </table>
            <table class="attr">
                <tr>
                    <td><?= $this->tableComment('Products', 'alias'); ?>:</td>
                    <td><?= $this->Product->alias ?></td>
                </tr>
                <tr>
                    <td>Бренд:</td>
                    <td><?= $this->Product->ProductsBrands->title; ?></td>
                </tr>
                <tr>
                    <td>Статус:</td>
                    <td><?= Products::getStatusList()[$this->Product->status] ?></td>
                </tr>
                <tr>
                    <td>Виден:</td>
                    <td><? if ($this->Product->is_visible) : ?>Да<? else: ?>Нет<? endif ?></td>
                </tr>
                <tr>
                    <td>Тип:</td>
                    <td><?= $this->Product->type ?></td>
                </tr>
            </table>

            <table class="attr">
                <tr>
                    <td>Гарантия:</td>
                    <td><?= $this->Product->Guarantee->title ?></td>
                </tr>
                <tr>
                    <td>Комплект:</td>
                    <td><?= $this->Product->Set->title ?></td>
                </tr>
                <tr>
                    <td>Акция:</td>
                    <td><?= $this->Product->Promotions->title ?></td>
                </tr>
                <tr>
                    <td>Создан:</td>
                    <td><?= date('Y.m.d H:i', strtotime($this->Product->created)) ?></td>
                </tr>
                <tr>
                    <td>Обновлен:</td>
                    <td><?= $this->Product->updated ? date('Y.m.d H:i', strtotime($this->Product->updated)) : '' ?></td>
                </tr>
            </table>
        <? endif; ?>
    </td>
    <? if ( !is_numeric(@array_search('options', $_GET['hide_elements'])) ) : ?>
    <td>
        <div class="wrapper_hidden" style="line-height: 10px; width: 300px; margin: 5px; font-size: 11px">
            <div class="wrapper">
                <div class="container" style="width: 800px;">
                     <? foreach($this->Product->Catalogs as $Catalog) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-product-options',
                            'routeParams' => array('id_product' => $this->Product->id, 'id_catalog' => $Catalog->id),
                            'buttonAttr'  => $this->Product->hasNotFilledRequireOption($Catalog->id) ? array('style'=>'color: Red;') : array('style'=>'color: Green;'),
                            'buttonText'  => '<i class="fa fa-2x fa-cubes"></i>',
                        )); ?>
                        <a style="font-size: 14px; position: relative; top: 4px;" href="<?= $this->url([], 'catalog-list'); ?>?id=<?= $Catalog->id; ?>"><?= $Catalog->title; ?></a>
                        <? foreach($Catalog->CatalogMenu as $Menu) : ?>
                            <div style="color: gray; margin-left: 40px;"><?= $Menu->getNode()->getPath('/', true); ?></div>
                        <? endforeach; ?>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </td>
    <? endif; ?>

    <? if ( !is_numeric(@array_search('price', $_GET['hide_elements'])) ) : ?>
    <td>
        <span title="<?= $this->Product->price_method; ?>" data-toggle="tooltip"><?= $this->Product->getFormatedPrice('retail', 'USD'); ?> / <?= $this->Product->getFormatedPrice('retail', 'UAH'); ?></span>
    </td>
    <? endif; ?>

    <? if ( !is_numeric(@array_search('buttons', $_GET['hide_elements'])) ) : ?>
    <td class="buttons">
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-delete',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-trash-o""></i>',
            'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-edit',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-edit"></i>',
        )); ?>
        <? if ( $this->Product->Accessory->exists() ) : ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-accessories-edit',
                'routeParams' => array('id'=>$this->Product->Accessory->id),
                'buttonText'  => '<i class="fa fa-2x fa-clone""></i>',
                'buttonAttr'  => array('style'=>'color: Green;'),
            )); ?>
        <? else : ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-accessories-add',
                'queryParams' => array('title' => $this->Product->title),
                'buttonText'  => '<i class="fa fa-2x fa-clone""></i>',
                'buttonAttr'  => array('style'=>'color: Gray;'),
            )); ?>
        <? endif; ?>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-description',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-file-text""></i>',
            'buttonAttr'  => array('style'=>'color: Gray;'),
        )); ?>

        <br>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-groups',
            'routeParams' => array('id_product' => $this->Product->id),
            'queryParams' => array('ftsor-title' => strip_tags($this->Product->title), 'Products|id_brand' => $this->Product->id_brand),
            'buttonAttr'  => $this->Product->Groups->count() ? array('style'=>'color: Green;') : array('style'=>'color: Gray;'),
            'buttonText'  => '<i class="fa fa-2x fa-group"></i> <sup>'.$this->Product->Groups->count().'</sup>',
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-stickers',
            'routeParams' => array('id_product' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-tags"></i>',
        )); ?>

        <a href="<?= $this->url(array('id' => $this->Product->id, 'action'=>'sync'), 'product-ajax-action'); ?>"
           class="btn btn-xs"
           data-toggle="tooltip"
           data-access="<?= $this->linkAccess('product-ajax-action'); ?>"
           title="Загрузить картинки от поставщиков"><i class="fa fa-2x fa-refresh"></i></a>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-vendor-products-list',
            'routeParams' => array('id' => $this->Product->id),
            'queryParams' => array('fts-or' => strip_tags($this->Product->title)),
            'buttonText'  => '<i class="fa fa-2x fa-sitemap"></i> <sup>'.$this->Product->VendorsProducts->count().'</sup>',
            'buttonTitle' => 'Связанные товары',
            'buttonAttr'  => array('data-count'=> $this->Product->VendorsProducts->count()),
        )); ?>

        <? if ( $this->Product->Set->exists() ) : ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-set-edit',
                'routeParams' => array('id'=>$this->Product->Set->id),
                'buttonText'  => '<i class="fa fa-2x fa-share-alt""></i>',
                'buttonAttr'  => $this->Product->Set->hasErrors() ? array('style'=>'color: Red;') : array('style'=>'color: Green;'),
            )); ?>
        <? else : ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-set-add',
                'queryParams' => array('title' => $this->Product->title),
                'buttonText'  => '<i class="fa fa-2x fa-share-alt""></i>',
                'buttonAttr'  => array('style'=>'color: Gray;'),
            )); ?>
        <? endif; ?>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-special-offer',
            'routeParams' => array('id'=>$this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-warning"></i>',
            'buttonAttr'  => $this->Product->getActualSpecialOffer() ? array('style'=>'color: Green;') : array('style'=>'color: Gray;'),
        )); ?>


        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-margin-edit',
            'routeParams' => array('id_product'=>$this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-signal"></i>',
            'buttonTitle' => $this->Product->ProductsMargins->exists() ? 'Маржа установленна' : 'Маржа не установленна',
            'buttonAttr'  => $this->Product->ProductsMargins->exists() ? array() : array('style'=>'color: Red;'),
        )); ?>

        <button
            data-edit-attr-url="<?= $this->url(array('id' => $this->Product->id), 'products-product-edit-attr'); ?>"
            name="is_link_checked"
            value="<?= $this->Product->is_link_checked; ?>"
            class="btn btn-xs"
            data-toggle="tooltip"
            title="Вкл./Выкл наличие проверенных связей"
            data-access="<?= $this->linkAccess('products-product-edit-attr'); ?>">
            <i class="fa fa-2x"></i>
        </button>

        <button
            data-edit-attr-url="<?= $this->url(array('id' => $this->Product->id), 'products-product-edit-attr'); ?>"
            name="is_spy_prices"
            value="<?= $this->Product->is_spy_prices; ?>"
            class="btn btn-xs"
            data-toggle="tooltip"
            title="Следить за ценами"
            data-access="<?= $this->linkAccess('products-product-edit-attr'); ?>">
            <i class="fa fa-2x"></i>
        </button>

        <div>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-image',
                'routeParams' => array('action'=> 'list', 'id' => $this->Product->id),
                'buttonText'  => '<i class="fa fa-2x fa-image"></i> <sup>'.$this->Product->getImage()->getImagesCount().'</sup>',
            )); ?>

            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-links-list',
                'routeParams' => array('id_product'=>$this->Product->id),
                'buttonText'  => '<i class="fa fa-2x fa-globe"></i> <sup>'.$this->Product->ProductsLinks->count().'</sup>',
                'buttonAttr'  => $this->Product->ProductsLinks->count() ? array() : array('style'=>'color: Gray;'),
            )); ?>
        </div>
        <div>
            Сортировка <input type="text" name="set-sort" value="<?= $this->Product->sort; ?>" data-id="<?= $this->Product->id; ?>" style="width: 40px;">
        </div>
    </td>
    <? endif; ?>
    <td>
        <label style="padding: 10px;">
            <input type="checkbox" value="<?= $this->Product->id ?>" name="id[]" />
        </label>
    </td>
</tr>
