<style>
    .link_params {
        position: fixed;
        height: 85%;
        overflow-y: scroll;
        float: right;
        width: 400px;
        background: #ffffff;
        padding: 10px;
        font-size: 11px;
        display: none;
        border-radius: 2px;
        border: 1px solid #888;
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    .link_params tr.linked>* {
        background: #ffbf2e !important;
    }

    #form_ProductsOption .param_title {
        cursor: pointer;
    }
    #form_ProductsOption .fa-link {
        margin-right: 10px;
        cursor: pointer;
    }
    .link_params .host {
        background: #DA8028;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
</style>
<script>
    var links = <?= Zend_Json::encode($this->Links); ?>;
    $(function () {
        $(".link_params").show();
        $("form#ProductsOption tr [data-param-id]").each(function () {
            var $parent  = $(this).parents("tr");
            var param_id = $(this).attr('data-param-id');

            $parent.attr('data-param-id', param_id);
            $parent.find("th").prepend('<i class="fa fa-link fa-lg">');
        });

        $(".link_params>.fa-eye").on('click', function() {
            //показать скрытые параметры
            $(".link_params tr").show();

            $("#form_ProductsOption i").filter(function () { //отключить линковку если включена
                return $(this).prop("data-toggle");
            }).click()
        });

        $("form#ProductsOption input").on('focus', function () {
            $(this).parents("tr").find(".param_title").click();
        });

        $(".link_params>.fa-bug").on('click', function() { //показать все привязанные поля
            $(".link_params>.fa-eye").click();

            var link_temp = [];
            $.each(links, function (key, values) {
                link_temp = link_temp.concat(values);
            });
            $(".link_params tr").filter(function () {
                return $.inArray($(this).attr("id"), link_temp) > -1
            }).addClass('linked');

        });

        $("#form_ProductsOption").on("click", ".param_title", function() { //показать только линкованные параметры
            var id_option = $(this).parents("tr").attr("data-param-id");

            $("#form_ProductsOption i").filter(function () { //отключить линковку если включена
                return $(this).prop("data-toggle");
            }).click();

            $(".link_params tr").hide()
                .filter(function() {
                    return $.inArray($(this).attr("id"), links[id_option]) > -1
                }).show();
        });

        $("#form_ProductsOption").on("click", ".fa-link", function() {
            //начать линковку
            var id_option = $(this).parents("tr:first").attr("data-param-id");
            var is_checked = !Boolean($(this).prop("data-toggle"));

            $(".link_params tr").show();

            $("#form_ProductsOption i").not(this).filter(function () { //Отключить связывание других
                return $(this).prop("data-toggle");
            }).click()

            $(this).prop("data-toggle", is_checked );

            if ( is_checked ) {
                $(this).css("color", "red");

                $(".link_params tr").removeClass("linked").filter(function () {
                    return $.inArray($(this).attr("id"), links[id_option]) > -1
                }).addClass("linked");

                $(".link_params tr").on('click', function () {
                    var $tr = $(this);
                    $.post('/products/option/link/', {id_option: id_option, link: $(this).attr("id")}, function (data) {
                        links[id_option] = data;
                        if ( -1 < $.inArray($tr.attr("id"), data) ) {
                            $tr.addClass("linked");
                        } else {
                            $tr.removeClass("linked");
                        }
                    }, 'json');
                });

            } else {
                $(".link_params tr").off('click').removeClass("linked");
                $(this).css("color", "black");
            }
        });

        $("#form_ProductsOption select").each(function () {
            $(this).after(
                $("<i />")
                    .addClass('fa fa-plus btn add2select')
                    .attr("data-select-id", $(this).attr("id"))
            );
        });
        $(".add2select").on('click', function () {
            $(this).after(
                "<div style='white-space:nowrap; position: relative;'>" +
                    "<input placeholder='новое значение' type='text' style='width: 200px'> " +
                    "<i class='btn fa fa-lg fa-check add2select_btn' data-select-id='"+ $(this).attr("data-select-id") +"'></i> " +
                    "<i class='fa fa-lg fa-times btn'></i>" +
                "</div>"
            ).hide()

            $(this).next().on('click', ".add2select_btn", function () {
                var $btn = $(this);
                $("#"+ $btn.attr("data-select-id")).append(
                    $("<option />")
                        .val(  $btn.prev().val() )
                        .text( $btn.prev().val() )
                        .prop("selected", true)
                );
                $btn.parent().remove();

                $(".btn.add2select[data-select-id='"+ $btn.attr("data-select-id")+"']").show();
            })
        });

    });
</script>

<div class="link_params">
<div class="fa fa-eye fa-lg btn"></div>
<div class="fa fa-bug fa-lg btn"></div>
    <?= $this->ModalLinkHelp(6); ?>
<? foreach($this->Product->getLink()->getParams() as $link => $item) :
    $group = '';
    $link = str_replace('https://f.ua', 'http://fotos.ua', $link); //HOOK
?>
    <div class="host"><a style="color: #000000" href="<?= $link; ?>" target="_blank"><?= parse_url($link, PHP_URL_HOST); ?></a></div>
    <table class="table table-condensed table-bordered table-striped" style="border: 3px solid #DA8028;">
        <? foreach($item as $p) : ?>
            <? if ( $p['group'] !=  $group ) : $group = $p['group']; ?>
            <tr id="<?= md5(parse_url($link, PHP_URL_HOST).$group); ?>">
                <th colspan="2" style="text-align: center; background: #BBB; font-size: 1.4em;"><?= $p['group']; ?></th>
            </tr>
            <? endif ?>
        <tr id="<?= md5(parse_url($link, PHP_URL_HOST).$group.$p['param']); ?>">
            <th style="text-align: right;"><?= $p['param']; ?></th>
            <td><?= $p['value']; ?></td>
        </tr>
        <? endforeach; ?>
    </table>
<? endforeach; ?>
</div>