<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <? if ( $this->Product->type ) : ?><span style="font-size: 14px; font-weight: normal;"><?= $this->Product->type; ?>:</span> <? endif ?>
    <?= $this->Product->title ?>
</h1>

<div>
    Цены:
    <strong><?= $this->Product->getFormatedPrice('min', 'USD'); ?></strong> |
    <strong><?= $this->Product->getFormatedPrice('partner', 'USD'); ?></strong> |
    <strong><?= $this->Product->getFormatedPrice('trade', 'USD'); ?></strong> |
    <strong><?= $this->Product->getFormatedPrice('retail', 'USD'); ?></strong>
</div>
<br />

<? if ( $this->Product->VendorsProducts->count() ) : ?>
    <div style="border: Solid 1px Red; padding: 0 10px 10px 10px; max-width: 1000px;">
        <h4>Связанные</h4>
        <table class="table table-striped" style="width: 100%;">
            <tbody>
            <? foreach ($this->Product->VendorsProducts as $item) : ?>
                <tr <?= $this->itemListDataParams($item); ?>>
                    <td><?= $item->Vendors->name ?></td>
                    <td><a href="<?= $this->url(array(), 'vendor-products-list'); ?>?code=<?= $item->code; ?>&id_vendor=<?= $item->id_vendor; ?>" target="_blank"><?= $item->title ?></a></td>
                    <td><?= $item->state ?></td>
                    <td>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'vendor-products-view',
                            'routeParams' => array('id'=>$item->id),
                            'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                        )); ?>
                    </td>
                    <td><?= Currency::format($item->price_buy, Currency::getById($item->id_currency)->iso) ; ?></td>
                    <td><?= Currency::format($item->price_retail, Currency::getById($item->id_currency)->iso) ; ?></td>
                    <td>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'vendor-products-unlink',
                            'routeParams' => array('id'=>$item->id, 'id_vendor_product'=>$item->id),
                            'queryParams' => array('redirect' => 'here'),
                            'buttonAttr'  => array('data-target' => 'self'),
                            'buttonText'  => '<i class="fa fa-lg fa-unlink"></i>',
                        )); ?>
                    </td>
                    <td><?= $this->VendorProductActualLabel($item); ?></td>
                    <td>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'vendor-products-stat-list',
                            'queryParams' => array('id_product'=> $item->id, 'sort'=> 'time_processed-desc'),
                            'buttonText'  => '<i class="fa fa-lg fa-bar-chart-o"></i>',
                        )); ?>
                    </td>
                    <td>
                        <button
                            data-edit-attr-url="<?= $this->url(array('id' => $item->id), 'vendor-products-edit-attr'); ?>"
                            name="is_enabled"
                            value="<?= $item->is_enabled; ?>"
                            class="btn btn-xs"
                            data-toggle="tooltip"
                            title="Учавствует в ценообразовании"
                            data-access="<?= $this->linkAccess('vendor-products-edit-attr'); ?>">
                            <i class="fa fa-lg"></i>
                        </button>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
    <br />
<? endif ?>

<h4><?= Zend_Registry::get('myCurrentRoute')->title ?> <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup></h4>

<form method="GET" action="<?= $this->url(array(), Zend_Registry::get('myCurrentRoute')->name); ?>" data-target="self">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('id_vendor', $this->params['id_vendor'], array(),
                array(''=>'---') + Doctrine::getTable('Vendors')->findAll()->toKeyValueArray('id', 'name')
            )
            ?><?= $this->linkOrderHtml('price', ''); ?>
        </td>
        <td style="width: 400px; white-space: nowrap;">
            <input type="text" name="fts-or" value="<?= $this->params['fts-or'] ?>" placeholder="Морфология (любое из слов)" style="width: 95%;" /><br />
            <input type="text" name="fts" value="<?= $this->params['fts'] ?>" placeholder="Морфология (все слова)" style="width: 95%;" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td><?= $this->linkOrderHtml('state', 'Состояние'); ?></td>
        <td><?= $this->linkOrderHtml('price_buy', 'Цена'); ?></td>
        <td><?= $this->linkOrderHtml('price_retail', 'РРЦ'); ?></td>
        <td colspan="4" style="text-align: right;">
            <?= $this->ModalLinkBotton(array(
                'routeName'   => Zend_Registry::get('myCurrentRoute')->name,
                'buttonText'  => '<img src="/img/broom.png" />',
                'buttonAttr'  => array('data-target' => 'self'),
                'buttonTitle' => 'Отчистить',
            )); ?>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr>
            <td><?= $item->Vendors->name ?></td>
            <td><?= $item->title ?></td>
            <td><?= $item->state ?></td>
            <td><?= Currency::format($item->price_buy, Currency::getById($item->id_currency)->iso) ; ?></td>
            <td><?= Currency::format($item->price_retail, Currency::getById($item->id_currency)->iso) ; ?></td>
            <td>
                <?= $this->VendorProductActualLabel($item); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'vendor-products-link',
                    'queryParams' => array('redirect'=> urlencode($_SERVER['REQUEST_URI'])),
                    'buttonAttr'  => array(
                        'data-target' => 'self',
                        'data-method' => 'POST',
                        'data-post'   => 'id_product='.$this->Product->id.'&id_vendor_product='.$item->id
                    ),
                    'buttonText'  => '<i class="fa fa-lg fa-link"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'vendor-products-stat-list',
                    'queryParams' => array('id_product'=> $item->id, 'sort'=> 'time_processed-desc'),
                    'buttonText'  => '<i class="fa fa-lg fa-bar-chart-o"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>