<div style="max-width: 1000px;">
    <? if ( $this->Product->title == SF::formatString($this->Product->title)) : ?>
        <h1><?= $this->Product->title ?></h1>
    <? else: ?>
        <h1 style="color: #c46007" data-toggle="tooltip" title="Название нуждается в форматировании"><?= $this->Product->title ?></h1>
    <? endif ?>

    <div>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'delete',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-trash-o""></i>',
            'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'edit',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-edit"></i>',
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-groups',
            'routeParams' => array('id_product' => $this->Product->id),
            'queryParams' => array('ftsor-title' => strip_tags($this->Product->title), 'Products|id_brand' => $this->Product->id_brand),
            'buttonAttr'  => $this->Product->Groups->count() ? array('style'=>'color: Green;') : array('style'=>'color: Gray;'),
            'buttonText'  => '<i class="fa fa-2x fa-group"></i>',
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'stickers',
            'routeParams' => array('id_product' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-tags"></i>',
        )); ?>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'image',
            'routeParams' => array('action'=> 'list', 'id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-image"></i>',
        )); ?>
        <a href="<?= $this->url(array('id' => $this->Product->id, 'action'=>'sync'), 'product-ajax-action'); ?>"
           class="btn btn-xs"
           data-toggle="tooltip"
           data-access="<?= $this->linkAccess('product-ajax-action'); ?>"
           title="Загрузить картинки от поставщиков"><i class="fa fa-2x fa-refresh"></i></a>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => $this->routePrefix.'vendor-products-list',
            'routeParams' => array('id' => $this->Product->id),
            'queryParams' => array('fts-or' => $this->escape($this->Product->title)),
            'buttonText'  => '<i class="fa fa-2x fa-sitemap"></i>',
            'buttonTitle' => 'Связанные товары ('.$this->Product->VendorsProducts->count().')',
            'buttonAttr'  => array('data-count'=> $this->Product->VendorsProducts->count()),
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-margin-edit',
            'routeParams' => array('id_product'=>$this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-signal"></i>',
            'buttonTitle' => $this->Product->ProductsMargins->exists() ? 'Маржа установленна' : 'Маржа не установленна',
            'buttonAttr'  => $this->Product->ProductsMargins->exists() ? array() : array('style'=>'color: Red;'),
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-links-list',
            'routeParams' => array('id_product'=>$this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-globe"></i>',
            'buttonAttr'  => $this->Product->Links->count() ? array() : array('style'=>'color: Gray;'),
        )); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-links-prices',
            'routeParams' => array('id_product'=>$this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-usd""></i>',
            'buttonAttr'  => $this->Product->LinksPrices->count() ? array() : array('style'=>'color: Gray;'),

        )); ?>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-description',
            'routeParams' => array('id' => $this->Product->id),
            'buttonText'  => '<i class="fa fa-2x fa-file-text""></i>',
            'buttonAttr'  => array('style'=>'color: Gray;'),
        )); ?>

        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-product-description',
            'routeParams' => array('id' => $this->Product->id),
            'queryParams' => array('from' => 'vendor'),
            'buttonText'  => '<i class="fa fa-2x fa-file-text""></i>',
            'buttonTitle'  => 'Изпользовать описани из первого товара поставщика',
        )); ?>

        <button
            data-edit-attr-url="<?= $this->url(array('id' => $this->Product->id), $this->routePrefix.'edit-attr'); ?>"
            name="is_link_checked"
            value="<?= $this->Product->is_link_checked; ?>"
            class="btn btn-lg"
            data-toggle="tooltip"
            title="Вкл./Выкл наличие проверенных связей"
            data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
            <i class="fa fa-lg"></i>
        </button>

        <button
            data-edit-attr-url="<?= $this->url(array('id' => $this->Product->id), $this->routePrefix.'edit-attr'); ?>"
            name="is_spy_prices"
            value="<?= $this->Product->is_spy_prices; ?>"
            class="btn btn-lg"
            data-toggle="tooltip"
            title="Следить за ценами"
            data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
            <i class="fa fa-lg"></i>
        </button>

        <a class="btn btn-xs fa fa-2x fa-external-link" href="<?= Zend_Registry::getInstance()->config->url->domain; ?>product/<?= $this->Product->alias; ?>/" target="_blank"></a>

        <? if ( $this->Product->LinksPrices->count() ) :
            $Link = $this->Product->getLink();
            $prices = $Link->getPrices();
        ?>
            <div style="font-size: 11px; margin: 5px; border-radius: 2px; border: 1px solid Red; padding: 10px;">
                <strong>Инфо хотлайна</strong>
                <table class="table table-striped table-hover table-condensed">
                <tr>
                    <td>Весего магазинов:</td>
                    <td>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-links-prices',
                            'routeParams' => array('id_product'=>$this->Product->id),
                            'buttonText'  => count($prices),
                            'buttonAttr'  => $this->Product->LinksPrices->count() ? array() : array('style'=>'color: Gray;'),

                        )); ?>
                    </td>
                </tr>
                <? if ( $position = $Link->getCompanyPosition('Megabite.com.ua') ) :?>
                <tr>
                    <td style="color: Green; font-size: 1.5em; font-weight: bold">Megabite (поз.<?= $position; ?>)</td>
                    <td>
                        <?= $this->priceHotline($prices[$position-1]); ?>

                        <? if ( 1 == $position && !empty($prices[1]) ) : ?>
                            <span style="color: #cd0a0a">Цена у ближайшего конкурента
                                <strong>+<?= round(($prices[1]['price_uah'] - $prices[$position-1]['price_uah']) / $prices[$position-1]['price_uah'] * 100, 2).'%'; ?></strong>
                            </span><br>
                        <? endif ?>
                    </td>
                </tr>
                <? endif; ?>
                <tr>
                    <td>Мin цена:</td>
                    <td><?= $this->priceHotline(reset($prices)); ?></td>
                </tr>
                <tr>
                    <td>Маx цена:</td>
                    <td><?= $this->priceHotline(end($prices)); ?></td>
                </tr>
                </table>
            </div>
        <? endif ?>
    </div>

    <div style="clear: both"></div>

    <div style="float: left">
        <img class="tooltip-image" height="85" src="<?= $this->Product->getImage()->getFirstImage()['middle']['url'] ?>?<?= rand(); ?>" />
    </div>

    <div style="float: left">
        <? foreach($this->Product->Catalogs as $Catalog) : ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'options',
                'routeParams' => array('id_product' => $this->Product->id, 'id_catalog' => $Catalog->id),
                'buttonAttr'  => $this->Product->hasNotFilledRequireOption($Catalog->id) ? array('style'=>'color: Red;') : array('style'=>'color: Green;'),
                'buttonText'  => '<i class="fa fa-2x fa-cubes"></i>',
            )); ?>
            <a style="font-size: 14px; position: relative; top: 4px;" href="<?= $this->url([], 'catalog-list'); ?>?id=<?= $Catalog->id; ?>"><?= $Catalog->title; ?></a>
            <? foreach($Catalog->CatalogMenu as $Menu) : ?>
                <div style="color: gray; margin-left: 40px;"><?= $Menu->getNode()->getPath('/', true); ?></div>
            <? endforeach; ?>
        <? endforeach; ?>
    </div>

    <div style="clear: both"></div>

    <div style="float: left">
        <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Id:</td>
            <td><?= $this->Product->id ?></td>
        </tr>
        <tr>
            <td>Цена:</td>
            <td>
                <div><strong title="<?= $this->Product->price_method; ?>" data-toggle="tooltip"><?= $this->Product->getFormatedPrice('retail', 'USD'); ?></strong></div>
                <div><strong title="<?= $this->Product->price_method; ?>" data-toggle="tooltip"><?= $this->Product->getFormatedPrice('retail', 'UAH'); ?></strong></div>
            </td>
        </tr>
        <tr>
            <td>Владелец:</td>
            <td><?= $this->ModalLinkBotton(array(
                    'routeName'   => 'vendor-products-view',
                    'routeParams' => array('id' => $this->Product->OwnerProduct->id),
                    'buttonText'  => $this->Product->OwnerProduct->Vendors->name,
                )); ?>
            </td>
        </tr>
        <tr>
            <td><?= $this->tableComment($this->modelName, 'manufacturer_code'); ?>:</td>
            <td><?= $this->Product->manufacturer_code ?></td>
        </tr>
        <tr>
            <td><?= $this->tableComment($this->modelName, 'code'); ?>:</td>
            <td><?= $this->Product->code ?></td>
        </tr>
        <tr>
            <td><?= $this->tableComment($this->modelName, 'balance'); ?>:</td>
            <td><?= $this->Product->balance ?></td>
        </tr>
        <tr>
            <td><?= $this->tableComment($this->modelName, 'expected_balance'); ?>:</td>
            <td><?= $this->Product->expected_balance ?></td>
        </tr>
        <tr>
            <td><?= $this->tableComment($this->modelName, 'alias'); ?>:</td>
            <td><?= $this->Product->alias ?></td>
        </tr>
        <tr>
            <td>Бренд:</td>
            <td><?= $this->Product->ProductsBrands->title; ?></td>
        </tr>
        <tr>
            <td>Статус:</td>
            <td><?= Products::getStatusList()[$this->Product->status] ?></td>
        </tr>
        <tr>
            <td>Виден:</td>
            <td><? if ($this->Product->is_visible) : ?>Да<? else: ?>Нет<? endif ?></td>
        </tr>
        <tr>
            <td>Тип:</td>
            <td><?= $this->Product->type ?></td>
        </tr>
        <tr>
            <td>Акция:</td>
            <td><?= $this->Product->Promotions->title ?></td>
        </tr>
        <tr>
            <td>Создан:</td>
            <td><?= date('Y.m.d H:i', strtotime($this->Product->created)) ?></td>
        </tr>
        <tr>
            <td>Обновлен:</td>
            <td><?= $this->Product->updated ? date('Y.m.d H:i', strtotime($this->Product->updated)) : '' ?></td>
        </tr>
        </table>
    </div>

    <div style="float: right">
        <?= $this->productOptions($this->Product); ?>
    </div>

    <div style="clear: both"></div>

    <div>
        <?= $this->Product->description; ?>
    </div>
</div>