@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: block; // 2
  }
  &:after {
    clear: both;
  }
}



@mixin icon-link($icon: "") {
  i {
    opacity: .6;
    @include icons-sprite($icon);
  }
  &:hover i {
    opacity: 1;
    //@include icons-sprite($icon + '-hover');

  }
}

@mixin reset-list($deep: false) {
  $selector: '&,&>li';

  @if $deep {
    $selector: '&,ul,li';
  }

   #{$selector} {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin font-alt($size: m, $weight: normal)
{
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.03em;

  @if ($size == xxxl) {
    font-size: 45px;
  } @if ($size == xxl) {
    font-size: 36px;
  } @else if ($size == xl) {
    font-size: 26px;
  } @else if ($size == l) {
    font-size: 18px;
  } @else if ($size == ml) {
    font-size: 15px;
  } @else if ($size == m) {
    font-size: 13px;
  } @else if ($size == s) {
    font-size: 12px;
  } @else if ($size == xs) {
    font-size: 10px;
  } @else if ($size == xxs) {
    font-size: 9px;
  }

  @if ($weight == thin) {
    font-weight: 100;
  } @if ($weight == light) {
    font-weight: 300;
  } @else if ($weight == normal) {
    font-weight: 400;
  } @else if ($weight == medium) {
    font-weight: 500;
  } @else if ($weight == semi-bold) {
    font-weight: 500;
  } @else if ($weight == bold) {
    font-weight: 600;
  } @else if ($weight == extra-bold) {
    font-weight: 700;
  } @else if ($weight == ultra-bold) {
    font-weight: 800;
  }

}


@mixin font($size: m, $weight: normal)
{
  font-family: "Roboto", sans-serif;

  @if ($size == xxl) {
    font-size: 36px;
  } @else if ($size == xl) {
    font-size: 26px;
  } @else if ($size == l) {
    font-size: 20px;
  } @else if ($size == ml) {
    font-size: 16px;
  } @else if ($size == m) {
    font-size: 14px;
  } @else if ($size == s) {
    font-size: 12px;
  } @else if ($size == xs) {
    font-size: 10px;
  } @else if ($size == xxs) {
    font-size: 9px;
  }

  @if ($weight == thin) {
    font-weight: 100;
  } @if ($weight == light) {
    font-weight: 300;
  } @else if ($weight == normal) {
    font-weight: 400;
  } @else if ($weight == medium) {
    font-weight: 500;
  } @else if ($weight == semi-bold) {
    font-weight: 500;
  } @else if ($weight == bold) {
    font-weight: 600;
  } @else if ($weight == extra-bold) {
    font-weight: 700;
  } @else if ($weight == ultra-bold) {
    font-weight: 800;
  }

}
