<?
    $this->menu->remove(0);
    $current = $this->menu->remove(1);
    $this->menu->add($current);
?>
<ul id="ddmenu">
    <li><a href="/"><i class="fa fa-home fa-lg"></i> Главная</a></li>
<? foreach ($this->menu as $next) : ?>
    <li <?if ($current->getNode()->hasChildren()) : ?>class="have_childs"<?endif;?> >

        <? if ( empty($current->route_id) ) : ?>
            <a id="menupageid-<?= $current->id ?>" href="<?= $current->append_uri ?>"><?= $current->title; ?><?if ($current->getNode()->hasChildren()) : ?> &raquo;<?endif;?></a>
        <? else : ?>
            <a id="menupageid-<?= $current->id ?>" href="<?= $this->url(Site_Db_Function::pg_array_parse($current->params), $current->AdminRoutes->name); ?><?= $current->append_uri ?>"
                data-access="<?= $this->linkAccess($current->AdminRoutes->name); ?>"
                ><?= $current->title; ?><?if ($current->getNode()->hasChildren()) : ?> &raquo;<?endif;?></a>
        <? endif; ?>

        <? if ($current->level < $next->level) : ?><ul><? endif; ?>
        <? if ($current->level > $next->level) : ?><?= str_repeat('</li></ul>', $current->level - $next->level) ?><? endif; ?>
        <? if (! ($current->level < $next->level)) : ?></li><? endif; ?>
    <? $current = $next; ?>
<? endforeach; ?>
</ul>

<script>
    $("#ddmenu li.have_childs").each(function () {
        if ( 0 == $(this).find('a[data-access=allow]').length ) {
            $(this).hide();
        }
    })
</script>