<? $notifications = AdminNotifications::getGroupedNotReaded(); ?>
<div class="notifications dropdown" style="float: right">
    <div data-toggle="dropdown">
        <strong class="badge all-count-notifications"><? if ($count = AdminNotifications::getNotReadedCount() ) : ?><?= $count ?><? endif; ?></strong>
        <i id="ico-notifications" class="fa fa-bell"></i>
    </div>
    <ul class="dropdown-menu">
        <li class="dropdown-header"><i class="fa fa-warning"></i> <?= $count; ?> Новых сообщений</li>
        <? foreach ($notifications as $note) : ?>
            <li style="white-space: nowrap;">
                <a href="<?= $this->url(array(), 'admin-notifications-list'); ?>?title=<?= $this->escape($note->title); ?>">
                    <span class="badge badge-info"><?= $note->count; ?></span>
                    <?= $note->title; ?>
                </a>
            </li>
        <? endforeach; ?>
        <li class="dropdown-footer">
            <a href="<?= $this->url(array(), 'admin-notifications-list'); ?>">Все сообщения</a>
        </li>
    </ul>
</div>
<div class="notification">
    <a href="<?= $this->url(array(), 'order-list'); ?>">
        <span class="badge badge-error"><?=AdminNotifications::getOverdueOrderCount()?></span>
        <i  class="fa fa-shopping-basket fa-2x"></i>
    </a>
</div>