<? $this->headLink()->prependStylesheet('/css/brand.css?'.ASSETS_ID); ?>

<? $this->layout()->breadcrumb = $this->breadcrumb($this->brand->title) ?>

<? if ( !empty($this->brand->description) ) : ?>

    <div class="brand-header">
        <img alt="<?= $this->brand->title ?>" src="<?= Zend_Registry::get('config')->url->pix.'img/brands/'.$this->brand->id.'.jpg' ?>" />
        <div>
            <h1><?= $this->brand->title ?></h1>
            <?= $this->brand->description ?>
        </div>
    </div>
    <div style="clear: both;"></div>
<? endif; ?>

<?= $this->render('products-items.phtml') ?>

<div class="pagination">
    <?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName(), false, false)); ?>
</div>
