<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="alias" value="<?= $this->params['alias'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'alias'); ?>" />
            <?= $this->linkOrderHtml('alias', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td><?=
            (new Zend_Form_Element_Select('is_visible'))
                ->setValue($this->params['is_visible'])
                ->setDecorators(array('ViewHelper'))
                ->addMultiOptions(array(
                    ''=>'--Доступные--',
                    1=>'да',
                    0=>'нет'
                ));
            ?></td>
        <td colspan="2" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
</form>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->alias ?></td>
            <td><strong><?= $item->title ?></strong></td>
            <td>
                <button
                    data-edit-attr-url="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'); ?>"
                    name="is_visible"
                    value="<?= $item->is_visible; ?>"
                    class="btn btn-xs"
                    data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                    <i class="fa fa-lg"></i>
                </button>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>