<? $this->headLink()->prependStylesheet('/css/pages/tradein.css?'.ASSETS_ID); ?>

<div class="width_content">
    <div class="tradein_container" style="width: 800px;">

        <? if (!empty($this->success)) : ?>
            <div class="form_container"><p>Ваша заявка принята. В ближайшее время наши менеджеры обязательно свяжутся с Вами.</p></div>
        <? else: ?>
            <?= Zend_Registry::getInstance()->spelling['tradein_header'] ?>
            <div class="form_container"><?= $this->form; ?></div>
            <?= Zend_Registry::getInstance()->spelling['tradein_footer'] ?>
        <? endif; ?>

    </div>
</div>