<div>
    <strong>Заявка: №<?= $this->Record->id ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_brand'); ?>:
    <strong><?= $this->Record->product_brand ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_model'); ?>:
    <strong><?= $this->Record->product_model ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_can_enable'); ?>:
    <strong><?= $this->Record->product_can_enable ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_working_state'); ?>:
    <strong><?= $this->Record->product_working_state ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_buttons_available'); ?>:
    <strong><?= $this->Record->product_buttons_available ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_has_body_damage'); ?>:
    <strong><?= $this->Record->product_has_body_damage ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'product_has_screen_damage'); ?>:
    <strong><?= $this->Record->product_has_screen_damage ?></strong>
</div>
<div>
    <?= $this->tableComment('Tradein', 'want_buy'); ?>:
    <strong><?= $this->Record->want_buy ?></strong>
</div>
