<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<?= $this->ModalLinkBotton(array(
    'routeName'   => 'users-diff',
    'buttonText'  => 'Расхождение',
    'buttonTitle' => 'Сравнить Email-ы пользователей, и вернуть те которых нет в базе',
    'buttonAttr'  => array('class' => 'btn btn-xs btn-default')
)); ?>

<br><br>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td>
            <input type="text" name="phone" value="<?= $this->params['phone'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'phone'); ?>" />
            <?= $this->linkOrderHtml('phone', ''); ?>
        </td>
        <td>
            <input type="text" name="email" value="<?= $this->params['email'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'email'); ?>" />
            <?= $this->linkOrderHtml('email', ''); ?>
        </td>
        <td><?= $this->linkOrderHtml('created', 'Зарегестрирован.'); ?></td>
        <td><?= $this->linkOrderHtml('last_authorized', 'Авторизирован.'); ?></td>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)
                    ->formSelect(
                        'price',
                        $this->params['price'],
                        array(),
                        array(
                            ''  =>  '---Цена---',
                            'price_min' => Doctrine::getTable('Products')->getDefinitionOf('price_min')['comment'],
                            'price_partner' => Doctrine::getTable('Products')->getDefinitionOf('price_partner')['comment'],
                            'price_trade' => Doctrine::getTable('Products')->getDefinitionOf('price_trade')['comment'])
                        )
            ?>
            <?= $this->linkOrderHtml('price', ''); ?></td>
        <td><?=
                (new Zend_Form_Element_Select('is_checked'))
                    ->setValue($this->params['is_checked'])
                    ->setAttrib('style','width: 40px;')
                    ->setDecorators(array('ViewHelper'))
                    ->addMultiOptions(array(
                        ''=>'--проверенные--',
                        1=>'да',
                        0=>'нет'
                    ));
        ?></td>
        <td><?=
            (new Zend_Form_Element_Select('is_recive_price'))
                ->setValue($this->params['is_recive_price'])
                ->setAttrib('style','width: 40px;')
                ->setDecorators(array('ViewHelper'))
                ->addMultiOptions(array(
                    ''=>'--получают письма--',
                    1=>'да',
                    0=>'нет'
                ));
            ?></td>
        <td colspan="4" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
</form>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td><?= $item->id ?></td>
        <td>
            <strong><?= $item->name ?></strong>
        </td>
        <td><?= $item->phone ?></td>
        <td>
            <div><?= $item->email; ?></div>
        </td>
        <td><span style="font-size: 11px;"><?= $this->time($item->created) ?></span></td>
        <td><span style="font-size: 11px;"><?= $this->time($item->last_authorized) ?></span></td>
        <td>
            <?=
            (new Zend_Form_Element_Select('price'))
                ->setValue($item->price)
                ->setAttrib('data-edit-attr-url', $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'))
                ->setDecorators(array('ViewHelper'))
                ->addMultiOptions(array(
                    'price_min'     => Doctrine::getTable('Products')->getDefinitionOf('price_min')['comment'],
                    'price_partner' => Doctrine::getTable('Products')->getDefinitionOf('price_partner')['comment'],
                    'price_trade'   => Doctrine::getTable('Products')->getDefinitionOf('price_trade')['comment'],
                ));
            ?></td>
        <td>
            <button
                data-edit-attr-url="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'); ?>"
                name="is_checked"
                value="<?= $item->is_checked; ?>"
                class="btn btn-xs"
                data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                <i class="fa fa-lg"></i>
            </button>
        </td>
        <td>
            <button
                data-edit-attr-url="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'); ?>"
                name="is_recive_price"
                value="<?= $item->is_recive_price; ?>"
                class="btn btn-xs"
                data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                <i class="fa fa-lg"></i>
            </button>
        </td>
        <td>
            <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'generate-token'); ?>"
               class="btn btn-xs"
               data-toggle="tooltip"
               data-access="<?= $this->linkAccess($this->routePrefix.'generate-token'); ?>"
               title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'generate-token')->title; ?>"><i class="fa fa-lg fa-tag"></i></a>
            <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
               class="btn btn-xs"
               data-toggle="tooltip confirm"
               data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
               title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>"><i class="fa fa-lg fa-trash-o"></i></a>
            <button
                data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit'); ?>"
                class="btn btn-xs"
                data-access="<?= $this->linkAccess($this->routePrefix.'edit'); ?>"
                data-toggle="tooltip"
                title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'edit')->title; ?>"><i class="fa fa-lg fa-edit"></i></button>

            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'email-list',
                'routeParams' => array('id_user'=>$item->id),
                'buttonText'  => '@',
            )); ?>

            <button
                data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'set-pass'); ?>"
                class="btn btn-xs"
                data-access="<?= $this->linkAccess($this->routePrefix.'set-pass'); ?>"
                data-toggle="tooltip"
                title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'set-pass')->title; ?>"><img src="/img/password.png" width="16" height="16" alt="" /></button>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>

<script>
    $(document).on('focusin', '.token', function () {$(this).css({height: '60px'})});
    $(document).on('focusout', '.token', function () {$(this).css({height: '22px'})});
</script>