<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
</head>

<body style="padding-top: 100px;">
    <div style="width: 500px; margin: auto; text-align: center;">
        <a href="/"><img src="/img/logo.png" alt="Интернет магазин anydasa.com"></a>
        <h1>Внутренняя ошибка</h1>
        <br>
        <div><a href="/" class="btn btn-important">На главную</a></div>
    </div>

<!--    --><?//= $this->render('counters.phtml'); ?>
</body>
</html>