<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->headTitle(); ?>
    <?= $this->headDescription(); ?>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <? $this->headLink()->prependStylesheet('/css/index.css?'.ASSETS_ID); ?>

    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
</head>

<body style="padding-top: 100px; background: #1A132B">
<div style="width: 500px; margin: auto; text-align: center;">
    <a href="/"><img src="/img/logo.png" alt="Интернет каталог anydasa.com"></a>
    <h1 style="color: White; margin: 80px 0; font-size: 30px;">Страница не найдена </h1>
    <img style="border-radius: 100px;" src="/img/404.jpg"/>
    <br>
    <br>
    <div><a href="/" class="btn btn-important btn-large">На главную</a></div>
</div>

<!--    --><? //= $this->render('counters.phtml'); ?>
</body>
</html>