<? $this->headTitle($this->translate('Ошибка 401: Для доступа в данный раздел необходима авторизация'), 'SET'); ?>

<style type="text/css">
    .access_denied {margin: 100px auto; width: 550px;}
    .access_denied h1 {font-size: 1em;}
    .access_denied p {font-size: 0.8em;}
</style>

<div class="access_denied">
    <h1><?= $this->translate('Ошибка 401: Для доступа в данный раздел необходима авторизация'); ?></h1>

    <p>
        Для доступа в данный раздел необходимо <a href="<?= $this->urlml(array(), 'login', true); ?>"><?= $this->translate('авторизоваться'); ?></a>.
        Если Вы ещё не имеете аккаунта на <a href="<?= $this->urlml(array(), 'main', true); ?>">medicmir.net</a> пожалуйста <a href="<?= $this->urlml(array(), 'register', true); ?>"><?= $this->translate('зарегестрируйтесь'); ?></a>
    </p>

</div>