
<h1>кредитные предложения</h1>

<p class="offers_topline">
    В корзине <?= Cart::getInstance()->getProductsCount(); ?> <?= SF::numberof(Cart::getInstance()->getProductsCount(), '', ['товар', 'товара', 'товаров']); ?>
    на сумму <span class="price_block"><span class="price"><?= Currency::format($this->sum, 'UAH'); ?></span></span> (<?= Currency::format(Cart::getInstance()->getSum(), 'UAH'); ?> + <?= $this->commission; ?>%)
</p>

<table id="CreditCompanyList">
    <tbody>
    <? foreach($this->Credit->getCompaniesWithOffers() as $Company) : ?>
        <? foreach($Company->CreditCompanyOffers as $Offer) : ?>
            <tr class="company_row">
                <td class="offer_title"><strong><?= $Company->name; ?></strong> «<?= $Offer->title; ?>»</td>
                <td class="offer_conditions">
                    <ul>
                        <li>Сумма кредита <?= $Offer->min_sum; ?> &#8212; <?= Currency::format($Offer->max_sum, 'UAH'); ?></li>
                        <li>
                            <? if ( $Offer->min_first_payment_percent == $Offer->max_first_payment_percent AND 0 == $Offer->max_first_payment_percent) : ?>
                                Без первоначального взноса
                            <? elseif ( $Offer->min_first_payment_percent == $Offer->max_first_payment_percent ) : ?>
                                Первоначальный взнос <?= $Offer->max_first_payment_percent; ?>%
                            <? elseif ( $Offer->min_first_payment_percent < $Offer->max_first_payment_percent ): ?>
                                Первоначальный взнос <?= $Offer->min_first_payment_percent; ?> - <?= $Offer->max_first_payment_percent; ?>%
                            <? endif ?>
                        </li>
                        <li>
                            <? if ($Offer->min_month < $Offer->max_month ) : ?><?= $Offer->min_month; ?> - <? endif ?><?= $Offer->max_month; ?> <?= SF::numberof($Offer->max_month, 'платеж', ['', 'а', 'ей']) ?>
                        </li>
                    </ul>
                </td>
                <td class="offer_price">
                    <? if ( $msg_error = $Offer->getUnavailableMsg( $this->sum ) ) : ?>
                        <span style="color: red;"><?= implode(',<br>', $msg_error); ?></span>
                    <? else: ?>

                        <span class="from">от</span>
                        <span class="price_block">
                            <span class="price">
                                <?= Currency::format($Offer->getMinMonthlyPayment($this->sum), 'UAH'); ?><span class="currency">/мес.</span>
                            </span>
                        </span>
                    <? endif ?>
                </td>
                <td><span class="btn btn-green" data-target="self" data-modal-link="<?= $this->url(['id_offer' => $Offer->id], 'credit-offer'); ?>">продолжить</span></td>
            </tr>
        <? endforeach; ?>
    <? endforeach; ?>
    </tbody>
</table>



<? if ( isset($this->Product) ) : ?>
    <script type="text/javascript">
        $("#head-cart").html("<?= SF::escapeJavaScriptText($this->render('header-cart.phtml')); ?>");
        $(".btn2cart[data-id='<?= $this->Product->id; ?>']").replaceWith("<?= SF::escapeJavaScriptText($this->Product2Cart($this->Product)); ?>")
    </script>
<? endif ?>
