
<style>
    #credit-calc-controls {
        margin: auto;
        width: 1%;
    }
    #credit-calc-controls td {
        padding: 3px 10px;
        white-space: nowrap;
    }
    #credit-calc-controls #credit-sum {
        width: 70px;
    }
</style>
<form enctype="text/plain" id="credit-calc-form" action="<?= $_SERVER['REQUEST_URI']; ?>" method="POST" data-target="self" style="width: 100%;" novalidate="novalidate">
<div style="width: 800px;">
    <h1><?= $this->Offer->CreditCompany->name; ?> «<?= $this->Offer->title; ?>»</h1>

    <div style="margin: 20px 0">
        <div style="clear:both;"></div>
        <?= $this->Offer->description; ?>
        <div style="clear:both;"></div>
    </div>

    <table id="credit-calc-controls">
        <tr>
            <td>Сумма кредита</td>
            <td><?= $this->formText('credit[sum]', $this->calc_params['sum']); ?></td>
        </tr>
        <? if ( !$this->Offer->first_payment_is_first_month ) : ?>
        <tr>
            <td>Первоначальный взнос</td>
            <td>
                <? if ( $this->Offer->isFixFirstPayment() AND $this->Offer->min_first_payment_percent > 0 ) : ?>
                    <?= Currency::format($this->calc_params['sum'] * $this->Offer->min_first_payment_percent / 100, 'UAH'); ?> (<?= $this->Offer->min_first_payment_percent; ?>%)
                <? elseif ( $this->Offer->first_payment_is_first_month ) : ?>
                    первый платеж
                <? else: ?>
                    <?= $this->formSelect('credit[first_payment_percent]', $this->calc_params['first_payment_percent'], [], $this->Offer->getFirstPaymentRange($this->calc_params['sum']) ); ?>
                <? endif ?>
            </td>
        </tr>
        <? endif ?>
        <tr>
            <td>Платежей</td>
            <td><?= $this->formSelect('credit[month]', $this->calc_params['month'], [], $this->Offer->getPeriodRange() ); ?></td>
        </tr>
    </table>

    <div style="width: 200px; margin: 20px auto 50px auto; text-align: center; background: #EEE; border-radius: 3px; padding: 10px;">
        <? if ( $msg_error = $this->Offer->getUnavailableMsg($this->calc_params['sum'], $this->calc_params['month'], $this->calc_params['first_payment_percent']) ) : ?>
            <span style="color: red; font-size: 1.2em;"><?= implode(',<br>', $msg_error); ?></span>
        <? else: ?>
            Ориентировочная сумма платежа по кредиту
            <span class="price_block"><span class="price">
                <?= Currency::format($this->Offer->getMonthlyPayment($this->calc_params['sum'], $this->calc_params['month'], $this->calc_params['first_payment_percent']), 'UAH'); ?>
                        <span class="currency">/мес.</span>
            </span></span>
        <? endif ?>
    </div>

    <table style="width: 600px; margin: auto">
        <tr>
            <td style="line-height: 4em; white-space: nowrap; vertical-align: top;">
                <div><span class="link link-black" data-target="self" data-modal-link="<?= $this->url([], 'credit'); ?>">Выбрать другую программу</span></div>
            </td>
            <td style="text-align: right; vertical-align: top;">
                <div>
                    <? if ( $this->Offer->isRequiredProfile() AND empty(Credit::getParam('profile')) ) : ?>
                        <div style="color: Red; text-align: right;">
                            Для оформление кредита по этой программе,
                            необходимо <span style="font-size: 1.5em;" class="link link-green" data-target="self" data-modal-link="<?= $this->url(['id_offer'=>$this->Offer->id], 'credit-profile'); ?>">Заполнить анкету</span>
                        </div>
                    <? else: ?>
                        <span id="next" class="btn btn-large btn-important"><?=  Credit::getParam('btn_name'); ?></span>
                    <? endif ?>

                    <? if ( $this->Offer->isRequiredProfile() AND !empty(Credit::getParam('profile')) ) : ?>
                        <div>
                            <span style="font-size: 1.5em;" class="link link-green" data-target="self" data-modal-link="<?= $this->url(['id_offer'=>$this->Offer->id], 'credit-profile'); ?>">Редактировать анкету</span>
                        </div>
                    <? endif ?>
                </div>
            </td>
        </tr>
    </table>
</div>
</form>

<script>
    $("#credit-calc-form select").on("change", function () {
        $(this).closest('form').submit();
    });
    $('#credit-calc-form').on('submit', function () {
        $('body').addClass('wait');
    });
    $("#next").on('click', function () {
        $("<input />")
            .attr('type', 'hidden')
            .attr('name', 'next')
            .attr('value', 'next')
            .appendTo(this);
        $(this).closest('form').attr('data-target', 'prev').submit();
    });
</script>
