<? $this->headLink()->prependStylesheet('/css/pages/promotion.css?'.ASSETS_ID); ?>
<? $this->layout()->breadcrumb = $this->breadcrumb($this->Promotion->title, array(array('url'=>$this->url(array(), 'promotions'), 'title'=> 'Акции')) ) ?>

<div class="promotion">
    <div class="promotion_detail">
        <div class="promotion_detail_left">
            <img src="<?= $this->Promotion->getImageUrl() ?>">
        </div>
        <div class="promotion_detail_right">
            <?= $this->PromotionRemaining($this->Promotion) ?>
            <h1><?= $this->Promotion->title ?></h1>
            <?= $this->Promotion->description ?>
        </div>
    </div>

    <div class="bottom_dot"></div>

    <h3>Товары участвующие в акции</h3>
    <div class="products_involved"><?= $this->render('products-items.phtml'); ?></div>



</div>

<div style="clear: both"></div>