<? $this->headLink()->prependStylesheet('/css/pages/promotion.css?'.ASSETS_ID); ?>

<?= $this->breadcrumb('Акции'); ?>
<h1 style="text-align: center; margin-top: -10px;">АКЦИИ МАГАЗИНА</h1>
<div style="position: relative; padding: 10px 0;">
    <div class="promotion_list">
        <? if ( $this->Promotions->count() > 0 ) : ?>
            <? foreach ($this->Promotions as $Promotion) : ?>
                <div class="promotion_item">
                    <div class="image">
                        <a href="<?= $this->url(array('id'=>$Promotion->id), 'promotion-item') ?>"><img src="<?= $Promotion->getImageUrl() ?>" alt="<?= $Promotion->title ?>" /></a>
                    </div>
                    <div class="promotion_preiod"><?= $Promotion->getPeriodStr(); ?></div>
                    <div class="description">
                        <?=$this->PromotionRemaining($Promotion)?>
                        <a class="promotion_title" href="<?= $this->url(array('id'=>$Promotion->id), 'promotion-item') ?>">
                            <?= $Promotion->title ?>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            <? endforeach; ?>
        <? else : ?>
            <div class="empty-promotions"><?= Zend_Registry::getInstance()->spelling['no_existing_action'] ?></div>
        <? endif; ?>
    </div>
</div>

<div class="pagination"><?= $this->showPager($this->pagerRange); ?></div>