<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>

<button
    data-modal-link="<?= $this->url(array(), $this->routePrefix.'add'); ?>"
    data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
    class="btn btn-success"
    ><?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?></button>

<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td><input type="text" name="id" value="<?= @$this->params['id'] ?>" placeholder="ID" style="width: 30px;" /></td>
        <td>
            <input type="text" name="code" value="<?= @$this->params['code'] ?>" placeholder="code" />
            <?= $this->linkOrderHtml('code', ''); ?>
        </td>
        <td>
            <input type="text" name="fts-text" value="<?= @$this->params['fts-text'] ?>" />
        </td>
        <td></td>
    </tr>
</thead>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td><?= $item->id ?></td>
        <td><?= $item->code ?></td>
        <td><?= $item->text ?></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'delete',
                'routeParams' => array('id' => $item->id),
                'buttonType'  => 'a',
                'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                'buttonAttr'  => array('data-toggle'=>'confirm')
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'edit',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
            )); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>