<h2>Заголовок H2</h2>

<p>
    Чтобы подключить стиральную машину, удалите транспортировочные болты с задней панели устройства.
    В зависимости от модели, бывает от 3-х до 6-ти штук (но, как правило, 4).
    Если этого не сделать, то машинка сломается.
</p>

<p class="block_style1">
    Позаботьтесь, чтобы водопровод и электрическая розетка находились поблизости стиральной машины.
    Не подключайте устройство к розетке через удлинитель — это может привести к короткому замыканию.
</p>

<ul>
    <li>Список</li>
    <li>Список</li>
    <li>Список</li>
    <li>Список</li>
    <li>Список</li>
</ul>