{% extends "mail/main_layout.twig" %}

{% block content %}
<div style="padding: 0;">
    <div style="font:15px Helvetica; line-height: 20px;">
        <div style="padding: 0 27px 0 27px;">
            <h3>Вам отправлено сообщение:</h3>
            <p>{{ message }}</p>
        </div>
    </div>
</div>
{% endblock %}