{% extends "mail/main_layout.twig" %}

{% block content %}
    <div style="padding: 0;">
        <div style="font:15px Helvetica; line-height: 20px;">
            <div style="padding: 0 27px 0 27px;">

                <p>{{ order.name }}, cпасибо Вам за заказ в магазине <a style="color: #04599a;" href="{{ config.url.domain }}">anydasa.com</a></p>
                <p>Это письмо отправлено автоматически и подтверждает, что Ваш заказ обрабатывается менеджерами магазина. Они обязательно свяжутся с Вами по телефону для уточнения деталей и согласования времени доставки.</p>

                <table align="center" cellpadding="10" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>Информация о заказе № {{ order.id }}:</td>
                    </tr>
                    <tr>
                        <td><table cellpadding="5" cellspacing="1" border="0" style="font-size: 13px;" width="100%">
                                <tr style="font-size: 11px;"  bgcolor="#EEE">
                                    <td align="center" width="1%">&nbsp;</td>
                                    <td align="center">Товар</td>
                                    <td align="center" width="1%">Кол-во</td>
                                    <td align="center" width="1%">Стоимость</td>
                                    <td align="center" bgcolor="#F0E5CB" width="1%">Всего</td>
                                </tr>
                                {% for product in order.products %}
                                <tr>
                                    <td align="center"><a href="{{ product.url }}"><img src="{{ product.img }}" width="80" height="80" alt="{{ product.title }}" /></a></td>
                                    <td align="center">
                                        <a href="{{ product.url }}">
                                            {{ product.title }}
                                        </a>
                                        {% if product.promotion is not empty %}
                                            <br><span style="color: Green;font-size: 11px;">{{ product.promotion }}</span>
                                        {% endif %}
                                    </td>
                                    <td align="center">{{ product.count }}шт.</td>
                                    <td align="center" style="white-space: nowrap">{{ product.price }}</td>
                                    <td align="center" bgcolor="#EEE" style="white-space: nowrap">{{ product.total }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" align="right">Итого: </td>
                                    <th bgcolor="#EEE" style="white-space: nowrap">{{ order.total }}</th>
                                </tr>
                                {% if order.delivery_cost is not empty %}
                                    <tr>
                                        <td colspan="4" align="right">Доставка: </td>
                                        <th bgcolor="#EEE" style="white-space: nowrap">+{{ order.delivery_cost }}</th>
                                    </tr>
                                {% endif %}
                            </table></td>
                    </tr>
                </table>

                {% if recommended_products is not empty %}
                    <h2 style="font-size: 16px; text-align: center">Рекомендуем специально для вас</h2>
                    <table cellpadding="5" cellspacing="1" border="0" style="font-size: 13px; width: 300px;" align="center">
                    {% for product in recommended_products %}
                        <tr>
                            <td width="1%"><a href="{{ product.url }}"><img src="{{ product.img }}" width="80" height="80" alt="{{ product.name }}" /></a></td>
                            <td>
                                <a href="{{ product.url }}">{{ product.name }}</a>
                                <div style="margin-top: 5px;"><strong>{{ product.price }}</strong></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}

                <p>Если есть какие-то вопросы по товару, то позвоните нам по этому <span style="white-space: nowrap;">телефону - +38 (044) 377-72-87</span></p>
            </div>
        </div>
    </div>
{% endblock %}