<script src="https://cdn.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://cdn.amcharts.com/lib/3/serial.js"></script>
<script src="https://cdn.amcharts.com/lib/3/amstock.js"></script>

<style>
    #chartdiv {
        width	: 100%;
        height	: 500px;
    }
</style>

<script>

    var log = <?= Zend_Json::encode(AdminLogs::getGroupedTime()); ?>;



    var chartData = generateChartData(log);
    var graphsData = generateGraphsData(log);

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "pathToImages": "/amcharts/images/",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": chartData,
        "graphs": graphsData,
        "valueAxes": [{
            "id":"v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "gridAlpha": 0,
            "axisAlpha": 1,
            "position": "left"
        }],

        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "minorGridEnabled": true
        },
        "export": {
            "enabled": true,
            "position": "bottom-right",
            "libs": {
                "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
            }
        }
    });

    chart.addListener("dataUpdated", zoomChart);
    zoomChart();


    function generateChartData(log) {
        var chartData = [];
        $.each(log, function (key, data) {
            var temp = [];
            $.each(data, function (user, time) {
                temp[user] = time
            });
            temp.push({date: new Date(key)});
            chartData.push(temp);
        });
        return chartData;
    }

    function generateGraphsData(log) {
        var graphsData = [];
        $.each(log[0], function (user, count) {
            if ( 'date' !== user ) {
                graphsData.push({
                    "valueAxis": "v1",
                    "bullet": "round",
                    "bulletBorderThickness": 1,
                    "hideBulletsCount": 30,
                    "title": user,
                    "valueField": user,
                    "fillAlphas": 0
                });
            }
        });
        return graphsData;
    }

    function zoomChart(){
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }


</script>
<div id="chartdiv"></div>