<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $_GET['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('id_user', $this->params['id_user'], array(),
                array(''=>'---') + Doctrine_Query::create()->from('AdminUsers')->execute()->toKeyValueArray('id', 'name')
            )
            ?><?= $this->linkOrderHtml('id_user', ''); ?>
        </td>
        <td>&nbsp;</td>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('method', $this->params['method'], array(),
                array(''=>'---', 'POST'=>'POST', 'GET'=>'GET')
            )
            ?>
        </td>
        <td>
            <input type="text" name="url" value="<?= $_GET['url'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'url'); ?>" />
            <?= $this->linkOrderHtml('url', ''); ?>
        </td>
        <td><?= $this->tableComment($this->modelName, 'params'); ?></td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
</form>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td class="id"><?= $item->id ?></td>
                <td><strong><?= $item->AdminUsers->name ?></strong></td>
                <td><?= $item->AdminRoutes->title ?></td>
                <td><?= $item->method ?></td>
                <td>
                    <div class="wrapper_hidden" style="width: 300px; height: 50px;">
                        <div class="wrapper" style="height: 50px;">
                            <div class="container" style="white-space: nowrap"><?= $item->url ?></div>
                        </div>
                    </div>
                </td>
                <td>
                    <? if ( !empty($item->params) ) : ?>
                    <div class="wrapper_hidden" style="width: 300px; height: 90px;">
                        <div class="wrapper" style="height: 90px;">
                            <div class="container" style="white-space: pre"><?= $item->params ?></div>
                        </div>
                    </div>
                    <? endif ?>
                </td>
                <td><?= $this->time($item->time) ?></td>
            </tr>
        <? endforeach; ?>
    </tbody>

</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>