<? if ( $this->Product->ActualPromotion ) : ?>
    <div class="promotion">
        <?= $this->Countdown($this->Product->ActualPromotion); ?>
        <a href="<?= $this->url(array('id' => $this->Product->ActualPromotion->id), 'promotion-item'); ?>" class="promotion-name"><?= $this->Product->ActualPromotion->title ?></a>
    </div>
<? endif; ?>