<? if ( $this->Accessories->count() ) : ?>
<section id="accessories">
    <h2 class="tab_title">Аксессуары для <span><?= $this->Product->title; ?></span></h2>
    <? foreach ($this->Accessories as $Accessory) : ?>
        <div class="accessory_item">
            <div class="wrapper">
                <div class="container">
                    <a href="<?= $this->productUrl($Accessory); ?>">
                        <img src="<?= $Accessory->getImage()->getFirstImage()['thumb']['url']; ?>" alt="<?= $this->ProductName($Accessory); ?>">
                        <div class="title"><?= $Accessory->title; ?></div>
                    </a>
                    <div class="opacity"></div>
                </div>
            </div>
        </div>
    <? endforeach; ?>
    <div style="clear:both;"></div>
</section>
<? endif ?>