<? if ( !empty(trim(preg_replace('/ +/', ' ', preg_replace('/[^A-Za-z0-9 ]/', ' ', urldecode(html_entity_decode(strip_tags($this->Product->Brand->description))))))) ) : ?>
<section id="brand">
    <noindex>
        <h2 class="tab_title">О бренде <span><?= $this->Product->Brand->title; ?></span></h2>
        <div><?= $this->Product->Brand->description; ?></div>
    </noindex>
</section>
<? endif ?>

