<div class="status status_<?= $this->Product->status; ?>"><?= $this->Product->getStatusTitle(); ?></div>

<div class="buy_row">

    <? if ( ($this->Product->hasSticker('markdown') || $this->Product->hasSticker('sale')) && $PreMarkdownPrice = $this->Product->getPreMarkdownPrice('UAH') ) : ?>
        <div class="old_price"><?= $PreMarkdownPrice->formatHtml(); ?></div>
        <div class="old_price_diff">Скидка <?= $this->Product->markdown_percent; ?>%</div>
    <? endif ?>

    <span class="price"><?= $this->Product->getFormatedPrice('retail', 'UAH'); ?></span>

    <?= $this->ProductSpecialOffer($this->Product); ?>
    <?= $this->ProductButton($this->Product); ?>
    <?= $this->ProductRating($this->Product); ?>
</div>

<? if ( false && $monthly_payment = Credit::getMinMonthlyPayment($this->Product->getPrice('retail', 'UAH')) ) : ?>
<div class="credit_row">
    <span class="productInCredit"
          onclick="ga('send', 'event', 'Нажатие на кнопку', 'Купить в кредит', '<?= addcslashes($this->Product->getFullName(), '"\''); ?>');"
          data-modal-link="<?= $this->url(['id_product'=>$this->Product->id], 'credit-product'); ?>"
    >Купить в кредит от</span>
    <span class="price"><?= Currency::format($monthly_payment, 'UAH'); ?><span>/мес.</span></span>
</div>
<? endif ?>