<section id="comments" data-product="<?=$this->Product->id?>" data-page="1">
    <h2 class="tab_title">Отзывы / Вопросы  <? if ($this->Product->comments_count > 0) : ?>(<?=$this->Product->comments_count?>)<? endif ?></h2>

    <div class="commentButtons">
        <span class="link link-blue" data-modal-link="<?= $this->url(['id_product' => $this->Product->id], 'product-add-comment'); ?>">Добавить отзыв</span>
        <span class="link link-blue" data-modal-link="<?= $this->url(['id_product' => $this->Product->id], 'product-add-question'); ?>">Задать вопрос</span>
    </div>
    <?php $comments =  ProductsComments::getLastCheckedTree($this->Product->id, 'vote'); ?>
    <?php if(!empty($comments)){ ?>
    <? foreach($comments as $key => $comment) : ?>
    <?php if($key < 5): ?>


        <div class="comment_item level<?= $comment['level']; ?>">
            <strong class="author_name <?= $comment['is_admin'] ? 'admin' : ''  ?>"><?= $comment['author_name']; ?></strong>

            <span class="created"><?= $this->time($comment['created']); ?></span>

            <? if ( 1 == $comment['level'] && !$comment['is_question'] ) : ?>
                <?= $this->Rating($comment['rating']); ?>
            <? endif; ?>

            <? if ( 1 == $comment['level'] ) : ?>
                <div class="product_title"><?= $comment['product_title']; ?></div>
            <? endif; ?>

            <div class="comment_text">
                <div class="text" style="font-size: 15px;"><?= $comment['text']; ?></div>
                <? if ( 1 == $comment['level'] && !empty($comment['dignity'])) : ?>
                    <div class="dignity"><strong>Достоинства:</strong> <?= $comment['dignity']; ?></div>
                <? endif; ?>
                <? if ( 1 == $comment['level'] && !empty($comment['shortcoming'])) : ?>
                    <div class="shortcoming"><strong>Недостатки:</strong> <?= $comment['shortcoming']; ?></div>
                <? endif; ?>

            </div>

                <div class="comment_footer">
                    <? if ( 1 == $comment['level'] ) : ?>
                    <div class="vote_block">
                        <?= ( $comment['is_question'] ) ? 'Вопрос' : 'Отзыв'; ?> полезен?
                        <span class="link link-green comment_vote" data-type="positive" data-id="<?= $comment['id']; ?>">Да</span>
                        <span class="positive_vote_count"><?= empty($comment['positive_vote_count']) ? '' : $comment['positive_vote_count']; ?></span> |
                        <span class="link link-red comment_vote" data-type="negative" data-id="<?= $comment['id']; ?>">Нет</span>
                        <span class="negative_vote_count"><?= empty($comment['negative_vote_count']) ? '' : $comment['negative_vote_count']; ?></span>
                    </div>
                    <? endif ?>
                    <div class="answer_button link link-blue" data-modal-link="<?= $this->url(['id_parent' => $comment['id']], 'product-add-answer'); ?>">Ответить</div>
                    <div style="clear: both"></div>
                </div>

        </div>
    <?php endif; ?>
    <? endforeach; ?>

        <?php if(count($comments) > 5): ?>
            <span class="show-more link link-blue">Смотреть еще отзывы</span>
            <div class="comments_hidden">
        <? foreach($comments as $key => $comment) : ?>
            <?php if($key >= 5): ?>


                <div class="comment_item level<?= $comment['level']; ?>">
                    <strong class="author_name <?= $comment['is_admin'] ? 'admin' : ''  ?>"><?= $comment['author_name']; ?></strong>

                    <span class="created"><?= $this->time($comment['created']); ?></span>

                    <? if ( 1 == $comment['level'] && !$comment['is_question'] ) : ?>
                        <?= $this->Rating($comment['rating']); ?>
                    <? endif; ?>

                    <? if ( 1 == $comment['level'] ) : ?>
                        <div class="product_title"><?= $comment['product_title']; ?></div>
                    <? endif; ?>

                    <div class="comment_text">
                        <div class="text" style="font-size: 15px;"><?= $comment['text']; ?></div>
                        <? if ( 1 == $comment['level'] && !empty($comment['dignity'])) : ?>
                            <div class="dignity"><strong>Достоинства:</strong> <?= $comment['dignity']; ?></div>
                        <? endif; ?>
                        <? if ( 1 == $comment['level'] && !empty($comment['shortcoming'])) : ?>
                            <div class="shortcoming"><strong>Недостатки:</strong> <?= $comment['shortcoming']; ?></div>
                        <? endif; ?>

                    </div>

                    <div class="comment_footer">
                        <? if ( 1 == $comment['level'] ) : ?>
                            <div class="vote_block">
                                <?= ( $comment['is_question'] ) ? 'Вопрос' : 'Отзыв'; ?> полезен?
                                <span class="link link-green comment_vote" data-type="positive" data-id="<?= $comment['id']; ?>">Да</span>
                                <span class="positive_vote_count"><?= empty($comment['positive_vote_count']) ? '' : $comment['positive_vote_count']; ?></span> |
                                <span class="link link-red comment_vote" data-type="negative" data-id="<?= $comment['id']; ?>">Нет</span>
                                <span class="negative_vote_count"><?= empty($comment['negative_vote_count']) ? '' : $comment['negative_vote_count']; ?></span>
                            </div>
                        <? endif ?>
                        <div class="answer_button link link-blue" data-modal-link="<?= $this->url(['id_parent' => $comment['id']], 'product-add-answer'); ?>">Ответить</div>
                        <div style="clear: both"></div>
                    </div>

                </div>
            <?php endif; ?>
        <? endforeach; ?>
                <?php if(!empty(ProductsComments::getLastCheckedTree($this->Product->id, 'vote', 2))): ?>
                <span class="get-more link link-blue">Смотреть еще отзывы</span>
                <?php endif; ?>
            </div>
        <?php endif; ?>

    <?php }else{ ?>
        <span class="alert">Будь первым, расскажи о товаре.</span>
    <?php } ?>
</section>

<script>
$(".link.comment_vote").on('click', function () {
    var params = {
      id : $(this).attr('data-id'),
      type : $(this).attr('data-type')
    };
    $(this).parent().find('.link.comment_vote').off('click').addClass('lock');
    var $count = $(this).next();
    $.post('/product-comment-vote/', params, function (data) {
        $count.text(data);
    });
});
</script>