<? if ( !empty(strip_tags($this->Product->description)) ) : ?>
<section id="description">
    <h2 class="tab_title">Описание <span><?= $this->Product->title; ?></span></h2>
    <div itemprop="description"><?= $this->Product->description; ?></div>
    <div style="clear: both;"></div>
</section>
<? elseif ( $this->Product->Series->get(0)->exists() && !empty(strip_tags($this->Product->Series->get(0)->description)) ) : ?>
    <section id="description">
        <h2 class="tab_title">Описание <span><?= $this->Product->title; ?></span></h2>
        <div itemprop="description"><?= $this->Product->Series->get(0)->description; ?></div>
        <div style="clear: both;"></div>
    </section>
<? endif ?>