<? if ( count($this->GroupStateProducts) ) : ?>
    <div class="group_state">
        <div class="wrapper">
            <div class="container">
                <span class="group-title link link-black">Смотреть все цены
                    <? if (current($this->GroupStateProducts)['Product']->getPrice('retail', 'UAH')) : ?> от <?= current($this->GroupStateProducts)['Product']->getFormatedPrice('retail', 'UAH'); ?><? endif ?>
                </span>
                <? foreach($this->GroupStateProducts as $item) : ?>
                    <div class="item <? if ( $item['Product']->id == $this->Product->id ) : ?>active<? endif ?> ">
                        <a class="link link-black" href="<?= $this->productUrl($item['Product']); ?>">
                            <?= $item['Product']->title; ?> - <?= $item['Product']->getFormatedPrice('retail', 'UAH'); ?>
                        </a>
                    </div>
                <? endforeach; ?>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
<? endif ?>