<? if ( count($this->GroupSizeProducts) ) : ?>
<div class="group_size">
    <div class="size-title">Размер</div>
    <select onchange="window.location=this.value;">
        <? foreach($this->GroupSizeProducts as $item) : ?>
            <option
                <?= $item['product_id'] != $this->Product->id ?: 'selected'; ?>
                value="<?= $this->url(['alias' => $item['product_alias']], 'product'); ?>"
            ><?= $item['title'] ?></option>
        <? endforeach; ?>
    </select>
</div>
<div style="clear:both;"></div>
<? endif ?>
