<?php

/** @var Products $Product */
$Product = $this->Product;
$SeriesMatrix = $Product->getSeriesMatrix();
?>

<? if (!empty($SeriesMatrix)) :?>
<tr>
    <td colspan="2" class="groups">
        <? foreach ($SeriesMatrix as $Item) : ?>
            <div class="group view-type-<?= $Item['SeriesOption']->display_type; ?>">
                <div class="group-title"><?= $Item['SeriesOption']->ProductsOption->title; ?></div>
                <ul class="group-products">
                <? foreach($Item['Products'] as $Product) :
                    /** @var Products $Product */
                   $Values = $Product->getOptionValueByOptionId($Item['SeriesOption']->id_product_option);
                   if ($Values === null) {
                       continue;
                   }
                ?>
                    <li class="<?= $this->Product->id == $Product->id ? 'active' : ''; ?>" data-status="<?= $Product->status; ?>">
                        <a href="<?= $this->url(['alias' => $Product->alias], 'product'); ?>">
                            <? if ($Item['SeriesOption']->display_type == SeriesParams::VIEW_TYPE_PRODUCT_THUMP) : ?>
                                <img src="<?= $Product->getImage()->getFirstImage()['small']['url']; ?>" alt="<?= $Product->getFullName(); ?>">
                            <? endif ?>
                            <span><?= $Values->getValues()[0] ?></span>
                        </a>
                    </li>
                <? endforeach; ?>
                </ul>
                <div style="clear: both"></div>
            </div>
        <? endforeach; ?>
    </td>
</tr>
<? endif; ?>
