<? $this->headLink()->prependStylesheet('/css/pages/product.css?'.ASSETS_ID); ?>
<? $this->headScript()->prependFile('/js/common/product/jqzoom.js'); ?>
<? $this->headScript()->prependFile('/js/common/product/maskedinput.js'); ?>
<? $this->headScript()->prependFile('/js/common/product/index.js'); ?>

<? $this->layout()->breadcrumb = $this->ProductBreadcrumb($this->Product) ?>

<section class="product" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="productID" content="<?= $this->Product->code; ?>"/>
    <meta itemprop="brand" content="<?= $this->Product->Brand->title; ?>"/>
    <meta itemprop="name" content="<?= $this->Product->title; ?>"/>

    <span itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
      <link content="<?= $this->Product->isAvailableForOrder() ? 'InStock' : 'OutOfStock'; ?>"
            itemprop="availability">
      <meta itemprop="priceCurrency" content="<?= Zend_Registry::getInstance()->currency_current->iso; ?>" />
      <meta itemprop="price" content="<?= $this->Product->getPrice('retail', 'UAH'); ?>" />
   </span>

    <div class="title_block">
        <h1 class="p_title" itemprop="name" property="v:itemreviewed"><?= $this->Product->getTypedName(); ?></h1>
<!--        <span class="p_code">Код товара: --><?//= $this->Product->code; ?><!--</span>-->
    </div>

    <div style="clear:both;"></div>
    <?= $this->productImage($this->Product)?>

    <div class="information">
        <? if ( $this->Product->hasSticker('markdown') && !empty($this->Product->markdown_note) ) : ?>
            <div class="note"><span>Причина уценки:</span><?= $this->Product->markdown_note; ?></div>
        <? endif ?>

        <table class="top_info">
            <? if ( $this->Product->Promotion->exists() && $this->Product->Promotion->is_enabled) : ?>
                <tr>
                    <td colspan="2">
                        <div class="product_information_promotion">
                            <div class="product_information_promotion_title"><span>Акция!</span> <?= $this->Product->Promotion->title; ?></div>
                            <?= $this->PromotionRemaining( $this->Product->Promotion ); ?>
                            <a class="promotion_detail_link" href="<?= $this->url(array('id'=>$this->Product->Promotion->id), 'promotion-item') ?>">детальнее...</a>
                        </div>
                    </td>
                </tr>
            <? endif ?>
            <tr>
                <td>
                    <? if ( $ProductHint = ProductsHints::getHintByProduct($this->Product) ) : ?>
                        <span class="hint-help">
                            <span class="hint-title"><?= $ProductHint->title; ?></span>
                            <span class="hint-text"><?= $ProductHint->text; ?></span>
                        </span>
                        <br/><br/>
                    <? endif ?>

                    <div class="buy_block"><?= $this->partial('index/buy_block.phtml', ['Product' => $this->Product]); ?></div>

                    <?//= $this->ProductShare($this->Product); ?>
<!--                    <div style="clear:both;"></div>-->

                    <?= $this->Product->features; ?>
                    <div style="clear:both;"></div>

                    <?= $this->render('index/group-state.phtml') ?>
                    <?= $this->render('index/group-size.phtml') ?>

                </td>
                <td>
                    <div class="warranty_block">
                        <div class="warranty_item">
                            <div class="title">Доставка</div>
                            <div class="description">
                                <ul>
                                    <? foreach(Doctrine_Query::create()->from('OrdersDelivery')->where('is_enabled = true')->orderBy('sort')->execute() as $Delivery) : ?>
                                        <li>
                                            — <?= $Delivery->title_in_product; ?>
                                            <? if (false !== ($cost = $Delivery->getCostForProduct($this->Product, Cart::getInstance())) ) : ?>
                                                -
                                                <? if ('' == $Delivery->free_from_price) { ?>
                                                    <span class="delivery_cost"><?= Currency::format($Delivery->cost, 'UAH'); ?></span>
                                                <? } elseif ($cost > 0) { ?>
                                                    <span class="delivery_cost"><?= Currency::format($cost, 'UAH'); ?></span>
                                                    <span class="delivery_comment">(от <?= Currency::format($Delivery->free_from_price, 'UAH'); ?> бесплатно!)</span>
                                                <? } else { ?>
                                                    <span class="delivery_cost old"> <?= Currency::format($Delivery->cost, 'UAH'); ?></span>
                                                    <span class="delivery_cost">Бесплатно!</span>
                                                <? } ?>
                                            <? endif ?>
                                        </li>
                                    <? endforeach; ?>
                                </ul>
                            </div>
                        </div>
                        <div class="warranty_item">
                            <div class="title">Оплата</div>
                            <ul>
                                <? foreach(Doctrine_Query::create()->from('OrdersPayment')->where('is_enabled = true')->orderBy('sort')->execute() as $Payment) : ?>
                                    <li>— <?= $Payment->title_in_product; ?></li>
                                <? endforeach; ?>
                            </ul>
                        </div>

                        <div class="warranty_item">
                            <div class="title">Гарантия</div>
                            <ul>
                                <? if ( $this->Product->Guarantee->exists() ) : ?>
                                <li><?= $this->Product->Guarantee->title; ?></li>
                                <? endif ?>
                                <li>Обмен/возврат товара в течение 14 дней</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <?= $this->render('index/groups.phtml'); ?>
        </table>

        <div style="clear:both;"></div>

        <div id="tabs-content">
            <?= $this->render('index/series-group.phtml'); ?>

            <!--            --><?//= $this->ProductSet($this->Product); ?>
            <?= $this->render('index/comments.phtml'); ?>
            <?= $this->render('index/description.phtml'); ?>
            <?= $this->render('index/prop.phtml'); ?>
            <?= $this->render('index/series.phtml'); ?>
<!--            --><?//= $this->render('index/brand.phtml'); ?>
            <?= $this->render('index/accessories.phtml'); ?>
        </div>

<!--        <div class="scroll_pop">-->
<!--            <div class="width">-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td><img itemprop="image" src="--><?//= $this->Product->getImage()->getFirstImage()['thumb']['url']; ?><!--" width="50" height="50" alt=""/></td>-->
<!--                        <td>-->
<!--                            <div class="title">--><?//= $this->Product->title; ?><!-- — <span class="price">--><?//= $this->Product->getFormatedPrice('retail', $_SESSION['currency']) ?><!--</span></div>-->
<!--                            <div class="tabs"><ul></ul></div>-->
<!--                        </td>-->
<!--                        <td>--><?//= $this->ProductButton($this->Product); ?><!--</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->


    </div>
    <div style="clear:both;;"></div>
    <?= $this->render('index/popular.phtml'); ?>
</section>