<? if ( $this->PopularProducts->count() ) : ?>
    <div style="margin-top: 20px;" class="bottom_dot"></div>
    <div style="clear:both;"></div>
    <div id="detail_popular_products">
        <div class="popular_block">
            <div class="popular_block_title">Смотрите также</div>
            <div class="popular_product_list">
                <?= $this->partial('products-items.phtml', array('ProductList' => $this->PopularProducts));; ?>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
<? endif; ?>