<style>
    .product_item.product_table {
        width: 20%;
        border-bottom: 1px dotted #000;
        padding-bottom: 20px;
    }
</style>

<div style="background: #1A132B; text-align: center; padding: 30px;">
    <a href="/"><img src="/img/logo.png" alt="Интернет магазин anydasa.com"></a>
</div>

<div style="width: 500px; margin: auto; text-align: center;">
    <br>
    <br>

    <h1>Товар не найден</h1>
    <p>Возможно, он потерял актуальность и был удален.</p>

    <br>
    <br>
    <br>
    <br>
</div>

<? if ( $this->Products->count() ) : ?>
<section>
    <h1>Возможно Вам будет интересно</h1>
    <div class="product_list" >
        <?= $this->partial('products-items.phtml', ['ProductList' => $this->Products]); ?>
    </div>
</section>
<? endif ?>