<? if ( $prop = $this->productOptions($this->Product) ) : ?>
<section id="prop">
    <h2 class="tab_title">Характеристики <span><?= $this->Product->title; ?></span></h2>
    <?= $prop; ?>
</section>
<? endif ?>

