<?
$SeriesList = $this->Product->Series->get(0)->Group->Series;
?>

<? if ($SeriesList->count() > 1) : ?>
<section id="series-group">
    <h2 class="tab_title">Другие серии</span></h2>
    <div class="series_groups">
        <? foreach($SeriesList as $Series) : ?>
            <? $curClass = $Series->id == $this->Product->Series->get(0)->id ? ' current' : '' ?>
            <div class="series_item<?= $curClass; ?>">
                <div class="series-item-container">

                    <div class="image-container">
                        <div class="image-wrapper">
                            <?= $Series->getHtmlImgCode(); ?>
                        </div>
                    </div>

                    <div class="title-container">
                        <div class="title"><?= $Series->title; ?></div>
<!--                        --><?// if ($Product = $Series->getMinCostProduct()) :?>
<!--                            <div class="price">от <span class="amount">--><?//= $Product->getFormatedPrice('retail', 'UAH'); ?><!--</span></div>-->
<!--                        --><?// endif; ?>
                    </div>

                    <div class="arrow-row"><i></i></div>
                </div>

                <div class="list">
                    <table>
                        <? foreach($Series->Products as $Product) : ?>
                            <tr>
                                <td><a class="link link-black" href="<?= $this->ProductUrl($Product); ?>"><?= $Product->title; ?></a></td>
<!--                                <td><strong>--><?//= $Product->getFormatedPrice('retail', 'UAH'); ?><!--</strong></td>-->
                            </tr>

                        <? endforeach; ?>
                    </table>
                </div>

            </div>
        <? endforeach; ?>
    </div>

    <script>
        function openSeries($element) {
            $(".series_item").not($element).removeClass("active").find(".list").hide();

            $($element).addClass("active");
            $($element).find('.list').fadeIn(100);
        }

        function closeSeries() {
            $(".series_item").removeClass("active").find(".list").hide();
        }

        var mouseenterTimerSeries;
        var mouseleaveTimerSeries;

        $(".series_item").on('click', function (event) {
            openSeries(event.currentTarget);
        });

        $(".series_item").on('mouseenter', function (event) {
            if (mouseleaveTimerSeries) clearTimeout(mouseleaveTimerSeries);
            mouseenterTimerSeries = setTimeout(function() {
                openSeries(event.currentTarget);
            }, 10000);
        });

        $(".series_item").on('mouseleave', function (event) {
            if (mouseenterTimerSeries) clearTimeout(mouseenterTimerSeries);
            mouseleaveTimerSeries = setTimeout(function() {
                closeSeries();
            }, 1000);
        });

        $(document).on('click', function (event) {
            if ($(event.target).parents(".series_item").length == 0) {
                closeSeries();
            }
        });
    </script>
</section>
<? endif ?>


