<?php
/** @var Catalog $Catalog */
$Catalog = $this->Product->Catalogs->get(0);
?>
<? if ( $this->Product->Series->get(0)->exists() ) : ?>
<section id="series_block">
    <h2 class="tab_title">Серия <span><?= $this->Product->Series->get(0)->title; ?></span></h2>
    <table>
        <thead>
        <tr>
            <td></td>
            <? foreach($Catalog->SeriesOptions as $SeriesOption) : ?>
                <td><?= $SeriesOption->ProductsOption->title; ?></td>
            <? endforeach; ?>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <? $this->Product->Series->get(0)->refresh('SeriesProducts'); ?>
        <? foreach($this->Product->Series->get(0)->SeriesProducts as $SeriesProducts) : ?>
        <tr<? if ($SeriesProducts->id_product == $this->Product->id) echo ' class="current"'; ?>>
            <td>
                <a href="<?= $this->ProductUrl($SeriesProducts->Products); ?>">
                    <?= $SeriesProducts->Products->title ?>
                </a>
            </td>
            <? foreach($Catalog->SeriesOptions as $SeriesOption) : ?>
                <td><?= $SeriesProducts->Products->getOptionValueByOptionId($SeriesOption->ProductsOption->id) ?></td>
            <? endforeach; ?>
            <td><span class="price"><?= $SeriesProducts->Products->getFormatedPrice('retail', 'UAH'); ?></span></td>
        </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</section>
<? endif ?>

