<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('mask_type', $this->params['mask_type'], array(), array(''=>'---') + Seo::getTypes())?></td>
        <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('is_enabled', $this->params['is_enabled'], array(), array(''=>'---',1=>'да',0=>'нет'))?></td>
        <td colspan="7" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><strong><?= $item->title ?></strong></td>
            <td><?= Seo::getTypes()[$item->mask_type] ?></td>
            <td>
                <button
                    data-edit-attr-url="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'); ?>"
                    name="is_enabled"
                    value="<?= $item->is_enabled; ?>"
                    class="btn btn-xs"
                    data-toggle="tooltip"
                    title="Вкл./Выкл"
                    data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                    <i class="fa fa-lg"></i>
                </button>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'buttonType'  => 'a',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>