<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<? $this->headLink()->prependStylesheet('/css/daterangepicker.css'); ?>
<? $this->headScript()->prependFile('/js/daterangepicker.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/handlebars.js', 'text/javascript'); ?>

<?= $this->render('report/chart-header.phtml') ?>

<script>
    $(function() {

        var createdrange = $("#created").val()

        $("#created").daterangepicker({
            autoApply : false,
            ranges: {
                "Сегодня": [
                    moment().format('YYYY-MM-DD'),
                    moment().format('YYYY-MM-DD')
                ],
                "Вчера": [
                    moment().subtract(1, 'days').format('YYYY-MM-DD'),
                    moment().subtract(1, 'days').format('YYYY-MM-DD')
                ],
                "Последние 7 дней": [
                    moment().subtract(7, 'days').format('YYYY-MM-DD'),
                    moment().format('YYYY-MM-DD')
                ],
                "Последние 30 дней": [
                    moment().subtract(30, 'days').format('YYYY-MM-DD'),
                    moment().format('YYYY-MM-DD')
                ],
                "Этот месяц": [
                    moment().subtract(1, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                    moment().endOf('month').format('YYYY-MM-DD')
                ],
                "Пролшый месяц": [
                    moment().subtract(2, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                    moment().subtract(1, 'month').endOf('month').format('YYYY-MM-DD')
                ]
            },
            locale: {
                "format": "YYYY-MM-DD",
                "separator": "~",
                "applyLabel": "Применить",
                "cancelLabel": "Очистить",
                "fromLabel": "С",
                "toLabel": "До",
                firstDay : 1,
                "customRangeLabel": "Выбрать период",
                "daysOfWeek": ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
                "monthNames": ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"]
            },
            linkedCalendars: false,
            autoUpdateInput: true
        });

        $('#created').val(createdrange);
        $('#created').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    });

</script>


<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title; ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">
    <table class="table table-striped table-hover table-condensed">
    <tr>
        <td>
            <?= $this->formSelect(
                'id_catalog',
                $this->params['id_catalog'],
                ['style' => 'width: 120px;'],
                ['' => '• • • Категория'] + Doctrine_Query::create()->from('Catalog')->addOrderBy('title')->execute()->toKeyValueArray('id', 'title')
            );
            ?>
            <?= $this->formSelect(
                'payment_type',
                $this->params['payment_type'],
                ['style' => 'width: 120px;'],
                ['' => '• • • Оплата'] + OrdersPayment::getList()->toKeyValueArray('id', 'title'));
            ?>
            <?= $this->formText('created', $this->params['created'], ['placeholder' => 'Время оформления']); ?>
        </td>
        <td style="white-space: nowrap;">
            <a href="<?= $this->url(); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
    </table>
</form>

<table class="table table-striped table-hover table-condensed" id="<?= $this->modelName; ?>List">
    <thead>
    <tr>
        <td></td>
        <td></td>
        <td><?= $this->linkOrderHtml('count', 'Колво'); ?></td>
        <td><?= $this->linkOrderHtml('sum_sale', 'Оборот'); ?></td>
        <td><?= $this->linkOrderHtml('__profit', 'Прибыль'); ?></td>
        <td>Рентаб</td>
        <td>Отмены</td>
    </tr>
    </thead>
    <tbody>
    <? /** @var Products $item */
    foreach ($this->list as $item) : ?>
        <tr>
            <td><?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => $item->code,
                )); ?>
            </td>
            <td><?= $item->getFullName() ?></td>
            <td>
                <strong data-toggle="tooltip" title="Всего"><?= intval($item->count) ?></strong> (
                <span data-toggle="tooltip" title="Завершенные" style="color: green;"><?= intval($item->__completed) ?></span> +
                <span data-toggle="tooltip" title="Отмененные" style="color: red;"><?= intval($item->__canceled) ?></span> +
                <span data-toggle="tooltip" title="Остальные" style="color: grey;"><?= intval($item->__another) ?></span> )
            </td>
            <td><?= Currency::format($item->sum_sale, 'UAH') ?></td>
            <td><?= Currency::format($item->__profit, 'UAH') ?></td>
            <td><?= @round($item->__profit/$item->sum_sale*100, 2) ?></td>
            <td><?= @round(intval($item->__canceled) / intval($item->__completed) * 100, 0) ?>%</td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-report-product',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-area-chart"></i>',
                )); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-report-product-orders',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-shopping-basket"></i>',
                )); ?>
            </td>

        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>