<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title; ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>



<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    <? /** @var Orders $item */
    foreach ($this->list as $item) : ?>
        <tr>
            <td style="font-size: 11px; color: grey;"><?= SF::getFirstSentences($item->address, 30) ?>...<br>
                <?= $item->Payment->title; ?><br>
                <?= $item->Delivery->title; ?></td>
            <td><?= $this->time($item->created) ?></td>
            <td style="background: <?= $item->Status->background; ?>;"><?= $item->Status->title; ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-history',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-history"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>