<?= $this->render('report/chart-header.phtml') ?>

<h1><?=$this->Product->title?></h1>

<div id="chartdiv" style="height: 400px; width: 100%;"></div>

<script>

    var data = <?= Zend_Json::encode($this->ChartData); ?>;

    var chartData = generateChartData(data);
    var graphsData = [{
            "valueAxis": "v10",
            "lineColor": "#000000",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Все",
            "valueField": "all",
            "fillAlphas": 0
        }, {
            "valueAxis": "v1",
            "lineColor": "red",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Отмененные",
            "valueField": "canceled_all",
            "fillAlphas": 0
        }, {
            "valueAxis": "v2",
            "lineColor": "#0000FF",
            "bullet": "square",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Завершенные",
            "valueField": "complete_all",
            "fillAlphas": 0
        }, {
            "valueAxis": "v1",
            "lineColor": "green",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Пользователь",
            "valueField": "user",
            "fillAlphas": 0
        }, {
            "valueAxis": "v1",
            "lineColor": "#FFFF00",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "Менеджер",
            "valueField": "admin",
            "fillAlphas": 0
        }];

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "patterns",
        "pathToImages": "/amcharts/images/",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": chartData,
        "graphs": graphsData,
        "valueAxes": [{
            "id":"v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "gridAlpha": 0,
            "axisAlpha": 1,
            "position": "left"
        }],

        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "minorGridEnabled": true
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });

    chart.addListener("dataUpdated", zoomChart);
    zoomChart();


    function generateChartData(date) {
        var chartData = [];

        $.each(data, function (key, data) {
            var temp = [];
            $.each(data, function (key2, count) {
                temp[key2] = count
            });
            temp.push({date: new Date(data['date'])});
            chartData.push(temp);
        });

        return chartData;
    }

    function generateGraphsData(data) {
        var graphsData = [];
        $.each(log[0], function (item, count) {
                graphsData.push({
                    "valueAxis": "v1",
//                    "lineColor": "#FF6600",
                    "bullet": "round",
                    "bulletBorderThickness": 1,
                    "hideBulletsCount": 30,
                    "title": user,
                    "valueField": user,
                    "fillAlphas": 0
                });
        });
        return graphsData;
    }

    function zoomChart(){
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }

</script>
