<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'download',
        'buttonAttr'  => array('class'=>'btn btn-xs', 'data-target'=>'prev'),
        'buttonText'  => '<i class="fa fa-lg fa-download"></i>',
    )); ?>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<form method="get">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td><?= $this->formSelect('AdwordsAdgroup|id_camp', $this->params['AdwordsAdgroup|id_camp'], null, ['' => '----'] + Doctrine_Query::create()->from('AdwordsCampaign')->orderBy('name')->execute()->toKeyValueArray('id', 'name')); ?></td>
        <td style="width: 400px;">
            <input type="text" name="AdwordsAdgroup|name" value="<?= $this->params['AdwordsAdgroup|name'] ?>" placeholder="Название группы" />
            <?= $this->linkOrderHtml('AdwordsAdgroup|name', ''); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td style="color: GrayText;"><?= $this->tableComment($this->modelName, 'status'); ?></td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->AdwordsAdgroup->AdwordsCampaign->name ?></td>
            <td><?= $item->AdwordsAdgroup->name ?></td>
            <td>
                <div style="background: #fff;  border: 1px solid #ccc; font-size: 13px; padding: 7px 5px; line-height: 1.4em;">
                    <div style="color: #0000CC;"><?= $item->headline ?></div>
                    <div style="color: #0e8f0e;"><?= $item->display_url ?></div>
                    <div style="color: #333;"><?= $item->description1 ?></div>
                    <div style="color: #333;"><?= $item->description2 ?></div>
                </div>
            </td>
            <td><?= AdwordsAd::getStatusList()[$item->status] ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>