<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
        'queryParams' => array('id_group' => $this->params['id_group']),
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<table class="table table-striped table-hover table-condensed">
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td>
                <div style="background: #fff;  border: 1px solid #ccc; font-size: 13px; padding: 7px 5px;line-height: 1.4em;">
                    <div style="color: #0000CC;"><?= $item->headline ?></div>
                    <div style="color: #0e8f0e;"><?= $item->display_url ?></div>
                    <div style="color: #333;"><?= $item->description1 ?></div>
                    <div style="color: #333;"><?= $item->description2 ?></div>
                </div>
            </td>
            <td><?= AdwordsAd::getStatusList()[$item->status] ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>