<? $this->headLink()->prependStylesheet('/css/jquery-ui.css'); ?>
<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed" style="max-width: 1200px;">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td>Связанные баннеры</td>
        <td>Дней.</td>
        <td colspan="3" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td>
                <div class="label label-success"><?= $item->Type->title ?></div>
                <div class="label label-info"><?= $item->Category->title ?></div>
                <div><strong><?= $item->title ?></strong></div>
            </td>
            <td>
                <?php if($item->Banners): ?>
                    <ul class="list-unstyled">
                        <?php foreach ($item->Banners as $banner){ ?>
                            <li><?=$banner->title?></li>
                        <?php } ?>
                    </ul>
                <?php endif; ?>
            </td>
            <td style="white-space: nowrap"><?= $item->getPeriodStr() ?></td>
            <td style="white-space: nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'products-list',
                    'routeParams' => array('id_promotion' => $item->id),
                    'buttonTitle'  => $item->Products->count() . ' товаров',
                    'buttonText'  => '<i class="fa fa-list fa-lg"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>