<div class="callback_part">
    <div class="callback_title">Заказать без оформления</div>
    <p>Можно не заполнять никаких форм, просто оставить Ваши данные и консультант решит все вопросы по оформлению заказа.</p>
    <form method="POST" action="<?= $this->url([], 'order-one-click'); ?>" data-target="self" id="buy_back_call_form">
        <input type="tel" name="phone" placeholder="+38 (xxx) xxx-xx-xx" >
        <input type="email" name="email" placeholder="example@host.com" >
        <p>Сюда мы будем отправлять уведомления о статусах заказа.</p>
        <div class="checkbox">
            <label for="no_email">
                <input id="no_email" type="checkbox" name="no_email">
                У меня нет email
            </label>
        </div>


        <button class="btn btn-green">перезвонить</button>
    </form>
</div>
<script src="/js/vendor/maskedinput.js"></script>
<script src="/js/vendor/validate.js"></script>
<script type="text/javascript">
    $form = $("form#buy_back_call_form");

    $form.find("[name='phone']").mask('+38 (999) 999-99-99');

    $form.validate({
        "rules": {
            "phone": {"required": true},
            "email": {"required": '#no_email:unchecked', email: true}
        },
        "messages": {
            "phone": {"required": ""},
            "email": {"required": "", "email": ""}
        }
    });

    $form.on('submit', function () {
        if ( $form.valid() ) {
            $form.find('button').addClass('bar').prop('disabled', true);
        }
    });

    $("#head-cart").html("<?= SF::escapeJavaScriptText($this->render('header-cart.phtml')); ?>");
    $(".btn2cart[data-id='<?= $this->Product->id; ?>']").replaceWith("<?= SF::escapeJavaScriptText($this->Product2Cart($this->Product)); ?>")
</script>