<div style="clear:both;"></div>
<div class="row2cart">
    <a class="btn btn-important btn-large" href="<?= $this->url([], 'order'); ?>">Оформить заказ</a>
    <span class="mw-close"><span class="link link-green">продолжить покупки</span></span>
</div>