<div class="window_title">
    <i></i>
    <a href="<?= $this->url([], 'order'); ?>"><?= $count = $this->Cart->getProductsCount(); ?> <?= SF::numberof($count, 'товар', ['', 'а', 'ов']); ?></a>
    на сумму <?= Currency::format($this->Cart->getSum(), $this->Cart->getCurrency()->iso); ?>
</div>