<h1>
    <strong><?= $this->Series->title ?></strong> - Товары
</h1>

<? if ($this->isSaved) :?>
    <div class="alert alert-success fade-out-flash"><strong>Сохранено!</strong></div>
<? endif; ?>

<form data-target="self" method="post" action="<?= $this->url(); ?>" id="SeriesProductsForm">
    <table class="table table-striped table-hover table-sorted">
        <thead>
        <tr>
            <th style="width: 400px;">Нзвание</th>
        </tr>
        </thead>

        <tbody></tbody>

        <tfoot>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-success pull-right">Сохранить</button>
                <i class="btn btn-info fa fa-lg fa-plus pull-left add-series-product"
                   data-key="<?= $this->Series->title ?>"
                ></i>
            </td>
        </tr>
        </tfoot>
    </table>
</form>

<script type="text/x-handlebars-template" id="SeriesProductsRowTpl">
    <tr data-product-id="{{id}}">
        <td>
            <? $button = $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-view',
                'routeParams' => array('id' => 'ID'),
                'buttonText'  => '<i class="fa fa-eye"></i>',
            ));
            echo str_replace('ID', '{{id}}', $button);
            ?>
            {{title}}
            <input type="hidden" name="product[]" value="{{id}}">
        </td>
        <td>
            <i class="fa fa-lg fa-trash-o delete-series-product"></i>
        </td>
    </tr>
</script>


<script>
    $(".fade-out-flash").delay(2000).fadeOut(200);

    <? foreach ($this->Series->SeriesProducts as $SeriesProducts) :
        $params = $SeriesProducts->Values->toKeyValueArray('id_param', 'id');
        $product = $SeriesProducts->Products->toArray();
    ?>
    populateOneProduct(<?=json_encode($product)?>, <?=json_encode($params)?>);
    <? endforeach; ?>
</script>
