$page-min-width: 1000px;
$page-max-width: 1400px;
$border-dot: 1px dotted #ccc;

$wrapper-shadow: 0 0 5px #ccc;

$tablet: "(min-width: 768px) and (max-width: 1099px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";

$primary-color: #1A132B;
$secondary-color: #FAA619;
$count-color: #FAA619;