<?= $this->render('tabs.phtml'); ?>

<div id="order-step-block">
    <h2>Шаг 1: Введите контактные данные для связи с вами.</h2>

    <? if ($this->user) : ?>
        <h2 style="display: inline-block;">Здравствуйте, <?=$this->user->name?>!</h2> &nbsp;&nbsp;&nbsp;<a href="<?=$this->url([], 'logout')?>" class="link link-green">Выйти</a>
        <p>Вы можете выбрать сохраненные контактные данные или ввести новые. Редактировать список данных вы можете в личном кабинете.</p>
    <? else: ?>
        <p><strong>Есть личный профиль</strong> <span class="link link-green" data-modal-link="/login/">Вход</span></p>
    <? endif; ?>

    <?= $this->form; ?>
</div>

<div id="next-order-step-container">
    <span class="btn btn-large btn-important" id="next-order-step">Продолжить оформление</span>
</div>

<div id="cart-items-container"><?= $this->render('cart-items.phtml'); ?></div>