<?= $this->render('tabs.phtml'); ?>

<div id="order-step-block">
    <h2>Шаг 2: Куда доставить заказ?</h2>
    <?= $this->form; ?>
</div>

<div id="next-order-step-container">
    <span class="btn btn-large btn-important" id="next-order-step">Продолжить оформление</span>
</div>

<div id="cart-items-container"><?= $this->render('cart-items.phtml'); ?></div>
