<div style="padding: 30px;">
    <?= Zend_Registry::getInstance()->spelling['post_order_one_click']; ?>
</div>
<script type="text/javascript">
    $("#head-cart").html("<?= SF::escapeJavaScriptText($this->render('header-cart.phtml')); ?>");
    <? if (!IS_DEV) : ?>
        ga('send', 'event', 'order', 'one-click');

        ga('require', 'ecommerce', 'ecommerce.js');
        ga('ecommerce:addTransaction', {
            'id': '<?= $this->Order->id; ?>',           // ID заказа
            'affiliation': 'megabite',                  // Название магазина
            'revenue': '<?= $this->Order->getSum(); ?>',// Общая стоимость заказа
            'shipping': '',                             // Стоимость доставки
            'tax': ''                                   // Налог
        });

        <? foreach($this->Order->Products as $Product) : ?>
        ga('ecommerce:addItem', {
            'id':       '<?= $Product->id_order; ?>',      // ID заказа
            'name':     '<?= addslashes($Product->title); ?>', // Название товара
            'sku':      '<?= $Product->code; ?>',          // Артикул или SKU
            'category': '',                                // Размер, модель, категория или еще какая-то информация
            'price':    '<?= $Product->price; ?>',         // Стоимость товара
            'quantity': '<?= $Product->count; ?>'          // Количество товара
        });
        <? endforeach; ?>

        ga('ecommerce:send');
    <? endif ?>
</script>