<?= $this->render('tabs.phtml'); ?>

<div id="order-step-block">
    <h2>Шаг 3: Как удобно оплатить заказ?</h2>
    <div id="step-payment">
        <?= $this->form; ?>
        <? foreach(OrdersPayment::getList() as $Payment) : ?>
            <? if ( !empty($Payment->text) ) : ?>
                <div class="payment-text" id="payment-<?= $Payment->id; ?>-text"><?= $Payment->text; ?></div>
            <? endif ?>
        <? endforeach; ?>
        <div style="clear: both;"></div>
    </div>
</div>

<div id="next-order-step-container">
    <span class="btn btn-large btn-important" id="next-order-step">Продолжить оформление</span>
</div>

<div id="cart-items-container"><?= $this->render('cart-items.phtml'); ?></div>
