<div class="order_success">
    <br/>
    <br/>
    <br/>
    <h2>Ваш заказ оформлен.</h2>
    <br/>
    <br/>
    <br/>
    <h3>Благодарим Вас за покупку.</h3>

    <p>Номер заказа <?= $this->Order->id; ?></p>


    <div>
        <a href="/" class="btn btn-important btn-large">Вернуться в магазин</a>
    </div>
</div>

<script type="application/javascript">
    ga('require', 'ecommerce', 'ecommerce.js');
    ga('ecommerce:addTransaction', {
        'id': '<?= $this->Order->id; ?>',           // ID заказа
        'affiliation': 'megabite',                  // Название магазина
        'revenue': '<?= $this->Order->getSum(); ?>',// Общая стоимость заказа
        'shipping': '',                             // Стоимость доставки
        'tax': ''                                   // Налог
    });

    <? foreach($this->Order->Products as $Product) : ?>
        ga('ecommerce:addItem', {
            'id':       '<?= $Product->id_order; ?>',      // ID заказа
            'name':     '<?= addslashes($Product->title); ?>', // Название товара
            'sku':      '<?= $Product->code; ?>',          // Артикул или SKU
            'category': '',                                // Размер, модель, категория или еще какая-то информация
            'price':    '<?= $Product->price; ?>',         // Стоимость товара
            'quantity': '<?= $Product->count; ?>'          // Количество товара
        });
    <? endforeach; ?>

    ga('ecommerce:send');
</script>

<? foreach($this->Order->Products as $Product) : ?>
   <?php $ids[] = $Product->id?>
<? endforeach; ?>
<?php if(!empty($ids)):?>
<script>
    //fbq('track', 'Purchase', {
    //    content_ids: [<?//= implode(",", $ids)?>//],
    //    content_type: 'product',
    //    value: '<?//= $this->Order->getSum(); ?>//',
    //    currency: 'UAH'
    //});
</script>
<?php endif;?>