<? if ( Cart::getInstance()->isFull() ) : ?>
<table class="cart-items">
    <thead>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>Кол-во</td>
        <td>Цена</td>
        <td>Стоимость</td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <? foreach(Cart::getInstance()->getProducts() as $product) : ?>
        <tr>
            <td>
                <a href="<?= $product_url = $this->ProductUrl(Doctrine::getTable('Products')->find($product['id'])); ?>">
                    <img alt="<?= $product['title']; ?>" src="<?= (new Products_Image($product['id']))->getFirstImage()['thumb']['url']; ?>">
                </a>
            </td>
            <td class="title">
                <a href="<?= $product_url; ?>"><?= $product['title']; ?></a>
            </td>
            <td>
                <div class="count_choice">
                    <span class="minus" data-id="<?= $product['id']; ?>"></span>
                    <input type="text"
                           value="<?= $product['count']; ?>"
                           data-id="<?= $product['id']; ?>"
                           onkeypress="return intInput(event);"
                           onkeyup="return intInput(event);"
                           data-available="10"
                           data-action="/cart/set-count-in-list/"
                        >
                    <span class="plus" data-id="<?= $product['id']; ?>"></span>
                </div>
            </td>
            <td class="item_price"><?= $this->PriceBlock($product['price'], $product['old_price'], $product['currency']); ?></td>
            <td class="item_total"><?= $this->PriceBlock($product['total'], $product['old_total'], $product['currency']); ?></td>
            <td><span class="link link-green cart-item-delete" data-id="<?= $product['id']; ?>">Удалить</span></td>
        </tr>
    <? endforeach; ?>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">

            <div class="totalcart">
                <strong>Итого: </strong>
                <?= $this->PriceBlock(
                    Cart::getInstance()->getSum(),
                    0,
                    Cart::getInstance()->getCurrency()->iso
                );?>

                <? if ( $Payment = Doctrine::getTable('OrdersPayment')->find( Cart::getPayment() ) AND $Payment->commission > 0 ) : ?>
                    <div>+комиссия <?= $this->PriceBlock(
                            (Cart::getInstance()->getSum() * $Payment->commission / 100),
                            0,
                            Cart::getInstance()->getCurrency()->iso
                        );?>
                    </div>
                <? endif ?>

                <? if ( ( $delivery_type = (new Zend_Session_Namespace('Order'))->steps['delivery']['data']['delivery'] )
                        &&
                        ( $Delivery = Doctrine::getTable('OrdersDelivery')->find($delivery_type) )
                        &&
                        ( $cost = $Delivery->getCostForCart(Cart::getInstance()) )
                ) : ?>
                    <div>+доставка <?= $this->PriceBlock($cost, 0, 'UAH');?></div>
                <? endif ?>

            </div>

        </td>
    </tr>
    </tfoot>
</table>
<? endif ?>