<div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Organization">
    <span property="v:name" content="<?= SITE_NAME; ?>"></span>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="Киев, ул. Авиаконструктора Антонова, 2/32, корпус 4а"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Ровно, ул. Князя Владимира, 109а"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Запорожье, ул. Брянская, 8"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Алчевск, ул. Горького, 37"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Белая Церковь, ул. 1-ая Совхозная, 5"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Винница, ул. Глеба Успенского, 91"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Горловка, ул. Кузнецова-Зубарева, 18"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Днепродзержинск, ул. Кирова, 12"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Днепропетровск, ул. Маршала Малиновского, 98а"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Донецк, ул. Таврическая, 139"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Ивано-Франковск, ул. Вовчинецкая, 26"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Краматорск, ул. 19-го Партсъезда, 39"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Кременчуг, ул. 1-й Песчаній тупик, 1"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Кривой Рог, ул. Куприна, 123б"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Луганск, ул. Оборонная, 109б"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Луцк, ул. Карбышева, 1"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Львов, ул. Городоцкая, 355/6"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Макеевка, ул. Таёжная, 1"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Николаев, ул. 1-я Слободская, 62"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Никополь, ул. Лесная, 1"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Павлоград, ул. Днепровская, 49"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Полтава, ул. Фрунзе, 225"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Северодонецк, ул. Заводская, 21"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Сумы, ул. 2-я Лебединская, 2а"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Тернополь, ул. Подольская, 21"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Ужгород, ул. Гагарина, 36"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Харьков, ул. Плехановская, 126"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Херсон, ул. Ладичука, 150"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Хмельницкий, ул. Озерная, 16/1"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Чернигов, ул. Старобелоуская, 16 а"></span>
        </div>
    </div>
    <div rel="v:address">
        <div typeof="v:Address">
            <span property="v:street-address" content="г. Черновцы, ул. Русская, 234г"></span>
        </div>
    </div>
    <div rel="v:geo">
      <span typeof="v:Geo">
         <span property="v:latitude" content="50.430639"></span>
         <span property="v:longitude" content="30.45893"></span>
      </span>
    </div>

    <span property="v:url" content="<?= REQUEST_SCHEME?>://<?= APPLICATION_DOMAIN; ?>"></span>
</div>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 936803779;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "iaZSCPmH5WAQw_vZvgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/936803779/?label=iaZSCPmH5WAQw_vZvgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 936803779;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/936803779/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<? if ( /*'order' != Zend_Layout::getMvcInstance()->getLayout()*/ 0 ) : ?>
<script type="text/javascript">
    (function() {
        var widget_id = '6520';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//code.jivosite.ru/script/widget/'+widget_id;
        var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
    })();
</script>
<? endif ?>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter31459588 = new Ya.Metrika({
                    id:31459588,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31459588" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->