<? if ( 'main' == Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName() && false ) : ?>
<div style="background: #CCC">
    <div class="width">
        <div class="wrapper">
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
<? endif ?>

<div>
    <div class="width">
        <ul class="footer_blocks">
            <li>
                <div>
                    <div class="title">Контакты</div>
                    <div class="descr">
                        <ul>
                            <li><span>тел:</span> +38 (066) 001-01-59</li>
                            <li><span>тел:</span> +38 (096) 001-01-59</li>
                            <li><span>тел:</span> +38 (073) 001-01-59</li>
                            <li><span>email:</span> info@anydasa.com</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="title">Режим работы</div>
                    <div class="descr">
                        <ul>
                            <li><span>Пн-Пт:</span> с 09:30 до 18:00</li>
                            <li><span>Сб:</span> с 10:00 до 14:00</li>
                            <li><span>Вс:</span> выходной</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="title">Покупателям</div>
                    <div class="descr">
                        <ul class="links">
                            <li><a href="/product-search.html">Как найти и выбрать товары</a></li>
                            <li><a href="/contacts.html">Обратная связь</a></li>
                            <li><a href="/about-service.html">О сервисе</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="title">Сотрудничество</div>
                    <div class="descr">
                        <ul class="links">
                            <li><a href="/partners.html">Партнёрская программа</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

        <div style="clear: both"></div>

        <div class="copyright">
            <div>&copy; Интернет-каталог «anydasa.com» 2020</div>
        </div>
    </div>
</div>

<script src="//code-ya.jivosite.com/widget/ktErNU6q2a" async></script>