<!--<div class="head_toolbar">-->
<!--    <div class="width">-->
<!--        <div class="wrapper">-->
<!--            <div class="top-menu-mob-btn"><img src="//--><?//= APPLICATION_DOMAIN; ?><!--/img/icons/mob-menu-icon.png?v3"><span>Меню</span></div>-->
<!--            <ul class="l">-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'about-us'), 'static-page'); ?><!--">--><?//= $this->staticPages['about-us']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'contacts'), 'static-page'); ?><!--">--><?//= $this->staticPages['contacts']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url([], 'promotions', true); ?><!--">--><?//= $this->staticPages['promotions']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'delivery'), 'static-page'); ?><!--">--><?//= $this->staticPages['delivery']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'payment'), 'static-page'); ?><!--">--><?//= $this->staticPages['payment']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'credit'), 'static-page'); ?><!--">--><?//= $this->staticPages['credit']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('alias'=> 'guarantee'), 'static-page'); ?><!--">--><?//= $this->staticPages['guarantee']; ?><!--</a></li>-->
<!--                <li><a href="--><?//= $this->url(array('controller'=> 'liqpay'), 'payment'); ?><!--">LiqPay</a></li>-->
<!--            </ul>-->
<!--            <ul class="r">-->
<!--                <li>--><?//= $this->handleLogin() ?><!--</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="width">
<!--    <div class="head_info" itemscope itemtype="http://schema.org/Organization">-->
<!--        <div class="search-form">-->
<!--            <div class="logo">-->
<!--                <a href="/">-->
<!--                    <img src="//--><?//= APPLICATION_DOMAIN; ?><!--/img/logo.png" alt="--><?//= SITE_NAME; ?><!--" title="--><?//= SITE_NAME; ?><!--">-->
<!--                    <link itemprop="url" content="--><?//= REQUEST_SCHEME?><!--://--><?//= APPLICATION_DOMAIN; ?><!--" />-->
<!--                </a>-->
<!--            </div>-->
<!---->
<!--            <form action="--><?//= $this->url([], 'search'); ?><!--" method="get">-->
<!--                <input type="search" autocomplete="off" placeholder="Поиск товаров" name="k">-->
<!--                <button class="btn"><i></i></button>-->
<!--            </form>-->
<!--        </div>-->
<!---->
<!--        <script>-->
<!--            $('.top-menu-mob-btn').click( function(e){-->
<!--                e.preventDefault();-->
<!--                $('.head_toolbar .r, .head_toolbar .l').slideToggle();-->
<!--            });-->
<!--        </script>-->
<!---->
<!--    </div>-->
</div>