<div class="cart">
    <div class="icon <?= Cart::getInstance()->isFull() ? 'full' : ''; ?>">
        <i></i>
        <span class="cnt"><?= Cart::getInstance()->getProductsCount(); ?></span>
    </div>

    <? if (Cart::getInstance()->isFull()) : ?>
        <div class="block_title"><a href="<?= $this->url([], 'order'); ?>">В корзине</a></div>
    <? else: ?>
        <div class="block_title">Корзина</div>
    <? endif ?>


    <div class="subtitle">
        <? if (Cart::getInstance()->getProductsCount() > 0) : ?>
            <div class="count">
                <?= Cart::getInstance()->getProductsCount(); ?>
                <?= SF::numberof(Cart::getInstance()->getProductsCount(), '', ['товар', 'товара', 'товаров']); ?>
            </div>
            <div class="sum">
                на
                сумму <?= Currency::format(Cart::getInstance()->getSum(), Cart::getInstance()->getCurrency()->iso); ?>
            </div>
        <? else : ?>
            Пусто
        <? endif; ?>
    </div>

    <div class="cart_items">
        <ul class="ul">
            <? foreach (Cart::getInstance()->getProducts() as $id_product => $product) : ?>
                <li>
                    <span class="del" data-id="<?= $id_product; ?>"><i></i></span>
                    <div class="img">
                        <a href="<?= $product_url = $this->ProductUrl(Doctrine::getTable('Products')->find($product['id'])); ?>">
                            <img width="50" height="50" alt="<?= $product['title']; ?>"
                                 src="<?= (new Products_Image($id_product))->getFirstImage()['thumb']['url']; ?>"
                                 style="opacity: 1;">
                        </a>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a class="link-blue" href="<?= $product_url; ?>"><?= $product['title']; ?></a>
                        </div>
                        <div class="price">
                            <?= $product['count']; ?>
                            × <?= Currency::format($product['price'], Cart::getInstance()->getCurrency()->iso); ?>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li class="cart-preview-first">
                    <a class="btn btn-important" href="<?= $this->url([], 'order'); ?>">Оформить заказ</a>
                </li>
            <? endforeach; ?>
        </ul>
    </div>
</div>