<?php
$Tree = Doctrine_Query::create()
    ->from('CatalogMenu')
    ->addWhere('count_products > 0')
    ->addWhere('level > 0')
    ->orderBy('lft')
    ->execute(array(), Doctrine_Core::HYDRATE_RECORD_HIERARCHY);
?>
<div class="width">
    <div class="header-container">
        <div class="logo-container">
            <a href="/"><img src="/img/logo.svg?v1" width="200"></a>
        </div>
        <div class="phone-container">
            <ul>
                <li>+38 066 001-01-59</li>
                <li>+38 096 001-01-59</li>
                <li>+38 073 001-01-59</li>
            </ul>
        </div>
        <div class="cart-container" id="head-cart">
            <?= $this->render('header-cart.phtml'); ?>
        </div>
    </div>
    <div class="header-container">
        <div class="menu-button-wrapper">
            <button class="menu-toggle-button" type="button">
                <div class="line-wrapper">
                    <div class="line-container">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <span class="title">Каталог</span>
                </div>
            </button>
        </div>
        <div class="menu-container">
            <div class="menu-wrapper">
                <div class="menu-tree">
                    <ul class="dropdown-menu">
                        <? foreach ($Tree as $item) : ?>
                            <li class="dropdown-menu-item">
                                <a href="#">
                                    <span class="icon"></span>
                                    <span class="title"><?= $item->title ?></span>
                                    <i class="icon-arrow"></i>
                                </a>
                                <div class="menu-content">
                                    <? foreach ($item->__children as $child) : ?>
                                        <div>
                                            <h4><?= $child->title ?></h4>
                                            <ul>
                                                <? foreach ($child->__children as $child2) : ?>
                                                    <li>
                                                        <a href="<?= $this->MenuLink($child2) ?>"><?= $child2->title ?></a>
                                                    </li>
                                                <? endforeach; ?>
                                            </ul>
                                        </div>
                                    <? endforeach; ?>
                                </div>
                            </li>
                        <? endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>

        <div class="search-container">
            <div class="search-form">
                <form action="<?= $this->url([], 'search'); ?>" method="get">
                    <input type="search" autocomplete="off" value="<?= $_GET['k']; ?>" placeholder="Поиск товаров" name="k">
                    <i></i>
                    <button class="btn">Найти</button>
                </form>
            </div>


        </div>
    </div>

</div>

<script>

    var $menu = $(".dropdown-menu");

    $menu.menuAim({
        activate: activateSubmenu,
        deactivate: deactivateSubmenu
    });

    function activateSubmenu(row) {
        $(row).addClass("active");
    }

    function deactivateSubmenu(row) {
        $(row).removeClass("active");
    }

    $(document).on('keydown', function (event) {
        if (27 === event.which) {
            deactivateMenu();
        }
    });

    $(".overlay-menu").on('click', function (event) {
        deactivateMenu();
    });

    function deactivateMenu() {
        $('.overlay-menu').fadeOut()
        $(".menu-container").fadeOut()
        $("li.active").removeClass("active");
        $(".menu-toggle-button").removeClass('active');
    }

    function activateMenu() {
        $('.overlay-menu').fadeIn();
        $(".menu-container").fadeIn()
        $(".menu-toggle-button").addClass('active');
        $("li").first().addClass("active");
    }

    jQuery.fn.clickToggle = function(a, b) {
        return this.on("click", function(ev) { [b, a][this.$_io ^= 1].call(this, ev) })
    };

    $('.menu-toggle-button').clickToggle(function() {
        activateMenu();
    }, function() {
        deactivateMenu();
    });
</script>