<div class="social">
    <p>Или войдите, используя социальные сети:</p>
    <a href="/oauth/fb/" class="fb"><i></i></a>
    <a href="/oauth/vk/" class="vk"><i></i></a>
    <a href="/oauth/gplus/" class="gplus"><i></i></a>
    <a href="/oauth/ya/" class="ya"><i></i></a>
</div>