<? foreach ($this->ProductList as $Product) : ?>
<div class="product_item product_table">
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <a href="<?= $this->productUrl($Product); ?>"><?= $this->ProductName($Product) ?></a>
            </div>
            <div class="image">
                <a href="<?= $this->productUrl($Product); ?>" rel="nofollow">
                    <img
                        data-original="<?= $Product->getImage()->getFirstImage()['middle']['url']; ?>"
                        src="/img/spacer.gif"
                        alt="<?= htmlentities(strip_tags($this->ProductName($Product)), ENT_COMPAT); ?>">
                </a>
            </div>

            <?= $this->ProductStickers($Product); ?>
            <?= $this->ProductButton($Product); ?>
            <?= $this->ProductPrice($Product); ?>

            <div style="clear: both"></div>

            <div class="user_info">
                <? if ($Product->comments_count > 0) :?>
                    <div class="comments"><a href="<?= $this->ProductUrl($Product); ?>#comments"><?= $Product->comments_count; ?> отзывов</a><span class="icon"></span></div>
                <? endif ?>
                <?= $this->ProductRating($Product); ?>
            </div>

            <div class="additional_info">

                <?/* if ( $Product->Promotion->exists() && $Product->Promotion->is_enabled )  : */?><!--
                    <div class="additional_promotion">
                        <div class="block_title">Акция</div>
                        <div class="descr"><?/*= $Product->Promotion->title; */?></div>
                    </div>
                --><?/* endif */?>

                <? if ( $options = $this->ProductTableOptions($Product)  ) : ?>
                    <div class="additional_params">
                        <div class="block_title">Особенности</div>
                        <div class="descr"><?= $options; ?></div>
                    </div>
                <? endif ?>

            </div>

            <div class="opacity"></div>
        </div>
    </div>
</div>
<? endforeach; ?>