<style>
    @media only screen and (max-width:480px) {
        .wrapper { width:95% !important; }
    }
    .gt {
        font-family: Arial;
        font-size: 15px;
        line-height: 18px;
    }
</style>
<table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
    <tbody><tr><td style="background: #EEE top left repeat;">
            <table class="wrapper" width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        {% block content %}{% endblock %}
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td></tr></tbody>
</table>