<style>
    @media only screen and (max-width:480px) {
        .wrapper { width:95% !important; }
    }
    .gt {
        font-family: Arial;
        font-size: 15px;
        line-height: 18px;
    }
</style>
<table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
    <tbody><tr><td style="background: #EEE top left repeat;">
            <table class="wrapper" width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <table class="wrapper" width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="max-width: 640px; border-collapse: collapse;">
                            <tbody>
                            <tr>
                                <td><div style="padding: 30px 1px 15px 1px; background-color: transparent;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                            <tbody>
                                            <tr>
                                                <td valign="middle" align="center">
                                                    <img src="http://anydasa.com/img/logo_mail_tpl.png" width="200" height="79" alt="logo">
                                                    <p style="margin: 0; white-space:nowrap; font:16px Arial; font-weight: 700; color: #898989;">+38 (044) 377-72-87</p><br>
                                                    <a style="color: #04599a;" href="http://anydasa.com/">Перейти в магазин</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fff; border: 1px solid #e4e4e4; font: 14px Tahoma">
                                    {% block content %}{% endblock %}
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: transparent;font:11px Arial;color:#0156a9;vertical-align:middle;overflow-x:auto;">
                                    <div style="padding: 15px 5px 10px 5px;">
                                        <table class="wrapper" width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="max-width: 640px; border-collapse: collapse;">
                                            <tbody>
                                            <tr>
                                                <td width="50%" style="vertical-align: top;">
                                                    <p style="color: #b2b2b2; font-size: 12px; margin: 5px 0; padding: 0;">
                                                        Интернет-магазин anydasa.com <br />&copy; Megabite 2005 — 2015
                                                    </p>
                                                </td>
                                                <td width="50%" style="vertical-align: middle; height: 50px;">
                                                    <div style="white-space:nowrap; text-align: right;">
                                                        <a href="https://www.facebook.com/anydasa.com"><img src="http://anydasa.com/img/icons2/25facebook.png" width="25" height="25" alt="Facebook" align="top"></a>
                                                        <a href="https://twitter.com/MegaBiteUkraine"><img src="http://anydasa.com/img/icons2/25twitter.png" width="25" height="25" alt="Twitter" align="top"></a>
                                                        <a href="https://www.youtube.com/channel/UCkLPPOZ3af6jK68AqVnbFeQ"><img src="http://anydasa.com/img/icons2/25youtube.png" width="25" height="25" alt="Youtube" align="top"></a>
                                                        <a href="https://plus.google.com/110550331078210666022/about"><img src="http://anydasa.com/img/icons2/25googleplus.png" width="25" height="25" alt="Google+" align="top"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td></tr></tbody>
</table>