
body {
    background: White;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 12px;
}
.container {
    background: url(/img/bg_auth.jpg) center center no-repeat;
    width: 500px;
    height: 300px;
    margin: 150px auto;
    border: solid 1px White;
}
table {
    margin: 0 auto;
}
table th {
    padding: 0 10px 0 0;

}
.errors {
    color: Red;
    height: 30px;
    margin: 75px 0 0 210px;
}
.errors ul {list-style: none;}
.go {text-align: right; padding: 10px 0;}