#mw-fade {
    background: #444;
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    filter:alpha(opacity=80);
    opacity: 0.8;
}
.mw-wrap {
    position: fixed;
    z-index:101;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
}

.mw-content {
    display: inline-block;
    background: #EFEFEF;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index:102;
    padding: 20px;
    margin: 50px auto;
    text-align: left;
}
.mw-move {
    margin-top: -20px;
    height: 20px;
    cursor: move;
}
.mw-close {
    position: absolute;
	top: 4px;
    right: 0px;
	width: 18px;
	cursor: pointer;
	color: black;
	font-weight: bold;
    font-size: 15px;
}
.mw-content h1 {
    font-weight: 500;
    font-size: 16px;
    margin: -5px 0 10px 0;
}

.mw-wrap:not(.last) .mw-content {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.mw-wrap:not(.last) .mw-content:after {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#666;
    opacity:0.8;
    border-radius:5px;
    border: solid 1px #666;
}
[data-modal-link] {
    cursor: pointer;
}
