[data-value='0'] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    filter:alpha(opacity=50);   /* For IE8 and earlier */
}

[name='is_link_checked'] i:before {
    content: "\f00c" !important;
}
[name='is_link_checked'][value='0'] i:before {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    filter:alpha(opacity=50);   /* For IE8 and earlier */
}

[name='is_spy_prices'] i:before {
    content: "\f03d" !important;
}
[name='is_spy_prices'][value='0'] i:before {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    filter:alpha(opacity=50);   /* For IE8 and earlier */
}

tr.delete_0 {display: none;}

tr.is_visible_0 td {
    color: Gray;
}
tr.is_visible_0 td img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity:0.5;
    filter:alpha(opacity=50);   /* For IE8 and earlier */
}
#multiChangeButtons {
    float: right;
    display: none;
}
#multiChangeButtons .group {
    display: inline-block;
    border: solid 1px #000000;
}
.select-all-row {
    background-color: #f7f3de;
}
.select-all-row th {
    text-align: right !important;
}
.select-all-row th a {
    margin: 0 2px;
}
.select-all-row .select-all-products {
    width: 13px;
}

.products-list table.attr {
    color: GrayText;
    font-size: 11px;
    float: left;
    margin: 5px 20px 0 0;
}

.products-list table.attr td {
    padding-right: 5px;
    border: 0;
    border-bottom: 1px dotted GrayText;
}

.products-list table.attr td+td {
    font-weight: bold;
    color: Green;
    background-color: inherit;
}
#advancedSearchProductContainer {
    background: #bfbfbf;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}