%product_table_100x100 {
  float: left;
  position: relative;
  margin: 0 0 5px;
  height: 100px;

  .wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    @include border-radius(2px);
    &:hover {
      z-index: 3;
      height: auto;
      background: #fff;
      .opacity {display: none;}
    }
  }

  .title a {
    @include font-alt(m);
    text-decoration: none;
    color: #444;
  }

  .container {
    padding: 5px 10px;
  }

  .opacity {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFxJREFUeNq0zcEJgDAQRNFhs4ugiTFasQXaiEevCUSHwHbg5fFvH713SGstiqomVmbtrDIKQCGH10YyWUkiC5nJ5BhRByR4IVz3c6LWGuUjiZll1s4qo36bvwIMANNeHWntWOvAAAAAAElFTkSuQmCC')
    repeat-x;
  }
}