<style>
.notifications-view table th,
.notifications-view table td {
    padding: 2px 5px;
    border: dotted 1px black;
}
</style>

<script>
    $("tr[data-id=<?= $this->node->id ?>]").attr('data-is_readed', 1);
    $(".all-count-notifications").text($(".all-count-notifications").text()-1);
</script>

<div class="notifications-view">
<?= $this->node->notification; ?>
</div>