<? foreach($this->comments as $key => $comment) : ?>
    <div class="comment_item level<?= $comment['level']; ?>">
        <strong class="author_name <?= $comment['is_admin'] ? 'admin' : ''  ?>"><?= $comment['author_name']; ?></strong>

        <span class="created"><?= $this->time($comment['created']); ?></span>

        <? if ( 1 == $comment['level'] && !$comment['is_question'] ) : ?>
            <?= $this->Rating($comment['rating']); ?>
        <? endif; ?>

        <? if ( 1 == $comment['level'] ) : ?>
            <div class="product_title"><?= $comment['product_title']; ?></div>
        <? endif; ?>

        <div class="comment_text">
            <div class="text" style="font-size: 15px;"><?= $comment['text']; ?></div>
            <? if ( 1 == $comment['level'] && !empty($comment['dignity'])) : ?>
                <div class="dignity"><strong>Достоинства:</strong> <?= $comment['dignity']; ?></div>
            <? endif; ?>
            <? if ( 1 == $comment['level'] && !empty($comment['shortcoming'])) : ?>
                <div class="shortcoming"><strong>Недостатки:</strong> <?= $comment['shortcoming']; ?></div>
            <? endif; ?>

        </div>

            <div class="comment_footer">
                <? if ( 1 == $comment['level'] ) : ?>
                <div class="vote_block">
                    <?= ( $comment['is_question'] ) ? 'Вопрос' : 'Отзыв'; ?> полезен?
                    <span class="link link-green comment_vote" data-type="positive" data-id="<?= $comment['id']; ?>">Да</span>
                    <span class="positive_vote_count"><?= empty($comment['positive_vote_count']) ? '' : $comment['positive_vote_count']; ?></span> |
                    <span class="link link-red comment_vote" data-type="negative" data-id="<?= $comment['id']; ?>">Нет</span>
                    <span class="negative_vote_count"><?= empty($comment['negative_vote_count']) ? '' : $comment['negative_vote_count']; ?></span>
                </div>
                <? endif ?>
                <div class="answer_button link link-blue" data-modal-link="<?= $this->url(['id_parent' => $comment['id']], 'product-add-answer'); ?>">Ответить</div>
                <div style="clear: both"></div>
            </div>

    </div>

<? endforeach; ?>

<?php if($this->show_more): ?>
    <span class="get-more link link-blue">Смотреть еще отзывы</span>
<?php endif; ?>

