<h1>Вопрос отправлен</h1>
<p>Ваш вопрос будет опубликован на сайте после проверки.</p>

<div class="mw-close btn btn-important">Вернутся в магазин</div>

<script type="application/javascript">
    ga('send', 'event', 'Отправка формы', 'Вопрос о товаре', '<?= addslashes($this->Product->getFullName()); ?>');
</script>