<h1>Ответ отправлен</h1>
<p>Ваш ответ будет опубликован на сайте после проверки.</p>

<div class="mw-close btn btn-important">Вернутся в магазин</div>

<script type="application/javascript">
    ga('send', 'event', 'Отправка формы', 'Ответ на вопрос/отзыв о товаре', '<?= addslashes($this->Product->getFullName()); ?>');
</script>