<h1>Отзыв добавлен</h1>
<p>Ваш отзыв добавлен и будет опубликован на сайте после проверки</p>

<div class="mw-close btn btn-important">Вернутся в магазин</div>

<script type="application/javascript">
    ga('send', 'event', 'Отправка формы', 'Отзыв о товаре', '<?= addslashes($this->Product->getFullName()); ?>');
</script>