<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<? $this->headScript()->prependFile('/js/readable-range.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>



<style>
    #<?= $this->modelName; ?>List {width: 800px; border: 1px solid #CCC;}
    #<?= $this->modelName; ?>List tr>* {border: 1px solid #CCC;}
    #<?= $this->modelName; ?>List thead td {white-space: nowrap;}
    #<?= $this->modelName; ?>List tbody tr>* {vertical-align: middle; background: transparent; white-space: nowrap;}
    #<?= $this->modelName; ?>List tbody th { width: 100%; }
    #<?= $this->modelName; ?>List tbody td { text-align: center }
</style>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed table-sorted" id="<?= $this->modelName; ?>List">
<thead>
    <tr>
        <td rowspan="2" style="white-space: nowrap"><?= $this->linkOrderHtml('id', $this->tableComment($this->modelName, 'id')); ?></td>
        <td rowspan="2"><?= $this->linkOrderHtml('title', $this->tableComment($this->modelName, 'title')); ?></td>
        <td colspan="3" align="center"><strong>Пользователь</strong></td>
        <td colspan="3" align="center"><strong>Админ</strong></td>
        <td rowspan="2"><?= $this->linkOrderHtml('minutes_limit', 'Лимит'); ?></td>
        <td rowspan="2">
            <form data-target="self" method="post" class="sortForm" action="<?= $_SERVER['REQUEST_URI']; ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
    <tr>
        <td><?= $this->linkOrderHtml('is_send_user_sms',    'SMS'); ?></td>
        <td><?= $this->linkOrderHtml('is_send_user_mail',   'Email'); ?></td>
        <td><?= $this->linkOrderHtml('is_require_user_msg', 'Коммент'); ?></td>
        <td><?= $this->linkOrderHtml('is_send_admin_sms',   'SMS'); ?></td>
        <td><?= $this->linkOrderHtml('is_send_admin_mail',  'Email'); ?></td>
        <td><?= $this->linkOrderHtml('is_require_admin_msg','Коммент'); ?></td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?> style="background: <?= $item->background; ?>;">
            <td align="center"><?= $item->id; ?></td>
            <th><?= $item->title; ?></th>
            <td><?= $item->is_send_user_sms   ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td><?= $item->is_send_user_mail  ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td><?= $item->is_require_user_msg ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td><?= $item->is_send_admin_sms  ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td><?= $item->is_send_admin_mail ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td><?= $item->is_require_admin_msg ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '' ?></td>
            <td>
                <? if ( !empty($item->minutes_limit) ) : ?>
                    <?= $item->minutes_limit; ?>
                    <div>
                        <span style="color: GrayText; font-size: 11px;" data-minutes_limit="<?= $item->minutes_limit; ?>"></span>
                    </div>
                <? endif ?>
            </td>
            <td colspan="2">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<script>
    $("[data-minutes_limit]").each(function () {
        var minutes = $(this).attr("data-minutes_limit");
        var m1 = moment(moment().subtract(minutes, "minutes"), "YYYY-MM-DD HH:mm");
        var diff = moment.preciseDiff(m1);
        $(this).html( diff );
    }).keyup();
</script>

<?= $this->showPager($this->pagerRange); ?>