<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1><?= Zend_Registry::get('myCurrentRoute')->title ?> <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup></h1>

<table class="table table-striped table-hover table-condensed">
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-view',
                'routeParams' => array('id' => $item->id),
                'buttonText'  => $item->title,
            )); ?>
        </td>
        <td>
            <strong title="<?= $item->price_method; ?>" data-toggle="tooltip"><?= $item->getFormatedPrice('retail', 'USD'); ?></strong>
        </td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'vendor-products-view',
                'routeParams' => array('id' => $item->OwnerProduct->id),
                'buttonText'  => $item->OwnerProduct->Vendors->name,
            )); ?>
        </td>
        <td><?= $item->OwnerProduct->getPrice('buy', 'USD'); ?></td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>