<table class="table table-striped table-hover table-condensed">
    <tbody>
    <? foreach ($this->result as $item) : ?>
        <tr>
            <td><?= $item['relation'] ?></td>
            <td><?= $item['size'] ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>