<br><br>
<form method="post">
    <input type="text" name="re" value="<?= $this->escape($this->params['re']); ?>" style="width: 600px;"  /><br>
    <textarea name="input" rows="20" cols="100"><?= $this->params['input']; ?></textarea><br>
    <textarea name="result" rows="20" cols="100"><?= $this->result; ?></textarea><br>
    <input type="submit">    
</form>