<style>
    ul.info {
        font-size: 15px;
        margin: 30px;
    }
    ul.info {

    }
    ul.info a {
        color: black;
        font-weight: bold;
        font-size: 13px;
        text-decoration: underline;
    }
    ul.info a.error {
        color: Red;
        font-size: 2em;
    }
    ul.info a.success {
        color: green;
    }
</style>

<ul class="info">
    <li><h3><a href="<?= $this->url([], 'tradein-index-list'); ?>">Tradein</a></h3>
        <ul>
            <li>Новые
                <? $count = Doctrine_Query::create()->from('Tradein')->where('status = ?', 'new')->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'tradein-index-list'); ?>?status=new">
                    <?= $count; ?>
                </a>
            </li>
        </ul>
    </li>
    <li><h3><a href="<?= $this->url([], 'products-comment-list'); ?>">Отзывы / Вопросы</a></h3>
        <ul>
            <li>Новые
                <? $count = Doctrine_Query::create()->from('ProductsComments')->where('is_checked=false')->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-comment-list'); ?>?is_checked=0">
                    <?= $count; ?>
                </a>
            </li>
        </ul>
    </li>
    <li><h3>Заказы</h3>
        <ul>
            <li>
                За сегодня
                <a href="<?= $this->url([], 'order-list'); ?>?created-range=<?= date('Y-m-d'); ?>~<?= date('Y-m-d'); ?>">
                    <?= Doctrine_Query::create()->from('Orders')->where('DATE(created) = DATE(NOW())')->count(); ?>
                </a>
            </li>
            <li>Просроченные
                <? $count = Doctrine_Query::create()->from('Orders o')
                    ->innerJoin('o.OrdersStatus os')
                    ->addWhere('COALESCE(updated, created) < NOW() - (INTERVAL \'1 min\' * os.minutes_limit)')
                    ->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'order-list'); ?>?q=overdue">
                    <?= $count ?>
                </a>
                <ul>
                    <? foreach(Doctrine_Query::create()
                                   ->select('os.id, os.title, (SELECT count(*) FROM orders o WHERE os.id = o.id_status AND (COALESCE(o.updated, o.created) < NOW() - (INTERVAL \'1 min\' * os.minutes_limit)) ) count')
                                   ->from('OrdersStatus os')
                                   ->where('os.minutes_limit IS NOT NULL')
                                   ->orderBy('os.sort')
                                   ->execute() as  $O) : ?>
                        <li><?= $O->title; ?>
                            <a href="<?= $this->url([], 'order-list'); ?>?q=overdue&id_status=<?= $O->id; ?>" class="<?= !empty($O->count) ? 'error' : 'success'; ?>"><?= $O->count; ?></a>
                        </li>
                    <? endforeach; ?>
                </ul>
            </li>

        </ul>
    </li>
    <li><h3>Уведомить о наличии</h3>
        <ul>
            <li>запросов
                <a href="<?= $this->url([], 'products-let-me-know-list'); ?>">
                    <?= Doctrine_Query::create()->from('ProductsLetMeKnow')->count(); ?>
                </a>
            </li>
        </ul>
    </li>
    <li><h3>Обратная связь</h3>
        <ul>
            <li>не просмотренные
                <? $count = Doctrine_Query::create()->from('feedback')->where('is_looked = 0')->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'feedback-list'); ?>">
                    <?= $count ?>
                </a>
            </li>
        </ul>
    </li>
    <li><h3>Поставщик</h3>
        <ul>
            <li><strong>всего включеных</strong>
                <? $count = Doctrine_Query::create()->from('vendors')->where('is_enabled = true')->count(); ?>
                <a href="<?= $this->url([], 'vendor-list'); ?>?is_enabled=true">
                    <?= $count ?>
                </a>
                <ul>
                    <li>Обновить
                        <? $count = Doctrine_Query::create()->from('Vendors')->where('NOW() > last_time_processed + (INTERVAL \'1 sec\' * interval_process) AND is_enabled = true')->count(); ?>
                        <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'vendor-list'); ?>?q=need_process&is_enabled=true">
                            <?= $count ?>
                        </a>
                    </li>
                    <li>Просроченный
                        <? $count = Doctrine_Query::create()->from('Vendors')->where('NOW() > last_time_processed + (INTERVAL \'1 sec\' * interval_actual) AND is_enabled = true')->count(); ?>
                        <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'vendor-list'); ?>?q=overdue&is_enabled=true">
                            <?= $count ?>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h3>Товары поставщика</h3>
        <ul>
            <li>1с - в наличии, актуальные, НЕ ПРИВЯЗАННЫЕ
                <? $count = Doctrine_Query::create()->from('VendorsProducts')->where('id_vendor=1 AND is_actual=1 AND id_product IS NULL AND balance > 0')->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'vendor-products-list'); ?>?id_vendor=1&is_actual=1&id_product=NULL&balance=>0">
                    <?= $count ?>
                </a>
            </li>
            <li>1с - ожидаются, актуальные, НЕ ПРИВЯЗАННЫЕ
                <? $count = Doctrine_Query::create()->from('VendorsProducts')->where('id_vendor=1 AND is_actual=1 AND id_product IS NULL AND expected_balance > 0')->count(); ?>
                <a href="<?= $this->url([], 'vendor-products-list'); ?>?id_vendor=1&is_actual=1&id_product=NULL&expected_balance=>0">
                    <?= $count ?>
                </a>
            </li>
        </ul>
    </li>
    <li><h3>Товары</h3>
        <ul>
            <li>из 1с, в наличии, БЕЗ ФОТОГРАФИЙ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                    'status' => [Products::STATUS_AVAILABLE],
                    'is_img' => 0,
                    'notid_catalog' => [121]
                ])->count();
                ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-product-list'); ?>?status[]=<?= Products::STATUS_AVAILABLE; ?>&is_img=0&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
            <li>от поставщиков, в наличии, БЕЗ ФОТОГРАФИЙ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                    'status' => [Products::STATUS_VENDOR],
                    'is_img' => 0,
                    'notid_catalog' => [121]
                ])->count();
                ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-product-list'); ?>?status[]=<?= Products::STATUS_VENDOR; ?>&is_img=0&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
            <li>товары из 1с, в наличии, БЕЗ ЦЕНЫ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                        'status' => [Products::STATUS_AVAILABLE],
                        'is_empty_price' => 1,
                        'notid_catalog' => [121]
                    ])->count()
                ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-product-list'); ?>?is_empty_price=1&status[]=<?= Products::STATUS_AVAILABLE; ?>&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
            <li>товары от поставщиков, на складе, БЕЗ ЦЕНЫ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                    'status' => [Products::STATUS_VENDOR],
                    'is_empty_price' => 1,
                    'notid_catalog' => [121]
                ])->count(); ?>
                <a class="<?= $count ? 'error' : 'success'; ?>"  href="<?= $this->url([], 'products-product-list'); ?>?is_empty_price=1&status[]=<?= Products::STATUS_VENDOR; ?>&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
        </ul>
    </li>
</ul>