<style>
    ul.info {
        font-size: 15px;
        margin: 30px;
    }
    ul.info {

    }
    ul.info a {
        color: black;
        font-weight: bold;
        font-size: 13px;
        text-decoration: underline;
    }
    ul.info a.error {
        color: Red;
        font-size: 2em;
    }
    ul.info a.success {
        color: green;
    }
</style>

<ul class="info">
    <li><h3>Товары</h3>
        <ul>
            <li>из 1с, в наличии, БЕЗ ФОТОГРАФИЙ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                    'status' => [Products::STATUS_AVAILABLE],
                    'is_img' => 0,
                    'notid_catalog' => [121]
                ])->count();
                ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-product-list'); ?>?status[]=<?= Products::STATUS_AVAILABLE; ?>&is_img=0&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
            <li>от поставщиков, в наличии, БЕЗ ФОТОГРАФИЙ (кроме архива)
                <? $count = Products_Query::create()->setParamsQuery([
                    'status' => [Products::STATUS_VENDOR],
                    'is_img' => 0,
                    'notid_catalog' => [121]
                ])->count();
                ?>
                <a class="<?= $count ? 'error' : 'success'; ?>" href="<?= $this->url([], 'products-product-list'); ?>?status[]=<?= Products::STATUS_VENDOR; ?>&is_img=0&notid_catalog[]=121">
                    <?= $count ?>
                </a>
            </li>
        </ul>
    </li>
</ul>