<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'routeParams' => array('id_catalog' => $this->params['id_catalog']),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
<tr>
    <td>ID</td>
    <td>Название</td>
    <td>Код</td>
    <td style="text-align: right">
        <form data-target="self" method="post" class="sortForm" action="<?= $this->url([], $this->routePrefix.'list'); ?>">
            <button class="btn btn-xs" title="Сохранить новый порядок" data-toggle="tooltip"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
        </form>
    </td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td style="width: 300px;"><?= $item->title ?></td>
            <td><?= $item->code ?></td>
            <td>
                <?= $this->ButtonDelete($this->routePrefix.'delete', array('id' => $item->id)); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>