<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'routeParams' => ['id_user' => $this->params['id_user']],
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<br><br>

<table class="table table-striped table-hover table-condensed">

<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td><?= $item->id ?></td>
        <td><strong><?= $item->email ?></strong></td>
        <td><?= $item->comment ?></td>
        <td><?= $item->name ?></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'delete',
                'routeParams' => ['id' => $item->id],
                'buttonAttr'  => ['data-toggle'=>'confirm', 'data-target' => 'self'],
                'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
            )); ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'edit',
                'routeParams' => ['id' => $item->id, 'id_user' => $this->params['id_user']],
                'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
            )); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>