<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>
<h1><?= Zend_Registry::get('myCurrentRoute')->title ?></h1>

<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <th><?= $this->linkOrderHtml('id', $this->tableComment($this->modelName, 'id')); ?></th>
        <th><?= $this->linkOrderHtml('name', $this->tableComment($this->modelName, 'name')); ?></th>
        <th><?= $this->linkOrderHtml('login', $this->tableComment($this->modelName, 'login')); ?></th>
        <th><?= $this->linkOrderHtml('group_id', $this->tableComment($this->modelName, 'group_id')); ?></th>
        <th><?= $this->linkOrderHtml('email', $this->tableComment($this->modelName, 'email')); ?></th>
        <th></th>
        <th><button
                data-modal-link="<?= $this->url(array('id' => $this->node->id), $this->routePrefix.'add'); ?>"
                data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
                data-placement="right"
                class="btn btn-success btn-xs"
                title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?>"
                >Добавить</button></th>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><strong><?= $item->name ?></strong></td>
            <td><?= $item->login ?></td>
            <td><?= $item->AdminGroups->name ?></td>
            <td><?= $item->email ?></td>
            <td>
                <div><?= $item->last_name ?></div>
                <div><?= $item->first_name ?></div>
                <div><?= $item->middle_name ?></div>
                <div><?= $item->bank_card; ?></div>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <button
                    data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'access'); ?>"
                    class="btn btn-default btn-xs"
                    data-access="<?= $this->linkAccess($this->routePrefix.'access'); ?>"
                    data-toggle="tooltip"
                    title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'access')->title; ?>"><i class="fa fa-key"></i></button>
                <button
                    data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'set-pass'); ?>"
                    class="btn btn-default btn-xs"
                    data-access="<?= $this->linkAccess($this->routePrefix.'set-pass'); ?>"
                    data-toggle="tooltip"
                    title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'set-pass')->title; ?>"><i class="fa fa-magic"></i></button>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>