<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => 'not-found-delete-garbage',
        'buttonType'  => 'a',
        'buttonText'  => '<img src="/img/broom.png">',
        'buttonTitle' => 'Отчистить от мусора',
        'buttonAttr'  => array('class'=>'btn btn-danger'),
    )); ?>
</h1>

<form method="get">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="uri" value="<?= $this->params['uri'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'uri'); ?>" style="width: 300px;" />
            <?= $this->linkOrderHtml('uri', ''); ?>
        </td>
        <td>
            <input type="text" name="referer" value="<?= $this->params['referer'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'referer'); ?>" style="width: 300px;" />
            <?= $this->linkOrderHtml('referer', ''); ?>
        </td>
        <td><?= $this->linkOrderHtml('time', $this->tableComment($this->modelName, 'time')); ?></th>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>

            <button formmethod="POST" name="delete" value="1" class="btn btn-xs" title="Отчистить этот список" data-toggle="tooltip confirm"><i class="fa fa-2x fa-trash-o"></i></button>
        </td>
    </tr>
</thead>
<tbody>
<? foreach ($this->list as $item) : ?>
    <tr <?= $this->itemListDataParams($item) ?>>
        <td>
            <a target="_blank" href="//<?= APPLICATION_DOMAIN . $item->uri; ?>"><?= $item->uri ?></a>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'redirect-rules-add',
                'queryParams' => ['from_url' => $item->uri],
                'buttonText'  => '<i class="fa fa-plus"></i>',
                'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
                'buttonTitle' => 'Создать перенаправление с этого запроса',
            )); ?>
        </td>
        <td><div style="width: 500px;"><?= $item->referer ?></div></td>
        <td><?= $this->time($item->time) ?></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'delete',
                'routeParams' => array('id' => $item->id),
                'buttonType'  => 'a',
                'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                'buttonAttr'  => array('data-toggle'=>'confirm')
            )); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>
</form>
<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>