<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeParams' => ['id_company' => $this->Company->id],
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?> для <strong><?= $this->Company->name; ?></strong>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
    <tr>
        <td><?= $this->tableComment($this->modelName, 'id'); ?></td>
        <td><?= $this->tableComment($this->modelName, 'title'); ?></td>
        <td style="width: 100px;">Сумма (грн)</td>
        <td style="width: 100px;">Период (мес)</td>
        <td style="width: 100px;">Первоначальный взнос (%)</td>
        <td style="width: 100px;">Ставка год./мес. (%) </td>
        <td style="width: 100px;">Коммиссия разово/ежемесячно. </td>
        <td style="text-align: right;">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><strong><?= $item->title ?></strong></td>
            <td><?= $item->min_sum ?>-<?= $item->max_sum ?></td>
            <td><?= $item->min_month ?>-<?= $item->max_month ?></td>
            <td><?= $item->min_first_payment_percent ?>-<?= $item->max_first_payment_percent ?></td>
            <td><?= $item->yearly_interest_rate_percent ?>/<?= $item->monthly_interest_rate_percent ?></td>
            <td><?= $item->onetime_commission ?>/<?= $item->monthly_commission ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>


<?= $this->showPager($this->pagerRange); ?>