<style>
    #basket label.error {
        display: none !important;
    }
    #basket input.error {
        border: 1px solid #ff0000;
        background-color: #ffca9e;
    }
    #basket table tr .code {width: 100px;}
    #basket table tr .title {width: 300px;}
    #basket table tr .count {width: 40px;}
    #basket table tr .price {width: 80px;}

    #basket table tr>* {
        vertical-align: middle !important;
    }
</style>
<form action="<?= $_SERVER['REQUEST_URI']; ?>" method="post" id="basket">
<div>
    <h1>Корзина</h1>
    <table class="table table-condensed table-bordered table-striped" style="width: 100%;">
        <thead>
        <tr>
            <th>Код товара</th>
            <th>Название товара</th>
            <th>Колво</th>
            <th>Цена/грн</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;">Итого:</td>
            <td><strong id="basket-sum"></strong>&nbsp;грн.</td>
            <td><div id="addBasketItemButton" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></div></td>
        </tr>
        </tfoot>
    </table>

    <button style="float: right;" class="btn btn-primary" type="submit" id="save" name="save">Сохранить</button>
</div>
</form>

<script type="application/javascript">
    $('form#basket').validate();

    function recalc () {
        var sum = 0;

        $("#basket table tbody tr").each(function () {
            var count = $(this).find("input.count").val();
            var price = $(this).find("input.price").val();
            sum += (count*price);
        });

        $("#basket-sum").html(sum)
    }

    function addBasketItem(data) {
        data.key = Math.random();

        var tpl = Handlebars.compile( $('script#BasketItemRowTpl').html() );
        $("#basket table tbody").append( tpl(data) );


        $("#basket table tbody tr:last input.price").rules("add", {
            required: true,
            number  : true
        });
        $("#basket table tbody tr:last input.count").rules("add", {
            required: true,
            digits  : true
        });

        recalc();
    }

    $("#basket").on("change", "input.title", function () {
        $(this).closest("tr").find("input.code").val('');
    });

    $("#basket").on("keyup", "input.count, input.price", recalc);

    $("#basket").on("click", ".btn-remove", function () {
        $(this).closest("tr").remove();
        recalc();
    });

    $("#basket").on("click", "#addBasketItemButton", function () {

        window.chosen = {};
        window.chosenIsArray = false;
        window.saveChosenProducts = function (product) {
            var data = {
                "code"  :  product.code,
                "title" : product.fullName,
                "count" : 1,
                "price" : product.priceUAH,
                "id"    : product.id,
                "is_set"    : product.id_set,
            };
            addBasketItem(data);
            closeModalWindow();
        };

        loadModalWindow('/products/choice/list', getTargetIndex('blank'));
    });

    $("#basket").on("click", "#choiseSet", function () {
       
        window.chosen = {};
        window.chosenIsArray = true;
        window.saveChosenProducts = function (data) {
            
            $.each(data, function (key, product) {
                var data = {
                    "code"  :  product.code,
                    "title" : product.fullName,
                    "count" : 1,
                    "price" : product.priceUAH,
                    "id"    : product.id,
                    "is_set"    : product.id_set,
                };
                addBasketItem(data);
            });



            closeModalWindow();
        };
    });

</script>

<script type="application/javascript">
    <? foreach($this->Products as $Product) : ?>
        addBasketItem(<?= Zend_Json::encode($Product); ?>);
    <? endforeach; ?>
</script>

<script type="text/x-handlebars-template" id="BasketItemRowTpl">
    <tr>
        <td>
            <input type="hidden" name="item[{{key}}][id]" value="{{id}}" readonly />
            <input class="code" type="text" name="item[{{key}}][code]" value="{{code}}" readonly />
        </td>
        <td><input class="title" type="text" name="item[{{key}}][title]" disabled="disabled" value="{{title}}" /></td>
        <td><input class="count" type="text" name="item[{{key}}][count]" value="{{count}}" /></td>
        <td><input class="price" type="text" name="item[{{key}}][price]" value="{{price}}" /></td>
        <td><div class="btn btn-xs btn-remove"><i class="fa fa-lg fa-trash-o"></i></div></td>
        {{#if is_set}}<td><div class="btn btn-xs" id="choiseSet" data-modal-link="/products/choice/set/{{id}}"><i class="fa fa-lg fa-share-alt"></i></div></td>{{/if}}
    </tr>
</script>