<? if ( !empty($this->cut) ) : ?>
    <a href="<?= $this->url(array('id' => $this->node->id, 'method' => 'paste'), $this->routePrefix.'cut'); ?>"
        class="btn btn-danger">Вставить здесь</a>
<? endif; ?>

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th colspan="2">
                <? foreach ($this->parents as $parent): ?>
                    <? $this->headTitle(' > ' . $parent['title']); ?>
                    <a href="<?= $this->url(array('id' => $parent['id']), $this->routePrefix.'list'); ?>"><?= $parent['title']; ?></a> <strong class="delimetr">&raquo;</strong>
                <? endforeach; ?>
            </th>
            <th><button
                    data-modal-link="<?= $this->url(array('id' => $this->node->id), $this->routePrefix.'add'); ?>"
                    data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
                    data-placement="right"
                    class="btn btn-success"
                    title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?>"
                    >Добавить</button>
                <? if (false !== $this->childrens && $this->childrens->count() > 2) : ?>
                <a href="<?= $this->url(array('id' => $this->node->id, 'method' => 'all'), $this->routePrefix.'sort'); ?>"
                   class="btn btn-default"
                   data-toggle="confirm tooltip"
                   data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                   title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'sort')->title; ?>"><i class="fa fa-sort-alpha-asc"></i></a>
                <? endif; ?>
            </th>
        </tr>
    </thead>

    <? if (false !== $this->childrens) : ?>
        <tbody>
            <? foreach ($this->childrens as $item) : ?>
                <tr <?= $this->itemListDataParams($item) ?>>
                    <td><?= $item->id; ?></td>
                    <td><a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'list'); ?>"><span <? if ($item->getNode()->hasChildren()) : ?> class="nodeHasChildren"<? endif; ?>><?= $item->title ?></span></a>
                    </td>
                    <td><a href="<?= $this->url(array('id' => $item->id, 'method' => 'cut'), $this->routePrefix.'cut'); ?>"
                           class="btn btn-xs"
                           data-toggle="tooltip confirm"
                           data-access="<?= $this->linkAccess($this->routePrefix.'cut'); ?>"
                           title="Вырезать страницу"><i class="fa fa-lg fa-scissors"></i></a>
                        <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
                           class="btn btn-xs"
                           data-toggle="tooltip confirm"
                           data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                           title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>"><i class="fa fa-lg fa-trash-o"></i></a>
                        <button
                            data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit'); ?>"
                            class="btn btn-xs"
                            data-access="<?= $this->linkAccess($this->routePrefix.'edit'); ?>"
                            data-toggle="tooltip"
                            title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'edit')->title; ?>"><i class="fa fa-lg fa-edit"></i></button>
                        <a href="<?= $this->url(array('id' => $item->id, 'method' => 'up'), $this->routePrefix.'sort'); ?>"
                           class="btn btn-default btn-xs"
                           data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                           data-toggle="tooltip"
                           title="Переместить страницу вверх"><i class="fa fa-long-arrow-up"></i></a>
                        <a href="<?= $this->url(array('id' => $item->id, 'method' => 'down'), $this->routePrefix.'sort'); ?>"
                           class="btn btn-default btn-xs"
                           data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                           data-toggle="tooltip"
                           title="Переместить страницу вниз"><i class="fa fa-long-arrow-down"></i></a>
                    </td>
                </tr>
            <? endforeach ?>
        </tbody>
    <? endif; ?>

</table>
