<?
$current = $this->tree->remove(0);
$current = $this->tree->remove(1);
$this->tree->add($current);
?>
<ul>
    <? foreach ($this->tree as $next) : ?>
        <li><a href="<?= $this->url(array('page_id' => $current->id), 'page-list'); ?>"><span <? if ($current->getNode()->hasChildren()) : ?> class="nodeHasChildren"<? endif; ?>><?= $current->title ?></span></a>
            <? if ($current->level < $next->level) : ?><ul><? endif; ?>
            <? if ($current->level > $next->level) : ?><?= str_repeat('</li></ul>', $current->level - $next->level); ?><? endif; ?>
                <? if (!($current->level < $next->level)) : ?></li><? endif; ?>
            <? $current = $next; ?>
        <? endforeach; ?>
</ul>
