<h2><?= Zend_Registry::get('myCurrentRoute')->title; ?></h2>
<form method="post" enctype="multipart/form-data" action="<?= $_SERVER['REQUEST_URI'] ?>">
<table class="standart-form" summary="">
    <tbody>
        <tr>
            <th>Список:</th>
            <td class="goods-element">
                <textarea name="text" cols="50" rows="10"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Сохранить" style="width: 100px;" /></td>
        </tr>
    </tbody>
</table>
</form>