<? if ( !empty($this->cut) ) : ?>
    <a href="<?= $this->url(array('id' => $this->node->id, 'method' => 'paste'), $this->routePrefix.'cut'); ?>"
       class="btn btn-danger">Вставить здесь</a>
<? endif; ?>

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th colspan="6">
            <? foreach ($this->parents as $parent): ?>
                <? $this->headTitle(' > ' . $parent['title']); ?>
                <a href="<?= $this->url(array('id' => $parent['id']), $this->routePrefix.'list'); ?>"><?= $parent['title']; ?></a> <strong class="delimetr">&raquo;</strong>
            <? endforeach; ?>
        </th>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'id'); ?></th>
        <th></th>
        <th><?= $this->tableComment($this->modelName, 'title'); ?></th>
        <th><?= $this->tableComment($this->modelName, 'url'); ?></th>
        <th><?= $this->tableComment($this->modelName, 'alias'); ?></th>
        <th><?= $this->tableComment('Catalog', 'title'); ?></th>
        <th>Параметры</th>
        <th style="text-align: right"><button
                data-modal-link="<?= $this->url(array('id' => $this->node->id), $this->routePrefix.'add'); ?>"
                data-access="<?= $this->linkAccess($this->routePrefix.'add'); ?>"
                data-placement="right"
                class="btn btn-success btn-xs"
                title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'add')->title; ?>"
                >Добавить</button>
            <? if (false !== $this->childrens && $this->childrens->count() > 2) : ?>
                <a href="<?= $this->url(array('id' => $this->node->id, 'method' => 'all'), $this->routePrefix.'sort'); ?>"
                   class="btn btn-xs"
                   data-toggle="confirm tooltip"
                   data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                   title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'sort')->title; ?>"><i class="fa fa-sort-alpha-asc fa-lg"></i></a>
            <? endif; ?></th>
    </tr>
    </thead>

    <? if (false !== $this->childrens) : ?>
        <tbody>
        <? foreach ($this->childrens as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $item->id; ?></td>
                <td><? if ($url = $item->getImageUrl()) : ?><img src="<?= $url; ?>"><? endif ?></td>
                <td>
                    <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'list'); ?>"><span <? if ($item->getNode()->hasChildren()) : ?> class="nodeHasChildren"<? endif; ?>><?= $item->title ?></span></a>
                </td>
                <td><?= $item->url; ?></td>
                <td><?= $item->alias; ?></td>
                <td>
                    <sup><?= $item->count_products; ?></sup>
                </td>
                <td style="font-size: 11px; font-weight: bold">
                    <? if ( !empty($item->min) || !empty($item->max) ) : ?>
                        <div style="color: green;"><?= $item->min; ?> - <?= $item->max; ?></div>
                    <? endif ?>
                    <? if ( !empty($item->brands) ) : ?>
                        <div style="color: red;"><?= implode(', ',  Doctrine::getTable('ProductsBrands')->findBySql('id IN ('.implode(',', $item->brands).')')->toKeyValueArray('id', 'title')); ?></div>
                    <? endif ?>
                    <? if ( !empty($item->stickers) ) : ?>
                        <div style="color: #0000ff"><?= implode(', ',  Doctrine::getTable('ProductsStickers')->findBySql('id IN ('.implode(',', $item->stickers).')')->toKeyValueArray('id', 'title')); ?></div>
                    <? endif ?>
                    <? if ( !empty($item->id_catalog) ) : ?>
                        <div style="color: #6e4f1c"><?= $item->Catalog->title; ?></div>
                    <? endif ?>
                    <? if ( !empty($item->filters) ) : ?>
                        <div style="color: #6e4f1c"><?= implode(', ',  Doctrine::getTable('CatalogFilterValue')->findBySql('id IN ('.implode(',', $item->filters).')')->toKeyValueArray('id', 'title')); ?></div>
                    <? endif ?>

                </td>
                <td><a href="<?= $this->url(array('id' => $item->id, 'method' => 'cut'), $this->routePrefix.'cut'); ?>"
                       class="btn btn-xs"
                       data-toggle="tooltip confirm"
                       data-access="<?= $this->linkAccess($this->routePrefix.'cut'); ?>"
                       title="Вырезать страницу"><i class="fa fa-scissors fa-lg"></i></a>
                    <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
                       class="btn btn-xs"
                       data-toggle="tooltip confirm"
                       data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                       title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>"><i class="fa fa-trash-o fa-lg"></i></a>
                    <button
                        data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit'); ?>"
                        class="btn btn-xs"
                        data-access="<?= $this->linkAccess($this->routePrefix.'edit'); ?>"
                        data-toggle="tooltip"
                        title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'edit')->title; ?>"><i class="fa fa-lg fa-edit fa-lg"></i></button>
                    <a href="<?= $this->url(array('id' => $item->id, 'method' => 'up'), $this->routePrefix.'sort'); ?>"
                       class="btn btn-xs"
                       data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                       data-toggle="tooltip"
                       title="Переместить страницу вверх"><i class="fa fa-long-arrow-up fa-lg"></i></a>
                    <a href="<?= $this->url(array('id' => $item->id, 'method' => 'down'), $this->routePrefix.'sort'); ?>"
                       class="btn btn-xs"
                       data-access="<?= $this->linkAccess($this->routePrefix.'sort'); ?>"
                       data-toggle="tooltip"
                       title="Переместить страницу вниз"><i class="fa fa-long-arrow-down fa-lg"></i></a>
                </td>
            </tr>
        <? endforeach ?>
        </tbody>
    <? endif; ?>

</table>
