<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'set',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-info'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $_GET['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="title" value="<?= $_GET['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $_GET['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td><?= $this->linkOrderHtml('reverse', $this->tableComment($this->modelName, 'reverse')); ?></td>
        <td><?= $this->linkOrderHtml('type', $this->tableComment($this->modelName, 'type')); ?></td>
        <td>
            <input type="text" name="module" value="<?= $_GET['module'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'module'); ?>" />
            <?= $this->linkOrderHtml('module', ''); ?>
        </td>
        <td>
            <input type="text" name="controller" value="<?= $_GET['controller'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'controller'); ?>" />
            <?= $this->linkOrderHtml('controller', ''); ?>
        </td>
        <td>
            <input type="text" name="action" value="<?= $_GET['action'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'action'); ?>" />
            <?= $this->linkOrderHtml('action', ''); ?>
        </td>
        <td><?=
            (new Zend_Form_Element_Select('is_registered_in_log'))
                ->setValue($this->params['is_registered_in_log'])
                ->setDecorators(array('ViewHelper'))
                ->addMultiOptions(array(
                    ''      => '-Log',
                    'true'  => 'да',
                    'false' => 'нет'
                ));
            ?></td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
</form>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td class="id"><?= $item->id ?></td>
                <td><strong><?= $item->title ?></strong></td>
                <td><?= $item->name ?></td>
                <td><?= $this->route($item->reverse, $item->map) ?></td>
                <td><?= $item->type ?></td>
                <td><a href="<?= $this->linkReplaceGetParam('module', $item->module) ?>"><?= $item->module; ?></a></td>
                <td><a href="<?= $this->linkReplaceGetParam('controller', $item->controller) ?>"><?= $item->controller; ?></a></td>
                <td><a href="<?= $this->linkReplaceGetParam('action', $item->action) ?>"><?= $item->action; ?></a></td>
                <td><button
                        data-edit-attr-url="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit-attr'); ?>"
                        name="is_registered_in_log"
                        value="<?= $item->is_registered_in_log; ?>"
                        class="btn btn-xs"
                        data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                        <i class="fa fa-lg"></i>
                    </button></td>
                <td style="white-space: nowrap">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                        'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'copy',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-copy"></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>

</table>

<?= $this->showPager($this->pagerRange); ?>