<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'routeParams' => array('id_group' => $this->params['id_group']),
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'queryParams' => array('redirect'=>'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <strong><?= $this->Group->title; ?></strong>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
    <tr>
        <td>ID</td>
        <td>Алиас</td>
        <td>Фильтр-значение</td>
        <td>Опции</td>
        <td style="text-align: right">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="color: #808080; font-size: 11px;"><?= $item->id ?></td>
            <td style="color: #808080; font-size: 11px;"><?= $item->alias ?></td>
            <td style="width: 300px;">

                <? if ( !empty($item->id_parent) ) : ?>
                    <strong>[<?= $item->Parent->title ?>]</strong>
                <? endif ?>

                <span style="font-size: 11px;"><?= $item->title ?></span>

            </td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'catalog-filter-value-condition-list',
                    'routeParams' => array('id_value' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-list-alt""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>