<div style="margin: auto; max-width: 800px;">

    <?= Form_Liqpay::create('Liqpay'); ?>
    <div style="clear: both"></div>

    <p>Оплату картами Visa, MasterCard осуществляет сервис Liqpay от Приватбанка. anydasa.com не получает и не хранит данные Вашей карты.</p>

    <p>Комиссия при зачислении средств составляет:</p>

    <ul>
        <li>1% при оплате за товары/услуги по карте ПриватБанка;</li>
        <li>2,9% при оплате за товары/услуги по карте других банков.</li>
    </ul>

    <p>Высокий уровень безопасности обеспечивается технологией OTP (One-time Password - одноразовый пароль). Транзакции подтверждаются динамическим одноразовым паролем, который высылается в SMS.</p>

    <p>anydasa.com имеет возможность возврата денежных средств на Вашу карту в случае возврата товара.</p>

    <p>Иногда платежи не проходят по причине лимита на операции в Интернете либо других ограничений Вашей карты. В данном случае можно обратиться в колл-центр Вашего банка для определения и устранения проблемы.</p>

    <p>Перед оплатой уточняйте наличие товара у менеджера.</p>
</div>

<div style="clear: both"></div>