<form method="post" action="<?= $_SERVER['REQUEST_URI']; ?>&redirect=<?= urlencode($_SERVER['HTTP_REFERER']); ?>" novalidate="novalidate">
    <ul>
        <li>
            Комментарий
            <div><textarea name="comment" style="width: 300px; height: 100px; background: #FFD1E0;"></textarea></div>
        </li>
    </ul>
    <button id="save" class="btn btn-primary" type="submit" name="save">Сохранить</button>
</form>