<? $this->headLink()->prependStylesheet('/css/daterangepicker.css'); ?>
<? $this->headScript()->prependFile('/js/daterangepicker.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/handlebars.js', 'text/javascript'); ?>
<br>

<div class="col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Заказ</h4></div>
        <div class="panel-body">
            <?= $this->form ?>
            <div id="deliveries" data-deliveries='<?=json_encode(OrdersDelivery::getList()->toArray())?>'></div>
            <div id="payments" data-payments='<?=json_encode(OrdersPayment::getList()->toArray())?>'></div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Товары</h4></div>
        <div class="panel-body">
            <?= Zend_Registry::getInstance()->spelling['order_add_notice'];?>

            <div id="cart">
            <?= $this->partial('index/cart-partial.phtml', ['Products' => $this->Products]); ?>
            </div>

        </div>
    </div>
</div>

