<div style="font-size: 11px;">

    <table class="table table-condensed table-bordered table-striped" style="width: 100%;">
        <tbody>
        <? foreach($this->Order->OrdersProducts as $Product) : ?>
            <? if ( !empty($Product->promotion) ) : ?>
                <tr>
                    <td colspan="10" style="color: #ff0000; font-size: 11px;">
                        <?= $Product->promotion; ?>
                    </td>
                </tr>
            <? endif ?>
            <tr>
                <td>

                    <? if ( $P = Doctrine::getTable('Products')->findOneByCode($Product->code) ) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-product-view',
                            'routeParams' => array('id' => $P->id),
                            'buttonText'  => $Product->code,
                        )); ?>
                    <? else : ?>
                        <?= $Product->code; ?>
                    <? endif ?>
                </td>
                <td><?= $Product->title; ?></td>
                <td style="white-space: nowrap">
                    <?= Currency::format($Product->price, 'UAH'); ?>
                    x
                    <?= $Product->count; ?>
                    =
                    <strong><?= Currency::format(($Product->price * $Product->count), 'UAH'); ?></strong>
                </td>
                <? if ( empty($Product->vendor_name) ) : ?>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                <? else : ?>
                    <td><?= $Product->vendor_name; ?></td>
                    <td><?= Currency::format($Product->vendor_price_buy, 'UAH'); ?></td>
                    <td><?= Currency::format($Product->price - $Product->vendor_price_buy, 'UAH'); ?></td>
                <? endif ?>
            </tr>
        <? endforeach; ?>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="10" style="text-align: right">
                Итого: <?= Currency::format($this->Order->getSum(), 'UAH'); ?> <br>
                <?php $delivery_cost = $this->Order->costDelivery; ?>

                <?php if((int)$delivery_cost): ?>
                Доставка: +<?= Currency::format($this->Order->costDelivery, 'UAH');?> <br>
                <?php endif; ?>
                
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-basket-edit',
                    'routeParams' => array('id_order' => $this->Order->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </th>
        </tr>
        </tfoot>
    </table>

</div>

