<div style="font-size: 11px;">

    <table class="table table-condensed table-bordered table-striped" style="width: 100%;">
        <tbody>
        <? foreach($this->Products as $Product) : ?>
            <tr>
                <td>

                    <? if ( $P = Doctrine::getTable('Products')->findOneBy('code', $Product['code']) ) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-product-view',
                            'routeParams' => array('id' => $P->id),
                            'buttonText'  => $Product['code'],
                        )); ?>
                    <? else : ?>
                        <?= $Product['code']; ?>
                    <? endif ?>
                </td>
                <td><?= $Product['title']; ?>
                    <? if ( !empty($Product['promotion']) ) : ?>
                        <br><span style="color: #ff0000; font-size: 11px;"><?= $Product['promotion']; ?></span>
                    <? endif ?>
                </td>
                <td style="white-space: nowrap">
                    <?= Currency::format($Product['price'], 'UAH'); ?>
                    x
                    <?= $Product['count']; ?>
                    =
                    <strong><?= Currency::format(($Product['price'] * $Product['count']), 'UAH'); ?></strong>
                </td>
                <? if ( empty($Product['vendor_name']) ) : ?>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                <? else : ?>
                    <td><?= $Product['vendor_name']; ?></td>
                    <td><?= Currency::format($Product['vendor_price_buy'], 'UAH'); ?></td>
                    <td><?= Currency::format($Product['price'] - $Product['vendor_price_buy'], 'UAH'); ?></td>
                <? endif ?>
            </tr>
        <? endforeach; ?>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="10" style="text-align: right" class="cart-total" data-total="<?=Cart::getInstance()->getSum()?>">
                Итого: <?= Currency::format(Cart::getInstance()->getSum(), 'UAH'); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'order-cart-edit',
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
                <div class="delivery-cost"></div>
                <div class="payment-cost"></div>
            </th>
        </tr>
        </tfoot>
    </table>

</div>

