<script type="text/x-handlebars">
    <h1>Ember</h1>



    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name='_order'>
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.email}}</td>
    </tr>
</script>


<script type="text/x-handlebars" id="index">


    <table class="table table-striped table-hover table-condensed">
        {{#each model as |item|}}
            {{order item}}
        {{/each}}
    </table>
</script>



<script src="/js/ember/vendors/handlebars.js"></script>
<script src="/js/ember/vendors/ember.debug.js"></script>
<script src="/js/ember/vendors/ember-data.js"></script>
<script src="/js/ember/vendors/ember-template-compiler.js"></script>

<script src="/js/ember/app.js"></script>