<style>
#Orders {
    width: 800px;
}
#Orders dt {
    display: none !important;
}
#Orders dd {
    display: inline-block;
    padding: 0;
}
#Orders fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
#Orders label.error {
    position: absolute;
    color: red;
    border: dotted 1px red;
    display: block;
    background: white;
    padding: 2px 5px;
}
#orderSum {
    position: fixed;
    float: right;
    display: inline-block;
    margin: 0 0 0 350px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 10px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
</style>

<table class="standart-form">
    <thead>
        <tr>
            <th><?= Zend_Registry::get('myCurrentRoute')->title; ?>
                <span><?= $this->form->getElement('id')->getValue() ?></span>
                <div id="orderSum"><?= $this->Order->getSum() ?></div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><?= $this->form ?></td>
    </tr>
    </tbody>
</table>
