<h1><?= Zend_Registry::get('myCurrentRoute')->title; ?></h1>

<table class="table table-striped table-hover table-condensed">

<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td style="color: #808080; font-size: 11px;"><?= $this->time($item->created); ?></td>
            <td><strong><?= $item->Admin->name; ?></strong></td>
            <td><?= $item->comment; ?></td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>