<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<? $this->headLink()->prependStylesheet('/css/daterangepicker.css'); ?>
<? $this->headLink()->prependStylesheet('/css/select2.min.css'); ?>
<? $this->headScript()->prependFile('/js/daterangepicker.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/readable-range.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/handlebars.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/select2.min.js', 'text/javascript'); ?>

    <script>
        $(function() {
            $("#<?= $this->modelName; ?>List [name='id_status']").change(function () {
                var input = $(this);
                var id = input.closest('tr').attr('data-id');
                loadModalWindow('/order/status_change/'+id+'/'+$(this).val()+'/');
                input.val(input.data('value'));
            });

            var createdrange = $("#created-range").val()

            $('.novapay-confirm').on('click', function () {
                var id = $(this).data('id');
                $.post( "/order/novapay_confirm", {id: id})
                    .done(function( data ) {
                        window.location.reload();
                    });
            });

            $('.novapay-refresh').on('click', function () {
                var id = $(this).data('id');
                $.post( "/order/novapay_refresh", {id: id})
                    .done(function( data ) {
                        window.location.reload();
                    });
            });

            $("#created-range").daterangepicker({
                autoApply : false,
                ranges: {
                    "Сегодня": [
                        moment().format('YYYY-MM-DD'),
                        moment().format('YYYY-MM-DD')
                    ],
                    "Вчера": [
                        moment().subtract(1, 'days').format('YYYY-MM-DD'),
                        moment().subtract(1, 'days').format('YYYY-MM-DD')
                    ],
                    "Последние 7 дней": [
                        moment().subtract(7, 'days').format('YYYY-MM-DD'),
                        moment().format('YYYY-MM-DD')
                    ],
                    "Последние 30 дней": [
                        moment().subtract(30, 'days').format('YYYY-MM-DD'),
                        moment().format('YYYY-MM-DD')
                    ],
                    "Этот месяц": [
                        moment().subtract(1, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                        moment().endOf('month').format('YYYY-MM-DD')
                    ],
                    "Пролшый месяц": [
                        moment().subtract(2, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                        moment().subtract(1, 'month').endOf('month').format('YYYY-MM-DD')
                    ]
                },
                locale: {
                    "format": "YYYY-MM-DD",
                    "separator": "~",
                    "applyLabel": "Применить",
                    "cancelLabel": "Очистить",
                    "fromLabel": "С",
                    "toLabel": "До",
                    firstDay : 1,
                    "customRangeLabel": "Выбрать период",
                    "daysOfWeek": ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
                    "monthNames": ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"]
                },
                linkedCalendars: false,
                autoUpdateInput: true
            });

            $('#created-range').val(createdrange);
            $('#created-range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });

    </script>

    <style>
        #<?= $this->modelName; ?>List tbody tr>* {background: transparent;}
        textarea[name="id-array"] {
            height: 22px;
            width: 100px;
            resize:none;
        }
        textarea[name="id-array"]:focus {
            height: 300px;
            width: 100px;
            position: absolute;
            z-index: 100;
        }
    </style>

    <h1>
        <a href="<?=$this->url(array(),$this->routePrefix.'add');?>" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></a>
        <?= Zend_Registry::get('myCurrentRoute')->title; ?>
        <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
    </h1>

    <h5>
        Оборот: <?= Currency::format($this->sum['circulation'], 'UAH'); ?>
        Прибыль: <?= Currency::format($this->sum['profit'], 'UAH'); ?>
    </h5>

    <div class="col-sm-12">
        <div class="row">
            <ul class="col-sm-3">
                <? foreach($this->status_count as $key=>$count) : ?>
                    <li><?= $key; ?>: <strong><?= $count; ?></strong>
                        <?php if(isset($this->status_overdue[$key])){?>
                            <a class="btn btn-danger btn-xs" href="<?=$this->url();?>?q=overdue&id_status=<?=$this->status_overdue[$key]['id']?>">
                                <span class="badge"><?=$this->status_overdue[$key]['count']?></span>
                            </a>
                        <?php }?>
                    </li>
                <? endforeach; ?>
            </ul>

            <ul class="col-sm-3">
                <li>
                    Клиенты: <b><?=$this->client_count['count']?></b>
                </li>
                <li>
                    Meнеджеры: <b><?=$this->pagerRange->getPager()->getNumResults() -  $this->client_count['count']?></b>
                    <ul style="padding-left: 15px;">
                        <? foreach($this->managers_count as $item) : ?>
                            <li data-user-id="<?=$item['id']?>" id="select-who-created">
                                <span class="btn-link"><?=$item['name']?></span>: <b><?=$item['count_order']?></b>
                            </li>
                        <? endforeach; ?>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div style="clear: both;"></div>

    <form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <td>
                    <div style="position:relative; height: 25px; width: 100px; float: left; margin-right: 5px;">
                        <textarea placeholder="ID заказа" name="id-array"><?= @$this->params['id-array'] ?></textarea>
                    </div>
                </td>
                <td colspan="3">

                    <?= $this->formSelect('q', $this->params['q'], null, ['' => '• • •', 'overdue' => 'просроченный']); ?>
                    <?= $this->formSelect(
                        'id_catalog',
                        $this->params['id_catalog'],
                        ['style' => 'width: 120px;'],
                        ['' => '• • • Категория'] + Doctrine_Query::create()->from('Catalog')->addOrderBy('title')->execute()->toKeyValueArray('id', 'title')
                    );
                    ?>
                    <?= $this->formSelect(
                        'delivery_type',
                        $this->params['delivery_type'],
                        ['style' => 'width: 120px;'],
                        ['' => '• • • Доставка'] + OrdersDelivery::getList()->toKeyValueArray('id', 'title'));
                    ?>
                    <?= $this->formSelect(
                        'payment_type',
                        $this->params['payment_type'],
                        ['style' => 'width: 120px;'],
                        ['' => '• • • Оплата'] + OrdersPayment::getList()->toKeyValueArray('id', 'title'));
                    ?>
                    <?= $this->formText('created-range', $this->params['created-range'], ['placeholder' => 'Время оформления']); ?>
                    <?= $this->formText('name', $this->params['name'], ['placeholder' => 'Имя', 'data-toggle' => 'autocomplete']); ?>
                    <?= $this->formText('email', $this->params['email'], ['placeholder' => 'Email', 'data-toggle' => 'autocomplete']); ?>
                    <?= $this->formText('phone', $this->params['phone'], ['placeholder' => 'Телефон', 'data-toggle' => 'autocomplete']); ?>
                    <?= $this->formSelect(
                        'who',
                        $this->params['who'],
                        ['style' => 'width: 120px;'],
                        ['' => '• • • Кто создал'] + ['0' => 'Клиент'] + AdminUsers::getList()->toKeyValueArray('id', 'name'));
                    ?>
                </td>
                <td><?= $this->formSelect(
                        'statuses',
                        $this->params['statuses'],
                        ['multiple'=>'multiple'],
                        OrdersStatus::getList()->toKeyValueArray('id', 'title'));
                    ?>
                </td>
                <td>
                    <?= $this->formSelect(
                        'sent_offer',
                        $this->params['sent_offer'],
                        [],
                        ['' => '---- Письмо отправлено ----', 'yes' => 'Да', 'no' => 'Нет']);
                    ?>
                </td>
                <td style="white-space: nowrap;">
                    <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
                    <input type="submit" id="submit_filters" value="поиск" class="btn btn-primary btn-xs" />
                </td>
            </tr>
        </table>
    </form>

    <table class="table table-striped table-hover table-condensed" id="<?= $this->modelName; ?>List">
        <tbody>
        <? $this->list->loadRelated('OrdersProducts') ?>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td>
                    <?= $item->id; ?>
                    <? if ( !empty($item->admin_comment) ) : ?>
                        <strong><?= $item->admin_comment; ?></strong>
                    <? endif ?>
                </td>
                <td>
                    <div id="basket-<?= $item->id; ?>" style="border: 3px solid transparent;">
                        <?= $this->partial('index/basket-partial.phtml', ['Order' => $item]); ?>
                    </div>
                </td>
                <td style="width: 300px;">

                    <? if ( $count = $item->findSimilar(true) ) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => $this->routePrefix.'similar-list',
                            'routeParams' => array('id' => $item->id),
                            'buttonText'  => '<span style="color: Red;">Найденны еще '.$count.'</span>',
                        )); ?>
                    <? endif ?>

                    <? if ( !empty($item->token_chast) ) : ?>
                        <div><a href="<?= REQUEST_SCHEME?>://<?= APPLICATION_DOMAIN; ?>/payment/chast/?token=<?= $item->token_chast; ?>">Мгновенная рассрочка</a></div>
                    <? endif ?>

                    <? if ( $item->is_one_click ) : ?>
                        <div><strong>Заказ в 1 клик</strong></div>
                    <? endif ?>

                    <? if ( !empty($item->referer) ) : ?>
                        <div><strong>Источник:</strong> <a href="<?= $item->referer; ?>"><?= parse_url($item->referer, PHP_URL_HOST); ?></a></div>
                    <? endif ?>

                    <div><strong>Оплата:</strong> <?= $item->Payment->title; ?>
                        <? if ( $item->Payment->id == 'credit' && unserialize($item->credit) ) : ?>
                        <div><strong>Кредит:</strong>
                            <table class="table table-condensed table-bordered table-striped">
                                <? foreach(@unserialize($item->credit) as $key => $val) : ?>
                                    <tr>
                                        <td><?= $key; ?></td>
                                        <td><?= $val; ?></td>
                                    </tr>
                                <? endforeach; ?>
                            </table>
                            <? endif ?>
                        </div>
                        <div><strong>Имя:</strong> <?= $item->name; ?></div>
                        <div>
                            <strong>Тел:</strong>
                            <?= $item->phone; ?>
                        </div>

                        <? if ( $item->Users->exists() ) : ?>
                            <div><a href="<?= $this->url(array(), 'users-list'); ?>?id=<?= $item->Users->id; ?>"><?= $item->email; ?></a></div>
                        <? elseif ( !empty($item->email) ) : ?>
                            <div><strong>Email:</strong>
                                <?= $item->email; ?>
                            </div>
                        <? endif ?>
                        <div><strong>Тип доставки:</strong> <?= $item->Delivery->title; ?></div>
                        <? if ( !empty($item->address) ) : ?>
                            <div><strong>Адрес:</strong> <?= $item->address; ?></div>
                        <? endif ?>
                        <? if ( !empty($item->desired_time_delivery) ) : ?>
                            <?php $desired_time_delivery = explode('-', $item->desired_time_delivery); ?>
                            <div><strong>Желаемое время доставки c</strong> <?=$desired_time_delivery[0]?> до <?=$desired_time_delivery[1]?></div>
                        <? endif ?>
                        <? if ( !empty($item->desired_date_delivery) ) : ?>
                            <div><strong>Желаемая дата доставки</strong> <?=date('Y-m-d H-i', strtotime($item->desired_date_delivery));?></div>
                        <? endif ?>
                        <? if ( !empty($item->date_delivery) ) : ?>
                            <div><strong>Запланированная дата доставки</strong> <?=date('Y-m-d H-i', strtotime($item->date_delivery));?></div>
                        <? endif ?>

                        <? if ( !empty($item->comment) ) : ?>
                            <div><strong>Комментарии:</strong> <?= $item->comment; ?></div>
                        <? endif ?>
                </td>

                <td  style="width: 150px">
                    <?php $processing_time = $item->getOrderProcessingTime() ?>
                    <?php if(!$processing_time['final']):?>
                        <strong>Таймер:</strong>
                        <span style="color:green"><?=$processing_time['days']?>дн. <?=$processing_time['h']?>ч.  <?=$processing_time['i']?>м. </span>
                        <br>
                    <?php endif; ?>
                    <strong>Создан:</strong> <?= $this->time($item->created); ?> <br>
                    <?= $item->AdminUsers->name ?>
                    <?php if($item->updated): ?>
                    <strong>Посл. действие:</strong> <div style="color: GrayText; font-size: 11px;"><?= $this->time($item->updated); ?></div>
                    <?php endif; ?>
                    <?php if($processing_time['final']):?>
                        <strong>Выполнен\Отклонен:</strong>
                        <span><?=$processing_time['days']?>дн. <?=$processing_time['h']?>ч.  <?=$processing_time['i']?>м. </span>
                        <br>
                    <?php endif; ?>
                    <?php if($item->payment_type === 'novapay' && $item->novapay_payment_status === 'holded'): ?>
                        <button class="novapay-confirm" data-id="<?= $item->id ?>">Подтвердить снятие средств</button>
                        <br>
                    <?php endif; ?>
                    <?php if($item->payment_type === 'novapay' && $item->novapay_payment_status !== 'paid' && $item->novapay_payment_status !== 'holded'): ?>
                        <button class="novapay-refresh" data-id="<?= $item->id ?>">Обновить статус</button>
                        <br>
                        <span style="color: #6b4717">текущий статус <?= $item->novapay_payment_status ?></span>
                    <?php endif; ?>
                    <?php if($item->payment_type === 'novapay' && $item->novapay_payment_status === 'paid'): ?>
                        <span style="color: #116b04">ОПЛАЧЕНО ЧЕРЕЗ novapay</span>
                        <br>
                    <?php endif; ?>
                </td>
                <td style="background: <?= $item->Status->background; ?>;">
                    <?= (new Zend_Form_Element_Select('id_status'))
                        ->addMultiOptions( OrdersStatus::getArrayIdTitleTime() )
                        ->setValue($item->id_status)->setDecorators(array('ViewHelper'))
                        ->setAttrib('data-value', $item->id_status);
                    ?>
                    <? if ($item->History->count()) : ?>
                        <div style="font-size: 11px; width: 200px;">
                            <?= $item->History->getLast()->comment; ?>
                        </div>
                    <? endif ?>

                    <? if ( $item->isOverdue() ) : ?>
                        <h3 style="color: red; text-align: center;">Просрочен</h3>
                    <? endif ?>
                </td>
                <td>
                    <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
                       class="btn btn-xs"
                       data-toggle="tooltip confirm"
                       data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                       title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>"><i class="fa fa-lg fa-trash-o"></i></a>
                    <button
                        data-modal-link="<?= $this->url(array('id' => $item->id), $this->routePrefix.'edit'); ?>"
                        class="btn btn-xs"
                        data-access="<?= $this->linkAccess($this->routePrefix.'edit'); ?>"
                        data-toggle="tooltip"
                        title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'edit')->title; ?>"><i class="fa fa-lg fa-edit"></i></button>
                    <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'excel-export'); ?>"
                       data-access="<?= $this->linkAccess($this->routePrefix.'excel-export'); ?>"
                       data-toggle="tooltip"
                       class="btn btn-xs"
                       title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'excel-export')->title; ?>"><img src="/img/excel.png" width="16" height="16" alt="" /></a>
                    <br>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'view',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                    )); ?>

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'add-comment',
                        'routeParams' => array('id_order' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-sticky-note-o"></i>',
                    )); ?>

                    <? if ( $item->History->count() ) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => $this->routePrefix.'history',
                            'routeParams' => array('id' => $item->id),
                            'buttonText'  => '<i class="fa fa-lg fa-history"></i>',
                        )); ?>
                    <? endif ?>

                </td>
                <td>
                    <? if ( !empty($item->email) ) : ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => empty($item->sent_offer_html) ? 'order-offer-choice-product' : 'order-offer-show-sent-message',
                            'routeParams' => array('id' => $item->id),
                            'buttonText'  => '<i class="fa fa-lg fa-envelope"></i>',
                            'buttonAttr'  => ['style' => empty($item->sent_offer_html) ? 'color: Gray;' : 'color: Green;'],
                        )); ?>
                    <? endif ?>

                    <? if ( !empty($item->email) ) : ?>
                        <hr>
                        С/ф:
                        <?php if(!empty($item->sent_invoice_html)): ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'order-invoice-show-sent-message',
                            'routeParams' => array('id' => $item->id),
                            'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                            'buttonAttr'  => ['style' => 'color: Green;'],
                        )); ?>
                        <?php endif; ?>
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'order-invoice-create-message',
                            'routeParams' => array('id' => $item->id),
                            'buttonText'  => '<i class="fa fa-lg fa-envelope"></i>',
                            'buttonAttr'  => ['style' =>'color: Gray;'],
                        )); ?>
                    <? endif ?>

                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'order-sent-message-to-client',
                        'routeParams' => array('id_order' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-paper-plane "></i>',
                        'buttonAttr'  => ['style' =>'color: Gray;'],
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>

<?= $this->showPager($this->pagerRange); ?>

<script type="text/javascript">
    $("#statuses").select2({
        placeholder: "статус заказа",
    });
</script>
