<form method="post" action="<?= $_SERVER['REQUEST_URI']; ?>&redirect=<?= urlencode($_SERVER['HTTP_REFERER']); ?>" novalidate="novalidate">
    <ul class="list-unstyled">
        <li>
            <label><input type="checkbox" checked="checked" name="to-email"> На почту</label>
            <input type="text" name="email" value="<?=$this->Order->email?>">
            <label><input type="checkbox" checked="checked" name="to-phone"> На телефон</label>
            <input type="text" name="phone" value="<?=$this->Order->phone?>">
        </li>
        <li>
            Сообщение
            <div><textarea name="text" style="width: 300px; height: 100px; background: #FFD1E0;"></textarea></div>
        </li>
    </ul>
    <button id="save" class="btn btn-primary" type="submit" name="save">Отправить</button>
</form>