<table class="table table-striped table-hover table-condensed" style="font-size: 12px;">
    <tbody>
    <? foreach ($this->Order->findSimilar() as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id; ?></td>
            <td><?= $this->time($item->created); ?></td>
            <td><?= $item->name; ?></td>
            <td><?= $item->phone; ?></td>
            <td><?= $item->email; ?></td>
            <td><?= $item->OrdersStatus->title; ?></td>
            <td><?= Currency::format($item->getSum(), 'UAH'); ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                )); ?>
                <? if ( $item->History->count() ) : ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'history',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-history"></i>',
                    )); ?>
                <? endif ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
