<h1>Смена статуса заказа <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'view',
        'routeParams' => array('id' => $this->Order->id),
        'buttonText'  => '#'.$this->Order->id,
    )); ?>
</h1>
<form method="post" action="<?= $_SERVER['REQUEST_URI']; ?>&redirect=<?= urlencode($_SERVER['HTTP_REFERER']); ?>" novalidate="novalidate">
    <ul>
        <li>Статус <strong><?= $this->Order->Status->title; ?></strong> <span style="color: Gray;">&#9658;</span> <strong><?= $this->Status->title; ?></strong> Лимит (<span data-minutes_limit="<?= $this->Status->minutes_limit; ?>"> </span>)</li>
        <? if ( $this->Status->is_require_user_msg ) : ?>
            <li>
                <?= $this->tableComment('OrdersStatus', 'is_require_user_msg'); ?>
                <div><textarea name="user_msg" style="width: 300px; height: 100px; background: #B4FFE6;"></textarea></div>
            </li>
        <? endif ?>
        <? if ( $this->Status->is_require_admin_msg ) : ?>
            <li>
                <?= $this->tableComment('OrdersStatus', 'is_require_admin_msg'); ?>
                <div><textarea name="admin_msg" style="width: 300px; height: 100px; background: #FFD1E0;"></textarea></div>
            </li>
        <? endif ?>
        <? if ( $this->Status->is_send_user_sms ) : ?>
            <li>Будет отправленно <strong>СМС клиенту</strong> (если указан телефон)</li>
        <? endif ?>
        <? if ( $this->Status->is_send_user_mail ) : ?>
            <li>Будет отправленно <strong>письмо клиенту</strong> (если указан email)</li>
        <? endif ?>
        <? if ( $this->Status->is_send_admin_sms ) : ?>
            <li>Будет отправленно <strong>СМС админу</strong> (если указан телефон)</li>
        <? endif ?>
        <? if ( $this->Status->is_send_admin_mail ) : ?>
            <li>Будет отправленно <strong>письмо админу</strong> (если указан email)</li>
        <? endif ?>
    </ul>
    <button id="save" class="btn btn-primary" type="submit" name="save">Сохранить</button>
</form>

<script>
    $("[data-minutes_limit]").each(function () {
        var minutes = $(this).attr("data-minutes_limit");
        var m1 = moment(moment().subtract(minutes, "minutes"), "YYYY-MM-DD HH:mm");
        var diff = moment.preciseDiff(m1);
        $(this).html( diff );
    });
</script>