<h1><?= Zend_Registry::get('myCurrentRoute')->title; ?></h1>

<h2>Информация о заказчике</h2>
<table class="table table-condensed">
    <tr>
        <th><?= $this->tableComment($this->modelName, 'id'); ?>:</th>
        <td><?= $this->node->id; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'email'); ?>:</th>
        <td><?= $this->node->email; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'name'); ?>:</th>
        <td><?= $this->node->name; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'address'); ?>:</th>
        <td><?= $this->node->address; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'phone'); ?>:</th>
        <td><?= $this->node->phone; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'comment'); ?>:</th>
        <td><?= $this->node->comment; ?></td>
    </tr>
    <tr>
        <th><?= $this->tableComment($this->modelName, 'id_status'); ?>:</th>
        <td><?= $this->node->Status->title; ?></td>
    </tr>
</table>

<h2>Товары</h2>
<table class="table table-condensed table-bordered table-striped">
    <thead>
    <tr>
        <td><?= $this->tableComment('OrdersProducts', 'code'); ?></td>
        <td><?= $this->tableComment('OrdersProducts', 'title'); ?></td>
        <td><?= $this->tableComment('OrdersProducts', 'price'); ?></td>
        <td>Поставщик</td>
    </tr>
    </thead>
    <tbody>
    <? foreach($this->node->OrdersProducts as $Product) : ?>
    <tr>
        <td><?= $Product->code; ?></td>
        <td><?= $Product->title; ?></td>
        <td><?= Currency::format($Product->price, 'UAH'); ?></td>
        <td><?= $Product->VendorsProducts->exists() ? $Product->VendorsProducts->Vendors->name : '' ?></td>
    </tr>
    <? endforeach; ?>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="2" style="text-align: right">Итого:</th>
        <th><?= Currency::format($this->node->getSum(), 'UAH'); ?></th>
    </tr>
    </tfoot>
</table>