<form id="<?= $this->escape($this->element->getId()) ?>" action="<?= $this->escape($this->element->getAction()) ?>" method="<?= $this->escape($this->element->getMethod()) ?>" class="form-horizontal">

    <?php if(!empty($this->element->id->getValue())){ ?>
        <input type="hidden" name="<?=$this->element->id->getName()?>" id="<?=$this->element->id->getName()?>" class="form-control" value="<?=$this->element->id->getValue()?>">
    <?php } ?>

    <div class="form-group <?=!empty($this->element->phone->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->phone->getName()?>" class="col-sm-2 control-label"><?=$this->element->phone->getLabel()?></label>
        <div class="col-sm-8">
            <input type="text" name="<?=$this->element->phone->getName()?>" id="<?=$this->element->phone->getName()?>" class="form-control" value="<?=$this->element->phone->getValue()?>">
            <?php if(!empty($this->element->phone->getErrors())){ ?>
                <span class="help-block">
                <?php foreach ($this->element->phone->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
            <?php } ?>
        </div>
        <div class="col-sm-2 action-block">

        </div>
    </div>

    <div class="form-group <?=!empty($this->element->name->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->name->getName()?>" class="col-sm-2 control-label"><?=$this->element->name->getLabel()?>  </label>
        <div class="col-sm-8">
            <input type="text" name="<?=$this->element->name->getName()?>" id="<?=$this->element->name->getName()?>" class="form-control" value="<?=$this->element->name->getValue()?>">
            <?php if(!empty($this->element->name->getErrors())){ ?>
            <span class="help-block">
                <?php foreach ($this->element->name->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
            <?php } ?>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->delivery_type->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->delivery_type->getName()?>" class="col-sm-2 control-label"><?=$this->element->delivery_type->getLabel()?></label>
        <div class="col-sm-8">
            <select name="<?=$this->element->delivery_type->getName()?>" id="<?=$this->element->delivery_type->getName()?>" class="form-control">
                <?php foreach ($this->element->delivery_type->options as $key=>$option){ ?>
                    <option <?=$this->element->delivery_type->getValue() == $key?'selected="selected"':''?> value="<?=$key?>"><?=$option?></option>
                <?php } ?>
            </select>
            <?php if(!empty($this->element->delivery_type->getErrors())){ ?>
                <span class="help-block">
                <?php foreach ($this->element->delivery_type->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
            <?php } ?>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->delivery_cost->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->delivery_cost->getName()?>" class="col-sm-2 control-label"><?=$this->element->delivery_cost->getLabel()?>  </label>
        <div class="col-sm-8">
            <input type="text" name="<?=$this->element->delivery_cost->getName()?>" id="<?=$this->element->delivery_cost->getName()?>" class="form-control" value="<?=$this->element->delivery_cost->getValue()?>">
            <?php if(!empty($this->element->delivery_cost->getErrors())){ ?>
                <span class="help-block">
                <?php foreach ($this->element->delivery_cost->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
            <?php } ?>
        </div>
    </div>

    <div class="hidden">
        <?php echo $this->element->city_code ?>
        <?php echo $this->element->id_offer ?>
    </div>

    <div id="novaposhta-block">
        <div class="form-group <?=!empty($this->element->city->getErrors())?'has-error':''?>">
            <label for="<?=$this->element->city->getName()?>" class="col-sm-2 control-label"><?=$this->element->city->getLabel()?>  </label>
            <div class="col-sm-8">
                <input type="text" name="<?=$this->element->city->getName()?>" id="<?=$this->element->city->getName()?>" class="form-control" value="<?=$this->element->city->getValue()?>">
                <?php if(!empty($this->element->city->getErrors())){ ?>
                    <span class="help-block">
                <?php foreach ($this->element->city->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
                <?php } ?>
            </div>
        </div>
        
        <div class="form-group <?=!empty($this->element->warehouse->getErrors())?'has-error':''?>">
            <label for="<?=$this->element->warehouse->getName()?>" class="col-sm-2 control-label"><?=$this->element->warehouse->getLabel()?></label>
            <div class="col-sm-8">
                <select name="<?=$this->element->warehouse->getName()?>" id="<?=$this->element->warehouse->getName()?>" class="form-control">
                    <?php foreach ($this->element->warehouse->options as $key=>$option){ ?>
                        <option <?=$this->element->warehouse->getValue() == $key?'selected="selected"':''?> value="<?=$key?>"><?=$option?></option>
                    <?php } ?>
                </select>
                <?php if(!empty($this->element->warehouse->getErrors())){ ?>
                    <span class="help-block">
                <?php foreach ($this->element->warehouse->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
                <?php } ?>
            </div>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->payment_type->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->payment_type->getName()?>" class="col-sm-2 control-label"><?=$this->element->payment_type->getLabel()?></label>
        <div class="col-sm-8">
            <select name="<?=$this->element->payment_type->getName()?>" id="<?=$this->element->payment_type->getName()?>" class="form-control">
                <?php foreach ($this->element->payment_type->options as $key=>$option){ ?>
                    <option <?=$this->element->payment_type->getValue() == $key?'selected="selected"':''?> value="<?=$key?>"><?=$option?></option>
                <?php } ?>
            </select>
            <?php if(!empty($this->element->payment_type->getErrors())){ ?>
                <span class="help-block">
                <?php foreach ($this->element->payment_type->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
            <?php } ?>
        </div>
    </div>

    <div id="credit-block">
        <div class="form-group <?=!empty($this->element->offer->getErrors())?'has-error':''?>">
            <label for="<?=$this->element->offer->getName()?>" class="col-sm-2 control-label"><?=$this->element->offer->getLabel()?>  </label>
            <div class="col-sm-8">
                <input type="text" name="<?=$this->element->offer->getName()?>" id="<?=$this->element->offer->getName()?>" class="form-control" value="<?=Credit::getParam('Offer')->CreditCompany->name . ' - ' . Credit::getParam('Offer')->title?>" placeholder="<?=$this->element->offer->getAttrib('placeholder')?>" data-modal-link="<?=$this->element->offer->getAttrib('data-modal-link')?>">
                <?php if(!empty($this->element->offer->getErrors())){ ?>
                    <span class="help-block">
                <?php foreach ($this->element->offer->getMessages() as $message){ ?>
                    <?=$message?>
                <?php } ?>
            </span>
                <?php } ?>
            </div>
        </div>
    </div>


    <div class="form-group <?=!empty($this->element->email->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->email->getName()?>" class="col-sm-2 control-label"><?=$this->element->email->getLabel()?></label>
        <div class="col-sm-8">
            <input type="text" name="<?=$this->element->email->getName()?>" id="<?=$this->element->email->getName()?>" class="form-control" value="<?=$this->element->email->getValue()?>">
            <?php if(!empty($this->element->email->getErrors())){ ?>
                <span class="help-block">
            <?php foreach ($this->element->email->getMessages() as $message){ ?>
                <?=$message?>
            <?php } ?>
        </span>
            <?php } ?>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->address->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->address->getName()?>" class="col-sm-2 control-label"><?=$this->element->address->getLabel()?></label>
        <div class="col-sm-8">
            <textarea name="<?=$this->element->address->getName()?>" id="<?=$this->element->address->getName()?>" rows="4" class="form-control"><?=$this->element->address->getValue()?></textarea>
            <?php if(!empty($this->element->address->getErrors())){ ?>
                <span class="help-block">
            <?php foreach ($this->element->address->getMessages() as $message){ ?>
                <?=$message?>
            <?php } ?>
        </span>
            <?php } ?>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->comment->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->comment->getName()?>" class="col-sm-2 control-label"><?=$this->element->comment->getLabel()?></label>
        <div class="col-sm-8">
            <textarea name="<?=$this->element->comment->getName()?>" id="<?=$this->element->comment->getName()?>" rows="4" class="form-control"><?=$this->element->comment->getValue()?></textarea>
            <?php if(!empty($this->element->comment->getErrors())){ ?>
                <span class="help-block">
            <?php foreach ($this->element->comment->getMessages() as $message){ ?>
                <?=$message?>
            <?php } ?>
        </span>
            <?php } ?>
        </div>
    </div>

    <div class="form-group <?=!empty($this->element->admin_comment->getErrors())?'has-error':''?>">
        <label for="<?=$this->element->admin_comment->getName()?>" class="col-sm-2 control-label"><?=$this->element->admin_comment->getLabel()?></label>
        <div class="col-sm-8">
            <textarea name="<?=$this->element->admin_comment->getName()?>" id="<?=$this->element->admin_comment->getName()?>" rows="4" class="form-control"><?=$this->element->admin_comment->getValue()?></textarea>
            <?php if(!empty($this->element->admin_comment->getErrors())){ ?>
                <span class="help-block">
            <?php foreach ($this->element->admin_comment->getMessages() as $message){ ?>
                <?=$message?>
            <?php } ?>
        </span>
            <?php } ?>
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" name="<?=$this->element->save->getName()?>" id="<?=$this->element->save->getName()?>">
                <?=$this->element->save->getLabel()?>
            </button>
        </div>
    </div>


</form>
<script>
        $element = $('#Orders #phone');
        $element.autocomplete({
            'source': function (request, response) {
                var field = $(this.element).attr('name');
                $.getJSON(
                    '/ajax/order/autocomplete',
                    field+'='+ encodeURIComponent($element.val())+'&_field=' + field,
                    function( data, status, xhr ) {
                        response($.map(data, function (item) {
                            return {
                                value: item[field],
                                label: item[field] + ' ' + item['name'] + ' ' + item['address'],
                                address: item['address'],
                                name: item['name'],
                                delivery_type: item['delivery_type'],
                            }
                        }));
                    }
                );
            },
            'select': function(e,data) {
                $('#Orders #name').val(data.item.name);
                $('#Orders #address').val(data.item.address);
                $('#Orders #delivery_type').val(data.item.delivery_type);
            },
            appendTo: $element.parent(),
            minLength: 0
        });
</script>
