{% extends "mail/admin_layout.twig" %}

{% block content %}
    <div style="padding: 0;">
        <div style="font:15px Helvetica; line-height: 20px;">
            <div style="padding: 0 27px 0 27px;">
                <table align="center" cellpadding="10" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <ul>
                                <li>Создан {{ order.created }}</li>
                                <li>№ {{ order.id }}</li>
                                <li>Статус <strong>{{ order.Status.title }}</strong></li>
                                <li>Сообщение для админа <strong>{{ order.admin_msg }}</strong></li>
                                <li>Сообщение для пользователя <strong>{{ order.user_msg }}</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><table cellpadding="5" cellspacing="1" border="0" style="font-size: 13px;" width="100%">
                                <tr style="font-size: 11px;"  bgcolor="#EEE">
                                    <td align="center" width="1%">&nbsp;</td>
                                    <td align="center">Товар</td>
                                    <td align="center" width="1%">Кол-во</td>
                                    <td align="center" width="1%">Стоимость</td>
                                    <td align="center" bgcolor="#F0E5CB" width="1%">Всего</td>
                                </tr>
                                {% for product in order.products %}
                                    {% if product.promotion is not empty %}
                                        <tr>
                                            <td colspan="5" align="center" style="color: #ff0000;">{{ product.promotion }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td align="center"><a href="{{ product.url }}"><img src="{{ product.img }}" width="80" height="80" alt="{{ product.title }}" /></a></td>
                                        <td align="center"><a href="{{ product.url }}">{{ product.title }}</a></td>
                                        <td align="center">{{ product.count }}шт.</td>
                                        <td align="center" style="white-space: nowrap">{{ product.price }}</td>
                                        <td align="center" bgcolor="#EEE" style="white-space: nowrap">{{ product.total }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" align="right">Итого без стоимости доставки: </td>
                                    <th bgcolor="#EEE" style="white-space: nowrap">{{ order.total }}</th>
                                </tr>
                            </table></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}