@import "../../variables";

.filter_block_accepted {
  padding: 10px;
  //background: $primary-color;
  //box-sizing: border-box;
  //@include border-radius(3px);
  margin-bottom: 10px;
  @media #{$mobile} {
    margin: 0;
  }

  .accepted_container a {
    display: inline-block;
    background-color: $secondary-color;
    border-radius: 4px;
    color: #222;
    font-size: 14px;
    line-height: 18px;
    margin: 0 4px 4px 0;
    padding: 2px 6px;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    text-decoration: none;

    &.remove_all {
      background-color: #dddddd;
    }

    i {
      display: inline-block;
      @include icons-sprite('filter-unset', true);
      margin-left: 10px;
      position: relative;

    }
  }
}


.filter_block {
  padding: 10px 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  @include border-radius(3px);

  .filter_block_item {
    padding: 10px 20px;
    background-color: #EFEFEF;
    @include border-radius(4px);

    @media #{$tablet} {
      padding: 0 10px;
    }
  }

  .title {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
/*
  &>.price {
    text-align: center;
    padding-bottom: 10px;
    position: relative;

    a.search {
      display: none;
      position: absolute;
      top: 3px;
      right: 20px;
      text-decoration: none;
      border: solid 5px #ffffff !important;
      background-color: #ffffff;
      @include border-radius(2px);

      @include icons-sprite('search', true);
    }

    .ui-slider {
      display: none;
      background: #c2c2c2 none repeat scroll 0 0;
      border: medium none;
      border-radius: 3px;
      box-shadow: 0 1px 0 #a6a6a6 inset;
      height: 3px;
      margin: 20px 0 0 0;
      position: relative;
      z-index: 1;

      .ui-slider-handle {
        filter: none;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #AAA 0px, #666 100%) repeat scroll 0 0;
        border-radius: 2px;
        cursor: e-resize;

        margin-left: -9px;
        outline: 0 none;
        position: absolute;
        top: -5px;

        width: 12px;
        height: 12px;
        z-index: 2;
      }
      .ui-slider-range {
        background-color: #666;
        border-radius: 3px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }

    span {
      position: relative;
      top: 3px;
      color: GrayText;
      @include font-alt(s);
    }
    input {
      width: 60px;
      height: 30px;
      background-color: #ffffff;
      font-size: 11px;
      text-align: center;
      border: solid 1px black;
    }
  }
*/

  input {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

  .count {
    //display: none;
    margin-left: 5px;
    font-size: 11px;
    color: GrayText;

    &:after { content: ')'; }
    &:before {content: '(';}
  }

  .submenu_children.selected.unic div[data-selected="0"] .count:before {
    content: '(+';
  }
  a {
    text-decoration: none;
    //border-bottom: 1px dotted #333;
    font-size: 12px;
    color: #333;
  }

  [data-has-parent='1'] {
    margin-left: 12px;
  }

  [data-has-children='1'] {
    margin-top: 5px;
    .count {
      display: none;
    }
    .show-children-filters {
      display: inline-block;
      margin-left: 5px;
//      cursor: pointer;
      @include icons-sprite('filter-children-down', true);
      &.close {
        @include icons-sprite('filter-children-right', true);
      }
    }
  }

  [data-selected='1'] a {
    //color: #008c16;
    //font-weight: bold;
  }

  .submenu_title {
    @include font();
    text-transform: uppercase;
    //border-bottom: 1px dotted #333;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    //padding-left: 20px;
    //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFpJREFUOI3d0LENQFAQBuCPgs0k5lBYRGUPhSFMI6Ygnkqn8a7iT667/8vl+G02tBEg4UAfAe4ZUUSAhBl1BEhYnhbLF+gZuWBClQsMMp+4o3tbvLOiyS1/LBczoh4s1EvCqgAAAABJRU5ErkJggg==')
    //            1px 2px no-repeat;
  }
  .filter_block_item.open .submenu_title {
    //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFhJREFUOI1jYBgFVAdPGRgY/hPAT/AZ4MXAwPAHj+bfDAwMHoRckYHHgFRivdKFRXMbsZoZGBgYGBkYGFYiaV4GFSMJcDAwMOxjYGDYxcDAwE6q5lFAAgAAMrki7vVOa8QAAAAASUVORK5CYII=');
  }

  .submenu_children {
    display: none;

    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    margin: 5px 0 0 0;
    padding-left: 2px;
    font-size: 12px;

    &>div {
      line-height: 19px;
      white-space: nowrap;

      a { margin-left: 2px; @include font(m); }
      a:hover { border-bottom-color: transparent; }
    }
  }

  .filter_block_item.open .submenu_children {
    display: block;
  }
  .filter_block_item.cat .submenu_children {
    max-height: none;
    line-height: normal;

    .cat_item {
      white-space: normal;
      text-align: center;
      margin-bottom: 5px;

      a {
        display: block;
      }

      h3 {
        background-color: $secondary-color;
        border-radius: 3px;
        color: $primary-color;
        margin: 0;
        padding: 5px 10px;
        display: block;
      }
    }
    .count {
      display: none;
    }
  }
}

.filter_block_item+.filter_block_item {
  margin-top: 5px;
}