<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
</h1>

<table class="table table-striped table-hover table-condensed">
<thead>
<tr>
    <td>ID</td>
    <td>Название</td>
    <td>Шаблон</td>
    <td>Веремя генерации</td>
    <td>Интервал генерации</td>
    <td>Товары</td>
    <td>Ссылка</td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id; ?></td>
            <td style="width: 300px"><strong><?= $item->title; ?></strong></td>
            <td><?= $item->params['template']; ?></td>
            <td><strong style="color: <?= ($item->isActual() ? 'Green' : 'Red'); ?>;"><?= $this->time($item->time_generate); ?></strong></td>
            <td><?= ProductsExportAgents::$IntervalsGenerate[$item->interval_generate]; ?></td>
            <td><a href="<?= $this->url([], 'products-product-list'); ?>?<?= http_build_query($item->params); ?>"><?= $item->result_count; ?></a> </td>
            <td><a href="<?= $item->getFileUrl(); ?>"><?= $item->getFileUrl(); ?></a></td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'generate',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-recycle""></i>',
                    'buttonAttr'  => array('data-target' => 'prev')
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>