<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<table class="standart-list" summary="">
    <thead>
        <tr>
            <th colspan="7">Список ошибок</th>
        </tr>
    </thead>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr>
                <td class="title"><?= $item->txterr ?></td>
                <td><?= $item->url ?></td>
                <td class="date"><?= date('d.m.y H:i:s', strtotime($item->time)) ?></td>
                <td class="smallcol">
                    <a href="<?= $this->url(array('id' => $item->id), 'spelling-error-check'); ?>"
                       class="<?= $this->linkAccess('spelling-error-check'); ?> tooltip"
                       title="Проверено"><img src="/img/available.png" width="16" height="16" alt="" /></a>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), 'spelling-error-list')); ?>