<div class="user_info">
    <div class="email"><?= $this->user->email; ?></div>
    <?= $this->form; ?>

    <? if ( !empty($this->success) ) : ?>
        <div id="success_user_info_message">Данные сохранены</div>
        <script>setInterval(function () {$('#success_user_info_message').fadeOut(500, function() {$(this).remove()})}, 2000)</script>
    <? endif ?>

</div>