<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<style>
    tr[data-is_checked='0'] td {
        opacity: 0.5;
    }
    tr[data-is_checked='0']:hover td {
        opacity: 1;
    }
</style>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td style="white-space: nowrap">
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td style="width: 300px; white-space: nowrap">
            <input type="text" name="Products|fts" value="<?= $this->params['Products|fts'] ?>" placeholder="Товар" style="width: 95%;" />
            <?= $this->linkOrderHtml('Products|title', ''); ?>
        </td>
        <td>
            <div style="white-space: nowrap">
                <input type="text" name="author_name" value="<?= $this->params['author_name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'author_name'); ?>" />
                <?= $this->linkOrderHtml('author_name', ''); ?>
            </div>
            <div style="white-space: nowrap">
                <input type="text" name="author_email" value="<?= $this->params['author_email'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'author_email'); ?>" />
                <?= $this->linkOrderHtml('author_email', ''); ?>
            </div>
        </td>
        <td style="width: 100px;">
            <input type="text" name="fts-shortcoming" value="<?= $this->params['fts-shortcoming'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'shortcoming'); ?> (Морфология)" />
        </td>
        <td style="width: 100px;">
            <input type="text" name="fts-dignity" value="<?= $this->params['fts-dignity'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'dignity'); ?> (Морфология)" />
        </td>
        <td style="width: 100px;">
            <input type="text" name="fts-text" value="<?= $this->params['fts-text'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'text'); ?> (Морфология)" />
        </td>
        <td>
            <?= $this->formSelect('is_checked', $this->params['is_checked'], [], ['' => '-проверенный-', 0 => 'нет', 1 => 'да']); ?>
        </td>
        <td colspan="2" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
</form>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id'=>$item->Products->id),
                    'buttonText'  => '<i class="fa fa-eye"></i>',
                )); ?>
                <?= $item->Products->title ?>
            </td>
            <td>
                <? if ( $item->is_admin ) : ?>
                    <div><strong style="color: Red;">Админ</strong></div>
                <? endif ?>

                <div><strong>Имя:</strong> <?= $item->author_name ?></div>
                <div><strong>Email:</strong> <?= $item->author_email ?></div>
                <div><strong>Время:</strong> <?= $this->time($item->created) ?></div>
            </td>
            <td><?= SF::getFirstSentences($item->shortcoming, 100); ?></td>
            <td><?= SF::getFirstSentences($item->dignity, 100); ?></td>
            <td><?= SF::getFirstSentences($item->text, 100); ?></td>
            <td><?= $item->is_checked ? 'да' : 'нет'; ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'answer',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-reply""></i>',
                    'buttonAttr'  => $item->is_checked ? [] : array('data-toggle'=>'confirm', 'data-confirm-title' => 'Это сообщение отключено, включить')
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>