@import "../abstract";
@import "account/user_info";
@import "account/user_orders";

.account {
  .left_bar {
    float: left;
    width: 190px;
    box-sizing: border-box;
    ul {
      @include reset-list();
      margin-right: -1px !important;

      li {
        margin: 10px 0;
        text-align: center;
        border: 1px solid transparent;
        &>* {
          display: block;
          padding: 10px;
        }

        &.selected,
        &:hover {
          border: 1px solid #DDDDDD;
          @include border-radius(2px);
          border-right-color: white;
        }
        a {
          text-decoration: none;
          color: #0156a9;
        }
      }
    }
  }
  .layout_content {
    margin: 0 320px 0 190px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 10px;
    @include border-radius(2px);

    h1 {
      background: #EEEEEE;
      box-sizing: border-box;
      margin: -10px -10px 10px -10px;
      padding: 13px;
      @include font-alt(l, bold);
    }
  }
  .right_bar {
    width: 310px;
    float: right;
    padding: 10px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    @include border-radius(2px);
  }
}
