@import "abstract";

.article-item_container {

  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  @media #{$tablet} {
    max-width: 768px;
  }
  @media #{$mobile} {
    max-width: 320px;
  }

  .block_style1 {
    background: #EEE;
    padding: 20px;
    margin-left: 30px;
    border-left: 3px #0000cc solid;
  }

  .info{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

    .author{
      font-size: 12px;
      color: #444;
      float: left;

      span{
        font-weight: bold;
      }
    }

    .date-publication{
      float: right;
      font-size: 12px;
      color: #444;
      span{
        font-weight: bold;
      }
    }

  }

  table {
    td {
      padding: 5px;
    }
  }

  h1 {
    @include font-alt(xxl);
    line-height: 90%;
    @media #{$mobile} {
      font-size: 24px;
    }
  }

  h2, h3 {
    @include font-alt(xl);
    @media #{$mobile} {
      font-size: 20px;
    }
  }

  p {
    text-align: justify;
  }

  img {
    border-radius: 3px;
    @include box-shadow(1px, 2px, 2px, #444);
    @media #{$tablet} {
      width: 100%!important;
      height: auto!important;
    }
    @media #{$mobile} {
      width: 100%!important;
      height: auto!important;
    }
  }

}


.article-groups {

  .group {

    .article {
      overflow: hidden;
      padding: 25px 0px;
      border-bottom: 1px dotted #444;
      @media #{$mobile} {
        padding: 25px 10px;
      }

      h2, h3 {
        @include font-alt(l);
      }

      .title {
        font-size: 16px;
        text-decoration: underline;
        font-weight: bold;
        color: #444;
        display: block;
        margin-bottom: 15px;
        @include font-alt(xl);
        @media #{$mobile} {
          font-size: 20px;
          text-align: center;
        }
      }

      .left{
        width: 30%;
        margin-right: 20px;
        float: left;
        @media #{$mobile} {
          width: 100%;
          margin: 0 auto 10px;
          float: none;
        }

        img{
          width: 100%;
          height: auto;
        }
      }

      .right{

        .info{
          overflow: hidden;
          margin-bottom: 10px;
        }

        .author{
          font-size: 12px;
          font-weight: bold;
          color: #444;
          float: left;
          @media #{$mobile} {
            float: none;
          }
        }

        .date-publication{
          float: right;
          font-size: 12px;
          color: #444;
          font-weight: bold;
          @media #{$mobile} {
            float: none;
          }
        }

        .text {
          display: block;
          max-height: 340px;
          overflow: hidden;
          font-size: 15px;
          text-align: justify;
          @media #{$mobile} {
            max-height: initial;
            height: auto;
          }
        }
      }





      .read-more {
        float: right;
        margin-top: 35px;
        color: #444;
        @media #{$mobile} {
          float: none;
          display: block;
          text-align: center;
          margin: 10px auto 0;
        }
      }
    }
  }
}