@import "abstract";

@import "order/tab";
@import "order/delivery";
@import "order/payment";
@import "order/comment";
@import "order/success";

.layout_content {
  padding: 0 20px;
}

.head {
  box-sizing: border-box;
  padding: 20px 0 10px 0;
  background-color: $primary-color;
  text-align: center;
  h1 {
    color: white;
  }
}


#order-step-block {
  padding: 20px;
  @include border-radius(3px);
  background-color: #EEEEEE;
  h2 { margin-top: 0 }
}

#next-order-step-container {
  padding: 20px 20px 0 0;
  text-align: right;
}

select, input, textarea {
  background-color: White !important;
}

