@import "../abstract";
@import "../vendors/jqzoom";
@import "product/scroll_popup";
@import "product/popular";

section.product {

  @include pie-clearfix;
  @import "product/images";
  @import "product/group";
  @import "product/option";
  @import "product/tab";
  @import "product/comments";
  @import "product/accessories";
  @import "product/series";
  @import "product/series_group";

  padding: 10px 5px;

  .title_block {
    .p_type {
      font-size: 1.2em;
    }
    .p_title {
      display: inline-block;
      margin: 5px;
      @include font-alt(xxl, bold);

    }
    @media #{$mobile} {
      font-size: 20px;
      margin: 0;
      text-align: center;
    }
    .p_code {
      position: relative;
      font-size: 0.8em;
      opacity: 0.8;
      top: -20px;
      @media #{$tablet} {
        top: 0;
      }
      @media #{$mobile} {
        top: 0;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .information {
    max-width: 1200px;
    margin: 10px auto;
    @media #{$mobile} {
      max-width:310px;
    }

    /*@include mobile {
      overflow: hidden;
      .top_info:after {
        content: "";
        display: inline-block;
        clear: both;
      }
    }*/

    &>.note {
      color: #444;
      margin-bottom: 10px;
      font-size: 13px;
      span {
        @include border-radius(2px);
        display: inline-block;
        padding: 2px 5px;
        background: #ff8000;
        margin-right: 10px;
        font-weight: bold;
        color: white;
      }
    }

    @import "product/top_info";
  }

}
