@import "abstract";

.layout_content .left_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;

  .types_block {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .catecories_block {
    margin-top: 10px;
    padding-left: 10px;
  }
  a {
    @include font-alt(m);
    line-height: 1.5em;
  }
}

.layout_content .promotion_list {
  margin: auto;
  max-width: 95%;
  box-sizing: border-box;
  text-align: center;

  .promotion_item {
    position: relative;
    @include border-radius(2px);
    @include box-shadow(0px, 0px, 5px, #ccc);
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0 30px 5px 0;
    height: 350px;
    width: 350px;
    @media #{$tablet} {
      width: 700px;
      margin: 0 auto 25px;
    }
    @media #{$mobile} {
      width: 100%;
      margin: 0 auto 25px;
    }

    .image {
      img {
        text-align: center;
        @include font-alt(l, bold);
        color: #444;
        width: 100%;
      }
    }

    .promotion_preiod {
      position: absolute;
      top: 10px;
      right: 0;
      padding: 5px 10px;
      color: #FFFFFF;
      font-size: 12px;
      @include border-left-radius(4px);
      @include box-shadow(0px, 0px, 5px, #ccc);
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYmBgaAAIMAAAjwCD5Hc2/AAAAABJRU5ErkJggg==');
    }

    .description {
      margin: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      width: 330px;

      .promotion_remaining {
        @include border-radius(2px);
        @include box-shadow(0px, 0px, 5px, #ccc);
        padding: 5px 2px;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
        .promotion_remaining_today {
          color: #D01510;
          @include font-alt(m, bold);
          padding: 5px;
        }
        .promotion_remaining_title {
          font-size: 12px;
          color: #666;
          margin: 3px 0;
        }
        .promotion_remaining_number {
          @include font-alt(xxxl,bold);
          line-height: 0.9em;
        }
        .promotion_remaining_day {
          @include font-alt(l);
        }
      }

      .shadow{
        width:400px;
        margin:20px auto;
        cursor:text;
        box-shadow:inset 0px -190px 190px -50px #add7f8;
      }

      .promotion_title {
        height: 100px;
        overflow: hidden;
        position: relative;
        @include font-alt();
        display: block;
        margin-left: 95px;
        top: 10px;
        color: #666;
        text-decoration: none;

        &:hover { text-decoration: underline; }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 20px;
          background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%) repeat scroll 0 0;
        }
      }
    }

  }
}


.promotion {

  h3 { text-align: center; @include font-alt(xxl, bold); }

  .products_involved {
    .product_item.product_table {
      width: 100 / 5 * 1%;
      border-bottom: 1px dotted #000;
      padding-bottom: 20px;
      @media #{$mobile} {
        width: 100%;
        margin: 0 auto;
      }
        .sticker-promotion,
        .additional_promotion {
          display: none;
        }
    }
  }

  .promotion_detail {
    position: relative;
    min-height: 380px;
    margin: 10px 50px;
    @media #{$mobile} {
      margin: 10px;
    }

    .promotion_detail_left {
      position: absolute;
      left: 50px;
      top: 0;
      width: 500px;
      @media #{$mobile} {
        position: initial;
        width: 100%;
      }
      img {
        width: 100%;
        @include border-radius(3px);
        @include box-shadow(0px, 0px, 5px, #ccc);
      }
    }

    .promotion_detail_right {
      margin-left: 600px;
      @media #{$mobile} {
        margin: 0;
      }
    }

    .promotion_remaining {
      @include border-radius(1px);
      @include box-shadow(0px, 0px, 5px, #116E04);
      @include font-alt(xl, bold);
      text-align: center;
      padding: 10px;
      color: #444;
      div { display: inline-block; margin-right: 10px; }
    }

  }

}