@import "abstract";
@import "partials/pagination";


.layout_content .product_list {
  box-sizing: border-box;

  .product_item.product_table {
    width: 100 / 4 * 1%;
    border-bottom: 1px dotted #000;
    padding-bottom: 20px;
    @media #{$mobile} {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .clfline {
      clear: both;
      position: relative;
      top: -6px;
      height: 1px;
      background: #ffffff;
  }

  .pagination {
    text-align: center;
    margin: 20px;
  }
}

