@import "abstract";


.layout_content .selective_list {
  box-sizing: border-box;

  width: 800px;
  margin: auto;

  .product_item.product_table {
    width: 100 / 3 * 1%;
    border-bottom: 1px dotted #000;
    padding-bottom: 20px;
  }

  .clfline {
      clear: both;
      position: relative;
      top: -6px;
      height: 1px;
      background: #ffffff;
  }

  .pagination {
    text-align: center;
    margin: 20px;
  }
}

