@import "abstract";
@import "shop/filters";
@import "vendors/jscrollpane";
@import "partials/pagination";


#shop-container {
  position: relative;
  .filter-mob-btn {
    display: none;
    @media #{$mobile} {
      display: block;
      width: 65px;
      padding: 10px 0 10px 10px;
      background: #eeeeee;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}
.layout_content .social_widgets {
  width: 200px;
  margin: 10px auto;
  @media #{$mobile} {
    display: none;
  }
}
.layout_content .left_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  transition: all 1s;
  @media #{$tablet} {
    width: 250px;
  }
  @media #{$mobile} {
    width: 100%;
    left: -100vw;
    z-index: 100;
    top: 55px;
  }
  &.opened {
    @media #{$mobile} {
      background-color: #EEEEEE;
      left: 0;
    }
  }

  ul{
    padding: 0;
    display: block;
    width: 200px;
    overflow: hidden;
    margin: 20px auto;
    margin-bottom: 5px;

    li{
      float: left;
      padding: 5px 10px;
      list-style: none;
      margin-right: 5px;
      background-color: #ddd;
      cursor: pointer;
      border: 1px solid #fff;
    }
    li.active, li:hover{
      border: 1px solid #3b589c;
    }
  }
}

.layout_content .product_list {
  padding-left: 310px;
  box-sizing: border-box;
  @media #{$tablet} {
    padding-left: 260px;
  }
  @media #{$mobile} {
    padding: 15px 0 0;
  }

  h1 {
    margin-bottom: 10px;
  }

  .sort_block {
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    font-size: 0.85em;
    color: #AAAAAA;
    div {
      margin: 2px 0;
      span {
        display: inline-block;
        width: 80px;
        @media #{$mobile} {
          display: block;
          margin: 0 auto 5px;
          width: initial;
          text-align: center;
        }
      }
      ul {
        display: inline-block;
        @include reset-list();
        margin: 0 5px !important;
        @media #{$mobile} {
          text-align: center;
          margin: 0 auto 5px!important;
          display: block;
        }
        li {
          display: inline-block;
          text-decoration: underline;
          margin: auto 5px !important;
          @media #{$tablet} {
            font-size: 9px;
          }
          &:hover {
            cursor: pointer;
            text-decoration: none;
            color: #444;
          }
          &.selected {
            font-weight: bolder;
            color: #444;
            text-decoration: none;
          }
        }
      }
    }
  }

  .product_item.product_table {
    width: 100 / 3 * 1%;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 20px;
    @media #{$mobile} {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .clfline {
      clear: both;
      position: relative;
      top: -6px;
      height: 1px;
      background: #ffffff;
  }
}

.shop_text {
  padding: 10px;
  line-height: 1.2em;
  h2 {@include font-alt(xl, bold);}
  p {
    margin: 10px 0;
    font-size: 110%;
  }
  ul,ol {
    li {margin: 10px 0}
  }
}