@import "abstract";

.static-page_container {

  @include font-alt(ml);
  max-width: 900px;
  margin: 0 auto;
  .breadcrumb {
    padding-left: 0;
  }
  .static-page_text {
    h2 {
      img {
        @media #{$tablet} {
          width: 768px!important;
        }
        @media #{$mobile} {
          width: 320px!important;
          height: auto!important;
        }
      }
    }
    table {
      table {
        td img {
          @media #{$mobile} {
            display: none;
          }
        }
      }
    }
  }

}