@import "abstract";

h1 {
  @include font-alt(xxl);
  text-align: center;
  border-bottom: solid 1px Gray;
  padding-bottom: 10px;
}

h2 {
  @include font-alt(xl);
  text-align: center;
  border-bottom: solid 1px Gray;
  padding-bottom: 10px;
}

.form_container {

  box-sizing: border-box;
  padding: 10px 20px;
  box-shadow: 1px 2px 5px 2px #116D04;
  border-radius: 2px;
  margin: 30px auto;
}