<table class="table table-striped table-hover table-condensed" id="choice-product-list" style="width: 600px;">
<thead>
<tr>
    <th>ID</th>
    <th>Название</th>
    <th>Цена</th>
    <th>Статус</th>
</tr>
</thead>
<tbody>
    <? foreach($this->list as $item) :
        $data_array = $item->toArray();
        $data_array['fullName'] = strip_tags($item->getFullName());
        $data_array['priceUAH'] = $item->getPrice('retail', 'UAH');
    ?>
        <tr>
            <td><?= $item->id; ?></td>
            <td style="width: 98%;">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-eye"></i>',
                )); ?>
                <?= $item->title; ?> <br>
                <?php if($item->Promotion->is_enabled): ?>
                <span style="color: #ff0000; font-size: 11px;"><?= $item->Promotion->title; ?></span>
                <?php endif; ?>
            </td>
            <td><?= $item->getFormatedPrice('retail', 'UAH'); ?></td>
            <td><?= $item->statusTitle; ?></td>
            <td>
                <span class="fa fa-lg fa-check btn choice-button" data-id="<?= $item->id; ?>" data-product="<?= htmlspecialchars(Zend_Json::encode($data_array)); ?>"></span>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
<tfoot style="display: none;">
<tr>
    <td colspan="10" align="right">
        <span id="resetChosen" class="btn btn-danger btn-xs">Сбросить</span>
        <span id="saveChosen" class="btn btn-success">Готово</span>
    </td>
</tr>
</tfoot>
</table>

<?= $this->showPager($this->pagerRange); ?>

<script>
    if (typeof chosen !== 'object') {
        alert("Переменная chosen не объявлена или не object. \nДальнейшее использования данной функции невозможно.");
        throw new Error("Необходимо создать переменную chosen");
    }

    if (typeof chosenIsArray !== 'boolean') {
        alert("Переменная chosenIsArray не объявлена или не boolean. \nДальнейшее использования данной функции невозможно.");
        throw new Error("Необходимо создать переменную chosenIsArray");
    }

    if (typeof saveChosenProducts !== 'function') {
        alert("Функция saveChosenProducts не объявлена. \nДальнейшее использования данной функции невозможно.");
        throw new Error("Необходимо создать функцию saveChosenProducts");
    }

    $('#choice-product-list').on('click', ".choice-button.fa-check", function (e) {
        var product = $.parseJSON($(this).attr('data-product'));
        product.title = $($('<div>').html(product.title)).text();
        if ( chosenIsArray ) {
            $(this).removeClass('fa-check').addClass('fa-times');
            chosen[product['id']] = product;
        } else {
            chosen = product;
            $(this).removeClass('fa-check').addClass('fa-refresh fa-spin');
            $('#choice-product-list #saveChosen').click();
        }
    });

    $('#choice-product-list').on('click', ".choice-button.fa-times", function () {
        var product = $.parseJSON($(this).attr('data-product'));
        $(this).removeClass('fa-times').addClass('fa-check');
        delete chosen[product['id']];
    });

    $('#choice-product-list').on('click', ".choice-button", function () {
        if ( chosenIsArray ) {
            $('#choice-product-list tfoot').toggle(Object.keys(chosen).length > 0);
        } else {
            $('#choice-product-list tfoot').hide();
        }
    });

    $('#choice-product-list').on('click', "#resetChosen", function () {
        chosen = {};
        $('#choice-product-list tfoot').toggle( Object.keys(chosen).length > 0 );
        $('#choice-product-list .choice-button.fa-times').click()
    });

    $('#choice-product-list').on('click', "#saveChosen", function () {
        saveChosenProducts(chosen);
    });

    $.each(chosen, function (key, value) {
        $(".choice-button.fa-check[data-id='"+key+"']").click();
    });

    $('#choice-product-list tfoot').toggle( Object.keys(chosen).length > 0 );
</script>