<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title; ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<form method="GET" action="<?= $this->url(array(), Zend_Registry::get('myCurrentRoute')->name); ?>" data-target="self" style="width: 600px;">
    <?= $this->PrintHiddenParams($_GET); ?>
    <table class="table table-striped table-hover table-condensed" style="width: 100%">
        <tr>
            <td style="width: 98%; white-space: nowrap;">
                <input type="text" name="orkey" value="<?= $this->params['orkey'] ?>" placeholder="Морфология (любые слова)" style="width: 95%;" />
                <?= $this->linkOrderHtml('title', ''); ?>
            </td>
            <td colspan="4" style="text-align: right; white-space: nowrap;">
                <?= $this->ButtonResetSearch(); ?>
                <?= $this->ButtonSearch(); ?>
                <?= $this->ModalLinkBotton([
                    'routeName'   => 'products-choice-advanced-search',
                    'queryParams'  => $_GET,
                    'buttonText'  => 'подробный',
                    'buttonAttr'  => array('class'=>'btn btn-info btn-xs')
                ]); ?>
            </td>
        </tr>
    </table>
</form>


<? if ( $this->list->count() ) : ?>
    <?= $this->render('choice/list-items.phtml'); ?>
<? else : ?>
    <div style="text-align: center; padding: 20px;"><h2>Ничего не найдено</h2></div>
<? endif ?>
