<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title; ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>
<?= $this->PrintHiddenParams($_GET); ?>
<? if ( $this->list->count() ) : ?>
    <table class="table table-striped table-hover table-condensed" id="choice-product-list" style="width: 800px;">
        <thead>
        <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-6">Название</th>
            <th class="col-md-2">Цена</th>
            <th class="col-md-2">Цена со скидкой</th>
            <th class="col-md-1">Наличие</th>
            <th class="col-md-1">Группа</th>
        </tr>
        </thead>
        <tbody>
        <? foreach($this->list as $item) :
            $data_array = $item->toArray();
            $data_array['fullName'] = strip_tags($item->getFullName());
            $data_array['priceUAH'] = $item->getPrice('retail', 'UAH');
            $data_array['id_set'] = $item->id_set;

            $discounts = empty($item->discount) ? [] : array_map('intval', Site_Db_Function::pg_array_parse($item->discount)) ;
            $item->discount = count($discounts) < count($item->id) ? end($discounts) : $discounts[count($item->id)-1];

            ?>
            <tr>
                <td><?= $item->id; ?></td>
                <td style="width: 98%;">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-product-view',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-eye"></i>',
                    )); ?>
                    <?= $item->title; ?>
                </td>
                <td class="price"><?php if($item->status): ?><?= $item->getFormatedPrice('retail', 'UAH') ?><?php endif; ?></td>
                <td class="discount-price" data-discount="<?= htmlspecialchars(Zend_Json::encode($discounts)); ?>"><?php if($item->status): ?><?=  $item->getFormatedDicsountPrice('retail', 'UAH', $item->discount) ?><?php endif; ?></td>
                <td class="text-center"><?= $item->status?'<i class="fa fa-plus text-success"></i>':'<i class="fa fa-minus text-danger"></i>' ?></td>
                <td><?= $item->set_group ?></td>
                <td>
                    <span class="fa fa-lg fa-check btn choice-button" data-id="<?= $item->id; ?>" data-group="<?=$item->set_group?>" data-product="<?= htmlspecialchars(Zend_Json::encode($data_array)); ?>" ></span>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
        <tfoot style="display: none;">
        <tr>
            <td colspan="10" align="right">
                <span id="resetChosen" class="btn btn-danger btn-xs">Сбросить</span>
                <span id="saveChosen" class="btn btn-success">Готово</span>
            </td>
        </tr>
        </tfoot>
    </table>

    <?= $this->showPager($this->pagerRange); ?>

    <script>
        if (typeof chosen !== 'object') {
            alert("Переменная chosen не объявлена или не object. \nДальнейшее использования данной функции невозможно.");
            throw new Error("Необходимо создать переменную chosen");
        }

        if (typeof chosenIsArray !== 'boolean') {
            alert("Переменная chosenIsArray не объявлена или не boolean. \nДальнейшее использования данной функции невозможно.");
            throw new Error("Необходимо создать переменную chosenIsArray");
        }

        if (typeof saveChosenProducts !== 'function') {
            alert("Функция saveChosenProducts не объявлена. \nДальнейшее использования данной функции невозможно.");
            throw new Error("Необходимо создать функцию saveChosenProducts");
        }

        $('#choice-product-list').on('click', ".choice-button.fa-check", function (e) {
            var product = $.parseJSON($(this).attr('data-product'));
            product.title = $($('<div>').html(product.title)).text();
            if ( chosenIsArray ) {
                $(this).removeClass('fa-check').addClass('fa-times');
                group = $(this).data('group');
                $('.fa-check[data-group="'+group+'"]').removeClass('fa-check').addClass('fa-circle-o-notch');
                chosen[product['id']] = product;
            } else {
                chosen = product;
                $(this).removeClass('fa-check').addClass('fa-refresh fa-spin');
                $('#choice-product-list #saveChosen').click();
            }

            var group_num   = $('#choice-product-list').find('.choice-button.fa-times').length - 1;

            $('#choice-product-list').find('.discount-price').each(function () {
                
                var discount = $.parseJSON($(this).attr('data-discount'))[group_num],
                    price    = accounting.unformat($(this).closest('tr').find('.price').text());
                $(this).html(accounting.formatMoney(price - (price * Number(discount) / 100)));
            });

        });

        $('#choice-product-list').on('click', ".choice-button.fa-times", function () {
            var product = $.parseJSON($(this).attr('data-product'));
            group = $(this).data('group');
            $('.fa-circle-o-notch[data-group="'+group+'"]').removeClass('fa-circle-o-notch').addClass('fa-check');
            $(this).removeClass('fa-times').addClass('fa-check');
            delete chosen[product['id']];
        });

        $('#choice-product-list').on('click', ".choice-button", function () {
            if ( chosenIsArray ) {
                $('#choice-product-list tfoot').toggle(Object.keys(chosen).length > 0);
            } else {
                $('#choice-product-list tfoot').hide();
            }
        });

        $('#choice-product-list').on('click', "#resetChosen", function () {
            chosen = {};
            $('#choice-product-list tfoot').toggle( Object.keys(chosen).length > 0 );
            $('#choice-product-list .choice-button.fa-times').click()
        });

        $('#choice-product-list').on('click', "#saveChosen", function () {
            saveChosenProducts(chosen);
        });

        $.each(chosen, function (key, value) {
            $(".choice-button.fa-check[data-id='"+key+"']").click();
            $('.fa-check[data-group="'+value.set_group+'"]').removeClass('fa-check').addClass('fa-circle-o-notch');

        });

        $('#choice-product-list tfoot').toggle( Object.keys(chosen).length > 0 );
    </script>
<? else : ?>
    <div style="text-align: center; padding: 20px;"><h2>Ничего не найдено</h2></div>
<? endif ?>
