<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text"  data-toggle="autocomplete" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" style="width: 300px;" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td><?= $this->tableComment($this->modelName, 'comment'); ?></td>
        <td><? $options = [''=>'---Меню---'];
            foreach (Doctrine_Query::create()->from('CatalogMenu')->where('level <> 0')->orderBy('lft')->execute() as $item) {
                $options[$item->id] = str_repeat('+---', $item->level-1) . $item->title;
            } ?>
            <?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('menu',$this->params['menu'],array(), $options)?>
        </td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
<tbody>
    <? /** @var $item Catalog */ ?>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><a href="<?= $this->url([], $this->routePrefix.'list'); ?>?id=<?= $item->id ?>"><?= $item->id ?></a></td>
            <td>
                <strong><?= $item->title ?></strong>
                <sup style="color: Gray"><a href="<?= $this->url([], 'products-product-list'); ?>?id_catalog=<?= $item->id; ?>"><?= $item->ProductsRefCatalog->count(); ?></a></sup>
            </td>
            <td><div style="width: 200px;"><?= $item->comment; ?></div></td>
            <td>
                <? foreach($item->CatalogMenu as $Menu) : ?>
                    <div><a style="color: Green; font-size: 11px;" href="<?= $this->url(['id'=>$Menu->getNode()->getParent()->id],'catalog-menu-list'); ?>"><?= $Menu->getNode()->getPath('/ ', true); ?></a></div>
                <? endforeach; ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'catalog-filter-group-list',
                    'routeParams' => array('id_catalog' => $item->id),
                    'buttonAttr'  => $item->CatalogFilterGroup->count() ? array('style'=>'color: Green;') : array('style'=>'color: Red;'),
                    'buttonTitle' => 'Фильтры',
                    'buttonText'  => '<i class="fa fa-lg fa-filter""></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-option-list',
                    'routeParams' => array('id_catalog' => $item->id),
                    'buttonTitle' => 'Опции',
                    'buttonAttr'  => $item->ProductsOption->count() ? array('style'=>'color: Green;') : array('style'=>'color: Red;'),
                    'buttonText'  => '<i class="fa fa-lg fa-file-text-o""></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'series-options-list',
                    'routeParams' => array('id_catalog' => $item->id),
                    'buttonTitle' => 'Серии',
                    'buttonText'  => '<i class="fa fa-lg fa-th-large"></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'buttonType'   => 'a',
                    'routeName'   => 'products-quick-options-list',
                    'routeParams' => array('id_catalog' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-table"></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'catalog-filter-index-list',
                    'routeParams' => array('id_catalog' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-cog""></i>',
                )); ?>

                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'catalog-recount-filters_one_catalog',
                    'routeParams' => array('id_catalog' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-recycle""></i>',
                )); ?>

            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>