<? if ( empty($this->errors) ) : ?>
    <h1>Ошибки не выявлены</h1>
<? else: ?>
    <h1 style="color: red;">Ошибки</h1>
    <ul style="padding-left: 10px;">
    <? foreach(Doctrine_Query::create()->from('CatalogFilterValue')->whereIn('id', $this->errors)->execute()  as $FilterValue) : ?>
        <li>
            <?= $FilterValue->CatalogFilterGroup->title; ?> - <?= $FilterValue->title; ?>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'catalog-filter-value-condition-list',
                'routeParams' => array('id_value' => $FilterValue->id),
                'buttonText'  => '<i class="fa fa-lg fa-list-alt""></i>',
            )); ?>
        </li>
    <? endforeach; ?>
    </ul>
<? endif ?>