.buy_block {
  @include border-radius(4px);
  background-color: #EEEEEE;
  text-align: center;
  width: 300px;
  @media #{$tablet} {
    padding: 0 25px 25px;
  }

  .rating {
    display: inline-block;
    margin-top: 10px;
    > * {
      background-color: #EEEEEE;
    }
  }
  .rating_count {
    position: relative;
    left: 5px;
    top: -3px;
    font-size: 11px;
  }

  .status {

    border-bottom: 2px solid #ffffff;
    margin: 0 -50px;
    padding: 10px;
    &.status_0 {
      text-decoration: line-through;
    }
    &.status_1 {
      color: Green;
    }
    &.status_3 {
      color: #FF8A14;
    }
  }

  .buy_row {
    padding: 20px;

    .price {
      display: block;
      margin-bottom: 10px;
      @include font-alt(xxl, bold);
      .currency {
        font-size: 12px;
      }
    }

    .old_price_diff {
      color: #137a05;
      margin-top: 5px;
    }

    .old_price {
      text-decoration: line-through;
      display: block;
      color: #888;
      @include font-alt(xl, bold);
      .currency {font-size: 12px;}
    }

    .product_button_wrap {
      .btn {
        box-sizing: border-box;
        padding: 10px 15px;
        //width: 100%;
        margin: auto;
        font-size: 1.2em;
        @include border-radius(3px);
      }
    }
  }

  .credit_row {
    border-top: 2px solid #ffffff;
    margin: 20px -50px -30px -50px;
    padding: 10px;

    .price {
      @include font-alt(l, bold);
      * {
        font-size: 12px;
      }
    }
    .productInCredit {
      border-bottom: 1px dotted Green;
      color: Green;
      &:hover {
        border-color: transparent;
      }
    }
  }

  .special_offer_block {
    color: #ff0000;
    max-width: 300px;
    a {
      border-bottom: 1px dotted Green;
      color: Green;
      text-decoration: none;
      &:hover {
        border-color: transparent;
      }
    }
  }

}