.product_information_promotion {
  @include border-radius(4px);
//  border: 3px solid #D01510;
  margin: 5px 0 10px 0;
  padding: 20px;
  background: #EEEEEE;

  .product_information_promotion_title {
    @include font-alt(ml);
    span {
      font-size: 1.2em;
      color: #FF870E;
      margin-right: 10px;
    }
  }

  .promotion_remaining {
    margin-top: 10px;
    div { display: inline-block; margin-right: 10px; }
    .promotion_remaining_number {
      @include font-alt(xl,bold);
      line-height: 0.9em;
    }
  }

  .promotion_detail_link {
    float: right;
    font-size: 12px;
    color: GrayText;
    text-decoration: none;
    display: inline-block;
    margin-top: -12px;
    &:hover {
      text-decoration: underline;
    }
  }
}