@import "./product_share_icons/*.png";
@include all-product_share_icons-sprites;

.product_share {
  margin: 10px;
  .product_share_title {font-size: 12px; color: #808080; display: block; float: left; line-height: 230%; margin-right: 20px;}
  ul {@include reset-list(); display: block; float: left;}
  li {margin-right: 5px !important; display: inline-block;}
  li a {display: inline-block;}
  .facebook a {@include product_share_icons-sprite('facebook', true);}
  .vkontakte a {@include product_share_icons-sprite('vkontakte', true);}
  .googleplus a {@include product_share_icons-sprite('googleplus', true);}
  .twitter a {@include product_share_icons-sprite('twitter', true);}
  .odnoklassniki a {@include product_share_icons-sprite('odnoklassniki', true);}
}