
.warranty_block {
  margin-left: 50px;

  @media #{$tablet} {
    margin-left: 50px;
  }
  @media #{$mobile} {
    margin: 20px 0 0 0;
    float: none;
  }

  .warranty_item {
    margin-bottom: 10px;
    div.title {
      @include font-alt(ml, bold);
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    ul {
      @include reset-list();
      margin-left: 30px !important;
      line-height: 1.4em;
      @media #{$tablet} {
        padding: 0;
        margin-left: 5px !important;
      }
      li {
        color: #888;
        list-style: none;
        font-size: 13px;
        &.title {
          color: #444;
          list-style: none;
          margin: 5px 0 5px -15px;
        }
      }
    }

    .delivery_cost {
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
      &.old {text-decoration: line-through; color: #666;}
      .currency {text-transform: lowercase;}
    }
    .delivery_comment {
      color: Green;
      font-size: 12px;
    }

  }
}

