<h3>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h3>
<script type="text/javascript" src="/js/import-products.js"></script>

<div>
    <form id="upload-products-form">
        <table>
            <tr>
                <td colspan="2">Выберите файл</td>
            </tr>
            <tr>
                <td>
                    <button class="addfile" style="margin-top: 10px;">Выбрать файл</button>
                    <div class="filename"></div>
                    <input  id="xls" name="xls" type="file"' style="display:none;" onchange='getFilename(this)'/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="margin-top: 10px;" type="submit" id="submit-upload-products-form" value="Загрузить файл"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="match-fields-wrap" style="display: none;">
    <form id="match-fields-form">
        <input type="hidden" id="select-filename" name="filename">
        <table>
            <tr>
                <td>
                    <label for="select-articul">Артикул</label>
                </td>
                <td>
                    <select id="select-articul" name="code" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-1">Рисунок 1</label>
                </td>
                <td>
                    <select id="select-image-1" name="image_1" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-2">Рисунок 2</label>
                </td>
                <td>
                    <select id="select-image-2" name="image_2" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-3">Рисунок 3</label>
                </td>
                <td>
                    <select id="select-image-3" name="image_3" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-4">Рисунок 4</label>
                </td>
                <td>
                    <select id="select-image-4" name="image_4" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-5">Рисунок 5</label>
                </td>
                <td>
                    <select id="select-image-5" name="image_5" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-6">Рисунок 6</label>
                </td>
                <td>
                    <select id="select-image-6" name="image_6" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-7">Рисунок 7</label>
                </td>
                <td>
                    <select id="select-image-7" name="image_7" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="select-image-8">Рисунок 8</label>
                </td>
                <td>
                    <select id="select-image-8" name="image_8" class="connect-select"></select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input style="margin-top: 10px;" type="submit" id="submit-products-map-fields" value="Подтвердить"/>
                </td>
            </tr>
        </table>
    </form>
</div>
