<div style="margin: 100px; text-align: center;">
    <? if ( $this->subscribeUser->is_recive_price ) : ?>
        <form method="POST">
            Удалить адрес из рассылки <input type="submit" value="Отписаться" />
        </form>
    <? else: ?>
        Данный адрес не участвует в рассылке
    <? endif; ?>
</div>