<div style="margin: 100px; text-align: center;">
    <h2>Извините, невозможно отписать пользователя т.к. пользователь не найден</h2>
    <p style="margin: 50px;;">Оставьте сообщение если вы считаете что это ошибка. <span data-modal-name="feedback" data-modal-link="/feedback/">Обратная связь</span></p>
</div>