<? $this->headLink()->prependStylesheet('/css/daterangepicker.css'); ?>
<? $this->headScript()->prependFile('/js/daterangepicker.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/readable-range.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/moment.min.js', 'text/javascript'); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'queryParams' => array('redirect'=>'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<ul>
    <li>Кол-во статей: <?=$this->count?></li>
    <li>Кол-во символов: <?=$this->countSymbols?></li>
</ul>


<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">

<table class="table table-striped table-hover table-condensed table-sorted">
    <thead>
    <tr>
        <td>ID</td>
        <td style="white-space: nowrap">
            <input type="text"  data-toggle="autocomplete" name="title" value="<?= $this->params['title'] ?>" placeholder="Название" style="width: 300px;" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td style="white-space: nowrap">
            <input type="text" name="date_publication-range" id="date_publication-range" value="<?= $this->params['date_publication-range'] ?>" placeholder="Дата публикации" style="width: 300px;" />
            <?= $this->linkOrderHtml('date_publication', ''); ?>
        </td>
        <td style="white-space: nowrap">
            <?= $this->formSelect(
                'user_id',
                $this->params['user_id'],
                ['style' => 'width: 120px;'],
                ['' => '• • • Кто создал'] + AdminUsers::getList()->toKeyValueArray('id', 'name'));
            ?>
            <?= $this->linkOrderHtml('AdminUsers|name', ''); ?>
        </td>
        <td style="white-space: nowrap">
            <input type="text"  data-toggle="autocomplete" name="ArticleGroup|title" value="<?= $this->params['ArticleGroup|title'] ?>" placeholder="Группа" style="width: 300px;" />
            <?= $this->linkOrderHtml('ArticleGroup|title', ''); ?>
        </td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
    </thead>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $item->id ?></td>
                <td style="width: 300px;"><?= $item->title; ?></td>
                <td><?= $item->date_publication; ?></td>
                <td><?= $item->AdminUsers->name ?></td>
                <td><?= $item->ArticleGroup->title ?></td>
                <td>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                        'buttonAttr'  => array('data-target' => 'self', 'data-toggle' => 'confirm'),
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>
</form>

<script>
    var date_publication_range = $("#date_publication-range").val()

    $("#date_publication-range").daterangepicker({
        autoApply : false,
        ranges: {
            "Сегодня": [
                moment().format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
            ],
            "Вчера": [
                moment().subtract(1, 'days').format('YYYY-MM-DD'),
                moment().subtract(1, 'days').format('YYYY-MM-DD')
            ],
            "Последние 7 дней": [
                moment().subtract(7, 'days').format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
            ],
            "Последние 30 дней": [
                moment().subtract(30, 'days').format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
            ],
            "Этот месяц": [
                moment().subtract(1, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                moment().endOf('month').format('YYYY-MM-DD')
            ],
            "Пролшый месяц": [
                moment().subtract(2, 'month').endOf('month').add(1, 'days').format('YYYY-MM-DD'),
                moment().subtract(1, 'month').endOf('month').format('YYYY-MM-DD')
            ]
        },
        locale: {
            "format": "YYYY-MM-DD",
            "separator": "~",
            "applyLabel": "Применить",
            "cancelLabel": "Очистить",
            "fromLabel": "С",
            "toLabel": "До",
            firstDay : 1,
            "customRangeLabel": "Выбрать период",
            "daysOfWeek": ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
            "monthNames": ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"]
        },
        linkedCalendars: false,
        autoUpdateInput: true
    });

    $('#date_publication-range').val(date_publication_range);
    $('#date_publication-range').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
</script>

<?= $this->showPager($this->pagerRange); ?>