#Form_Order_Comment {
  #element-comment label {
    float: none;
  }
  textarea {
    background-color: White;
    width: 600px;
    height: 200px;
    resize: none;
    @media #{$mobile} {
      width: 240px!important;
      margin: 10px auto!important;
    }
  }

}