form#Form_Order_Delivery {
  overflow: hidden;

  .div{
    clear: both;
  }

  span.error {
    color: red;
    background: #EEE;
    font-size: 0.9em;
    &+.element-description {
      display: none;
    }
  }

  select, input, textarea {
    width: 300px;
    display: inline-block;
  }
  #element-pickup-begin_time, #element-courier-begin_time,#element-npcourier-begin_time{
    display: inline-block;
    input{
      width: 60px;
    }
    .element-title {
      width: 150px;
      display: inline-block;
      white-space: normal;
    }
  }
  #element-pickup-end_time, #element-courier-end_time,#element-npcourier-end_time{
    display: inline-block;
    .element-title {
      display: inline;
    }
    input{
      width: 60px;
    }
  }

  .element-title {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    text-align: right;
  }

  #novaposhta-warehouse, #pickup-depot {
    width: 500px;
  }

  .element-title label {
    float: none;
  }

  .element-description {
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    color: gray;
    position: relative;
  }

  #element-delivery {
    width: 300px;
    margin-left: 150px;

    input {width: 30px;}
    .element-title {
      display: none;
    }
    span.error,
    .element-description {
      white-space: nowrap;
      position: absolute;
      left: 100%;
//      right: 0;
      top: 50%;
    }
    label.disabled {
      text-decoration: line-through;
      color: Gray;
    }
  }

  .city-presets {
    margin-top: -5px;
    padding-left: 160px;
    .link {
      display: inline-block;
      margin-right: 10px;
      font-size: 0.9em;
    }
  }

  #element-courier-address,
  #element-npcourier-address {

    textarea {
      height: 100px;
      resize: none;
    }

    .element-title,
    .element-description,
    span.error {
      position: relative;
      bottom: 40px;
    }
  }

}

