#step-payment {
  .payment-text {
    max-width: 50%;
    float: left;
    background: #ffffff;
    padding: 10px;
    @include border-radius(2px);
  }

  #Form_Order_Payment {
    float: left;
    width: 500px;

    span.error {
      color: red;
      background: #EEE;
      &+.element-description {
        display: none;
      }
    }

    #element-payment {
      width: 300px;
      margin-left: 50px;

      input {margin-right: 10px;}

      .element-title {
        display: none;
      }
      span.error,
      .element-description {
        white-space: nowrap;
        position: absolute;
        left: 100%;
        //      right: 0;
        top: 50%;
      }
      label {
        white-space: nowrap;
        line-height: 20px;
        span {font-size: 11px; color: forestgreen;}
        &.disabled {
          text-decoration: line-through;
          color: Gray;
        }
      }

    }

    #form_credit {
      margin-left: 80px;
      #credit-offer {
        width: 300px;
        padding-right: 30px;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADNJREFUSIljYBgFo2AUDH/QwMDA8J8AbqClJRQbjs8SqhmOzRKqG45sCc0MHwWjYBSQCQAPSBjt6xKKkwAAAABJRU5ErkJggg==')
        270px center no-repeat #ffffff;

        @include input-placeholder {
          color: #000;
          font-style: normal;
          font-size: 13px;
        }
      }
    }

  }



}