#tabs {
  margin: 10px 0;
  @media #{$mobile} {
    display: none!important;
  }
  ul {
    @include reset-list();

    li {
      display: inline-block;
      padding: 5px 10px 5px 30px;
      a, span, strong {display: inline-block;}
      span {
        font-size: 0.9em;
        color: #666;
      }
      strong {
        font-size: 1.2em;
        padding: 5px 10px;
        border-bottom: solid 3px #000000;
      }

      &.arrow {
        background: none;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        top: 5px;
        @include font-alt(xl, bold);
        line-height: 1px;
        color: #ccc;
      }


    }


  }
}
