<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed table-sorted" id="<?= $this->modelName; ?>List">
<thead>
    <tr>
        <td style="white-space: nowrap"><?= $this->linkOrderHtml('id', $this->tableComment($this->modelName, 'id')); ?></td>
        <td><?= $this->linkOrderHtml('title', $this->tableComment($this->modelName, 'title')); ?></td>
        <td><?= $this->linkOrderHtml('hotline_value', $this->tableComment($this->modelName, 'hotline_value')); ?></td>
        <td rowspan="2">
            <form data-target="self" method="post" class="sortForm" action="<?= $_SERVER['REQUEST_URI']; ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id; ?></td>
            <td><?= $item->title; ?></td>
            <td><?= $item->hotline_value; ?></td>
            <td colspan="2">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>


<?= $this->showPager($this->pagerRange); ?>