<style>
    #chosen-list label.error {
        display: none !important;
    }
    #chosen-list input.error {
        border: 1px solid #ff0000;
        background-color: #ffca9e;
    }
    #chosen-list table tr .text {width: 400px;}
</style>

<form action="<?= $_SERVER['REQUEST_URI']; ?>" method="post" id="chosen-list">
    <div>
        <h1><?= $this->Record->title; ?></h1>
        <table class="table table-condensed table-bordered table-striped table-sorted" style="width: 100%;">
            <tbody></tbody>
            <tfoot>
            <tr>
                <td colspan="3"><div id="addItemButton" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></div></td>
            </tr>
            </tfoot>
        </table>

        <button style="float: right;" class="btn btn-primary" type="submit" id="save" name="save">Сохранить</button>
    </div>
</form>

<script type="application/javascript">

    $("#chosen-list").on("click", ".btn-remove", function () {
        $(this).closest("tr").remove();
    });

    function addProductItem(data)
    {
        var tpl = Handlebars.compile( $('script#ItemRowTpl').html() );
        $("#chosen-list table tbody").append( tpl(data) );

    }


    $("#chosen-list").on("click", "#addItemButton", function () {
        window.chosen = {};
        window.chosenIsArray = false;
        window.saveChosenProducts = function (product) {
            var data = {
                "id"       : product.id,
                "fullName" : product.fullName,
                "text"     : product.text
            };
            addProductItem(data);
            closeModalWindow();
        };
        loadModalWindow('/products/choice/list', getTargetIndex('blank'));
    });
</script>

<script type="application/javascript">
    <? foreach($this->Record->ProductsListsRef as $Ref) : ?>
    addProductItem(<?= Zend_Json::encode([
        'id' => $Ref->Products->id,
        'fullName' => $Ref->Products->getFullName(),
        'text' => $Ref->text,
    ]); ?>);
    <? endforeach; ?>
</script>

<script type="text/x-handlebars-template" id="ItemRowTpl">
    <tr>
        <td style="width: 400px;">{{fullName}}</td>
        <td><input type="text" class="text" name="text[{{id}}]" value="{{text}}" /></td>
        <td><div class="btn btn-xs btn-remove"><i class="fa fa-lg fa-trash-o"></i></div></td>
    </tr>
</script>