<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="GET" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self">
<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <?= $this->formSelect('id_place', $this->params['id_place'], [], ['' => '---'] + Doctrine_Query::create()->from('BannersPlaces')->execute()->toKeyValueArray('id', 'title')); ?>
        </td>
        <td>
            <input type="text" name="url_destination" value="<?= $this->params['url_destination'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'url_destination'); ?>" />
            <?= $this->linkOrderHtml('url_destination', ''); ?>
        </td>
        <td>
            <input type="text" name="priority" value="<?= $this->params['priority'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'priority'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('priority', ''); ?>
        </td>
        <td>Связанные баннеры</td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
    </thead>

<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->Place->title ?></td>
            <td><?= $item->url_destination ?></td>
            <td><?= $item->priority ?></td>
            <td>
                <?php $alreadyShow = []; ?>
                <? foreach ($item->Banners as $banner) : ?>
                <?php if($banner->RelatedBanners): ?>
                    <ul class="list-unstyled">
                        <?php foreach ($banner->RelatedBanners as $relatedBanner){ ?>
                            <?php if($alreadyShow[$relatedBanner->title] != $banner->title):?>
                            <li><?=$banner->title . ' = ' . $relatedBanner->title?></li>
                            <?php $alreadyShow[$banner->title] = $relatedBanner->title?>
                            <?php endif; ?>
                        <?php } ?>
                    </ul>
                <?php endif; ?>
                <?php endforeach; ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'banners-index-list',
                    'routeParams' => array('id_group' => $item->id),
                    'queryParams' => array('redirect'=>'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-list-alt"></i> <sup>'.$item->Banners->count().'</sup>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>