<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>
<style>
    #quick-list thead td input[type='text'] {width:90px;}
    #quick-list tbody td {background-color: #DACDAC; border-bottom: solid 2px #fff; padding: 5px;}
    #quick-list tbody tr:nth-child(2n+1) > td {background-color: #CADCAD;}
    #quick-list tbody td input {width: 100px; border: 1px solid #BBB; background-color: rgba(256,256,256,0.9);}
    #quick-list tbody button.save {float:right; display: none;}
    #quick-list tfoot {display: none;}
</style>

<script>
    $(function () {
        $("#advancedSearchProductButton").on('click', function () {
            $("#advancedSearchProductContainer").toggle();
        });


        $('#quick-list tbody td input').on('input', function() {
            $(this).closest("table").find("tfoot").show();
        });

    })
</script>

<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<span class="btn btn-success" id="advancedSearchProductButton">Подробный поиск</span>
<div id="advancedSearchProductContainer" style="display: none; background: #bfbfbf; border-radius: 5px; padding: 10px; position: absolute;"><?= $this->form->__toString(); ?></div>

<? if (!$this->catalog) : ?>
    <h1>Необходимо указать каталог</h1>
<? return; ?>
<? endif; ?>

<?= $this->ModalLinkBotton(array(
    'buttonType' => 'a',
    'queryParams' => $_GET,
    'routeParams' => ['id_catalog' => $this->catalog->id],
    'routeName'   => $this->routePrefix.'download',
    'buttonText'  => '<i class="fa fa-2x fa-cloud-download"></i>'
)); ?>

<?= $this->ModalLinkBotton(array(
    'routeParams' => ['id_catalog' => $this->catalog->id],
    'routeName'   => $this->routePrefix.'upload',
    'buttonText'  => '<i class="fa fa-2x fa-cloud-upload" style="color: #ff784b"></i>'
)); ?>


<table class="table table-striped table-hover table-condensed" id="quick-list">
<thead>
    <tr>
        <td>Название товара</td>
        <? foreach ($this->catalog->ProductsOption as $ProductsOption) : ?>
            <td><?= $ProductsOption->title; ?></td>
        <? endforeach; ?>
    </tr>
    </thead>
<tbody>
<form method="post">
<? foreach ($this->list as $item) : /** @var Products $item */?>
    <tr>
        <td>
            <div class="product_info">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-product-view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-eye"></i>'
                )); ?>
                <?= $item->getFullName(); ?>
            </div>
        </td>
        <? foreach ($this->catalog->ProductsOption as $ProductsOption) : ?>
            <td><input  name="product[<?= $item->id; ?>][option][<?= $ProductsOption->id; ?>]"
                        placeholder="<?= $ProductsOption->title; ?>"
                        value="<?= $item->getOptionValueByOptionId($ProductsOption->id) ?  $item->getOptionValueByOptionId($ProductsOption->id)->getValues()[0] : '' ?>"
                        type="text"
                ></td>
        <? endforeach; ?>
    </tr>
<? endforeach; ?>
</tbody>
<tfoot>
    <tr>
        <td colspan="100" style="text-align: right;">
            <input class="btn btn-large btn-success" value="Сохранить" type="submit">
        </td>
    </tr>
</tfoot>
</table>
</form>
<?= $this->showPager($this->pagerRange); ?>

