<h2>Данные</h2>

<table class="standart-list">
<thead>
    <tr>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('code')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('is_new')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('title')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('brand')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('price_min')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('price_partner')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('price_trade')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('price_retail')['comment'] ?></th>
        <th><?= Doctrine::getTable('ProductsTemp')->getDefinitionOf('balance')['comment'] ?></th>
    </tr>
</thead>
<tbody>
<? foreach($this->rows['separated'] as $row) : ?>
    <tr>
    <? foreach($row as $cell) : ?>
        <td><?= $cell ?></td>
    <? endforeach; ?>
    </tr>
<? endforeach; ?>
</tbody>
</table>
<br /><br />
<form method="POST">
<input type="submit" value="отправить" />
</form>
<br /><br />
<h2>Отфильтрованные</h2>

<table class="standart-list">
<? foreach($this->rows['garbage'] as $row) : ?>
    <tr>
    <? foreach($row as $cell) : ?>
        <td><?= $cell ?></td>
    <? endforeach; ?>
    </tr>
<? endforeach; ?>
</table>