﻿<? $this->headLink()->prependStylesheet('/css/pages/home.css?'.ASSETS_ID); ?>
<? $this->headScript()->prependFile('/js/common/home.js'); ?>

<?= Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger')->getMessages('registration_ga')[0]; ?>

<div class="main">

    <? if ( 0 && $this->Banners->count() ) : ?>
        <div class="mainslider">
            <div class="container">
                <div class="mainslider-block">
                    <? foreach( $this->Banners as $Item ) : ?>
                        <div class="mainslider-items">
                            <a href="<?= $Item->url; ?>"><img src="<?= $Item->getImageUrl(); ?>" width="100%"></a>
                        </div>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    <? endif ?>

    <? if ($this->NewProducts->count()) : ?>
        <div class="bestseller">
            <h2 class="h1">Новинки</h2>
            <div class="product_list"><?= $this->partial('products-items.phtml', ['ProductList' => $this->NewProducts]); ?></div>
        </div>
    <? endif ?>

    <? if ($this->Bestsellers->count()) : ?>
    <div class="bestseller">
        <h2 class="h1">Бестселлер</h2>
        <div class="product_list"><?= $this->partial('products-items.phtml', ['ProductList' => $this->Bestsellers]); ?></div>
    </div>
    <? endif ?>

    <? if ($this->Sale->count()) : ?>
    <div class="sale">
        <h2 class="h1">Распродажа</h2>
        <div class="product_list"><?= $this->partial('products-items.phtml', ['ProductList' => $this->Sale]); ?></div>
    </div>
    <? endif ?>
</div>