<? if ($this->form->isErrors()) : ?>
    <div class="errors">
        <ul>
            <? foreach ($this->form->getErrorMessages() as $error) : ?>
                <li><?= $error ?></li>
            <? endforeach; ?>
        </ul>
    </div>
<? endif; ?>

<form method="post" enctype="multipart/form-data" action="">
    <table class="standart-form" summary="">
        <thead>
            <tr>
                <th colspan="2"><?= Zend_Registry::get('myCurrentRoute')->title; ?></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="2"><input type="submit" value="Сохранить" /></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>Имя:</th>
                <td><input type="file" name="file" /></td>
            </tr>
        </tbody>
    </table>
</form>