
<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'routeParams' => array('id_catalog' => $this->params['id_catalog']),
        'queryParams' => array('redirect' => 'here'),
        'buttonText'  => '<i class="fa fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-condensed-max table-hover table-sorted">
<thead>
    <tr>
        <td>ID</td>
        <td colspan="2">Группа</td>
        <td colspan="2">Название</td>
        <td style="text-align: right;" colspan="10">
            <form data-target="self" method="post" class="sortForm" action="<?= $this->url(array('id_group' => $this->params['id_group']), $this->routePrefix.'list'); ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id; ?></td>
            <td><strong><?= $item->group_name; ?></strong></td>
            <td><?= $item->group_name_brief; ?></td>
            <td style="font-size: 11px; color: #808080"><?= $item->title_brief; ?></td>
            <td style="width: 300px;">
                <?= $item->title ?><? if ( !empty($item->unit) ) : ?>, <i><?= $item->unit; ?></i><? endif ?>
                <?= $item->is_require ? '<sup style="color: red; font-weight: bold;" title="Обязательный" data-toggle="tooltip">*</sup>' : ''; ?>
            </td>
            <td style="font-size: 11px; color: #808080"><?= $item->is_prime ? 'Основной' : ''; ?></td>
            <td style="font-size: 11px; color: #808080"><?= $item->type; ?></td>
            <td class="nowrap">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'queryParams' => array('redirect' => 'here'),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>