<h1 id="promotion-products-choice">
    <?= $this->ModalLinkBotton(array(
        'routeName'   => 'products-choice-list',
        'queryParams' => ['has_promotion' => 0],
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <span style="color: red;"><?= $this->Promotion->title ?></span>
</h1>


<table class="table table-striped table-hover table-condensed">
<tbody>
<? foreach ($this->Promotion->Products as $Product) : ?>
    <tr>
        <td><strong><?= $Product->code ?></strong></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-view',
                'routeParams' => array('id'=>$Product->id),
                'buttonText'  => '<i class="fa fa-eye"></i>',
            )); ?>
            <?= $Product->title ?>
        </td>
        <td><?= $Product->getFormatedPrice('retail', 'USD') ?></td>
        <td class="smallcol">
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'unlink',
                'routeParams' => ['id_promotion'=>$this->Promotion->id],
                'queryParams' => $_GET,
                'buttonText'  => '<i class="fa fa-lg fa-times"></i>',
                'buttonAttr'  => [
                    'data-target'=>'self',
                    'data-method' => 'POST',
                    'data-post'   => 'id_product='.$Product->id
                ]
            )); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>

<script>
    $("#promotion-products-choice").on('click', "[data-modal-route-name='products-choice-list']", function () {
        window.chosen = {};
        window.id_promotion = <?= $this->Promotion->id; ?>;
        window.chosenIsArray = true;
        window.saveChosenProducts = function (product) {
            var id_product = $.map(product, function (product) {
                return product.id;
            });

            $.post('/promotions/products/link/<?= $this->Promotion->id; ?>/', {id_product: id_product}, function () {
                closeModalWindow();
                reloadModalWindow();
            });
        };
    });
</script>



