<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>
<? $this->headScript()->prependFile('/js/handlebars.js', 'text/javascript'); ?>
<? $this->headScript()->prependFile('/js/forms/series.js', 'text/javascript'); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>

    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>

    <?= $this->ModalLinkBotton(array(
        'buttonType'  => 'a',
        'routeName'   => $this->routePrefix.'download-params',
        'buttonText'  => '<i class="fa fa-2x fa-cloud-download"></i>',
    )); ?>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td></td>
        <td>
            <input type="text"  data-toggle="autocomplete" name="title" value="<?= $this->params['title'] ?>" placeholder="Серия" style="width: 300px;" />
            <?= $this->linkOrderHtml('title', ''); ?>
        </td>
        <td>
            <input type="text"  data-toggle="autocomplete" name="SeriesGroups|title" value="<?= $this->params['SeriesGroups|title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id_group'); ?>" style="width: 300px;" />
            <?= $this->linkOrderHtml('SeriesGroups|title', ''); ?>
        </td>
        <td>
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
</thead>
<tbody>
    <? /** @var Series $item */
    foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><div style="width: 50px;"><?= $item->getHtmlImgCode(); ?></div></td>
            <td style="vertical-align: middle;"><strong><?= $item->title ?></strong></td>
            <td style="vertical-align: middle;"><?= $item->Group->title ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'description',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-file-text-o"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'series-products-list',
                    'routeParams' => array('id_series' => $item->id),
                    'buttonTitle' => 'Товары',
                    'buttonText'  => '<i class="fa fa-lg fa-product-hunt"></i> <sup>'.$item->SeriesProducts->count().'</sup>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>