
#accessories {
  padding: 20px !important;
  .accessory_item {
    float: left;
    position: relative;
    height: 100px;
    margin: 0;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    padding: 5px;

    a {
      @include font-alt(m);
      text-decoration: none;
      color: #444;
    }

    img {

    }

    .opacity {
      bottom: 0;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFxJREFUeNq0zcEJgDAQRNFhs4ugiTFasQXaiEevCUSHwHbg5fFvH713SGstiqomVmbtrDIKQCGH10YyWUkiC5nJ5BhRByR4IVz3c6LWGuUjiZll1s4qo36bvwIMANNeHWntWOvAAAAAAElFTkSuQmCC')
      repeat-x;
    }
  }
}