.group_size {
  margin-top: 10px;
  .size-title {
    display: block;
    float: left;
    margin-right: 5px;
    line-height: 150%;
    @include font-alt(l);
  }
  select {
    width: auto;
  }
}

.group_state {
  height: 50px;
  width: 300px;

  left: 35px;
  top: 20px;
  position: relative;

  .group-title {
    margin-bottom: 10px;
    display: inline-block;
    @include font-alt(l);
  }

  .wrapper {
    display: inline-block;
    left: -30px;
    top: -15px;
    width: 105%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 1;


    &:hover {
      z-index: 3;
      height: auto !important;
      width: auto !important;
      background: #EEE;
      @include border-radius(3px);
      .group-title { border-bottom: transparent };
    }

    .container {
      display: inline-block;
      padding: 20px;
      width: auto;
    }

  }

  .item {
    white-space: nowrap;
    margin: 5px 0;
    a {
      font-size: 0.9em;
      text-decoration: none !important;
    }
    &.active a {
      font-weight: bold;
    }
  }
}


.groups .group {
  padding: 0;
  //float: left;
  margin: 5px;

  @media #{$mobile} {
    float: none;
    margin: 10px auto;
  }

  &+& {
    border-top: 1px solid #BEBEBE;
  }

  .group-title {
    @include font-alt(l, bold);
    padding: 2px 5px;
    @media #{$mobile} {
      text-align: left;
    }
  }

  ul.group-products {
    @include reset-list();

    li {
      float: left;
      text-align: center;
      margin-right: 2px;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #EEE;

      a {
        display: block;
        padding: 6px;
      }

      &[data-status="0"] {
        //@include opacity(0.3);
      }

      &:hover {
        //border-color: $primary-color;
      }

      &.active {
        //border-color: $secondary-color;
      }

      a {
        text-decoration: none;

        span {
          @include font-alt(m, bolder);
          color: #444;
          display: block;
          //min-height: 30px;
          min-width: 30px;
          text-align: center;
        }

        img {
          height: 60px;
          vertical-align: bottom;
          border-radius: 3px;
          @media #{$tablet} {
            height: 50px;
          }
        }
      }
    }

    div {
      display: inline-block;
      border: 1px solid GrayText;
      padding: 5px;
      color: GrayText;
      font-size: 12px;
    }
  }
}
.group-line{
  text-align: center;
  margin-bottom: 35px;
  @include box-shadow(0 0 5px #eee);
  @include border-radius(2px);

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      a{
        color: #444;
        text-decoration: none;
      }

      img{
        margin: 0 auto;
      }

      .price{
        margin-top: 10px;
        padding-bottom: 15px;
        font-weight: bold;
      }
    }
    li.active{
      background-color: #EEEEEE;
    }
  }
}
.hidden{
  display: none;
}