
.images {
  float: left;
  max-width: 400px;
  min-width: 300px;
  margin-right: 20px;
  @media #{$tablet} {
    float: none;
    max-width: 760px;
    min-width: 760px;
    margin: 0 auto 30px;
  }
  @media #{$mobile} {
    float: none;
    max-width:100%;
    min-width:100%;
    margin: 0 auto 25px;
  }

  .big {
    padding: 20px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
//    border: 1px solid #E6E6E6;
    border-radius: 5px;
    text-align: center;
    background: #ffffff;
    @media #{$tablet} {
      margin: 0 auto;
    }
    @media #{$mobile} {
      padding:0;
      width: 100%;
      height: 100%;
    }
    img {
      cursor: zoom-in;
      @media #{$tablet} {
        width: 100%;
        height: 100%;
      }
      @media #{$mobile} {
        width: 100%;
        height:auto;
      }
    }
  }

  .thumbs {
    position: relative;

    ul {
      @media #{$tablet} {
        padding: 0;
      }
      @media #{$mobile} {
        padding: 0;
      }

      li {
        display: inline-block;
        list-style: none;
        text-align: center;

        a {
          border: 1px solid transparent;
          padding: 5px;
          display: inline-block;
          border-radius: 2px;
        }
      }
    }

    .zoomThumbActive {
      border-color: $primary-color;
    }

    img {
      max-height: 50px;
      max-width: 50px;
    }
  }
}
