.options {
  width: 100%;
  line-height: 20px;
  font-size: 0.9em;
  @media #{$mobile} {
    margin: 0 auto;
  }

  tr:not(.group) th {
    font-weight: normal;
    text-align: left;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpi2Ldv338gYAAIMAAdkQY306bsTAAAAABJRU5ErkJggg==')
    bottom repeat-x;
    @media #{$mobile} {
      background: none;
      text-align: center;
    }
  }

  th {
    width: 1%;
    white-space: nowrap;
    @media #{$mobile} {
      display: block;
      text-align: center;
      font-weight:bold;
      width:260px!important;
    }
  }
  td {
    padding: 0 5px;
    @media #{$mobile} {
      display: block;
      padding: 0 5px 15px;
      text-align: center;
      width:260px!important;
    }
  }

  span {
    background: #ffffff;
    position: relative;
    bottom: -5px;
    margin-right: 20px;
    padding-right: 2px;
    @media #{$mobile} {
      margin: 0;
      padding: 0;
      word-wrap: break-word;
    }
  }

  .group+tr>* {
    padding-top: 10px;
  }
  .group th {
    border-bottom: 1px solid #BEBEBE;
    font-size: 1.3em;
    margin-bottom: -5px;
  }
  .group span {
    padding: 0 10px;
  }

}
