#detail_popular_products {

  .popular_block_title {
    @include font-alt(xxl, bold);
    line-height: 1.1em;
    margin: 25px 0 ;
    text-align: center;
  }
  .popular_product_list {
    .product_item.product_table {
      width: 100 / 5 * 1%;
      .sticker,
      .additional_info,
      .user_info,
      .status {display: none;}
      @media #{$mobile} {
        width: 100%;
        margin: 0 auto 25px;
      }
    }
  }
}