$tab-bg-color: #555;
$tab-bg-color2: #666;

.scroll_pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  @media #{$mobile} {
    display: none!important;
  }
  .width {
    padding: 0;
  }
  table {
    width: 100%;
    td {
      @media #{$mobile} {
        display: block;
        text-align: center;
      }
    }
  }
  &>div {
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    @include box-shadow(0, 0, 10px, #000);
    @include border-bottom-radius(2px);
    border: 1px solid #999;
    border-top: 0;
  }
  .title {
    margin: 0 0 5px 0px;
    display: inline-block;
    @include font-alt(ml);
    @media #{$mobile} {
      text-align: center;
      margin: 0 auto;
    }
    .price {
      display: inline-block;
      font-weight: bolder;
    }
  }
  .tabs {
    margin-left: 20px;
    display: inline-block;
    @media #{$mobile} {
      margin: 0;
    }
    ul {
      @include reset-list;

      li {
        display: inline-block;
        @media #{$mobile} {
          display: block;
          margin: 5px 0;
        }
        a {
          opacity: 0.6;
          @include background-image(linear-gradient($tab-bg-color2, $tab-bg-color));
          background-color: $tab-bg-color;
          &:hover {
            @include background-image(linear-gradient($tab-bg-color, $tab-bg-color2));
          }
          &.active,
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .product_button_wrap {
    @media #{$mobile} {
      margin: 0 0 10px;
    }
  }

}
