section#series_block {
  table {
    width: 100%;

    thead td {
      font-weight: bold;
    }

    .current td {
      background: #EEEEEE ;
    }

    td {
      font-size: 0.85em;
      padding: 5px 10px;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpi2Ldv338gYAAIMAAdkQY306bsTAAAAABJRU5ErkJggg==') bottom repeat-x;

      a {
        @include font-alt(s, bold);

        //border-bottom: 1px dotted #444;
        color: #0156a9;
        text-decoration: none;
        &:hover{
          color: #444;
        }
      }

      &:nth-child(1) {
        width: 60%;
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
    tbody td:last-child {
      @include font-alt(s, bold);
    }
  }
}