.series_groups {
  width: 100%;
  text-align: center;

  margin-bottom: 15px;
  padding: 10px 0;
  @media #{$mobile} {
    display: none;
  }

  .series_item {

    display: inline-block;
    width: 14%;
    text-align: center;
    //border-right: dotted 1px #CCC;
    cursor: pointer;

    .series-item-container {
      position: relative;
      height: 160px;
      opacity: 0.4;
    }

    .image-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100px;

      .image-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
      }

      img {
        max-height: 90px;
        max-width: 80px;
        width: auto;
        border-radius: 2px;
      }

    }

    .title-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;

      .title {
        @include font-alt(m);
        color: #0156a9;
        line-height: 17px;
        height: 35px;
        overflow: hidden;
      }

      .price {
        @include font-alt(s);

        .amount {
          @include font-alt(ml, bold);
        }
        .currency {
          @include font-alt(s);
        }
      }

    }

    &:hover .series-item-container,
    &.active .series-item-container,
    &.current .series-item-container {
      opacity: 1;
    }




  }

  .list {
    display: none;
    position: absolute;
    z-index: 11;
    text-align: left;
    background: #FFF;
    box-shadow: 1px 1px 5px black;
    padding: 20px;
    border-radius: 2px;
    margin-top: 10px;

    tr:nth-of-type(2n) td {
      background: #EEE;
    }

    table td {
      font-size: 12px;
      padding: 5px 5px;
    }
  }

}



