$tab-bg-color: #555;
$tab-bg-color2: #666;

.tabs-nav {
  margin: 5px 0 30px 0;
  ul {
    @include reset-list();
    li {
      display: inline-block;
    }
  }
}

#tabs-content {
  margin: 0 -5px;
  padding: 5px;

  &>section {

    padding: 10px 20px;
    @include box-shadow(0, 0, 5px, #eee);
    @include border-radius(2px);
    margin: 0 5px 5px 5px;

    .tab_title {
      @include font-alt(xl, bold);
      line-height: 1.1em;
      margin: 5px 0;
      @media #{$mobile} {
        font-size: 31px;
      }
      span {
        color: #bbbbbb;
      }
    }
    table {
      @media #{$tablet} {
        width: 700px!important;
      }
      @media #{$mobile} {
        width: 260px!important;
      }
      img {
        @media #{$tablet} {
          width: 100%!important;
          height: auto!important;
        }
        @media #{$mobile} {
          width: 100%!important;
          height: 100%!important;
        }
      }
    }

    &#comments,
    &#series-group,
    &#prop {
      margin: 5px auto;
      width: 800px;
      @media #{$tablet} {
        width: 700px;
      }
      @media #{$mobile} {
        width: 300px;
        padding: 10px;
      }
    }
  }
  #description {
    @include font-alt(l);

    img {
      border-radius: 5px;
      max-width: 100%;

      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      &:before {
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
      }
      &:after {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
        -o-transform:skew(8deg) rotate(3deg);
        transform:skew(8deg) rotate(3deg);
      }
    }

    table {
      td {
        @media #{$tablet} {
          display: block;
        }
        @media #{$mobile} {
          display: block;
        }
      }
    }
  }
}

#complect {
  table {
    td {
      @media #{$mobile} {
        display: block;
      }
    }
  }
}