.top_info {
  td {
    vertical-align: top;
    @media #{$mobile} {
      display: block;
    }
  }
  @import "top_info/promotion";
  @import "top_info/warranty";
  @import "top_info/buy_block";
  @import "top_info/share";

  .hint-help {
    @include font-alt(l, bold);
    color: Green;
    margin: 10px;
    .hint-title {margin: 0 auto;}
    .hint-text {width: 600px; padding: 5px 15px;}
  }

}


