<? $this->headLink()->prependStylesheet('/css/pages/article.css?'.ASSETS_ID); ?>

<div class="width_content">
    <?= $this->breadcrumb('Блог'); ?>

    <h1>Блог</h1>

    <div class="article-groups">

        <div class="group">

        <?php foreach ($this->articles as $article) { ?>
            <div class="article">
                <a class="title" href="<?=$this->url(array('alias'=>$article->alias), 'articles-view')?>"><?=$article->title?></a>

                <div class="left">
                    <img src="<?=$article->imageUrl?>" alt="" class="img-responsive">
                </div>

                <div class="right">
                    <div class="info">
                        <div class="date-publication"><?=date('Y-m-d', strtotime($article->date_publication))?></div>
                    </div>
                    <div class="text"><?=$article->short_text;?></div>
                </div>
                <a href="<?=$this->url(array('alias'=>$article->alias), 'articles-view')?>" class="read-more">Читать далее</a>
            </div>
        <?php } ?>
        </div>

    </div>
</div>