<? $this->headLink()->prependStylesheet('/css/pages/article.css?'.ASSETS_ID); ?>

<div class="width_content">
    <?= $this->breadcrumb($this->node->title, array(
        array(
            'url'   => $this->url([], 'articles'),
            'title' => 'Блог',
        )
    )); ?>
    <div class="article-item_container">
        <h1><?= $this->node->title ?></h1>
        <div class="info">
            <div class="date-publication"><span>Опубликовано:</span> <?=date('Y-m-d', strtotime($this->node->date_publication))?></div>
        </div>

        <div class="article_text">
            <?= $this->node->text ?>
        </div>
    </div>
</div>