<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<?= $this->ModalLinkHelp(12, '<h3 style="color: Red;">Читать!!!</h3>'); ?>

<table class="table table-striped table-hover table-condensed">
<form method="GET">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 30px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td><input type="text" name="Products|fts" value="<?= $this->params['Products|fts'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id_product'); ?>" /></td>
        <td><?= $this->formSelect('Products|status', $this->params['Products|status'], null, ['' => '---'] + Products::getStatusList()); ?></td>
        <td><input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" /></td>
        <td><input type="text" name="email" value="<?= $this->params['email'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'email'); ?>" /></td>
        <td><input type="text" name="phone" value="<?= $this->params['phone'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'phone'); ?>" /></td>
        <td><?= $this->linkOrderHtml('created', $this->tableComment($this->modelName, 'created')); ?></td>
        <td><?= $this->linkOrderHtml('processed_at', $this->tableComment($this->modelName, 'processed_at')); ?></td>
        <td><?=
            (new Zend_Form_Element_Select('processed'))
                ->setValue($this->params['processed'])
                ->setDecorators(array('ViewHelper'))
                ->addMultiOptions(array(
                    ''=>'--Обработаный--',
                    'true'=>'да',
                    'false'=>'нет'
                ));
            ?></td>
        <td colspan="2" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
</form>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->Products->title ?></td>
            <td><?= $item->Products->getStatusTitle() ?></td>
            <td><?= $item->name ?></td>
            <td><?= $item->email ?></td>
            <td><?= $item->phone ?></td>
            <td><?= $this->time($item->created) ?></td>
            <td><?= $this->time($item->processed_at) ?></td>
            <td><?= $item->processed ? '<i style="color: Green;" class="fa fa-lg fa-check"></i>' : '<i style="color: Red;" class="fa fa-lg fa-exclamation"></i>' ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>