<? $this->headLink()->prependStylesheet('/css/pages/selective.css?'.ASSETS_ID); ?>

<?= $this->Record->header; ?>


<div class="selective_list">
    <? foreach ($this->Record->ProductsListsRef as $Ref) :
        $Product = $Ref->Products;
    ?>
        <div class="product_item product_table">
            <div class="wrapper">
                <div class="container">

                    <div class="title">
                        <a href="<?= $this->productUrl($Product); ?>"><?= $this->ProductName($Product) ?></a>
                    </div>
                    <div class="image">
                        <a href="<?= $this->productUrl($Product); ?>" rel="nofollow">
                            <img
                                data-original="<?= $Product->getImage()->getFirstImage()['middle']['url']; ?>"
                                src="/img/spacer.gif"
                                alt="<?= htmlentities(strip_tags($this->ProductName($Product)), ENT_COMPAT); ?>">
                        </a>
                    </div>

<!--                    --><?//= $this->ProductStickers($Product); ?>
<!--                    --><?//= $this->ProductButton($Product); ?>
<!--                    --><?//= $this->ProductPrice($Product); ?>
                    <h3 style="text-align: center;"><?= $Ref->text; ?></h3>
                    <div class="opacity"></div>
                </div>
            </div>
        </div>
    <? endforeach; ?>
</div>

