.cart_items {
  background: none repeat scroll 0 0 #fff;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: none;
  right: 0;
  position: absolute;
  top: 65px;
  width: 500px;
  z-index: 1010;

  @media #{$mobile} {
    width: 100%;
  }

  ul {
    @include reset-list();
  }

  ul li {
    cursor: default;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    z-index: 1010;

    &:hover {
      .del {
        display: block;
      }
    }

    .del {
      cursor: pointer;
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 4px;
      z-index: 1010;

      i {
        @include icons-sprite(header-cart-product-delete, true);
        display: block;
      }
    }

    &.hide_del:hover .del {
      display: none;
    }
    .img {
      float: left;
      width: 60px;
    }
    .info {
      overflow: hidden;
    }
    .title {
      font-size: 16px;
      padding: 5px 0;
      a {
        color: #0156a9;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .price {
      font-size: 12px;
      font-weight: bold;
    }
    .giftitem {
      color: #ff3c00;
      font-size: 1.2em;
      font-weight: bold;
    }
    &.cart-preview-first {
      border: medium none;
      padding: 8px 5px;
      text-align: right;
    }
  }
}