<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'download',
        'buttonAttr'  => array('class'=>'btn btn-xs', 'data-target'=>'prev'),
        'buttonText'  => '<i class="fa fa-lg fa-download"></i>',
    )); ?>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<form method="get">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'name'); ?>" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td style="color: GrayText;">Бюджет</td>
        <td style="color: GrayText;"><?= $this->tableComment($this->modelName, 'status'); ?></td>
        <td style="color: GrayText;"><?= $this->tableComment($this->modelName, 'ad_serving_optimization_status'); ?></td>
        <td style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><a href="<?= $this->url([], 'adwords-adgroup-list'); ?>?id_camp=<?= $item->id; ?>"><strong><?= $item->name ?></strong></a></td>
            <td><?= $item->budget_amount ?></td>
            <td><?= AdwordsCampaign::getStatusList()[$item->status] ?></td>
            <td><?= AdwordsCampaign::getOptimizationStatusList()[$item->ad_serving_optimization_status] ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonType'  => 'a',
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-list',
                    'queryParams' => array('id_camp' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-list"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>