<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h1>
<form method="GET" action="<?= $this->url(array(), $this->routePrefix.'list'); ?>">
<table class="table table-striped table-hover table-condensed">
<thead>
    <tr>
        <td>
            <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
            <?= $this->linkOrderHtml('id', ''); ?>
        </td>
        <td><?= $this->formSelect('id_help_category',
                    $this->params['id_help_category'], [],
                    [''=>'--- категория ---'] + Doctrine::getTable('HelpCategory')->findAll()->toKeyValueArray('id', 'title')
            ); ?>
        </td>
        <td colspan="2">
            <input type="text" name="fts" value="<?= $this->params['fts'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'fts'); ?>" style="width: 100%;" />
        </td>
        <td colspan="7" style="text-align: right;">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs"><img src="/img/broom.png" /></a>
            <input type="submit" value="поиск" class="btn btn-primary btn-xs" />
        </td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><a href="<?= $this->url(array(), 'help-category-list'); ?>?id=<?= $item->HelpCategory->id; ?>"><?= $item->HelpCategory->title ?></a></td>
            <td><?= $item->title ?></td>
            <td><?= SF::getFirstSentences($item->text, 50) ?></td>
            <td>
                <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
                   class="btn btn-xs"
                   data-toggle="tooltip confirm"
                   data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                   title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'view',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-eye"></i>',
                )); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>