<div id="shop-container">
    <div class="filter-mob-btn">Фильтр</div>
    <div class="product_list">
        <h1><?= $this->escape($this->h1); ?></h1>
        <div class="sort_block">
            <div>
                <span>Сортировка:</span>
                <ul id="sortProductsType">
                    <li <? if ( empty($_SESSION['products_sort']) ) : ?>class="selected"<? endif ?> data-sort="">по популярности</li>
                    <li <? if ($_SESSION['products_sort'] == 'price-asc') : ?>class="selected"<? endif ?> data-sort="price-asc">от дешевых</li>
                    <li <? if ($_SESSION['products_sort'] == 'price-desc') : ?>class="selected"<? endif ?> data-sort="price-desc">от дорогих</li>
                    <li <? if ($_SESSION['products_sort'] == 'created-desc') : ?>class="selected"<? endif ?> data-sort="created-desc">новые поступления</li>
                    <li <? if ($_SESSION['products_sort'] == 'rating-desc') : ?>class="selected"<? endif ?> data-sort="rating-desc">по рейтингу</li>
                </ul>
            </div>
            <div>
                <span>Вначале:</span>
                <ul id="sortProductsFirst">
                    <li <? if ( empty($_SESSION['products_first']) ) : ?>class="selected"<? endif ?> data-first="">все товары</li>
                    <li <? if ($_SESSION['products_first'] == 'comments') : ?>class="selected"<? endif ?> data-first="comments">с отзывами</li>
                    <li <? if ($_SESSION['products_first'] == 'promotions') : ?>class="selected"<? endif ?> data-first="promotions">с акциями</li>
                </ul>
            </div>
        </div>

        <?= $this->render('products-items.phtml') ?>

        <div class="clfline"></div>

        <div class="pagination"><?= $this->showPager($this->pagerRange); ?></div>

        <? if ( !empty($this->text) ) : ?>
            <div class="shop_text"><?= $this->text; ?></div>
        <? endif ?>
    </div>
    <div class="left_block">
        <?= $this->FilterBlock($this->menu, $this->Filter); ?>
        <script>
            $('.filter-mob-btn').click( function(e){
                e.preventDefault();
                $('.left_block').toggleClass('opened');
            });
        </script>
    </div>
</div>