
<style>
    #chosen-list label.error {
        display: none !important;
    }
    #chosen-list input.error {
        border: 1px solid #ff0000;
        background-color: #ffca9e;
    }
    #chosen-list table tr .discount {width: 40px;}
</style>

<form action="<?= $this->url(['id' => $this->Order->id], 'order-offer-create-message'); ?>" method="get" id="chosen-list">
    <div>
        <h1>Подобрать товары для письма. Заказ №<?= $this->Order->id; ?> <?= $this->ModalLinkHelp(19); ?></h1>
        <table class="table table-condensed table-bordered table-striped" style="width: 100%;">
            <tbody></tbody>
            <tfoot>
            <tr>
                <td colspan="3"><div id="addItemButton" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></div></td>
            </tr>
            </tfoot>
        </table>

        <button style="float: right;" class="btn btn-primary" type="submit" id="save" name="save">Сформировать письмо</button>
    </div>
</form>

<script type="application/javascript">
    $('form#chosen-list').validate();

    $("#chosen-list").on("click", ".btn-remove", function () {
        $(this).closest("tr").remove();
    });

    function addOfferItem(data)
    {
        var tpl = Handlebars.compile( $('script#ItemRowTpl').html() );
        $("#chosen-list table tbody").append( tpl(data) );

        $("#chosen-list table tbody tr:last input.discount").rules("add", {
            digits  : true
        });
    }


    $("#chosen-list").on("click", "#addItemButton", function () {
        window.chosen = {};
        window.chosenIsArray = false;
        window.saveChosenProducts = function (product) {
            var data = {
                "id"  : product.id,
                "fullName" : product.fullName,
                "discount" : product.discount
            };
            addOfferItem(data);
            closeModalWindow();
        };
        loadModalWindow('/products/choice/list', getTargetIndex('blank'));
    });
</script>

<script type="application/javascript">
    <? foreach($this->Products as $Product) : ?>
    addOfferItem(<?= Zend_Json::encode($Product); ?>);1
    <? endforeach; ?>
</script>

<script type="text/x-handlebars-template" id="ItemRowTpl">
    <tr>
        <td>
            <input type="hidden" name="product_id[]" value="{{id}}" />
            {{fullName}}
        </td>
        <td><input type="text" class="discount" name="discount[{{id}}]" value="{{discount}}" /></td>
        <td><div class="btn btn-xs btn-remove"><i class="fa fa-lg fa-trash-o"></i></div></td>
    </tr>
</script>