<style>
    #chast-container {
    }
    #order-items {
        margin: auto;
    }
    #order-items tr>* {
        padding: 10px;
    }
    #chast-form {
        margin-top: 20px;
        text-align: center;
    }
</style>

<div id="chast-container" style="">

    <p><?= $this->Order->name; ?>, проверьте Ваш заказ.</p>

    <table id="order-items">
        <tr style="font-size: 11px;"  bgcolor="#EEE">
            <td align="center" width="1%">&nbsp;</td>
            <td align="center">Товар</td>
            <td align="center" width="1%">Кол-во</td>
            <td align="center" width="1%">Стоимость</td>
            <td align="center" bgcolor="#F0E5CB" width="1%">Всего</td>
        </tr>
        <? foreach($this->Order->Products as $Item) : ?>
        <tr>
            <td><?= $Item->code; ?></td>
            <td><?= $Item->title; ?></td>
            <td align="center"><?= $Item->count; ?>шт.</td>
            <td align="center" style="white-space: nowrap"><?= Currency::format($Item->price, 'UAH'); ?></td>
            <td align="center" bgcolor="#EEE" style="white-space: nowrap"><?= Currency::format($Item->getSum(), 'UAH'); ?></td>
        </tr>
        <? endforeach; ?>
        <tr>
            <td colspan="4" align="right">Итого: </td>
            <th bgcolor="#EEE" style="white-space: nowrap"><?= Currency::format($this->Order->getSum(), 'UAH'); ?></th>
        </tr>
    </table>

    <form id="chast-form" action="<?= $_SERVER['REQUEST_URI']; ?>" method="post" target="_blank">
        <?= $this->formSelect("partsCount", null, ['style' => 'width: 100px;'], array_combine(range(2,25), range(2,25))); ?> мес.
        <br/>
        <br/>
        <button type="submit" class="btn btn-important btn-large">Перейти к оформлению</button>
    </form>

</div>