<div class="user_orders">
    <? if ( $this->Orders->count() ) : ?>
    <table>
        <thead>
        <tr>
            <td>№</td>
            <td>Дата</td>
            <td>Товары</td>
            <td>Сумма</td>
            <td>Статус</td>
        </tr>
        </thead>

        <tbody>
        <? foreach($this->Orders as $Order) : ?>
            <tr>
                <td><?= $Order->id; ?></td>
                <td><?= $this->time($Order->created); ?></td>
                <td>
                    <table class="products_items">
                        <? foreach($Order->Products as $Product) : ?>
                            <tr>
                                <td class="p_title"><?= $Product->title; ?></td>
                                <td class="p_count"><?= $Product->count; ?></td>
                                <td class="x">x</td>
                                <td class="p_price"><?= Currency::format($Product->price, 'UAH'); ?></td>
                            </tr>
                        <? endforeach; ?>
                    </table>
                </td>
                <td><?= Currency::format($Order->getSum(), 'UAH'); ?></td>
                <td><?= $Order->Status->title; ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
    <? else : ?>
        <div>Вы ещё ничего не заказывали</div>
    <? endif ?>

</div>