<h1>

    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h1>

<style>
    .keys-list {
        margin-top: 10px;;
        width: 100%;
    }
    .keys-list td {
        padding: 2px !important;
    }
    .keys-list td input {
        width: 800px;
    }
</style>

<form method="post" action="<?= $_SERVER['REQUEST_URI']; ?>">

    <table class="table keys-list" style="background: #b0fe7d;">
        <thead>
            <tr>
                <th colspan="10">Ключи <div id="add-biddable-action" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></div></th>
            </tr>
        </thead>
        <tbody>
            <? foreach ($this->biddable_list as $item) : ?>
                <tr <?= $this->itemListDataParams($item) ?>>
                    <td><?= $item->id_criterion ?></td>
                    <td><?= $this->formSelect("keys[{$item->id_criterion}][match_type]", $item->match_type, null, AdwordsAdgroup::getMatchTypeList()); ?></td>
                    <td>
                        <input type="hidden" name="keys[<?= $item->id_criterion; ?>][criterion_use]" value="BIDDABLE">
                        <input type="text" name="keys[<?= $item->id_criterion; ?>][text]" value="<?= $item->text ?>">
                    </td>
                    <td>
                        <div id="delete-key-action" class="btn btn-xs" title="Удалить ключ"><i class="fa fa-lg fa-trash-o"></i></div>
                    </td>
                </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <table class="table keys-list" style="background: #ff9b6e">
        <thead>
            <tr>
                <th colspan="10">Минус слова <div id="add-negative-action" class="btn btn-xs btn-success"><i class="fa fa-lg fa-plus"></i></div></th>
            </tr>
        </thead>
        <tbody>
        <? foreach ($this->negative_list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><?= $this->formSelect("keys[{$item->id_criterion}][match_type]", $item->match_type, null, AdwordsAdgroup::getMatchTypeList()); ?></td>
                <td>
                    <input type="hidden" name="keys[<?= $item->id_criterion; ?>][criterion_use]" value="NEGATIVE">
                    <input type="text" name="keys[<?= $item->id_criterion; ?>][text]" value="<?= $item->text ?>">
                </td>
                <td>
                    <div id="delete-key-action" class="btn btn-xs" title="Удалить ключ"><i class="fa fa-lg fa-trash-o"></i></div>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>

    <div style="text-align: right; margin: -15px 0 0 0;">
        <div style="clear:both;"></div>
        <button id="save" class="btn btn-primary" type="submit" name="save">Сохранить</button>
    </div>
</form>

<script type="text/x-handlebars-template" id="key-row-tpl">
    <tr class="new">
        <td><?= $this->formSelect("match_type", null, null, AdwordsAdgroup::getMatchTypeList()); ?></td>
        <td><input type="hidden" name="criterion_use"><input type="text" name="text"></td>
        <td><div id="delete-key-action" class="btn btn-xs" title="Удалить ключ"><i class="fa fa-lg fa-trash-o"></i></div></td>
    </tr>
</script>

<script>
    $(".keys-list").on("click", "#delete-key-action", function () {
        $(this).closest("tr").remove();
    });
    $("#add-biddable-action, #add-negative-action").on("click", function () {

        var row = $('script#key-row-tpl').html();

        $(this).closest("table").find("tbody").append(row);
        $(this).closest("table").find("tbody tr:last input").focus();

        var id = Math.random();
        $(this).closest("table").find("input[name=text]").attr("name", "keys["+id+"][text]");
        $(this).closest("table").find("select[name=match_type]").attr("name", "keys["+id+"][match_type]");

        if ( 'add-negative-action' == $(this).attr('id') ) {
            $(this).closest("table").find("input[name=criterion_use]")
                .attr("name", "keys["+id+"][criterion_use]")
                .val("NEGATIVE");
        }

        if ( 'add-biddable-action' == $(this).attr('id') ) {
            $(this).closest("table").find("input[name=criterion_use]")
                .attr("name", "keys["+id+"][criterion_use]")
                .val("BIDDABLE");
        }

    });


</script>