<h1>Добавленно <sup><?= count($this->result->value); ?></sup></h1>

<table class="table">
<? foreach ($this->result->value as $adGroupCriterion) : ?>
    <tr>
        <td><?= $adGroupCriterion->criterion->text; ?></td>
        <td><?= $adGroupCriterion->criterion->matchType; ?></td>
        <td><?= mb_strtoupper(str_replace('AdGroupCriterion', '', get_class($adGroupCriterion))); ?></td>
    </tr>
<? endforeach; ?>
</table>