<? if ( !empty($this->keys)) : ?>
<table class="table table-condensed">
<? foreach($this->keys as $key) : ?>
    <tr>
        <td><?= $key['text']; ?></td>
    </tr>
<? endforeach; ?>
</table>
<? endif ?>