<h1>Ключи <sup><?= count($this->keys); ?></sup></h1>

<style>
    .keys-list {
        margin-top: 10px;;
        width: 100%;
    }
    .keys-list td {
        padding: 2px !important;
    }
    .keys-list td input {
        width: 600px;
    }
    tr[data-criterion_use=BIDDABLE] td {
        background-color: #b0fe7d;
    }
    tr[data-criterion_use=NEGATIVE] td {
        background-color: #ff9b6e;
    }
</style>

<form method="post" action="/adwords/adgroup/post-keywords/">
    <table class="table keys-list">
    <? foreach ($this->keys as $key) : $unic = md5(serialize($key)); ?>
        <tr data-criterion_use="<?= $key['criterion_use']; ?>">
            <td><?= $this->formSelect("keys[{$unic}][match_type]", $key['match_type'], null, AdwordsAdgroup::getMatchTypeList()); ?></td>
            <td>
                <input type="hidden" name="keys[<?= $unic; ?>][criterion_use]" value="<?= $key['criterion_use']; ?>">
                <input type="hidden" name="keys[<?= $unic; ?>][id_group]" value="<?= $key['id_group']; ?>">
                <input type="text" name="keys[<?= $unic; ?>][text]" value="<?= htmlentities($key['text'], ENT_QUOTES); ?>">
            </td>
            <td>
                <div id="delete-key-action" class="btn btn-xs" title="Удалить ключ"><i class="fa fa-lg fa-trash-o"></i></div>
            </td>
        </tr>
    <? endforeach; ?>
    </table>
    <button type="submit" class="btn btn-primary" style="float: right;">Сохранить</button>
</form>


<script>
    $(".keys-list").on("click", "#delete-key-action", function () {
        $(this).closest("tr").remove();
    });
</script>