<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'download',
        'buttonAttr'  => array('class'=>'btn btn-xs', 'data-target'=>'prev'),
        'buttonText'  => '<i class="fa fa-lg fa-download"></i>',
    )); ?>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="get">
<table class="table table-striped table-hover table-condensed TableMultiChange">
<thead>
    <tr>
        <td>
            <?= $this->formSelect('id_camp', $this->params['id_camp'], ['style'=>'width: 100px;'], ['' => '----'] + Doctrine_Query::create()->from('AdwordsCampaign')->orderBy('name')->execute()->toKeyValueArray('id', 'name')); ?>
        </td>
        <td>
            <input type="text" name="name" value="<?= $this->params['name'] ?>" placeholder="Название группы" />
            <?= $this->linkOrderHtml('name', ''); ?>
        </td>
        <td><?= $this->formSelect('id_product', $this->params['id_product'], ['style'=>'width: 50px;'], ['' => '----', 'NOTNULL' => 'есть товар', 'NULL' => 'нет товара']); ?></td>
        <td>
            <input type="text" name="amount" value="<?= $this->params['amount'] ?>" placeholder="$Клик" style="width: 40px;" />
            <?= $this->linkOrderHtml('amount', ''); ?>
        </td>
        <td><?= $this->formSelect('status', $this->params['status'], ['style'=>'width: 50px;'], ['' => '----'] + AdwordsCampaign::getStatusList()); ?></td>
        <td><?= $this->formSelect('AdwordsAdgroupKeywords', $this->params['AdwordsAdgroupKeywords'], null, ['' => '----', 'EXISTS' => 'есть', 'NOTEXISTS' => 'нет']); ?></td>
        <td><?= $this->formSelect('AdwordsAd', $this->params['AdwordsAd'], null, ['' => '----', 'EXISTS' => 'есть', 'NOTEXISTS' => 'нет']); ?></td>
        <td style="text-align: right;" colspan="2">
            <a href="<?= $this->url(array(), $this->routePrefix.'list'); ?>" class="btn btn-xs" title="отчистить поиск" data-toggle="tooltip"><i class="fa fa-lg fa-search-minus"></i></a>
            <button class="btn btn-xs" title="поиск" data-toggle="tooltip"><i class="fa fa-2x fa-search"></i></button>
        </td>
    </tr>
    <tr class="TMC__OperationsRow">
        <td colspan="8">
            <div class="TMC__ButtonOperationBlock" style="display: none; text-align: right;">
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-remove-keywords',
                    'buttonText'  => '<i class="fa fa-lg fa-key" style="opacity: 0.5;"></i><sup class="fa fa-lg fa-times" style="color: Red; margin-left: -8px;"></sup>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-gen-keywords',
                    'buttonText'  => '<i class="fa fa-lg fa-key" style="opacity: 0.5;"></i><sup class="fa fa-lg fa-cog" style="color: Green; margin-left: -8px;"></sup>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-adgroup-multi-ad',
                    'buttonText'  => '<i class="fa fa-lg fa-file-o" style="opacity: 0.5;"></i><sup class="fa fa-lg fa-cog" style="color: Green; margin-left: -8px;"></sup>',
                )); ?>
            </div>
        </td>
        <td><input type="checkbox" class="TMC__SelectAllCheckbox" name="id"/></td>
    </tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><strong><?= $item->AdwordsCampaign->name ?></strong></td>
            <td>
                <?= $item->name ?>

                <a target="_blank" href="<?= $this->url(array(), 'products-product-list'); ?>?k=<?= urlencode($item->name); ?>"><i class="fa fa-search"></i></a>
            </td>
            <td>
                <? if ( $item->Products->exists() ) : ?>
                    <div style="color: green;">
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-product-view',
                            'routeParams' => array('id' => $item->Products->id),
                            'buttonText'  => 'товар'
//                            'buttonText'  => $item->Products->getFullName()
                        )); ?>
                    </div>
                <? endif ?>
            </td>
            <td><?= $item->amount ?></td>
            <td><?= AdwordsCampaign::getStatusList()[$item->status] ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'keys',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-key"></i> <sup>'.$item->AdwordsAdgroupKeywords->count().'</sup>',
                )); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-ad-list',
                    'queryParams' => array('id_group' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-file-o"></i> <sup>'.$item->AdwordsAd->count().'</sup>',
                )); ?>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
            <td><input type="checkbox" class="TMC__ItemCheckbox" name="id[]" value="<?= $item->id; ?>"></td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>