<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
        'queryParams' => array('id_camp' => $this->params['id_camp']),
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>


<table class="table table-striped table-hover table-condensed">
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><strong><?= $item->AdwordsCampaign->name ?></strong></td>
            <td>
                <?= $item->name ?>
            </td>
            <td>
                <? if ( $item->Products->exists() ) : ?>
                    <div style="color: green;">
                        <?= $this->ModalLinkBotton(array(
                            'routeName'   => 'products-product-view',
                            'routeParams' => array('id' => $item->Products->id),
                            'buttonText'  => 'товар'
                        )); ?>
                    </div>
                <? endif ?>
            </td>
            <td><?= $item->amount ?></td>
            <td><?= AdwordsCampaign::getStatusList()[$item->status] ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                    'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'prev')
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'keys',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-key"></i> <sup>'.$item->AdwordsAdgroupKeywords->count().'</sup>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'adwords-ad-list',
                    'queryParams' => array('id_group' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-list"></i> <sup>'.$item->AdwordsAd->count().'</sup>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>