{% extends "mail/main_layout.twig" %}

{% block content %}
    <div style="padding: 0;">
        <div style="font:15px Helvetica; line-height: 20px;">
            <div style="padding: 0 27px 0 27px;">
                <h3 style="text-align: center">Кредит на заказ № {{ order.id }} оформлен успешно!</h3>
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
{% endblock %}