<div class="popup_product">
    <div class="popup_product_container">

        <?= $this->render('window-title.phtml'); ?>

        <div class="popup_product_info">
            <img src="<?= $this->Product->getImage()->getFirstImage()['middle']['url']; ?>" alt="<?= $this->ProductName($this->Product); ?>">
            <div style="float:right;">
                <div class="title"><?= $this->ProductName($this->Product); ?></div>
                <div class="count_choice">
                    <span class="minus" data-id="<?= $this->Product->id; ?>"></span>
                    <input type="text"
                           value="<?= Cart::getInstance()->getProductCount($this->Product->id); ?>"
                           data-id="<?= $this->Product->id; ?>"
                           onkeypress="return intInput(event);"
                           onkeyup="return intInput(event);"
                           data-available="10"
                           data-action="<?= $this->url([], 'cart-set-item'); ?>"
                        >
                    <span class="plus" data-id="<?= $this->Product->id; ?>"></span>&nbsp;&nbsp;&nbsp;=&nbsp;
                    <span class="price_block">
                        <span class="price"><?= Currency::format(Cart::getInstance()->getProducts()[$this->Product->id]['total'], $this->Cart->getCurrency()->iso) ; ?></span>
                    </span>
                </div>
            </div>

            <div style="clear: both"></div>
        </div>

        <?= $this->render('row2cart.phtml'); ?>

    </div>

    <?= $this->ProductSet($this->Product) ; ?>

    <?= $this->render('callback-part.phtml'); ?>
</div>