<div class="popup_product">
    <div class="popup_product_container">
        <?= $this->render('window-title.phtml'); ?>

        <div class="popup_product_set_info">
            <div class="p_item">
                <div class="img">
                    <img src="<?= $this->Owner->getImage()->getFirstImage()['small']['url']; ?>" alt="<?= $this->ProductName($this->Owner); ?>">
                </div>
                <div class="price_block" style="margin: 9px auto 17px auto;">
                    <span class="price"><?= Currency::format(Cart::getInstance()->getProducts()[$this->Owner->id]['total'], Cart::getInstance()->getCurrency()->iso); ?></span>
                </div>
                <div class="title"><?= $this->ProductName($this->Owner); ?></div>
                <script type="text/javascript">$(".btn2cart[data-id='<?= $this->Owner->id; ?>']").replaceWith("<?= SF::escapeJavaScriptText($this->Product2Cart($this->Owner)); ?>")</script>
            </div>

            <? foreach($this->Products as $Product) : ?>
                <div class="p_item">
                    <div class="img">
                        <img src="<?= $Product->getImage()->getFirstImage()['small']['url']; ?>" alt="<?= $this->ProductName($Product); ?>">
                    </div>
                    <?= $this->PriceBlock(
                        Cart::getInstance()->getProducts()[$Product->id]['total'],
                        @Cart::getInstance()->getProducts()[$Product->id]['old_total'],
                        Cart::getInstance()->getCurrency()->iso
                    ); ?>
                    <div class="title"><?= $this->ProductName($Product); ?></div>
                    <script type="text/javascript">$(".btn2cart[data-id='<?= $Product->id; ?>']").replaceWith("<?= SF::escapeJavaScriptText($this->Product2Cart($Product)); ?>")</script>
                </div>
            <? endforeach; ?>
        </div>

        <?= $this->render('row2cart.phtml'); ?>
    </div>
    <?= $this->render('callback-part.phtml'); ?>
</div>