<!DOCTYPE html>
<html lang="ru">
<head>
    <? $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>


    <? $this->headLink()->prependStylesheet('/css/modal-window.css'); ?>
    <? $this->headLink()->prependStylesheet('/css/mainLayuot.css'); ?>
    <? $this->headLink()->prependStylesheet('/css/jquery-impromptu.css'); ?>
    <? $this->headLink()->prependStylesheet('/css/font-awesome.css'); ?>
    <? $this->headLink()->prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'); ?>

    <? $this->headScript()->prependFile('https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js', 'text/javascript'); ?>
<!--    --><?// $this->headScript()->prependFile('https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('https://cdn.ckeditor.com/4.15.0/full/ckeditor.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery.cookie.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/bootstrap.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/prettify.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/modal-window.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery/form.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery/impromptu.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/main-layout.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery/validate.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/accounting.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery-ui.min.js', 'text/javascript'); ?>
    <? $this->headScript()->prependFile('/js/jquery-1.11.0.min.js', 'text/javascript'); ?>

    <?= $this->headTitle(); ?>
    <?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headScript(); ?>

    <script>accounting.settings.currency = <?= Zend_Json::encode(Zend_Registry::getInstance()->currency_current->toArray()) ; ?></script>
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">

</head>
<body>
    <div class="header">
        <div style="float: right">
            <?= $this->user->name; ?>
            <a href="<?= $this->url(array(), 'logout'); ?>">выход</a>
        </div>
        <?= $this->render('header-notifications.phtml'); ?>
    </div>
    <div class="menu"><?= $this->render('header-menu.phtml'); ?></div>
    <div class="clear"></div>
    <div><?= $this->Breadcrumbs(); ?></div>
    <div class="page"><?= $this->layout()->content; ?></div>
</body>
</html>