<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class'=>'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h1>

<br /><br />
<table class="table table-striped table-hover table-condensed">
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><a href="<?= $this->url(array(), 'help-note-list'); ?>?id_help_category=<?= $item->id; ?>"><?= $item->title ?></a></td>
            <td>
                <a href="<?= $this->url(array('id' => $item->id), $this->routePrefix.'delete'); ?>"
                   class="btn btn-xs"
                   data-toggle="tooltip confirm"
                   data-access="<?= $this->linkAccess($this->routePrefix.'delete'); ?>"
                   title="<?= Doctrine::getTable('AdminRoutes')->findOneByName($this->routePrefix.'delete')->title; ?>">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
            </td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange, $this->url(array_merge($this->params), $this->routePrefix.'list')); ?>