
<style>
    #chosen-list label.error {
        display: none !important;
    }
    #chosen-list input.error {
        border: 1px solid #ff0000;
        background-color: #ffca9e;
    }

</style>

<?php if(empty($this->Order->credit)): ?>
<div class="alert alert-danger">Не заполнена анкета!</div>
<?php endif; ?>

<div id="chosen-list" class="clearfix">
    <h1>Заказ №<?= $this->Order->id; ?></h1>
    <table class="table table-condensed table-bordered table-striped" style="width: 100%;">
        <tbody></tbody>
        <tfoot>

        </tfoot>
    </table>

    <div class="pull-right">
        <input type="text" class="form-control" name="percent" value="1" />
        <span id="apply_percent" class="btn btn-success">Увеличить на процент</span>
    </div>

</div>


<?= $this->form; ?>

<script type="application/javascript">
    $("#chosen-list").prependTo($('form#Orders'));
    function addOfferItem(data)
    {
        var tpl = Handlebars.compile( $('script#ItemRowTpl').html() );
        $("#chosen-list table tbody").append( tpl(data) );


    }

</script>

<script type="application/javascript">
    <? foreach($this->Products as $Product) : ?>
    addOfferItem(<?= Zend_Json::encode($Product); ?>);1
    <? endforeach; ?>
</script>

<script type="text/x-handlebars-template" id="ItemRowTpl">
    <tr>
        <td width="60%">
            <input type="text" class="form-control" name="product_name[{{id}}]" value="{{title}}" />
        </td>
        <td><input type="text" class="price form-control" name="product_price[{{id}}]" value="{{price}}" /></td>
    </tr>
</script>

<script>
    $('#apply_percent').on('click' , function () {
        percent = parseFloat($('input[name="percent"]').val());

        $('#chosen-list .price').each(function () {
            price = parseFloat($(this).val());
            new_price = price + ( price * percent / 100 );

            $(this).val( parseFloat(new_price).toFixed(2) );
        });
    });
</script>
