<style>
    #access-list thead input {
        width: 100px;
    }
    #access-list tbody td {
        padding: 2px 5px;
        font-size: 11px;
        background-color: rgba(255, 21, 0, 0.23);
    }
    #access-list tbody td label {
        margin: 0;
        width: 100%;
    }
    #access-list tbody tr.allow td {
        background-color: #009900;
    }
</style>
<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->list->count(); ?></sup>
</h1>


<form method="POST" action="<?= $_SERVER['REQUEST_URI']; ?>">
    <table class="table table-striped table-hover table-condensed" id="access-list">
    <thead>
    <tr>
        <td>
            <input type="text" name="title" placeholder="Название" style="width: 500px;" />
        </td>
        <td><input type="text" name="module" placeholder="Модуль" /></td>
        <td><input type="text" name="controller" placeholder="Контроллер" /></td>
        <td><input type="text" name="action" placeholder="Действие" /></td>
        <td style="text-align: right;"></td>
    </tr>
    </thead>
    <tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><strong><?= $item->title ?></strong> <span style="font-size: 11px;">[<?= $item->name ?>]</span></td>
            <td>
                <span data-target="self" data-modal-link="<?= $this->linkReplaceGetParam('module', $item->module) ?>"><?= $item->module; ?></span>
            </td>
            <td>
                <span data-target="self" data-modal-link="<?= $this->linkReplaceGetParam('controller', $item->controller) ?>"><?= $item->controller; ?></span>
            </td>
            <td>
                <span data-target="self" data-modal-link="<?= $this->linkReplaceGetParam('action', $item->action) ?>"><?= $item->action; ?></span>
            </td>
            <td>
                <label>
                    <input type="checkbox"
                           name="id_route[]"
                           value="<?= $item->id; ?>"
                            <?= isset($this->disabled[$item->id]) ? 'disabled' : ''; ?>
                            <?= isset($this->selected[$item->id]) ? 'checked' : ''; ?>
                        >
                </label>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
    </table>
    <button style="float: right;" type="submit" class="btn btn-primary">Сохранить</button>
</form>

<script>

    $("#access-list input[type=checkbox]").on("change", function () {
        $(this).closest("tr").toggleClass('allow', this.checked)
    }).change();

    $("#access-list thead input[type='text']").on('keyup', function () {
        var eq = $("#access-list thead input[type='text']").index(this);
        $el = $(this);

        $("#access-list tbody tr").hide()
            .filter(function () {
                return $(this)
                        .find('td').eq(eq)
                        .text()
                        .toLowerCase()
                        .indexOf($el.val().toLowerCase()) >= 0 || '' == $el.val();
            }).show()
    });
</script>