.user_orders {
  &>table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 1px;
    td {
      padding: 5px 10px;
    }
    thead td {
      background: #CCC;
      @include font-alt(l, bold);
    }
    tbody tr:nth-child(odd) td {
      background: #EFEFEF;
    }
  }

  .products_items {
    @include font-alt(m);
    td {
      width: 1%;
      padding: 2px;
    }

    .p_title {
      width: 96%;
    }

    .x {
      color: #0000cc;
      @include font-alt(m, ultra-bold);
    }
  }
}