.user_info {
  margin: 30px auto;
  width: 500px;
  .email {
    @include font-alt(l, bold);
    margin-bottom: 20px;
  }
  #success_user_info_message {
    padding: 10px;
    color: Green;
    border: 2px solid Green;
  }
}