<div id="tabs">
    <ul>
        <? foreach( $this->steps as $step ) :
            $isSpan = $step['isActive'] ? true : !empty($isSpan);
            ?>
            <li>
                <? if ( $step['isActive'] ) : ?>
                    <strong><?= $step['button-title']; ?></strong>
                <? elseif ( $isSpan ) : ?>
                    <span><?= $step['button-title']; ?></span>
                <? else: ?>
                    <a class="link link-green" href="<?= $this->url(['action' => $step['action']]); ?>"><?= $step['button-title']; ?></a>
                <? endif ?>
            </li>
            <? if ( end($this->steps) != $step ) : ?><li class="arrow">&#10151;</li><? endif ?>
        <? endforeach; ?>
    </ul>
</div>