<? if ( $this->Product->getImage()->getImagesCount() ) : ?>
    <script src="/js/jquery.Jcrop.min.js"></script>
    <style type="text/css">
        @import url("/css/jquery.Jcrop.css");
        .products_icons {
            max-width: 500px;
        }
        .products_icons img {
            margin: 3px;
            cursor: pointer;
            max-width: 500px;
            max-height: 500px;
            display: block;
        }
        .products_icons img.small {
            max-width: 50px;
            max-height: 50px;
            display: inline-block;
        }
    </style>

    <script>
    $(function () {
        $(".products_icons img").click(function () {
            var $img = $(this);
            var button = $('<button class="btn btn-success" id="choiceImage">Выбрать</button>');
            button.on('click', function () {

                var $this = jcrop_api.ui.holder;
                var c = jcrop_api.tellSelect();

                var original = $this.prev();
                var preview = $("form#ProductsRefGroups .hint img");

                var oH = original.height();
                var oW = original.width();

                var pH = preview.height();
                var pW = preview.width();

                var rW = pW / c.w;
                var rH = pH / c.h;

                preview.css({width: pW, height: pH});

                preview.attr("src", 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
                preview.css("background-image", 'url("'+original.attr('src')+'")');
                preview.css("background-size", (oW*rW) + "px" + " " + (oH*rH) + "px");
                preview.css("background-position", rW * Math.round(c.x) * -1 + "px" + " " + rH * Math.round(c.y) * -1 + "px");

                c['oH'] = oH;
                c['oW'] = oW;

                $("form#ProductsRefGroups input#image_copy").val( $img.data('path') )
                $("form#ProductsRefGroups input#crop_params").val( JSON.stringify(c) )

                closeModalWindow();
            });

            $(".products_icons").find("#choiceImage").remove();
            $(".products_icons").append(button);

            $(this).removeClass('small').siblings().addClass('small');

            if ( 'undefined' != typeof jcrop_api) {
                $('.products_icons img').css({display: 'inline-block'});
                jcrop_api.destroy();
            }

            $(this).Jcrop({aspectRatio: 1}, function() {jcrop_api = this;});
        });
    });
    </script>


    <div class="products_icons">
    <? foreach($this->Product->getImage()->getImagesList() as $item) : ?>
        <img class="small" src="<?= $item['big']['url']; ?>" data-path="<?= $item['big']['path']; ?>" alt="<?= $this->Product->title; ?>" title="<?= $this->Product->title; ?>" data-toggle="tooltip">
    <? endforeach; ?>
    </div>

    <div style="clear: both"></div>
<? else : ?>
    У данного товара нет рисунков
<? endif ?>