<style>
    .products_icons {
        max-width: 500px;
    }
    .products_icons img {
        float: left;
        margin: 3px;
        cursor: pointer;
        max-width: 30px;
        max-height: 30px;
    }
</style>
<script>
$(function () {
    $(".products_icons img").click(function () {
        $("form#ProductsRefGroups input#image_copy").val( $(this).data('path') )
        $("form#ProductsRefGroups input#image").parent().find(".hint").html('<img src="'+ $(this).attr('src') +'">')

        $("form#ProductsRefGroups input#title").val( $(this).attr('alt') )
        closeModalWindow()
    })
})
</script>
<div class="products_icons">
<? foreach($this->list as $item) : ?>
    <img src="<?= $item->getImgUrl(); ?>" data-path="<?= $item->getImgPath(); ?>" alt="<?= $item->title; ?>" title="<?= $item->title; ?>" data-toggle="tooltip">
<? endforeach; ?>
</div>

<div style="clear: both"></div>

<?= $this->showPager($this->pagerRange); ?>