<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'add',
        'buttonAttr'  => array('class' => 'btn btn-xs btn-success'),
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>"  data-target="self">
<table class="table table-striped table-hover table-condensed">
<thead>
<tr>
    <td>
        <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'id'); ?>" style="width: 40px;" />
        <?= $this->linkOrderHtml('id', ''); ?>
    </td>
    <td><?= (new Zend_View_Helper_FormSelect())->setView($this)
            ->formSelect(
                'Products|id_brand',
                $this->params['Products|id_brand'],
                array(),
                array(''=>'---Бренд---') + Doctrine_Query::create()->from('ProductsBrands pb')->where('pb.id IN (SELECT p.id_brand FROM Products p, ProductsRefGroups prg WHERE p.id = prg.id_product)')->orderBy('pb.title')->execute()->toKeyValueArray('id', 'title')
            )
        ?></td>
    <td>
        <input style="width: 400px;" type="text" name="title" value="<?= $this->params['title'] ?>" placeholder="<?= $this->tableComment($this->modelName, 'title'); ?>" />
        <?= $this->linkOrderHtml('title', ''); ?>
    </td>
    <td><?= (new Zend_View_Helper_FormSelect())->setView($this)->formSelect('id_type', $this->params['id_type'], [], [''=>'---'] + ProductsGroups::getTypes()->toKeyValueArray('id', 'title') )?></td>
    <td colspan="7" style="text-align: right;">
        <?= (new Zend_View_Helper_FormSelect())->setView($this)
            ->formSelect(
                'Products|is_visible',
                $this->params['Products|is_visible'],
                array(),
                array(''=>'---Доступны товары ---', 1 => 'доступны', 0 => 'не доступны')
            )
        ?>
        <?= $this->ButtonResetSearch(); ?>
        <?= $this->ButtonSearch(); ?>
    </td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->Products->getFirst()->Brand->title; ?></td>
            <td><?= $item->title; ?></td>
            <td><?= $item->Type->title ?></td>
            <td>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'delete',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-trash-o"></i>',
                    'buttonAttr'  => array('data-target' => 'self', 'data-toggle' => 'confirm'),
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => $this->routePrefix.'edit',
                    'routeParams' => array('id' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
                )); ?>
                <?= $this->ModalLinkBotton(array(
                    'routeName'   => 'products-group-products',
                    'routeParams' => array('id_group' => $item->id),
                    'buttonText'  => '<i class="fa fa-lg fa-list"></i>',
                )); ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>