
<script>
    $.ajaxSetup({
        complete: function (data) {
            var ct = data.getResponseHeader("content-type") || "";

            if (ct.indexOf('html') > -1) {
                if ( $(data.responseText).find("[data-identifier-route='products-group-products-search']").length ) {
                    $("[data-identifier-route='products-group-products-search']").parents('.mw-wrap').attr('data-onclose', 'reload-prev');
                }
                if ( data.responseText.indexOf('id="filter"') > -1 ) {
                }
            }

            setupPage();
        }
    })

</script>
<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => 'products-group-products-search',
        'routeParams' => array('id_group' => $this->Group->id),
        'queryParams' => array('k' => $this->Group->title, 'id_brand' => $this->Group->Products->getFirst()->id_brand ),
        'buttonAttr'  => array('class' => 'btn btn-xs btn-success'),
        'buttonTitle' => 'Добвать товар в группу',
        'buttonText'  => '<i class="fa fa-lg fa-plus"></i>',
    )); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <strong style="color: #ff0000"><?= $this->Group->title; ?></strong>
    <span style="color: GrayText; font-size: 11px;">[<?= $this->Group->Type->title ?>]</span>
    <sup><?= $this->list->count(); ?></sup>
</h1>


<table class="table table-striped table-hover table-condensed table-sorted">
<thead>
    <tr>
        <td>Бренд</td>
        <td>Товар</td>
        <td>Заголовок</td>
        <td>Картинка</td>
        <td>
            <form data-target="self" method="post" class="sortForm" action="<?= $_SERVER['REQUEST_URI']; ?>">
                <button class="btn btn-xs"><i class="fa fa-lg fa-sort-amount-asc"></i></button>
            </form>
        </td>
    </tr>
</thead>
<tbody>
<? foreach($this->list as $item) : ?>
    <tr data-id="<?= $item->Products->id; ?>">
        <td><?= $item->Products->Brand->title; ?></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-product-view',
                'routeParams' => array('id' => $item->id_product),
                'buttonText'  => '<strong>'. $item->Products->title.'</strong>',
            )); ?>
        </td>
        <td><?= $item->title; ?></td>
        <td><img style="max-height: 20px;" src="<?= $item->getImgUrl(); ?>?<?= rand(); ?>" alt="<?= $item->title; ?>"></td>
        <td>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => 'products-group-product-save',
                'routeParams' => array('id_product' => $item->id_product, 'id_group' => $item->id_group),
                'buttonText'  => '<i class="fa fa-lg fa-edit"></i>',
            )); ?>
        </td>
        <td>
            <?= $this->ButtonDelete(
                'products-group-product-delete',
                array('id_product' => $item->id_product, 'id_group' => $item->id_group)
            ); ?>
        </td>
    </tr>
<? endforeach; ?>
</tbody>
</table>



<?= $this->showPager($this->pagerRange); ?>