
<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <strong style="color: #ff0000"><?= $this->Group->title; ?></strong>
    <sup><?=$this->pagerRange->getPager()->getNumResults()?></sup>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>"  data-target="self">
<table class="table table-striped table-hover table-condensed" data-identifier-route="<?= Zend_Registry::get('myCurrentRoute')->name; ?>">
<thead>
<tr>
    <td>
        <input type="text" name="id" value="<?= $this->params['id'] ?>" placeholder="<?= $this->tableComment('Products', 'id'); ?>" style="width: 30px;" />
        <?= $this->linkOrderHtml('id', ''); ?>
    </td>
    <td><?= (new Zend_View_Helper_FormSelect())->setView($this)
            ->formSelect(
                'id_brand',
                $this->params['id_brand'],
                array(),
                array(''=>'---Бренд---') + Doctrine_Query::create()->from('ProductsBrands pb')->where('pb.id IN (SELECT p.id_brand FROM Products p)')->orderBy('pb.title')->execute()->toKeyValueArray('id', 'title')
            )
        ?></td>
    <td>
        <input type="text" name="code" value="<?= $this->params['code'] ?>" placeholder="<?= $this->tableComment('Products', 'code'); ?>" style="width: 55px;" />
        <?= $this->linkOrderHtml('code', ''); ?>
    </td>
    <td>
        <input style="width: 400px;" type="text" name="k" value="<?= $this->params['k'] ?>" placeholder="Морфология" />
        <?= $this->linkOrderHtml('title', ''); ?>
    </td>
    <td colspan="7" style="text-align: right;">
        <?= $this->ButtonResetSearch(); ?>
        <?= $this->ButtonSearch(); ?>
        <?= $this->ModalLinkBotton(array(
            'routeName'   => 'products-group-products-advanced-search',
            'routeParams' => array('id_group' => $this->Group->id),
            'buttonText'  => 'подробный',
            'buttonAttr'  => array('class'=>'btn btn-info btn-xs')
        )); ?>
    </td>
</tr>
</thead>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr <?= $this->itemListDataParams($item) ?>>
            <td><?= $item->id ?></td>
            <td><?= $item->Brand->title ?></td>
            <td><?= $item->code ?></td>
            <td><?= $item->title; ?></td>
            <td>
                <? if ( in_array($this->Group->id_type, $item->Groups->toKeyValueArray('id', 'id_type')) ) : ?>
                    <? if ( in_array($this->Group->id, $item->Groups->toKeyValueArray('id', 'id')) ) : ?>
                        <i class="btn btn-xs fa fa-lg fa-check"
                           style="color: Green;"
                           data-toggle="tooltip"
                           title="Есть в этой группе"
                            ></i>
                    <? else: ?>
                        <i class="btn btn-xs fa fa-lg fa-check"
                           style="color: #CCCCCC"
                           data-toggle="tooltip"
                           title="уже участвует в другой группе типа <?= $this->Group->Type->title; ?>"
                            ></i>
                        <?= implode('/', $item->Groups->toKeyValueArray('id', 'title')); ?>
                    <? endif ?>

                <? else: ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-group-product-save',
                        'routeParams' => array('id_product' => $item->id, 'id_group' => $this->Group->id),
                        'buttonText'  => '<i class="fa fa-lg fa-link"></i>',
                        'buttonTitle' => 'Выбрать',
                    )); ?>
                <? endif ?>
            </td>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
</form>

<?= $this->showPager($this->pagerRange); ?>