<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<form method="get" action="<?= $_SERVER['REQUEST_URI']; ?>" data-target="self" autocomplete="off" style="display: inline-block">
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>
                <input type="text" name="Catalog|title" value="<?= $this->params['Catalog|title'] ?>" placeholder="Категория" />
            </td>
            <td>
                <input type="text" name="h1" data-toggle="autocomplete" value="<?= $this->params['h1'] ?>" placeholder="H1" />
            </td>
            <td>Фильтры</td>
            <td>Бренды</td>
            <td>Стикеры</td>
            <td><input type="text" name="weight" value="<?= $this->params['weight'] ?>" placeholder="Вес" /></td>
            <td style="text-align: right">
                <?= $this->ButtonResetSearch(); ?>
                <?= $this->ButtonSearch(); ?>
            </td>
        </tr>
    </thead>
    <tbody>
        <? foreach ($this->list as $item) : ?>
            <tr <?= $this->itemListDataParams($item) ?>>
                <td><strong style="font-size: 11px;"><?= $item->Catalog->title; ?></strong></td>
                <td>
                    <?= $item->h1 ?>
                    <span style="font-size: 11px;">
                        <a target="_blank" href="<?= REQUEST_SCHEME?>://<?= APPLICATION_DOMAIN; ?>/shop/<?= $item->Catalog->CatalogMenu->getFirst()->alias; ?>/<?= $item->alias ?>/">
                           <?= $item->alias ?>
                        </a>
                    </span>
                </td>
                <td>
                    <? if ( !empty($item->filters) ) : ?>
                        <ul style="font-size: 11px; margin: 0; padding: 0 0 0 5px;">
                            <? foreach(Doctrine_Query::create()->from('CatalogFilterValue')->whereIn('id', $item->filters)->execute() as $Filter) : ?>
                                <li>
                                    <span style="color: #a0a0a0"><?= $Filter->Group->title; ?></span>
                                    <?= $Filter->title; ?>
                                </li>
                            <? endforeach; ?>
                        </ul>
                    <? endif ?>
                </td>
                <td>
                    <? if ( !empty($item->brands) ) : ?>
                        <ul style="font-size: 11px; margin: 0; padding: 0 0 0 5px;">
                            <? foreach(Doctrine_Query::create()->from('ProductsBrands')->whereIn('id', $item->brands)->execute() as $Brand) : ?>
                                <li><?= $Brand->title; ?></li>
                            <? endforeach; ?>
                        </ul>
                    <? endif ?>
                </td>
                <td>
                    <? if ( !empty($item->stickers) ) : ?>
                    <ul style="font-size: 11px; margin: 0; padding: 0 0 0 5px;">
                        <? foreach(Doctrine_Query::create()->from('ProductsStickers')->whereIn('id', $item->stickers)->execute() as $Sticker) : ?>
                            <li><?= $Sticker->title; ?></li>
                        <? endforeach; ?>
                    </ul>
                    <? endif ?>
                </td>
                <td><?= $item->weight; ?></td>
                <td class="nowrap">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'delete',
                        'routeParams' => array('id' => $item->id),
                        'buttonText'  => '<i class="fa fa-lg fa-trash-o""></i>',
                        'buttonAttr'  => array('data-toggle'=>'confirm', 'data-target' => 'self')
                    )); ?>
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => $this->routePrefix.'edit',
                        'routeParams' => array('id' => $item->id, 'id_catalog' => $item->Catalog->id),
                        'queryParams' => array('redirect'=>'here'),
                        'buttonText'  => '<i class="fa fa-lg fa-edit""></i>',
                    )); ?>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
    </table>
</form>

<?= $this->showPager($this->pagerRange); ?>