<? $this->headTitle('/ стр. ' . $this->pagerRange->getPager()->getPage()); ?>
<style>
    #adwords-product-key-list thead td input[type='text'] {width:90px;}
    #adwords-product-key-list tbody td {background-color: #DACDAC; border-bottom: solid 2px #fff; padding: 5px;}
    #adwords-product-key-list tbody tr:nth-child(2n+1) > td {background-color: #CADCAD;}
    #adwords-product-key-list tbody td input {width: 100px; border: 1px solid #BBB; background-color: rgba(256,256,256,0.9);}
    #adwords-product-key-list tbody button.save {float:right; display: none;}
</style>

<h1>
    <?= $this->ModalLinkBotton(array(
        'routeName'   => $this->routePrefix.'fill',
        'buttonAttr'  => array('class'=>'btn', 'data-target' => 'prev'),
        'buttonText'  => '<i class="fa fa-2x fa-recycle" style="color: green"></i>',
    )); ?>
    <?= $this->ModalLinkHelp(16); ?>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
    <sup><?= $this->pagerRange->getPager()->getNumResults() ?></sup>
</h1>

<table class="table table-striped table-hover table-condensed" id="adwords-product-key-list">
    <form method="get">
<thead>
    <tr>
        <td>
            <?= $this->formSelect('is_ready', $this->params['is_ready'], array(), [''=>'--- Готовность', '1' => 'Готов', '0' => 'Не готов']); ?>
            <?= $this->formSelect('Products[status]', $this->params['Products']['status'], array(), [''=>'--- Статус'] + Products::getStatusList()); ?>
            <?= $this->formSelect('Products[id_catalog]', $this->params['Products']['id_catalog'], array(), [''=>'--- Каталог'] + Doctrine_Query::create()->from('Catalog')->addOrderBy('title')->execute()->toKeyValueArray('id', 'title') ); ?>
            <label>показывать товар <?= $this->formCheckbox('show_product_info', $this->params['show_product_info']); ?></label>
        </td>
        <td>
            <a href="<?= $this->url([], $this->routePrefix . 'download'); ?>?<?= $_SERVER['QUERY_STRING']; ?>"><i class="fa fa-2x fa-cloud-download"></i></a>
            <?= $this->ModalLinkBotton(array(
                'routeName'   => $this->routePrefix.'upload',
                'buttonText'  => '<i class="fa fa-2x fa-cloud-upload" style="color: #ff784b"></i>'
            )); ?>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="ID" name="id_product" value="<?= $this->params['id_product'] ?>" style="width: 50px;" />
            <input type="text" placeholder="Тип товара" name="product_type" value="<?= $this->params['product_type'] ?>" /><?= $this->linkOrderHtml('product_type', ''); ?>
            <input type="text" placeholder="Бренд" name="brand_name" value="<?= $this->params['brand_name'] ?>" /><?= $this->linkOrderHtml('brand_name', ''); ?>
            <input type="text" placeholder="Код производителя" name="manufacturer_code" value="<?= $this->params['manufacturer_code'] ?>" /><?= $this->linkOrderHtml('manufacturer_code', ''); ?>
            <input type="text" placeholder="Модель товара" name="product_model" value="<?= $this->params['product_model'] ?>" /><?= $this->linkOrderHtml('product_model', ''); ?>
            <input type="text" placeholder="параметр1" name="param1" value="<?= $this->params['param1'] ?>" /><?= $this->linkOrderHtml('param1', ''); ?>
            <input type="text" placeholder="параметр2" name="param2" value="<?= $this->params['param2'] ?>" /><?= $this->linkOrderHtml('param2', ''); ?>
            <input type="text" placeholder="параметр3" name="param3" value="<?= $this->params['param3'] ?>" /><?= $this->linkOrderHtml('param3', ''); ?>
        </td>
        <td style="text-align: right;">
            <?= $this->ButtonResetSearch(); ?>
            <?= $this->ButtonSearch(); ?>
        </td>
    </tr>
</thead>
    </form>
<tbody>
    <? foreach ($this->list as $item) : ?>
        <tr>
            <td>
                <div class="product_info">
                    <?= $this->ModalLinkBotton(array(
                        'routeName'   => 'products-product-view',
                        'routeParams' => array('id' => $item->Products->id),
                        'buttonText'  => '<i class="fa fa-eye"></i>'
                    )); ?>
                    <?= $item->Products->getFullName(); ?>
                    | <strong><?= $item->Products->getStatusTitle(); ?></strong>
                </div>

                <form action="<?= $this->url(['id_product' => $item->id_product], $this->routePrefix.'save'); ?>" method="post">
                    <div style="white-space: nowrap">
                        <input style="width: 50px;" type="text" readonly value="<?= $item->id_product ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'product_type'); ?>" type="text" name="product_type" value="<?= $item->product_type ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'brand_name'); ?>" type="text" name="brand_name" value="<?= $item->brand_name ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'manufacturer_code'); ?>" type="text" name="manufacturer_code" value="<?= $item->manufacturer_code ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'product_model'); ?>" type="text" name="product_model" value="<?= $item->product_model ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'param1'); ?>" type="text" name="param1" value="<?= $item->param1 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'param2'); ?>" type="text" name="param2" value="<?= $item->param2 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'param3'); ?>" type="text" name="param3" value="<?= $item->param3 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'headline1'); ?>" type="text" name="headline1" value="<?= $item->headline1 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'headline2'); ?>" type="text" name="headline2" value="<?= $item->headline2 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'description1'); ?>" type="text" name="description1" value="<?= $item->description1 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'description2'); ?>" type="text" name="description2" value="<?= $item->description2 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'description3'); ?>" type="text" name="description3" value="<?= $item->description3 ?>"/>
                        <input placeholder="<?= $this->TableComment($this->modelName, 'description4'); ?>" type="text" name="description4" value="<?= $item->description4 ?>"/>
                    </div>
                    <button type="submit" class="btn save"><i class="fa fa-lg fa-save"></i></button>
                </form>

            </td>
            <td>
                <button
                    data-edit-attr-url="<?= $this->url(array('id_product' => $item->id_product), $this->routePrefix.'edit-attr'); ?>"
                    name="is_ready"
                    value="<?= $item->is_ready; ?>"
                    class="btn btn-xs"
                    data-toggle="tooltip"
                    title="Готов"
                    data-access="<?= $this->linkAccess($this->routePrefix.'edit-attr'); ?>">
                    <i class="fa fa-lg"></i>
                </button>
            </td>
        </tr>

    <? endforeach; ?>
</tbody>
</table>

<?= $this->showPager($this->pagerRange); ?>

<script>
    $("#show_product_info").on("change", function () {
        $("#adwords-product-key-list tbody .product_info").toggle( $(this).prop("checked") );
    }).change();

    $('#adwords-product-key-list tbody td input').on('input', function() {
        $(this).closest("form").find("button").show();
    });

    $('#adwords-product-key-list tbody td form').on('submit', function() {
        $form = $(this);

        $.ajax({
            url:         $form.attr('action'),
            type:        'POST',
            data:        new FormData(this),
            contentType: false,
            cache:       false,
            processData: false
        }).error(function(jqXHR) {

        }).success(function(data, status, xhr) {
            $form.find("button").hide();
        });

        return false;
    });
</script>