<h1>
    <?= Zend_Registry::get('myCurrentRoute')->title ?>
</h1>

<table class="table table-striped table-hover table-condensed" id="adwords-product-key-list">
<tbody>
    <? foreach ($this->result as $row) : ?>
        <tr>
            <? foreach($row as $cell) : ?>
                <td><?= $cell; ?></td>
            <? endforeach; ?>
        </tr>
    <? endforeach; ?>
</tbody>
</table>
